In [2]:
import pandas as pd
#import geopandas as gpd

Learn about how to make a DataFrame

Documentation:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

Cookbook, lots of examples: https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook-pivot

Using pd.read_csv() to create a DataFrame from a csv: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

Using DataFrame.head() and DataFrame.tail() to explore top and bottom of datasets:
* https://pandas.pydata.org/pandas-docs/version/0.18.1/generated/pandas.DataFrame.head.html
* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html
* http://pandathings.com/learn-about-the-giant-panda/do-pandas-have-tails/

Resource Watch example, preparing data for the GDP-GHG Divergence project: https://github.com/nsuberi/ResourceWatchCode/blob/master/Notebooks%20for%20Exploring%20Specific%20Datasets/CDIAC%20Play.ipynb

In [6]:
# Practice here

rows = {
    "row1": "Hello",
    "row2": "World"
}

pd.DataFrame(rows, index=[1,2])

    row1   row2
1  Hello  World
2  Hello  World

In [34]:


df.loc[0, "col1"]

df[[False, True, True]]

   col1  col2
1     2     5
2     3     6

In [35]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df["col1"]==2

0    False
1     True
2    False
Name: col1, dtype: bool

In [68]:
a = [1,2,3]
b = [4,5,6]
df = pd.DataFrame({"col1":a, "col2":b})
print(df)


c = list(zip(a,b))
print(c)
d = list(zip(*c))
print(d)

   col1  col2
0     1     4
1     2     5
2     3     6
[(1, 4), (2, 5), (3, 6)]
[(1, 2, 3), (4, 5, 6)]

In [87]:
a = [1,2,3]
b = [4,5,6]
print(list([a,b]))
print(list(zip(a,b)))
print(list(zip([a,b])))
print(list(zip(*[a,b])))
print(list(zip(*zip(a,b))))
c = [7,8,9]
print(list([a,b,c]))
print(list(zip(a,b,c)))
print(list(zip([a,b,c])))
print(list(zip(*[a,b,c])))
print(list(zip(*zip(a,b,c))))
d = [10,11,12,13,15]
print(list(zip(a,d)))
print(list(zip(*zip(a,d))))

[[1, 2, 3], [4, 5, 6]]
[(1, 4), (2, 5), (3, 6)]
[([1, 2, 3],), ([4, 5, 6],)]
[(1, 4), (2, 5), (3, 6)]
[(1, 2, 3), (4, 5, 6)]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[([1, 2, 3],), ([4, 5, 6],), ([7, 8, 9],)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[(1, 10), (2, 11), (3, 12)]
[(1, 2, 3), (10, 11, 12)]

In [69]:
df["col1sq"], df["col2cu"] = df.apply(lambda row: (row.col1**2, row.col2**3), axis=1)

ValueError: too many values to unpack (expected 2)

Learn how to manipulate strings

String indexing: 
* var = "a new string"
* var[0]
* var[1]
* var[5]

String slicing: 
* var[0:1]
* var[0:2]
* var[0:3]
* var[1:3]
* var[4:]
* var[:6]
* var[:-2]

String formating: 
* var2 = "a new {}".format("statement")

Searching for substrings: 
* var3 = "something to search"
* "thing" in var3
* "some" in var3
* "Some" in var3
* "SOME".lower() in var3

String casting: 
* var4 = "big building"
* type(var4)
* type(var4) == str

* var5 = 10
* type(var5)
* var5 = float(var5)
* type(var5)
* var5 = str(var5)
* type(var5)

Resource Watch Example, setting up new file names: https://github.com/nsuberi/ResourceWatchCode/blob/master/Raster%20Dataset%20Processing/Raster%20Prep%20Notebooks/cli.005.1%20%26%20cli.005.2%20done.ipynb

In [ ]:
# Practice here

Learn how to use pd.DataFrame.apply() to apply a function to rows or columns of a DataFrame

Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html

A nice post w/ illustration to understand axis=1 (apply to rows) and axis=0 (apply to columns): https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean

Using lambda functions in apply: https://stackoverflow.com/questions/36362888/python-use-a-function-in-pandas-lambda-expression

Resource Watch Example: https://github.com/nsuberi/ResourceWatchCode/blob/master/Raster%20Dataset%20Processing/Raster%20Prep%20Notebooks/cit.018_calculate_running_average-later_done.ipynb

In [ ]:
# Practice here

Learn how to use python's zip(*df.apply()) to make multiple columns at a time

Documentation: https://docs.python.org/2/library/functions.html

Resource Watch Example: https://github.com/nsuberi/ResourceWatchCode/blob/master/Raster%20Dataset%20Processing/Raster%20Prep%20Notebooks/cit.018_calculate_running_average-later_done.ipynb

In [ ]:
# Practice here

Learn how to use python's list comprehensions

Documentation: https://docs.python.org/2/tutorial/datastructures.html (see section 5.1.4)

Example from the net (good example to spend time with): http://www.secnetix.de/olli/Python/list_comprehensions.hawk

Resource Watch Example: https://github.com/nsuberi/ResourceWatchCode/blob/master/Metadata%20Management/Upload%20Metadata%20to%20API.ipynb

search: "missed_ids = [rw_id for rw_id" and you will find two examples of using a list comprehension

In [ ]:
# Practice here

Learn how to use a pivot table to reshape data

Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html

Reshaping with pivot tables: https://pandas.pydata.org/pandas-docs/stable/reshaping.html

Cookbook example of pivoting: https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook-pivot
    
Resource Watch Example: https://github.com/nsuberi/ResourceWatchCode/blob/36cdefde097fd83cac11c5d60551b6dac2bb73fb/Notebooks%20for%20Exploring%20Specific%20Datasets/CDIAC%20Play.ipynb (search pivot in the notebook to see where I use it to reshape data coming from the World Bank API)
    
Other example from web: http://pbpython.com/pandas-pivot-table-explained.html

In [ ]:
# Practice here