# Import Libraries

In [4]:
import cartoframes
import pandas as pd
pd.options.display.max_columns = 200

import requests as req
import json
import boto3
import io

import sys
#import logging
import os
#logging.basicConfig(stream=sys.stderr, level=logging.DEBUG)
import random

from functools import reduce
from collections import defaultdict

# Authenticating to Carto

In [ ]:
CARTO_USER = 'wri-rw'#os.environ.get('CARTO_USER')
CARTO_KEY = ''#os.environ.get('CARTO_KEY')

cc = cartoframes.CartoContext(base_url='https://{}.carto.com/'.format(CARTO_USER),
                              api_key=CARTO_KEY)

# Authenticating to S3

In [ ]:
aws_access_key_id = #os.environ.get('aws_access_key_id')
aws_secret_access_key = #os.environ.get('aws_secret_access_key')

s3_bucket = "wri-public-data"
s3_folder = "resourcewatch/wide_to_long/"

s3_client = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)

# Functions for reading and uploading data to/from S3
def read_from_S3(bucket, key, index_col=0):
    obj = s3_client.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()), index_col=[index_col], encoding="utf8")
    return(df)

def write_to_S3(df, bucket, key):
    csv_buffer = io.StringIO()
    # Need to set encoding in Python2... default of 'ascii' fails
    df.to_csv(csv_buffer, encoding='utf-8')
    s3_resource.Object(bucket, key).put(Body=csv_buffer.getvalue())

# Load data from RW API

In [21]:
# Base URL for getting dataset metadata from RW API
url = "https://api.resourcewatch.org/v1/dataset?sort=slug,-provider,userId&status=saved&includes=metadata,vocabulary,widget,layer"

# page[size] tells the API the maximum number of results to send back
# There are currently between 200 and 300 datasets on the RW API
payload = { "application":"rw", "page[size]": 1000}

# Request all datasets, and extract the data from the response
res = req.get(url, params=payload)
data = res.json()["data"]

### Convert the json object returned by the API into a pandas DataFrame
# Another option: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html
datasets_on_api = {}
for ix, dset in enumerate(data):
    atts = dset["attributes"]
    metadata = atts["metadata"]
    layers = atts["layer"]
    widgets = atts["widget"]
    tags = atts["vocabulary"]
    datasets_on_api[dset["id"]] = {
        "name":atts["name"],
        "table_name":atts["tableName"],
        "provider":atts["provider"],
        "date_updated":atts["updatedAt"],
        "num_metadata":len(metadata),
        "metadata": metadata,
        "num_layers":len(layers),
        "layers": layers,
        "num_widgets":len(widgets),
        "widgets": widgets,
        "num_tags":len(tags),
        "tags":tags
    }

# Create the DataFrame, name the index, and sort by date_updated
# More recently updated datasets at the top
current_datasets_on_api = pd.DataFrame.from_dict(datasets_on_api, orient='index')
current_datasets_on_api.index.rename("Dataset", inplace=True)
current_datasets_on_api.sort_values(by=["date_updated"], inplace=True, ascending = False)

# Select all Carto datasets on the API:
provider = "cartodb"
carto_ids = (current_datasets_on_api["provider"]==provider)
carto_data = current_datasets_on_api.loc[carto_ids]

print("Number of Carto datasets: " + str(carto_data.shape[0]))

Number of Carto datasets: 237

# Load georeferencing config & data

In [3]:
georef = {
    'geometry':cc.read('wri_countries_a'),
    'aliases':cc.read('country_aliases_extended'),
    'known_non_un_isos':cc.read('known_non_un_isos')
}

#### Download Google Spreadsheets ####
# Additional Alias List
!curl "https://docs.google.com/spreadsheets/d/11k_6GbFgtF6eAQ3iAjPzt2KWc2n0SsP5P6g7kqILbkM/export?format=tsv" > additional_aliases.tsv
additional_aliases = pd.read_csv(open("additional_aliases.tsv", "r"), sep="\t", index_col=[0])
os.remove("additional_aliases.tsv")

NameError: name 'cc' is not defined

In [29]:
# Read in data sets info from config file
georef_config = pd.read_csv('/Users/nathansuberi/Desktop/RW_Data/georeferencing_tasks/georef_these.csv')
georef_config = georef_config.set_index('wri_id')
georef_config

#### Download Google Spreadsheets ####
# Georeference Config
!curl "https://docs.google.com/spreadsheets/d/1S4Zh8V_keiDhqfxlATyC8veb3LtZ5W6uM1dyogOL7f0/export?format=tsv" > georef_config.tsv
georef_config = pd.read_csv(open("georef_config.tsv", "r"), sep="\t", index_col=[0])
os.remove("georef_config.tsv")

                                         rw_id  country_name  country_code
wri_id
com.009   c61c364b-1d68-4dd9-ae3d-76c2a0022280           NaN     isoalpha3
cit.013   5d269c36-6ccf-4620-838d-431f86c30f69       country           NaN
cit.020   6d3163f5-4e08-4830-84f1-2c5d76570a82  country_name  country_code
cli.022   995ec4fe-b3cc-4cf4-bd48-b89d4e3ea072   countryname       iso3v10
ene.012   d446a52e-c4c1-4e74-ae30-3204620a0365  country_name  country_code
for.020   03bfb30e-829f-4299-bab9-b2be1b66b5d4       country           NaN
soc.001   0b9f0100-ce5b-430f-ad8f-3363efa05481       country           NaN
soc.002   d4ca3cc4-c162-469c-b341-b52284a73eaa       country           NaN
soc.012   f48541d3-a622-4908-9400-5ef26257ac96       country           NaN
soc.021   e7582657-9c16-4eb1-89e8-0211d94015c6       country           NaN
soc.022   773a16a7-3531-4b56-8253-babd15ad7f87       country           NaN
soc.024   6c6e70e7-5a19-46f2-9d95-34789fd20adc       country           NaN
soc.026   0be2ce12-79b3-434b-b557-d6ea92d787fe       country           NaN
soc.045   2cc29514-b97a-4103-92b1-c8c8e9268cd8       country           NaN
soc.055   795a7ceb-ebc1-4479-95ad-76ea4d045ad3       country           iso
soc.067   1de2af1c-5e5e-4a33-b8f1-8c8f9d000e49       country           NaN
com.022   c2142922-84d9-4564-8216-a4867b9e48c5           NaN           iso

In [30]:
# Load data sets into memory for processing
def load_data(obj, elem):
    print(elem)
    wri_id = elem[0].strip()
    rw_id = elem[1].strip()
    try:
        table_name = carto_data.loc[rw_id]['table_name']
        obj[wri_id] = cc.read(table_name)
        print('Table shape: {}'.format(obj[wri_id].shape))
    except:
        obj[wri_id] = 'Unavailable'
        print('Unavailable')
    return obj

data_tables = reduce(load_data, zip(georef_config.index,georef_config['rw_id']), {})

('com.009', ' c61c364b-1d68-4dd9-ae3d-76c2a0022280')
Table shape: (841387, 10)
('cit.013', '5d269c36-6ccf-4620-838d-431f86c30f69')
Table shape: (194, 13)
('cit.020', '6d3163f5-4e08-4830-84f1-2c5d76570a82')
Table shape: (218, 63)
('cli.022', '995ec4fe-b3cc-4cf4-bd48-b89d4e3ea072')
Table shape: (232, 34)
('ene.012', 'd446a52e-c4c1-4e74-ae30-3204620a0365')
Table shape: (4825, 10)
('for.020', '03bfb30e-829f-4299-bab9-b2be1b66b5d4')
Table shape: (236, 13)
('soc.001', '0b9f0100-ce5b-430f-ad8f-3363efa05481')
Unavailable
('soc.002', 'd4ca3cc4-c162-469c-b341-b52284a73eaa')
Table shape: (195, 16)
('soc.012', 'f48541d3-a622-4908-9400-5ef26257ac96')
Table shape: (590, 7)
('soc.021', 'e7582657-9c16-4eb1-89e8-0211d94015c6')
Table shape: (180, 41)
('soc.022', '773a16a7-3531-4b56-8253-babd15ad7f87')
Table shape: (52, 11)
('soc.024', '6c6e70e7-5a19-46f2-9d95-34789fd20adc')
Table shape: (104, 8)
('soc.026', '0be2ce12-79b3-434b-b557-d6ea92d787fe')
Table shape: (144, 13)
('soc.045', '2cc29514-b97a-4103-92b1-c8c8e9268cd8')
Table shape: (160, 30)
('soc.055', '795a7ceb-ebc1-4479-95ad-76ea4d045ad3')
Table shape: (3493, 33)
('soc.067', '1de2af1c-5e5e-4a33-b8f1-8c8f9d000e49')
Table shape: (182, 13)
('com.022', 'c2142922-84d9-4564-8216-a4867b9e48c5')
Unavailable

# Configuring the alias table

In [190]:
df = georef['aliases']

## Adding all countries from our wri-bounds shapefile to the alias table

new_aliases = georef['geometry'][['iso_a3', 'name']].copy()
new_aliases['alias'] = new_aliases['name']
cols = ['iso' if col=='iso_a3' else col for col in new_aliases.columns]
cols = [col.strip() for col in cols]
new_aliases.columns = cols

print('Existing aliases')
print(df.columns)
print(df.shape)
print('Adding aliases from country table')
print(new_aliases.columns)
print(new_aliases.shape)

df = df.append(new_aliases)

## Adding in new aliases identified by team
print('Adding aliases from csv')
new_aliases = pd.read_csv(ADDITIONAL_ALIASES, header=0)
new_aliases.columns = ['alias', 'name', 'iso']
print(new_aliases.head(5))

df = df.append(new_aliases)

# Make all aliases lower case, remove spacing
df['alias'] = [alias.strip().lower().replace(' ','') for alias in df['alias']]

## check / remove duplicates
sum(df.duplicated(subset=['alias']))
sum(df.duplicated(subset=['name']))
sum(df.duplicated(subset=['iso']))

try:
    df = df.drop('the_geom', axis=1)
except:
    print('unable to drop the_geom from {} data'.format(wri_id))
try:
    df = df.drop('cartodb_georef_status', axis=1)
except:
    print('unable to drop cartodb_georef_status from {} data'.format(wri_id))
try:
    df = df.drop('index', axis=1)
except:
    print('unable to drop index from {} data'.format(wri_id))
try:
    df = df.drop('cartodb_id', axis=1)
except:
    print('unable to drop cartodb_id from {} data'.format(wri_id))

df = df.drop_duplicates()
    
georef['aliases'] = df

print('Size of current aliasing table: ' + str(georef['aliases'].shape))

Existing aliases
Index(['alias', 'index', 'iso', 'name', 'the_geom'], dtype='object')
(548, 5)
Adding aliases from country table
Index(['iso', 'name', 'alias'], dtype='object')
(193, 3)
Adding aliases from csv
                                   alias                              name  \
0      Venezuela, Bolivarian Republic of                         Venezuela
1  Democratic People's Republic of Korea                       North Korea
2       Micronesia (Federated States of)    Federated States of Micronesia
3                        Dem. Rep. Congo  Democratic Republic of the Congo
4       Bolivia (Plurinational State of)                           Bolivia

   iso
0  VEN
1  PRK
2  FSM
3  COD
4  BOL
unable to drop cartodb_georef_status from cli.022 data
unable to drop cartodb_id from cli.022 data
Size of current aliasing table: (309, 3)

In [194]:
LOOK_FOR_ISO='fsm'
LOOK_FOR_NAME='korea'
georef['aliases']['iso'].fillna('', inplace=True)
print(georef['aliases'].loc[georef['aliases']['iso'].str.lower().str.contains(LOOK_FOR_ISO)])
print()
print(georef['aliases'].loc[georef['aliases']['name'].str.lower().str.contains(LOOK_FOR_NAME)])

                             alias  iso                            name
63                      micronesia  FSM  Federated States of Micronesia
182    federatedstatesofmicronesia  FSM  Federated States of Micronesia
260            micronesia,fed.sts.  FSM  Federated States of Micronesia
265   micronesia,federatedstatesof  FSM  Federated States of Micronesia
2    micronesia(federatedstatesof)  FSM  Federated States of Micronesia

                                  alias  iso               name
5                            koreanorth  PRK        North Korea
6                            koreasouth  KOR        South Korea
39                       korea,dem.rep.  PRK        North Korea
58                      republicofkorea  KOR        South Korea
61    democraticpeople'srepublicofkorea  PRK        North Korea
70                           korea,rep.  KOR        South Korea
85                                korea  KOR        South Korea
130                          southkorea  KOR        South Korea
224                          northkorea  PRK        North Korea
248           korea,dem.people\x92srep.  PRK        North Korea
250                    korea,republicof  KOR  Republic of Korea
257      korea,democraticpeople'srepubl  PRK        North Korea
266              korea,dem.people’srep.  PRK        North Korea
271  democraticpeople'srep.ofkorea(the)  PRK        North Korea
281              'republicofkorea(the)'  KOR  Republic of Korea
298                republicofkorea(the)  KOR  Republic of Korea

# Perform georeferencing

In [215]:
# Tracking all mis-matched names
missed_names = {}
missed_isos = {}

alias_info = georef['aliases']

georefed_data = {}

for wri_id, data in data_tables.items():
    
    print('Processing table ' + wri_id)
    if type(data) == str:
        print('Unavailable, skipping')
        georefed_data[wri_id] = 'Unavailable'
        continue
    
    print('Table head: {}'.format(data.head(5)))
    
    ### WARNING: non standardized indices in the data cause problems after the merge step
    data = data.copy()
    data.index = list(range(data.shape[0]))

    c_code = georef_config.loc[wri_id, 'country_code']
    c_code = None if pd.isnull(c_code) else c_code
    c_name = georef_config.loc[wri_id, 'country_name']
    c_name = None if pd.isnull(c_name) else c_name
    
    print('c_code: ***' + str(c_code) + '***')
    print('c_name: ***' + str(c_name) + '***')
    
    # Check if isos match our table
    
    if c_code:
        print('already has an iso3 code, in column ' + c_code)
        data_with_alias = data.merge(alias_info,
                           left_on=c_code,
                           right_on='iso', 
                           how='left')
        
        null_isos = pd.isnull(data_with_alias['iso'])
        if sum(null_isos):
            no_iso_match = data_with_alias[null_isos]
            print('no match for these isos in the data being processed: ')
            print(no_iso_match[c_code].unique())
            try:
                print(no_iso_match[c_code].unique())
                missed_isos[wri_id] = no_iso_match[c_code].unique()
            except:
                c_code = c_code+'_x'
                print(no_iso_match[c_code].unique())
                missed_isos[wri_id] = no_iso_match[c_code].unique()
    
        ### data IS ALTERED HERE

        try:
            data['rw_country_code'] = data_with_alias['iso']
        except:
            data['rw_country_code'] = data_with_alias['iso_y']
            
        try:
            data['rw_country_name'] = data_with_alias['name']  
        except:
            data['rw_country_name'] = data_with_alias['name_y'] 
            
        try:
            data = data.drop('the_geom', axis=1)
        except:
            print('unable to drop the_geom from {} data'.format(wri_id))
            
        try:
            data = data.drop('cartodb_georef_status', axis=1)
        except:
            print('unable to drop cartodb_georef_status from {} data'.format(wri_id))

        continue
    
    # If country name is supplied, check how many match up with alias/name in country_aliases
    if c_name:       
        # Ensure that leading or trailing spaces don't break the match
        #data[c_name] = ['North Korea' if name=='Korea, Dem. People\x92s Rep.' else name for name in data[c_name]]
    
        _data = data.copy()
        _data['join_col'] = data[c_name].apply(lambda item: item.strip().lower().replace(' ','').replace('’', '\''))
    
        data_with_alias = _data.merge(alias_info, 
                                         left_on = 'join_col',
                                         right_on = 'alias',
                                         how='left') 

        null_aliases = pd.isnull(data_with_alias['alias'])             
            
        print('data with alias df:')
        print(data_with_alias.shape)
        print(data_with_alias.head(6))
        print('raw data')
        print(data.shape)
        print(data.head(5))
    
        
        if sum(null_aliases):
            no_alias_match = data_with_alias.loc[null_aliases]
            print('missed aliases, matching on column "alias" of country_aliases')
            print(no_alias_match)
            try:
                print(no_alias_match[c_name].unique())
                missed_names[wri_id] = no_alias_match[c_name].unique()
            except:
                c_name = c_name+'_x'
                print(no_alias_match[c_name].unique())
                missed_names[wri_id] = no_alias_match[c_name].unique()
                
        ### data IS ALTERED HERE

        try:
            data['rw_country_code'] = data_with_alias['iso']
        except:
            data['rw_country_code'] = data_with_alias['iso_y']
            
        try:
            data['rw_country_name'] = data_with_alias['name']  
        except:
            data['rw_country_name'] = data_with_alias['name_y'] 
            
        try:
            data = data.drop('the_geom', axis=1)
        except:
            print('unable to drop the_geom from {} data'.format(wri_id))
            
        try:
            data = data.drop('cartodb_georef_status', axis=1)
        except:
            print('unable to drop cartodb_georef_status from {} data'.format(wri_id))

        
    ### SUCCESS
    print('Final head:')
    print(data.head(5))
    georefed_data[wri_id+'_georefed'] = data.copy()

Processing table com.009
Table head:                   flow   index isoalpha3  mfa13     mfa4 rw_country_code  \
cartodb_id
1           Population  181182       CPV   None     None             CAN
2              Exports  469928       LVA   Wood  Biomass             GNB
3                  PTB     333       CRI   Wood  Biomass             CHL
4           Population     753       KHM   None     None             FJI
5                  DMI    4184       AFG  Crops  Biomass             AFG

           rw_country_name the_geom  time        value
cartodb_id
1                   Canada     None  1983    302.17400
2            Guinea Bissau     None  1992     64.40704
3                    Chile     None  1970    201.10000
4                     Fiji     None  1999  11928.30600
5              Afghanistan     None  1997   5844.51000
c_code: ***isoalpha3***
c_name: ***None***
already has an iso3 code, in column isoalpha3
no match for these isos in the data being processed:
['CSK' 'BMU' 'HKG' 'SCG' 'SUN' 'VGB' 'YUG' 'ABW' 'ANT' 'CYM' 'GRL' 'MAC'
 'NCL' 'PYF' 'PSE' 'TWN']
['CSK' 'BMU' 'HKG' 'SCG' 'SUN' 'VGB' 'YUG' 'ABW' 'ANT' 'CYM' 'GRL' 'MAC'
 'NCL' 'PYF' 'PSE' 'TWN']
unable to drop cartodb_georef_status from com.009 data
Processing table cit.013
Table head:             cartodb_georef_status      country  \
cartodb_id
9                            True    Australia
5                            True       Angola
2                            True      Albania
1                            True  Afghanistan
7                            True    Argentina

            infectious_parasitic_neonatal_and_nutritional_age_standardize  \
cartodb_id
9                                                          69
5                                                       13172
2                                                         335
1                                                        5453
7                                                         369

            infectious_parasitic_neonatal_and_nutritional_disability_adju  \
cartodb_id
9                                                       14761
5                                                     4580128
2                                                        8078
1                                                     2676657
7                                                      150200

            injuries_age_standardized_dalys_attributable_to_the_environment  \
cartodb_id
9                                                         419
5                                                        4031
2                                                        1153
1                                                        3018
7                                                        1078

            injuries_disability_adjusted_life_years_dalys_attributable_to  \
cartodb_id
9                                                      112558
5                                                     1033990
2                                                       36697
1                                                      986768
7                                                      450770

            noncommunicable_diseases_age_standardized_dalys_attributable_to  \
cartodb_id
9                                                        1756
5                                                        5473
2                                                        4396
1                                                        7472
7                                                        2598

            noncommunicable_diseases_disability_adjusted_life_years_dalys  \
cartodb_id
9                                                      504791
5                                                      615893
2                                                      165279
1                                                     1071876
7                                                     1146157

                                                     the_geom  \
cartodb_id
9           0106000020E61000005E00000001030000000100000022...
5           0106000020E6100000030000000103000000010000000E...
2           0106000020E6100000010000000103000000010000002D...
1           0106000020E610000001000000010300000001000000FD...
7           0106000020E6100000080000000103000000010000000D...

            total_age_standardized_dalys_attributable_to_the_environment_p  \
cartodb_id
9                                                        2245
5                                                       22676
2                                                        5884
1                                                       15943
7                                                        4044

            total_disability_adjusted_life_years_dalys_attributable_to_th  \
cartodb_id
9                                                      632110
5                                                     6230011
2                                                      210054
1                                                     4735300
7                                                     1747127

            total_percent_disability_adjusted_life_years_dalys_attributa  year
cartodb_id
9                                                          12             2012
5                                                          27             2012
2                                                          20             2012
1                                                          24             2012
7                                                          14             2012
c_code: ***None***
c_name: ***country***
data with alias df:
(194, 17)
   cartodb_georef_status      country  \
0                   True    Australia
1                   True       Angola
2                   True      Albania
3                   True  Afghanistan
4                   True    Argentina
5                   True      Algeria

   infectious_parasitic_neonatal_and_nutritional_age_standardize  \
0                                                 69
1                                              13172
2                                                335
3                                               5453
4                                                369
5                                                759

   infectious_parasitic_neonatal_and_nutritional_disability_adju  \
0                                              14761
1                                            4580128
2                                               8078
3                                            2676657
4                                             150200
5                                             319961

   injuries_age_standardized_dalys_attributable_to_the_environment  \
0                                                419
1                                               4031
2                                               1153
3                                               3018
4                                               1078
5                                               1373

   injuries_disability_adjusted_life_years_dalys_attributable_to  \
0                                             112558
1                                            1033990
2                                              36697
3                                             986768
4                                             450770
5                                             520484

   noncommunicable_diseases_age_standardized_dalys_attributable_to  \
0                                               1756
1                                               5473
2                                               4396
3                                               7472
4                                               2598
5                                               3449

   noncommunicable_diseases_disability_adjusted_life_years_dalys  \
0                                             504791
1                                             615893
2                                             165279
3                                            1071876
4                                            1146157
5                                            1052675

                                            the_geom  \
0  0106000020E61000005E00000001030000000100000022...
1  0106000020E6100000030000000103000000010000000E...
2  0106000020E6100000010000000103000000010000002D...
3  0106000020E610000001000000010300000001000000FD...
4  0106000020E6100000080000000103000000010000000D...
5  0106000020E610000001000000010300000001000000E1...

   total_age_standardized_dalys_attributable_to_the_environment_p  \
0                                               2245
1                                              22676
2                                               5884
3                                              15943
4                                               4044
5                                               5581

   total_disability_adjusted_life_years_dalys_attributable_to_th  \
0                                             632110
1                                            6230011
2                                             210054
3                                            4735300
4                                            1747127
5                                            1893120

   total_percent_disability_adjusted_life_years_dalys_attributa  year  \
0                                                 12             2012
1                                                 27             2012
2                                                 20             2012
3                                                 24             2012
4                                                 14             2012
5                                                 16             2012

      join_col        alias  iso         name
0    australia    australia  AUS    Australia
1       angola       angola  AGO       Angola
2      albania      albania  ALB      Albania
3  afghanistan  afghanistan  AFG  Afghanistan
4    argentina    argentina  ARG    Argentina
5      algeria      algeria  DZA      Algeria
raw data
(194, 13)
   cartodb_georef_status      country  \
0                   True    Australia
1                   True       Angola
2                   True      Albania
3                   True  Afghanistan
4                   True    Argentina

   infectious_parasitic_neonatal_and_nutritional_age_standardize  \
0                                                 69
1                                              13172
2                                                335
3                                               5453
4                                                369

   infectious_parasitic_neonatal_and_nutritional_disability_adju  \
0                                              14761
1                                            4580128
2                                               8078
3                                            2676657
4                                             150200

   injuries_age_standardized_dalys_attributable_to_the_environment  \
0                                                419
1                                               4031
2                                               1153
3                                               3018
4                                               1078

   injuries_disability_adjusted_life_years_dalys_attributable_to  \
0                                             112558
1                                            1033990
2                                              36697
3                                             986768
4                                             450770

   noncommunicable_diseases_age_standardized_dalys_attributable_to  \
0                                               1756
1                                               5473
2                                               4396
3                                               7472
4                                               2598

   noncommunicable_diseases_disability_adjusted_life_years_dalys  \
0                                             504791
1                                             615893
2                                             165279
3                                            1071876
4                                            1146157

                                            the_geom  \
0  0106000020E61000005E00000001030000000100000022...
1  0106000020E6100000030000000103000000010000000E...
2  0106000020E6100000010000000103000000010000002D...
3  0106000020E610000001000000010300000001000000FD...
4  0106000020E6100000080000000103000000010000000D...

   total_age_standardized_dalys_attributable_to_the_environment_p  \
0                                               2245
1                                              22676
2                                               5884
3                                              15943
4                                               4044

   total_disability_adjusted_life_years_dalys_attributable_to_th  \
0                                             632110
1                                            6230011
2                                             210054
3                                            4735300
4                                            1747127

   total_percent_disability_adjusted_life_years_dalys_attributa  year
0                                                 12             2012
1                                                 27             2012
2                                                 20             2012
3                                                 24             2012
4                                                 14             2012
missed aliases, matching on column "alias" of country_aliases
     cartodb_georef_status      country  \
162                   True  CookIslands
178                   True         Niue

     infectious_parasitic_neonatal_and_nutritional_age_standardize  \
162                                               1054
178                                               1409

     infectious_parasitic_neonatal_and_nutritional_disability_adju  \
162                                                218
178                                                 20

     injuries_age_standardized_dalys_attributable_to_the_environment  \
162                                               1325
178                                               1682

     injuries_disability_adjusted_life_years_dalys_attributable_to  \
162                                                258
178                                                 23

     noncommunicable_diseases_age_standardized_dalys_attributable_to  \
162                                               1855
178                                               1927

     noncommunicable_diseases_disability_adjusted_life_years_dalys  \
162                                                337
178                                                 23

                                              the_geom  \
162  0106000020E61000000D00000001030000000100000010...
178  0106000020E61000000100000001030000000100000024...

     total_age_standardized_dalys_attributable_to_the_environment_p  \
162                                               4235
178                                               5018

     total_disability_adjusted_life_years_dalys_attributable_to_th  \
162                                                814
178                                                 67

     total_percent_disability_adjusted_life_years_dalys_attributa  year  \
162                                                 15             2012
178                                                 15             2012

        join_col alias  iso name
162  cookislands   NaN  NaN  NaN
178         niue   NaN  NaN  NaN
['CookIslands' 'Niue']
Final head:
       country  infectious_parasitic_neonatal_and_nutritional_age_standardize  \
0    Australia                                                 69
1       Angola                                              13172
2      Albania                                                335
3  Afghanistan                                               5453
4    Argentina                                                369

   infectious_parasitic_neonatal_and_nutritional_disability_adju  \
0                                              14761
1                                            4580128
2                                               8078
3                                            2676657
4                                             150200

   injuries_age_standardized_dalys_attributable_to_the_environment  \
0                                                419
1                                               4031
2                                               1153
3                                               3018
4                                               1078

   injuries_disability_adjusted_life_years_dalys_attributable_to  \
0                                             112558
1                                            1033990
2                                              36697
3                                             986768
4                                             450770

   noncommunicable_diseases_age_standardized_dalys_attributable_to  \
0                                               1756
1                                               5473
2                                               4396
3                                               7472
4                                               2598

   noncommunicable_diseases_disability_adjusted_life_years_dalys  \
0                                             504791
1                                             615893
2                                             165279
3                                            1071876
4                                            1146157

   total_age_standardized_dalys_attributable_to_the_environment_p  \
0                                               2245
1                                              22676
2                                               5884
3                                              15943
4                                               4044

   total_disability_adjusted_life_years_dalys_attributable_to_th  \
0                                             632110
1                                            6230011
2                                             210054
3                                            4735300
4                                            1747127

   total_percent_disability_adjusted_life_years_dalys_attributa  year  \
0                                                 12             2012
1                                                 27             2012
2                                                 20             2012
3                                                 24             2012
4                                                 14             2012

  rw_country_code rw_country_name
0             AUS       Australia
1             AGO          Angola
2             ALB         Albania
3             AFG     Afghanistan
4             ARG       Argentina
Processing table cit.020
Table head:             cartodb_georef_status country_code      country_name  \
cartodb_id
16                           True          BEL           Belgium
115                          True          ITA             Italy
260                         False          XKX            Kosovo
198                          True          PYF  French Polynesia
247                          True          UKR           Ukraine

               indicator_code  \
cartodb_id
16          EN.ATM.PM25.MC.ZS

# Checking for missed names

In [216]:
print(missed_names)
print(missed_isos)

print('Newly missed names:')
for wri_id, names in missed_names.items():
    print('Missed names in data set {}'.format(wri_id))
    for name in names:
        if name not in georef['known_non_un_isos']['name'].values:
            print(name)
        
print('Newly missed isos:')
for wri_id, isos in missed_isos.items():
    print('Missed isos in data set {}'.format(wri_id))
    for iso in isos:
        if iso not in georef['known_non_un_isos']['iso'].values:
            print(iso)

{'cit.013': array(['CookIslands', 'Niue'], dtype=object), 'for.020': array(['Svalbard and Jan Mayen Islands', 'Tokelau', 'Guam', 'Holy See',
       'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha',
       'American Samoa', 'Anguilla', 'Aruba', 'Curaçao',
       'Falkland Islands (Malvinas)', 'French Polynesia', 'Gibraltar',
       'Greenland', 'Guernsey', 'Norfolk Island',
       'Occupied Palestinian Territory', 'Saint Martin (French part)',
       'Sint Maarten (Dutch Part)', 'United States Virgin Islands',
       'Wallis and Futuna Islands', 'Bonaire, Sint Eustatius and Saba',
       'British Virgin Islands', 'Saint Pierre and Miquelon', 'Bermuda',
       'Cayman Islands', 'Cook Islands', 'Guadeloupe', 'Faroe Islands',
       'French Guiana', 'Jersey', 'Isle of Man', 'Martinique',
       'Montserrat', 'New Caledonia', 'Mayotte',
       'Northern Mariana Islands', 'Niue', 'Puerto Rico',
       'Pitcairn Islands', 'Réunion', 'Turks and Caicos Islands',
       'Western Sahara'], dtype=object), 'soc.002': array(['Hong Kong', 'Palestine'], dtype=object), 'soc.012': array(['Occupied Palestinian Territory'], dtype=object), 'soc.021': array(['Taiwan'], dtype=object), 'soc.024': array(['American Samoa', 'Niue', 'Guam', 'Northern Marianas', 'Puerto Rico'], dtype=object), 'soc.045': array(['  Hong Kong', 'West Bank and Gaza'], dtype=object), 'soc.067': array(['Taiwan', 'Kosovo', 'Puerto Rico'], dtype=object)}
{'com.009': array(['CSK', 'BMU', 'HKG', 'SCG', 'SUN', 'VGB', 'YUG', 'ABW', 'ANT',
       'CYM', 'GRL', 'MAC', 'NCL', 'PYF', 'PSE', 'TWN'], dtype=object), 'cit.020': array(['XKX', 'PYF', 'GIB', 'NCL', 'CHI', 'CUW', 'GUM', 'MAC', 'MAF',
       'SXM', 'ASM', 'ABW', 'BMU', 'CYM', 'IMN', 'FRO', 'GRL', 'HKG',
       'INX', 'MNP', 'PRI', 'PSE', 'TCA', 'VIR', 'VGB'], dtype=object), 'cli.022': array(['IMN', 'PCN', 'ABW', 'AIA', 'COK', 'GGY', 'GIB', 'GUM', 'JEY',
       'MSR', 'MTQ', 'PYF', 'SHN', 'SJM', 'VGB', 'ANT', 'ASM', 'BMU',
       'CYM', 'FLK', 'FRO', 'VIR', 'GLP', 'GUF', 'GRL', 'HKG', 'MYT',
       'NIU', 'MNP', 'MAC', 'NFK', 'NCL', 'PRI', 'PSE', 'SCG', 'TCA',
       'WLF', 'REU', 'SPM', 'TKL', 'TWN', 'VAT'], dtype=object)}
Newly missed names:
Missed names in data set cit.013
Missed names in data set for.020
Occupied Palestinian Territory
Missed names in data set soc.002
Missed names in data set soc.012
Occupied Palestinian Territory
Missed names in data set soc.021
Missed names in data set soc.024
Missed names in data set soc.045
Missed names in data set soc.067
Newly missed isos:
Missed isos in data set com.009
Missed isos in data set cit.020
Missed isos in data set cli.022

In [211]:
## Process to investigate misses for a specific dataset
# Here, discovered issue with using apostrophe "’" instead of "'"
# Led to augmenting data prep for the georeferencing step above

df = data_tables['for.020']
df['join_col'] = df['country'].apply(lambda item: item.strip().lower().replace(' ',''))

df_a = df.merge(georef['aliases'],
                           left_on='join_col',
                           right_on='alias', 
                           how='left')
df_a.loc[pd.isnull(df_a['alias']),['country','join_col','alias', 'iso', 'name']]

print('democraticpeople’srepublicofkorea' in georef['aliases']['alias'])

LOOK_FOR = 'people\'s'
print('Viewing aliases with a name that contains {}:'.format(LOOK_FOR))
df = georef['aliases']
print(df.loc[df['alias'].str.lower().str.contains(LOOK_FOR)])

False

# Compile known not-included country names

In [90]:
def flatten(obj, new_list):
    obj.extend(new_list)
    return obj

other_isos = reduce(flatten, missed_isos.values(), [])
other_names = reduce(flatten, missed_names.values(), [])

def gather_names(iso):
    name = input('Official name of {}?'.format(iso))
    return((iso, name))

def gather_isos(name):
    iso = input('Official iso of {}?'.format(name))
    return((iso, name))

isos_and_names = list(map(gather_names, other_isos))
names_and_isos = list(map(gather_isos, other_names))

Official name of XKX?Kosovo
Official name of PSE?Palestinian Territory, Occupied
Official name of TWN?Taiwan, Province of China
Official name of SUN?Union of Soviet Socialist Republics
Official name of SJM?Svalbard and Jan Mayen
Official name of CSK?Czechoslovakia
Official name of GIB?Gibraltar
Official name of CHI?None
Official name of REU?Réunion
Official name of HKG?Hong Kong
Official name of CUW?Curaçao
Official name of MSR?Montserrat
Official name of PRI?Puerto Rico
Official name of VAT?Holy See
Official name of TCA?Turks and Caicos Islands
Official name of MNP?Northern Mariana Islands
Official name of FLK?Falkland Islands (Malvinas)
Official name of MAC?Macao
Official name of NFK?Norfolk Island
Official name of TKL?Tokelau
Official name of VIR?Virgin Islands, U.S.
Official name of ABW?Aruba
Official name of ASM?American Samoa
Official name of PYF?French Polynesia
Official name of SCG?Serbia and Montenegro
Official name of COK?Cook Islands
Official name of GGY?Guernsey
Official name of BMU?Bermuda
Official name of GUF?French Guiana
Official name of NCL?New Caledonia
Official name of SHN?Saint Helena, Ascension and Tristan da Cunha
Official name of INX?None
Official name of GUM?Guam
Official name of SXM?Sint Maarten (Dutch part)
Official name of IMN?Isle of Man
Official name of MTQ?Martinique
Official name of ANT?Netherlands Antilles
Official name of AIA?Anguilla
Official name of JEY?Jersey
Official name of MAF?Saint Martin (French part)
Official name of NIU?Niue
Official name of SPM?Saint Pierre and Miquelon
Official name of GRL?Greenland
Official name of VGB?Virgin Islands, British
Official name of CYM?Cayman Islands
Official name of FRO?Faroe Islands
Official name of MYT?Mayotte
Official name of GLP?Guadeloupe
Official name of PCN?Pitcairn
Official name of WLF?Wallis and Futuna
Official name of YUG?Yugoslavia
Official iso of Dem. Rep. Congo?COD
Official iso of Curaçao?CUW
Official iso of Gibraltar?GIB
Official iso of Tokelau?TKL
Official iso of Saint Pierre and Miquelon?SPM
Official iso of Cook Islands?COK
Official iso of Montserrat?MSR
Official iso of Micronesia (Federated States of)?FSM
Official iso of West Bank and Gaza?None
Official iso of Wallis and Futuna Islands?WLF
Official iso of British Virgin Islands?VGB
Official iso of Aruba?ABW
Official iso of Martinique?MTQ
Official iso of Guam?GUM
Official iso of Pitcairn Islands?PCN
Official iso of Greenland?GRL
Official iso of Bonaire, Sint Eustatius and Saba?BES
Official iso of Kosovo?XKX
Official iso of Saint Barthélemy?BLM
Official iso of Czechia?CZE
Official iso of French Polynesia?PYF
Official iso of United States Virgin Islands?VIR
Official iso of American Samoa?ASM
Official iso of Western Sahara?ESH
Official iso of Guernsey?GGY
Official iso of Cayman Islands?CYM
Official iso of Saint Martin (French part)?MAF
Official iso of New Caledonia?NCL
Official iso of Anguilla?AIA
Official iso of Puerto Rico?PRI
Official iso of Palestine?PSE
Official iso of CookIslands?COK
Official iso of Occupied Palestinian Territory?PSE
Official iso of Guadeloupe?GLP
Official iso of French Guiana?GUF
Official iso of Saint Helena, Ascension and Tristan da Cunha?SHN
Official iso of Niue?NIU
Official iso of Côte d’Ivoire?CIV
Official iso of Réunion?REU
Official iso of Svalbard and Jan Mayen Islands?SJM
Official iso of Jersey?JEY
Official iso of Turks and Caicos Islands?TCA
Official iso of Democratic People’s Republic of Korea?PRK
Official iso of Faroe Islands?FRO
Official iso of Norfolk Island?NFK
Official iso of Northern Mariana Islands?MNP
Official iso of Hong Kong?HKG
Official iso of   Hong Kong?HKGe
Official iso of Taiwan?TWN
Official iso of Holy See?VAT
Official iso of Sint Maarten (Dutch Part)?SXM
Official iso of Mayotte?MYT
Official iso of Falkland Islands (Malvinas)?FLK
Official iso of Northern Marianas?MNP
Official iso of Bermuda?BMU
Official iso of Isle of Man?IMN
[('XKX', 'Kosovo'), ('PSE', 'Palestinian Territory, Occupied'), ('TWN', 'Taiwan, Province of China'), ('SUN', 'Union of Soviet Socialist Republics'), ('SJM', 'Svalbard and Jan Mayen'), ('CSK', 'Czechoslovakia'), ('GIB', 'Gibraltar'), ('CHI', 'None'), ('REU', 'Réunion'), ('HKG', 'Hong Kong'), ('CUW', 'Curaçao'), ('MSR', 'Montserrat'), ('PRI', 'Puerto Rico'), ('VAT', 'Holy See'), ('TCA', 'Turks and Caicos Islands'), ('MNP', 'Northern Mariana Islands'), ('FLK', 'Falkland Islands (Malvinas)'), ('MAC', 'Macao'), ('NFK', 'Norfolk Island'), ('TKL', 'Tokelau'), ('VIR', 'Virgin Islands, U.S.'), ('ABW', 'Aruba'), ('ASM', 'American Samoa'), ('PYF', 'French Polynesia'), ('SCG', 'Serbia and Montenegro'), ('COK', 'Cook Islands'), ('GGY', 'Guernsey'), ('BMU', 'Bermuda'), ('GUF', 'French Guiana'), ('NCL', 'New Caledonia'), ('SHN', 'Saint Helena, Ascension and Tristan da Cunha'), ('INX', 'None'), ('GUM', 'Guam'), ('SXM', 'Sint Maarten (Dutch part)'), ('IMN', 'Isle of Man'), ('MTQ', 'Martinique'), ('ANT', 'Netherlands Antilles'), ('AIA', 'Anguilla'), ('JEY', 'Jersey'), ('MAF', 'Saint Martin (French part)'), ('NIU', 'Niue'), ('SPM', 'Saint Pierre and Miquelon'), ('GRL', 'Greenland'), ('VGB', 'Virgin Islands, British'), ('CYM', 'Cayman Islands'), ('FRO', 'Faroe Islands'), ('MYT', 'Mayotte'), ('GLP', 'Guadeloupe'), ('PCN', 'Pitcairn'), ('WLF', 'Wallis and Futuna'), ('YUG', 'Yugoslavia')]
[('COD', 'Dem. Rep. Congo'), ('CUW', 'Curaçao'), ('GIB', 'Gibraltar'), ('TKL', 'Tokelau'), ('SPM', 'Saint Pierre and Miquelon'), ('COK', 'Cook Islands'), ('MSR', 'Montserrat'), ('FSM', 'Micronesia (Federated States of)'), ('None', 'West Bank and Gaza'), ('WLF', 'Wallis and Futuna Islands'), ('VGB', 'British Virgin Islands'), ('ABW', 'Aruba'), ('MTQ', 'Martinique'), ('GUM', 'Guam'), ('PCN', 'Pitcairn Islands'), ('GRL', 'Greenland'), ('BES', 'Bonaire, Sint Eustatius and Saba'), ('XKX', 'Kosovo'), ('BLM', 'Saint Barthélemy'), ('CZE', 'Czechia'), ('PYF', 'French Polynesia'), ('VIR', 'United States Virgin Islands'), ('ASM', 'American Samoa'), ('ESH', 'Western Sahara'), ('GGY', 'Guernsey'), ('CYM', 'Cayman Islands'), ('MAF', 'Saint Martin (French part)'), ('NCL', 'New Caledonia'), ('AIA', 'Anguilla'), ('PRI', 'Puerto Rico'), ('PSE', 'Palestine'), ('COK', 'CookIslands'), ('PSE', 'Occupied Palestinian Territory'), ('GLP', 'Guadeloupe'), ('GUF', 'French Guiana'), ('SHN', 'Saint Helena, Ascension and Tristan da Cunha'), ('NIU', 'Niue'), ('CIV', 'Côte d’Ivoire'), ('REU', 'Réunion'), ('SJM', 'Svalbard and Jan Mayen Islands'), ('JEY', 'Jersey'), ('TCA', 'Turks and Caicos Islands'), ('PRK', 'Democratic People’s Republic of Korea'), ('FRO', 'Faroe Islands'), ('NFK', 'Norfolk Island'), ('MNP', 'Northern Mariana Islands'), ('HKG', 'Hong Kong'), ('HKGe', '  Hong Kong'), ('TWN', 'Taiwan'), ('VAT', 'Holy See'), ('SXM', 'Sint Maarten (Dutch Part)'), ('MYT', 'Mayotte'), ('FLK', 'Falkland Islands (Malvinas)'), ('MNP', 'Northern Marianas'), ('BMU', 'Bermuda'), ('IMN', 'Isle of Man')]

In [156]:
print(isos_and_names)
print(names_and_isos)

[('XKX', 'Kosovo'), ('PSE', 'Palestinian Territory, Occupied'), ('TWN', 'Taiwan, Province of China'), ('SUN', 'Union of Soviet Socialist Republics'), ('SJM', 'Svalbard and Jan Mayen'), ('CSK', 'Czechoslovakia'), ('GIB', 'Gibraltar'), ('CHI', 'None'), ('REU', 'Réunion'), ('HKG', 'Hong Kong'), ('CUW', 'Curaçao'), ('MSR', 'Montserrat'), ('PRI', 'Puerto Rico'), ('VAT', 'Holy See'), ('TCA', 'Turks and Caicos Islands'), ('MNP', 'Northern Mariana Islands'), ('FLK', 'Falkland Islands (Malvinas)'), ('MAC', 'Macao'), ('NFK', 'Norfolk Island'), ('TKL', 'Tokelau'), ('VIR', 'Virgin Islands, U.S.'), ('ABW', 'Aruba'), ('ASM', 'American Samoa'), ('PYF', 'French Polynesia'), ('SCG', 'Serbia and Montenegro'), ('COK', 'Cook Islands'), ('GGY', 'Guernsey'), ('BMU', 'Bermuda'), ('GUF', 'French Guiana'), ('NCL', 'New Caledonia'), ('SHN', 'Saint Helena, Ascension and Tristan da Cunha'), ('INX', 'None'), ('GUM', 'Guam'), ('SXM', 'Sint Maarten (Dutch part)'), ('IMN', 'Isle of Man'), ('MTQ', 'Martinique'), ('ANT', 'Netherlands Antilles'), ('AIA', 'Anguilla'), ('JEY', 'Jersey'), ('MAF', 'Saint Martin (French part)'), ('NIU', 'Niue'), ('SPM', 'Saint Pierre and Miquelon'), ('GRL', 'Greenland'), ('VGB', 'Virgin Islands, British'), ('CYM', 'Cayman Islands'), ('FRO', 'Faroe Islands'), ('MYT', 'Mayotte'), ('GLP', 'Guadeloupe'), ('PCN', 'Pitcairn'), ('WLF', 'Wallis and Futuna'), ('YUG', 'Yugoslavia')]
[('COD', 'Dem. Rep. Congo'), ('CUW', 'Curaçao'), ('GIB', 'Gibraltar'), ('TKL', 'Tokelau'), ('SPM', 'Saint Pierre and Miquelon'), ('COK', 'Cook Islands'), ('MSR', 'Montserrat'), ('FSM', 'Micronesia (Federated States of)'), ('None', 'West Bank and Gaza'), ('WLF', 'Wallis and Futuna Islands'), ('VGB', 'British Virgin Islands'), ('ABW', 'Aruba'), ('MTQ', 'Martinique'), ('GUM', 'Guam'), ('PCN', 'Pitcairn Islands'), ('GRL', 'Greenland'), ('BES', 'Bonaire, Sint Eustatius and Saba'), ('XKX', 'Kosovo'), ('BLM', 'Saint Barthélemy'), ('CZE', 'Czechia'), ('PYF', 'French Polynesia'), ('VIR', 'United States Virgin Islands'), ('ASM', 'American Samoa'), ('ESH', 'Western Sahara'), ('GGY', 'Guernsey'), ('CYM', 'Cayman Islands'), ('MAF', 'Saint Martin (French part)'), ('NCL', 'New Caledonia'), ('AIA', 'Anguilla'), ('PRI', 'Puerto Rico'), ('PSE', 'Palestine'), ('COK', 'CookIslands'), ('PSE', 'Occupied Palestinian Territory'), ('GLP', 'Guadeloupe'), ('GUF', 'French Guiana'), ('SHN', 'Saint Helena, Ascension and Tristan da Cunha'), ('NIU', 'Niue'), ('CIV', 'Côte d’Ivoire'), ('REU', 'Réunion'), ('SJM', 'Svalbard and Jan Mayen Islands'), ('JEY', 'Jersey'), ('TCA', 'Turks and Caicos Islands'), ('PRK', 'Democratic People’s Republic of Korea'), ('FRO', 'Faroe Islands'), ('NFK', 'Norfolk Island'), ('MNP', 'Northern Mariana Islands'), ('HKG', 'Hong Kong'), ('HKGe', '  Hong Kong'), ('TWN', 'Taiwan'), ('VAT', 'Holy See'), ('SXM', 'Sint Maarten (Dutch Part)'), ('MYT', 'Mayotte'), ('FLK', 'Falkland Islands (Malvinas)'), ('MNP', 'Northern Marianas'), ('BMU', 'Bermuda'), ('IMN', 'Isle of Man')]

In [170]:
# Deleted isos
deleted_isos = '''AFI French Afar and Issas
ATB British Antarctic Territory
ATN Dronning Maud Land
CTE Canton and Enderbury Islands
DDR German Democratic Republic
DHY Dahomey
GEL Gilbert and Ellice Islands
HVO Upper Volta
JTN Johnston Island
MID Midway Islands
NHB New Hebrides
PCI Pacific Islands, Trust Territory of the
PCZ Panama Canal Zone
PHI Philippines – Code changed to PHL
PUS U.S. Miscellaneous Pacific Islands
RHO Southern Rhodesia
SKM Sikkim
VDR Viet-Nam, Democratic Republic of
WAK Wake Island
YMD Yemen, Democratic'''

by_line = deleted_isos.split('\n')
by_pair = [(line.split(' ')[0],' '.join(line.split(' ')[1:]) ) for line in by_line]
deleted_isos = pd.DataFrame(by_pair)
deleted_isos.columns = ['iso', 'name']

not_reported_isos = pd.DataFrame(isos_and_names)
not_reported_isos.columns = ['iso', 'name']

not_reported_names = pd.DataFrame(names_and_isos)
not_reported_names.columns = ['iso', 'name']
not_reported_names = not_reported_names.drop([0, 7, 19, 32])

deleted_isos['reason'] = 'deleted'
not_reported_isos['reason'] = 'not un'
not_reported_names['reason'] = 'not un'

In [171]:
df = deleted_isos.copy()
df = df.append(not_reported_isos)
df = df.append(not_reported_names)

cc.write(df, 'known_non_un_isos')

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/known_non_un_isos

# Uploading finished files to Carto and S3

In [47]:
for name, data in georefed_data.items():
    if 'georef' in name:
        #print(data.head())
        #write_to_S3(data,s3_bucket,s3_folder+name+'_long')
        #print('saved ' + name + ' long data to s3')
        cc.write(data, name, overwrite=True)
        print('saved ' + name + ' long data to Carto')
        #print('failed to write table ' + name)

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_009_georefed`
  warn('Table will be named `{}`'.format(table_name))
Uploading in batches: 100%|██████████| 2/2 [00:56<00:00, 30.79s/it]

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_009_georefed
saved com.009_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_013_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_013_georefed
saved cit.013_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_020_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_020_georefed
saved cit.020_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cli_022_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cli_022_georefed
saved cli.022_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `ene_012_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_012_georefed
saved ene.012_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `for_020_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/for_020_georefed
saved for.020_georefed long data to Carto
The following columns were changed in the CARTO copy of this dataframe:
estimated_gross_national_income_per_capita___female -> estimated_gross_national_income_per_capita__female
estimated_gross_national_income_per_capita___male -> estimated_gross_national_income_per_capita__male
expected_years_of_schooling___female -> expected_years_of_schooling__female
expected_years_of_schooling___male -> expected_years_of_schooling__male
hdi_value___female -> hdi_value__female
hdi_value___male -> hdi_value__male
life_expectancy_at_birth___female -> life_expectancy_at_birth__female
life_expectancy_at_birth___male -> life_expectancy_at_birth__male
mean_years_of_schooling___female -> mean_years_of_schooling__female
mean_years_of_schooling___male -> mean_years_of_schooling__male

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_002_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_002_georefed
saved soc.002_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_012_georefed`
  warn('Table will be named `{}`'.format(table_name))
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:511: UserWarning: DataFrame written to CARTO but the table schema failed to update to match DataFrame. All columns in CARTO table have data type `text`. CARTO error: `['syntax error at end of input']`.
  query=alter_query))
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_021_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_012_georefed
saved soc.012_georefed long data to Carto
The following columns were changed in the CARTO copy of this dataframe:
air_pollution___average_exposure_to_no2 -> air_pollution__average_exposure_to_no2
air_pollution___average_exposure_to_pm2_5 -> air_pollution__average_exposure_to_pm2_5
air_pollution___average_exposure_to_pm2_5___risk_exposure -> air_pollution__average_exposure_to_pm2_5__risk_exposure
air_pollution___average_pm2_5_exceedance -> air_pollution__average_pm2_5_exceedance
eh___air_quality -> eh__air_quality
eh___health_impacts -> eh__health_impacts
eh__water_and_sanitation -> eh_water_and_sanitation
ev___agriculture -> ev__agriculture
ev___climate_and_energy -> ev__climate_and_energy
ev___fisheries -> ev__fisheries
ev___forests -> ev__forests
ev___water_resources -> ev__water_resources
ev__biodiversity_and_habitat -> ev_biodiversity_and_habitat
household_air_quality___risk_exposure -> household_air_quality__risk_exposure
unsafe_drinking_water_quality__risk_exposure -> unsafe_drinking_water_quality_risk_exposure
unsafe_sanitation__risk_exposure -> unsafe_sanitation_risk_exposure
Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_021_georefed
saved soc.021_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_022_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_022_georefed
saved soc.022_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_024_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_024_georefed
saved soc.024_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_026_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_026_georefed
saved soc.026_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_045_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_045_georefed
saved soc.045_georefed long data to Carto

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_055_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_055_georefed
saved soc.055_georefed long data to Carto
The following columns were changed in the CARTO copy of this dataframe:
losses_per_gdp___rank -> losses_per_gdp__rank
losses_per_gdp___total -> losses_per_gdp__total

/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `soc_067_georefed`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_067_georefed
saved soc.067_georefed long data to Carto

In [44]:
for name, data in georefed_data.items():
    if 'georef' in name:
        print(name)

com.009_georefed
cit.013_georefed
cit.020_georefed
cli.022_georefed
ene.012_georefed
for.020_georefed
soc.002_georefed
soc.012_georefed
soc.021_georefed
soc.022_georefed
soc.024_georefed
soc.026_georefed
soc.045_georefed
soc.055_georefed
soc.067_georefed

# Updating Layers on Backoffice

('com.009', ' c61c364b-1d68-4dd9-ae3d-76c2a0022280')
Num layers: 4
('cit.013', '5d269c36-6ccf-4620-838d-431f86c30f69')
Num layers: 2
('cit.020', '6d3163f5-4e08-4830-84f1-2c5d76570a82')
Num layers: 1
('cli.022', '995ec4fe-b3cc-4cf4-bd48-b89d4e3ea072')
Num layers: 2
('ene.012', 'd446a52e-c4c1-4e74-ae30-3204620a0365')
Num layers: 3
('for.020', '03bfb30e-829f-4299-bab9-b2be1b66b5d4')
Num layers: 2
('soc.001', '0b9f0100-ce5b-430f-ad8f-3363efa05481')
Num layers: 1
('soc.002', 'd4ca3cc4-c162-469c-b341-b52284a73eaa')
Num layers: 1
('soc.012', 'f48541d3-a622-4908-9400-5ef26257ac96')
Num layers: 1
('soc.021', 'e7582657-9c16-4eb1-89e8-0211d94015c6')
Num layers: 1
('soc.022', '773a16a7-3531-4b56-8253-babd15ad7f87')
Num layers: 1
('soc.024', '6c6e70e7-5a19-46f2-9d95-34789fd20adc')
Num layers: 1
('soc.026', '0be2ce12-79b3-434b-b557-d6ea92d787fe')
Num layers: 1
('soc.045', '2cc29514-b97a-4103-92b1-c8c8e9268cd8')
Num layers: 1
('soc.055', '795a7ceb-ebc1-4479-95ad-76ea4d045ad3')
Num layers: 1
('soc.067', '1de2af1c-5e5e-4a33-b8f1-8c8f9d000e49')
Num layers: 1
('com.022', 'c2142922-84d9-4564-8216-a4867b9e48c5')
Num layers: 1
Existing SQL:
{'com.009': ["SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Non-metallic minerals' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.adm0_a3", "SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Metal ores' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.adm0_a3", "SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Fossil Fuels' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.iso_a3", "SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Biomass' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.adm0_a3"], 'cit.013': ['SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, wri.name, data.country, data.total_percent_disability_adjusted_life_years_dalys_attributa FROM cit_013_reduction_life_expect_environment data LEFT OUTER JOIN wri_countries_a wri ON wri.name ILIKE TRIM(data.country) WHERE data.total_percent_disability_adjusted_life_years_dalys_attributa IS NOT NULL AND wri.iso_a3 IS NOT NULL UNION SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, wri.name, data.country, data.total_percent_disability_adjusted_life_years_dalys_attributa FROM cit_013_reduction_life_expect_environment data INNER JOIN rw_aliasing_countries aliasing ON TRIM(data.country) ILIKE aliasing.alias INNER JOIN wri_countries_a wri ON wri.iso_a3 = aliasing.iso WHERE data.total_percent_disability_adjusted_life_years_dalys_attributa IS NOT NULL ', 'SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, wri.name, data.country, data.total_age_standardized_dalys_attributable_to_the_environment_p FROM cit_013_reduction_life_expect_environment data LEFT OUTER JOIN wri_countries_a wri ON wri.name ILIKE TRIM(data.country) WHERE data.total_age_standardized_dalys_attributable_to_the_environment_p IS NOT NULL AND wri.iso_a3 IS NOT NULL UNION SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, wri.name, data.country, data.total_age_standardized_dalys_attributable_to_the_environment_p FROM cit_013_reduction_life_expect_environment data INNER JOIN rw_aliasing_countries aliasing ON TRIM(data.country) ILIKE aliasing.alias INNER JOIN wri_countries_a wri ON wri.iso_a3 = aliasing.iso WHERE data.total_age_standardized_dalys_attributable_to_the_environment_p IS NOT NULL'], 'cit.020': ['SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, wri.name, data.yr_2015 FROM cit_020_nat_pop_exposed_high_levels_pm_2_5_edit data LEFT OUTER JOIN wri_countries_a wri ON data.country_code = wri.iso_a3  WHERE yr_2015 IS NOT NULL AND wri.name IS NOT NULL'], 'cli.022': ['SELECT * FROM cli_022_populations_in_coastal_zones WHERE rural_population2010pct IS NOT NULL', 'SELECT * FROM cli_022_populations_in_coastal_zones WHERE urban_population2010pct IS NOT NULL'], 'ene.012': ['SELECT wri.cartodb_id, wri.the_geom_webmercator, data.country_name, data.country_code, data.datetime, data.total_data FROM ene_012_electricity_access data LEFT OUTER JOIN wri_countries_a wri ON data.rw_country_code = wri.iso_a3 WHERE EXTRACT(YEAR FROM data.datetime) = 2014', 'SELECT wri.cartodb_id, wri.the_geom_webmercator, data.country_name, data.country_code, data.datetime, data.rural_data FROM ene_012_electricity_access data LEFT OUTER JOIN wri_countries_a wri ON data.rw_country_code = wri.iso_a3 WHERE EXTRACT(YEAR FROM data.datetime) = 2014', 'SELECT wri.cartodb_id, wri.the_geom_webmercator, data.country_name, data.country_code, data.datetime, data.urban_data FROM ene_012_electricity_access data LEFT OUTER JOIN wri_countries_a wri ON data.rw_country_code = wri.iso_a3 WHERE EXTRACT(YEAR FROM data.datetime) = 2014'], 'for.020': ['SELECT * FROM for_020_forest_employment_gdp_edit', 'SELECT * FROM for_020_forest_employment_gdp_edit'], 'soc.001': ['SELECT * FROM edi'], 'soc.002': ['SELECT * FROM soc_002_gender_development_index WHERE gdi_value is not NULL'], 'soc.012': ['SELECT * FROM soc_12_water_institutions'], 'soc.021': ['SELECT * FROM soc_021_environmental_performance_index'], 'soc.022': ['SELECT * FROM soc_022_forest_tenure WHERE government_administered_2013 IS NOT NULL '], 'soc.024': ['SELECT * FROM soc_024_gender_land_rights WHERE pct_female IS NOT NULL '], 'soc.026': ['SELECT * FROM soc_026_gender_gap_index_1 WHERE overall_index_score IS NOT NULL '], 'soc.045': ['SELECT * FROM soc_045_social_institutions_gender_index WHERE political_voice_representation IS NOT NULL'], 'soc.055': ['SELECT * FROM soc_055_global_conflict_risk_index WHERE year=2014'], 'soc.067': ['SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, data.country, data.cri_score FROM soc_067_climate_risk_index data LEFT OUTER JOIN wri_countries_a wri ON wri.name ILIKE TRIM(data.country) WHERE data.cri_score IS NOT NULL AND wri.iso_a3 IS NOT NULL UNION SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, data.country, data.cri_score FROM soc_067_climate_risk_index data INNER JOIN rw_aliasing_countries aliasing ON TRIM(data.country) ILIKE aliasing.alias INNER JOIN wri_countries_a wri ON wri.iso_a3 = aliasing.iso WHERE data.cri_score IS NOT NULL'], 'com.022': ['SELECT * FROM gfw_mining']}

Existing interaction config:
{'com.009': None, 'cit.013': None, 'cit.020': None, 'cli.022': None, 'ene.012': [[{'column': 'country_name', 'format': None, 'prefix': '', 'property': 'Country', 'suffix': '', 'type': 'string'}, {'column': 'total_data', 'format': None, 'prefix': '', 'property': '2014 National Access to Electricity (%)', 'suffix': '%', 'type': 'number'}], [{'column': 'country_name', 'format': None, 'prefix': '', 'property': 'Country', 'suffix': '', 'type': 'string'}, {'column': 'rural_data', 'format': None, 'prefix': '', 'property': '2014 Rural Access to Electricity (%)', 'suffix': '%', 'type': 'number'}], [{'column': 'country_name', 'format': None, 'prefix': '', 'property': 'Country', 'suffix': '', 'type': 'string'}, {'column': 'urban_data', 'format': None, 'prefix': '', 'property': '2014 Urban Access to Electricity (%)', 'suffix': '%', 'type': 'number'}]], 'for.020': None, 'soc.001': None, 'soc.002': None, 'soc.012': None, 'soc.021': None, 'soc.022': None, 'soc.024': [[{'column': 'country', 'format': None, 'prefix': '', 'property': 'Country', 'suffix': '', 'type': 'string'}, {'column': 'total', 'format': '0,0', 'prefix': '', 'property': 'Total Landowners', 'suffix': '', 'type': 'number'}, {'column': 'female', 'format': '0,0', 'prefix': '', 'property': 'Female Landowners', 'suffix': '', 'type': 'number'}, {'column': 'pct_female', 'format': None, 'prefix': '', 'property': 'Proportion Owned by Women', 'suffix': '', 'type': 'number'}]], 'soc.026': None, 'soc.045': None, 'soc.055': [[{'column': 'country', 'format': None, 'prefix': '', 'property': 'Country', 'suffix': '', 'type': 'string'}, {'column': 'food', 'format': '0a', 'prefix': '', 'property': 'Food Insecurity Index Value', 'suffix': '', 'type': 'number'}]], 'soc.067': None, 'com.022': [[]]}

com.009
Index(['flow', 'index', 'isoalpha3', 'mfa13', 'mfa4', 'rw_country_code',
       'rw_country_name', 'the_geom', 'time', 'value'],
      dtype='object')
data column?value
date column?time
make slider? type anything for yes
filter col?mfa4
Available dates: [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
year for layer?2017
Type of data: numeric
Type of data: numeric
Type of data: numeric
Type of data: numeric
cit.013
Index(['cartodb_georef_status', 'country',
       'infectious_parasitic_neonatal_and_nutritional_age_standardize',
       'infectious_parasitic_neonatal_and_nutritional_disability_adju',
       'injuries_age_standardized_dalys_attributable_to_the_environment',
       'injuries_disability_adjusted_life_years_dalys_attributable_to',
       'noncommunicable_diseases_age_standardized_dalys_attributable_to',
       'noncommunicable_diseases_disability_adjusted_life_years_dalys',
       'the_geom',
       'total_age_standardized_dalys_attributable_to_the_environment_p',
       'total_disability_adjusted_life_years_dalys_attributable_to_th',
       'total_percent_disability_adjusted_life_years_dalys_attributa', 'year'],
      dtype='object')
data column?infectious_parasitic_neonatal_and_nutritional_age_standardize
date column?year
make slider? type anything for yes
filter col?
Available dates: [2012]
year for layer?2012
Type of data: numeric
cit.020
Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')
data column?
cli.022
Index(['cartodb_georef_status', 'countryid', 'countryname', 'georegion',
       'geosubregion', 'incomegroup', 'iso3v10', 'lendingcategory', 'objectid',
       'rural_area', 'rural_area_pct', 'rural_population1990',
       'rural_population1990pct', 'rural_population2000',
       'rural_population2000pct', 'rural_population2010',
       'rural_population2010pct', 'the_geom', 'theme_variable',
       'themedescription', 'themeid', 'themename', 'unsdcode', 'urban_area',
       'urban_area_pct', 'urban_population1990', 'urban_population1990pct',
       'urban_population2000', 'urban_population2000pct',
       'urban_population2010', 'urban_population2010pct',
       'variabledescription', 'variableid', 'variablename'],
      dtype='object')
data column?
ene.012
Index(['country_code', 'country_name', 'datetime', 'index', 'rural_data',
       'rw_country_code', 'rw_country_name', 'the_geom', 'total_data',
       'urban_data'],
      dtype='object')
data column?
for.020
Index(['cartodb_georef_status', 'country', 'employment_of_total_labour_force',
       'employment_pulp_and_paper_1000',
       'employment_roundwood_production_1000',
       'employment_total_for_the_forest_sector_1000',
       'employment_wood_processing_1000',
       'gross_value_added_contribution_to_gdp',
       'gross_value_added_pulp_and_paper_us_million',
       'gross_value_added_roundwood_production_us_million',
       'gross_value_added_total_for_the_forest_sector_us_million',
       'gross_value_added_wood_processing_us_million', 'the_geom', 'join_col'],
      dtype='object')
data column?employment_of_total_labour_force
date column?
make slider? type anything for yes
filter col?

KeyError: ''

In [293]:
layers

defaultdict(list,
            {'com.009': [{'attributes': {'application': ['rw'],
                'applicationConfig': {},
                'dataset': ' c61c364b-1d68-4dd9-ae3d-76c2a0022280',
                'default': False,
                'description': '',
                'env': 'production',
                'interactionConfig': [{'column': 'flow',
                  'format': None,
                  'prefix': '',
                  'property': 'flow',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'index',
                  'format': None,
                  'prefix': '',
                  'property': 'index',
                  'suffix': '',
                  'type': 'numeric'},
                 {'column': 'isoalpha3',
                  'format': None,
                  'prefix': '',
                  'property': 'isoalpha3',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'mfa13',
                  'format': None,
                  'prefix': '',
                  'property': 'mfa13',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'mfa4',
                  'format': None,
                  'prefix': '',
                  'property': 'mfa4',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'rw_country_code',
                  'format': None,
                  'prefix': '',
                  'property': 'rw_country_code',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'rw_country_name',
                  'format': None,
                  'prefix': '',
                  'property': 'rw_country_name',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'the_geom',
                  'format': None,
                  'prefix': '',
                  'property': 'the_geom',
                  'suffix': '',
                  'type': 'string'},
                 {'column': 'time',
                  'format': None,
                  'prefix': '',
                  'property': 'time',
                  'suffix': '',
                  'type': 'numeric'},
                 {'column': 'value',
                  'format': None,
                  'prefix': '',
                  'property': 'value',
                  'suffix': '',
                  'type': 'numeric'}],
                'iso': [],
                'layerConfig': {'account': 'wri-rw',
                 'body': {'layers': [{'options': {'cartocss': '#table {polygon-opacity: 1; line-width: 0.5; line-color: #FFF; line-opacity: 1;} [value > -860912.8884]{polygon-fill:#4ce456 ;} [value > 0.0][value < 0.0012591748000000012]{polygon-fill:#9cd9e9 ;} [value > 0.0012591748000000012][value < 166.9945002399997]{polygon-fill:#7031a4 ;} [value > 166.9945002399997][value < 4109.4227912000015]{polygon-fill:#0ead89 ;} [value > 4109.4227912000015][value < 15100000000.0]{polygon-fill:#6158e7 ;}',
                     'cartocss_version': '2.3.0',
                     'sql': 'SELECT wri.cartodb_id, ST_Transform(wri.the_geom, 3857) AS the_geom_webmercator, rw_country_name, EXTRACT(YEAR FROM data.time) AS year, data.value FROM com_009_1_material_flows_main data LEFT OUTER JOIN wri_countries_a wri ON data.rw_country_code = wri.iso_a3 WHERE value IS NOT NULL AND EXTRACT(YEAR FROM time)=2017 AND mfa4 ILIKE biomass'},
                    'type': 'mapnik'}],
                  'maxzoom': 18,
                  'minzoom': 3},
                 'order': 2017,
                 'timeline': True,
                 'timelineLabel': '2017'},
                'legendConfig': {'items': [{'color': '#4ce456',
                   'name': '>-860912.8884'},
                  {'color': '#9cd9e9', 'name': '<0.0012591748000000012'},
                  {'color': '#7031a4', 'name': '<166.9945002399997'},
                  {'color': '#0ead89', 'name': '<4109.4227912000015'},
                  {'color': '#6158e7', 'name': '<15100000000.0'}],
                 'type': 'choropleth'},
                'name': '',
                'protected': False,
                'provider': 'cartodb'},
               'id': '',
               'type': 'layer'}]})

In [274]:
gen_cartocss_legend('gross_value_added_wood_processing_us_million', data_tables['for.020'])

Type of data: numeric

('#table {polygon-opacity: 1; line-width: 0.5; line-color: #FFF; line-opacity: 1;} [gross_value_added_wood_processing_us_million > 0.0]{polygon-fill:#42b64a ;} [gross_value_added_wood_processing_us_million > 0.0][gross_value_added_wood_processing_us_million < 5.0]{polygon-fill:#b1434b ;} [gross_value_added_wood_processing_us_million > 5.0][gross_value_added_wood_processing_us_million < 28.0]{polygon-fill:#913850 ;} [gross_value_added_wood_processing_us_million > 28.0][gross_value_added_wood_processing_us_million < 302.0]{polygon-fill:#9932e6 ;} [gross_value_added_wood_processing_us_million > 302.0][gross_value_added_wood_processing_us_million < 41120.0]{polygon-fill:#7ea7d3 ;}',
 [{'color': '#42b64a', 'name': '>0.0'},
  {'color': '#b1434b', 'name': '<5.0'},
  {'color': '#913850', 'name': '<28.0'},
  {'color': '#9932e6', 'name': '<302.0'},
  {'color': '#7ea7d3', 'name': '<41120.0'}])

In [ ]:
# Replace original dataset on Carto w/ georefed version

# Upload layer templates

In [267]:
layerdef = {'id': 'a7dbbf23-254a-49a3-a5dd-b12378fa345b', 'type': 'layer', 'attributes': {'name': '2017 Domestic Extraction - Non-Metallic Minerals (tonnes, millions)', 'slug': '2017-Domestic-Extraction-of-Raw-Materials', 'dataset': 'c61c364b-1d68-4dd9-ae3d-76c2a0022280', 'description': 'The total amount of non-metallic minerals extracted in 2017 by country.', 'application': ['rw'], 'iso': [], 'provider': 'cartodb', 'userId': '5981e73b0c069f3c93dc5e2a', 'default': True, 'protected': False, 'env': 'production', 'layerConfig': {'body': {'layers': [{'options': {'cartocss_version': '2.3.0', 'cartocss': '#com_009_1_material_flows_main {polygon-opacity: 1; line-width: 0.5; line-color: #FFF; line-opacity: 1;} [value<100000]{polygon-fill:#f2f0f7 ;} [value>=100000][value<250000]{polygon-fill:#dadaeb ;} [value>=250000][value<500000]{polygon-fill:#bcbddc ;} [value>=500000][value<1000000]{polygon-fill:#9e9ac8 ;} [value>=1000000][value<3000000]{polygon-fill:#756bb1 ;} [value>=3000000][value<25000000]{polygon-fill:#54278f ;}', 'sql': "SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Non-metallic minerals' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.adm0_a3"}, 'type': 'mapnik'}], 'minzoom': 3, 'maxzoom': 18}, 'account': 'wri-rw'}, 'legendConfig': {'type': 'choropleth', 'items': [{'name': '<100', 'color': '#f2f0f7'}, {'name': '<250', 'color': '#dadaeb'}, {'name': '<500', 'color': '#bcbddc'}, {'name': '<1000', 'color': '#9e9ac8'}, {'name': '<3000', 'color': '#756bb1'}, {'name': '<25000', 'color': '#54278f'}]}, 'interactionConfig': {}, 'applicationConfig': {}, 'staticImageConfig': {}, 'updatedAt': '2017-12-15T15:20:57.326Z'}}
layerdef

{'attributes': {'application': ['rw'],
  'applicationConfig': {},
  'dataset': 'c61c364b-1d68-4dd9-ae3d-76c2a0022280',
  'default': True,
  'description': 'The total amount of non-metallic minerals extracted in 2017 by country.',
  'env': 'production',
  'interactionConfig': {},
  'iso': [],
  'layerConfig': {'account': 'wri-rw',
   'body': {'layers': [{'options': {'cartocss': '#com_009_1_material_flows_main {polygon-opacity: 1; line-width: 0.5; line-color: #FFF; line-opacity: 1;} [value<100000]{polygon-fill:#f2f0f7 ;} [value>=100000][value<250000]{polygon-fill:#dadaeb ;} [value>=250000][value<500000]{polygon-fill:#bcbddc ;} [value>=500000][value<1000000]{polygon-fill:#9e9ac8 ;} [value>=1000000][value<3000000]{polygon-fill:#756bb1 ;} [value>=3000000][value<25000000]{polygon-fill:#54278f ;}',
       'cartocss_version': '2.3.0',
       'sql': "SELECT countries.cartodb_id, ST_Transform(countries.the_geom, 3857) as the_geom_webmercator, countries.short_name, sub.* FROM(SELECT isoalpha3, time, mfa4, SUM(value) AS value FROM com_009_1_material_flows_main WHERE flow = 'DE' AND time = 2017 AND mfa4 ILIKE 'Non-metallic minerals' GROUP BY isoalpha3, time, mfa4 ORDER BY isoalpha3, time DESC) sub LEFT OUTER JOIN wri_countries_a countries ON sub.isoalpha3 = countries.adm0_a3"},
      'type': 'mapnik'}],
    'maxzoom': 18,
    'minzoom': 3}},
  'legendConfig': {'items': [{'color': '#f2f0f7', 'name': '<100'},
    {'color': '#dadaeb', 'name': '<250'},
    {'color': '#bcbddc', 'name': '<500'},
    {'color': '#9e9ac8', 'name': '<1000'},
    {'color': '#756bb1', 'name': '<3000'},
    {'color': '#54278f', 'name': '<25000'}],
   'type': 'choropleth'},
  'name': '2017 Domestic Extraction - Non-Metallic Minerals (tonnes, millions)',
  'protected': False,
  'provider': 'cartodb',
  'slug': '2017-Domestic-Extraction-of-Raw-Materials',
  'staticImageConfig': {},
  'updatedAt': '2017-12-15T15:20:57.326Z',
  'userId': '5981e73b0c069f3c93dc5e2a'},
 'id': 'a7dbbf23-254a-49a3-a5dd-b12378fa345b',
 'type': 'layer'}

In [236]:
carto_data.loc[carto_data['name'].str.lower().str.contains('conflict')]
# aliases set in Interaction Config
carto_data.loc['ea208a8b-4559-434b-82ee-95e041596a3a', 'layers']
# aliases set in dataset
carto_data.loc['ea208a8b-4559-434b-82ee-95e041596a3a']

url = "https://api.resourcewatch.org/v1/dataset/ea208a8b-4559-434b-82ee-95e041596a3a?sort=slug,-provider,userId&status=saved&includes=metadata,vocabulary,widget,layer"

# page[size] tells the API the maximum number of results to send back
# There are currently between 200 and 300 datasets on the RW API
payload = { "application":"rw", "page[size]": 1000}

# Request all datasets, and extract the data from the response
res = req.get(url, params=payload)
data = res.json()["data"]
data

{'attributes': {'application': ['rw'],
  'attributesPath': None,
  'blockchain': {},
  'clonedHost': {},
  'connectorType': 'rest',
  'connectorUrl': 'https://rw-nrt.carto.com/tables/soc_016_conflict_protest_events/public',
  'dataPath': '',
  'env': 'production',
  'errorMessage': '',
  'geoInfo': True,
  'layer': [{'attributes': {'application': ['rw'],
     'applicationConfig': {},
     'dataset': 'ea208a8b-4559-434b-82ee-95e041596a3a',
     'default': False,
     'description': '',
     'env': 'production',
     'interactionConfig': {'output': [{'column': 'event_date',
        'format': None,
        'prefix': '',
        'property': 'Event date',
        'suffix': '',
        'type': 'date'},
       {'column': 'event_type',
        'format': None,
        'prefix': '',
        'property': 'Event Type',
        'suffix': '',
        'type': 'string'},
       {'column': 'actor1',
        'format': None,
        'prefix': '',
        'property': 'Actor 1',
        'suffix': '',
        'type': 'string'},
       {'column': 'assoc_actor_1',
        'format': None,
        'prefix': '',
        'property': 'Associate Actor 1',
        'suffix': '',
        'type': 'string'},
       {'column': 'country',
        'format': None,
        'prefix': '',
        'property': 'Country',
        'suffix': '',
        'type': 'string'},
       {'column': 'fatalities',
        'format': None,
        'prefix': '',
        'property': 'Fatalities',
        'suffix': '',
        'type': 'number'},
       {'column': 'actor2',
        'format': None,
        'prefix': '',
        'property': 'Actor 2',
        'suffix': '',
        'type': 'string'}]},
     'iso': [],
     'layerConfig': {'account': 'rw-nrt',
      'body': {'layers': [{'options': {'cartocss': '#layer {marker-width:4; marker-opacity:1; marker-line-width:0.3; marker-line-color:#FFF; marker-line-opacity:1; marker-allow-overlap: true} [event_type="Violence against civilians"]{marker-fill:#6a3d9a;}  [event_type = "Riots/Protests"]{marker-fill:#cab2d6;} [event_type = "Violence against civilians"]{marker-fill:#8dd3c7;}  [event_type = "Battle-No change of territory"]{marker-fill:#b15928;} [event_type = "Remote violence"]{marker-fill:#e31a1c;} [event_type = "Strategic development"]{marker-fill:#fb9a99;}  [event_type = "Battle-Government regains territory"]{marker-fill:#33a02c;} [event_type="Battle-Non-state actor overtakes territory"]{marker-fill:#b2df8a;}  [event_type="Non-violent transfer of territory"]{marker-fill:#1f78b4;}  [event_type="Headquarters or base established"]{marker-fill:#a6cee3;} ',
          'cartocss_version': '2.3.0',
          'sql': 'SELECT * FROM soc_016_conflict_protest_events WHERE year=2017 ORDER by event_type desc '},
         'type': 'mapnik'}],
       'maxzoom': 18,
       'minzoom': 3},
      'pulseConfig': {'sql': 'SELECT st_transform(the_geom_webmercator,32663) as the_geom_webmercator, year, time_precision, event_type, event_date, actor1, actor2, country, location, source, notes, fatalities FROM soc_016_conflict_protest_events WHERE year=2017 ORDER by event_type desc ',
       'type': 'imageOverlay',
       'urlTemplate': 'https://{{account}}.carto.com/api/v1/map/static/bbox/{{token_groupid}}/{{bbox}}/{{width}}/{{height}}.{{format}}',
       'values': {'bbox': [-110, -65, 110, 65],
        'format': 'png',
        'height': 1024,
        'width': 2048}}},
     'legendConfig': {'items': [{'color': '#cab2d6', 'name': 'Riots/Protests'},
       {'color': '#8dd3c7', 'name': 'Violence against civilians'},
       {'color': '#b15928', 'name': 'Battle-No change of territory'},
       {'color': '#e31a1c', 'name': 'Remote violence'},
       {'color': '#fb9a99', 'name': 'Strategic development'},
       {'color': '#33a02c', 'name': 'Battle-Government regains territory'},
       {'color': '#b2df8a',
        'name': 'Battle-Non-state actor overtakes territory'},
       {'color': '#1f78b4', 'name': 'Non-violent transfer of territory'},
       {'color': '#a6cee3', 'name': 'Headquarters or base established'}],
      'type': 'basic'},
     'name': '2017 African and Asian Conflict and Protest Events',
     'protected': False,
     'provider': 'cartodb',
     'slug': 'African-and-Asian-Conflict-and-Protest-Events',
     'staticImageConfig': {},
     'updatedAt': '2018-03-07T16:20:26.088Z',
     'userId': '58f63c81bd32c60206ed6b12'},
    'id': '2a022fc2-bfed-477e-9a16-75a1fb594620',
    'type': 'layer'},
   {'attributes': {'application': ['rw'],
     'applicationConfig': {},
     'dataset': 'ea208a8b-4559-434b-82ee-95e041596a3a',
     'default': True,
     'description': '',
     'env': 'production',
     'interactionConfig': {'output': [{'column': 'event_date',
        'format': None,
        'prefix': '',
        'property': 'Event Date',
        'suffix': '',
        'type': 'date'},
       {'column': 'event_type',
        'format': None,
        'prefix': '',
        'property': 'Event Type',
        'suffix': '',
        'type': 'string'},
       {'column': 'fatalities',
        'format': None,
        'prefix': '',
        'property': 'Fatalities',
        'suffix': '',
        'type': 'number'}]},
     'iso': [],
     'layerConfig': {'account': 'rw-nrt',
      'body': {'layers': [{'options': {'cartocss': '#layer {marker-width:4; marker-opacity:1; marker-line-width:0.3; marker-line-color:#FFF; marker-line-opacity:1; marker-allow-overlap: true} [event_type="Violence against civilians"]{marker-fill:#6a3d9a;}  [event_type = "Riots/Protests"]{marker-fill:#cab2d6;} [event_type = "Violence against civilians"]{marker-fill:#8dd3c7;}  [event_type = "Battle-No change of territory"]{marker-fill:#b15928;} [event_type = "Remote violence"]{marker-fill:#e31a1c;} [event_type = "Strategic development"]{marker-fill:#fb9a99;}  [event_type = "Battle-Government regains territory"]{marker-fill:#33a02c;} [event_type="Battle-Non-state actor overtakes territory"]{marker-fill:#b2df8a;}  [event_type="Non-violent transfer of territory"]{marker-fill:#1f78b4;}  [event_type="Headquarters or base established"]{marker-fill:#a6cee3;} ',
          'cartocss_version': '2.3.0',
          'sql': "SELECT * FROM soc_016_conflict_protest_events WHERE (event_date > current_date - interval '30 day') "},
         'type': 'mapnik'}],
       'maxzoom': 18,
       'minzoom': 3},
      'pulseConfig': {'sql': 'SELECT st_transform(the_geom_webmercator,32663) as the_geom_webmercator, year, time_precision, event_type, event_date, actor1, actor2, country, location, source, notes, fatalities FROM soc_016_conflict_protest_events WHERE year=2017 ORDER by event_type desc ',
       'type': 'imageOverlay',
       'urlTemplate': 'https://{{account}}.carto.com/api/v1/map/static/bbox/{{token_groupid}}/{{bbox}}/{{width}}/{{height}}.{{format}}',
       'values': {'bbox': [-110, -65, 110, 65],
        'format': 'png',
        'height': 1024,
        'width': 2048}}},
     'legendConfig': {'items': [{'color': '#cab2d6', 'name': 'Riots/Protests'},
       {'color': '#8dd3c7', 'name': 'Violence against civilians'},
       {'color': '#b15928', 'name': 'Battle-No change of territory'},
       {'color': '#e31a1c', 'name': 'Remote violence'},
       {'color': '#fb9a99', 'name': 'Strategic development'},
       {'color': '#33a02c', 'name': 'Battle-Government regains territory'},
       {'color': '#b2df8a',
        'name': 'Battle-Non-state actor overtakes territory'},
       {'color': '#1f78b4', 'name': 'Non-violent transfer of territory'},
       {'color': '#a6cee3', 'name': 'Headquarters or base established'}],
      'type': 'basic'},
     'name': 'African and Asian Conflict and Protest Events (past 30 days)',
     'protected': False,
     'provider': 'cartodb',
     'slug': 'African-and-Asian-Conflict-and-Protest-Events-past-30-days',
     'staticImageConfig': {},
     'updatedAt': '2018-03-07T16:20:18.241Z',
     'userId': '58f63c81bd32c60206ed6b12'},
    'id': '2da3bbb8-a8b7-47b7-b3bc-823ddc330960',
    'type': 'layer'}],
  'layerRelevantProps': [],
  'legend': {'country': [], 'date': [], 'nested': [], 'region': []},
  'metadata': [{'attributes': {'application': 'rw',
     'createdAt': '2018-03-07T17:01:55.647Z',
     'dataset': 'ea208a8b-4559-434b-82ee-95e041596a3a',
     'description': 'The Conflict and Protest Events in Asian and African States data produced by ACLED give information on the specific dates and locations of political violence and protest, the types of events, the groups involved, fatalities, and changes in territorial control. Information is recorded on the battles, killings, riots, and recruitment activities of rebels, governments, militias, armed groups, protesters, and civilians, including events that occur in the context of civil wars and periods of instability, public protest, and regime breakdown. ACLED has recorded nearly 200,000 individual events, with ongoing data collection focused on Africa and 10 countries in South and Southeast Asia. These data can be used for immediate and long-term analysis and mapping of political violence and protest across developing countries through use of historical data, as well as informing humanitarian and development work in crisis and conflict-affected contexts through real-time data updates and reports. The project covers all African countries from 1997 to the present, and select countries in the Middle East and Asia from 2010 or 2018. Resource Watch shows only a subset of the dataset. For access to the full dataset and additional information, see the Learn More link.',
     'info': {'cautions': 'All ACLED data remain subject to some limitations, and this is particularly true of fatality data. While the "hard facts" of data such as the date, location, and actors have been shown to be largely consistent with those of private, closed security sources, fatality data are particularly vulnerable to bias and inaccurate reporting. If there are conflicting reports of the number of fatalities, ACLED researchers will note the varying reported figures in the Notes column and use the figure cited by the most authoritative source. In the absence of a definitive authoritative source, ACLED will assign the most conservative estimate cited to the Fatalities column. Users are urged to remember that fatality figures reflected reported levels of deaths and have not been independently verified by team researchers.',
      'citation': 'Raleigh, Clionadh, Andrew Linke, Håvard Hegre, and Joakim Karlsen. 2010. "Introducing ACLED-Armed Conflict Location and Event Data." Journal of Peace Research47(5): 651-660. Retrieved from http://www.acleddata.com/data/realtime-data. Accessed through Resource Watch on [date]. www.resourcewatch.org.',
      'data_download_link': None,
      'data_download_original_link': 'https://www.acleddata.com/data/',
      'data_type': 'Vector',
      'date_of_content': '1997-present',
      'frequency_of_updates': 'Weekly (Mondays)',
      'functions': 'Displays real-time conflicts and protest in Select Asian and African states',
      'geographic_coverage': 'Africa',
      'learn_more_link': 'http://www.acleddata.com/data/',
      'license': 'ACLED data are publicly available without charge. The data included in it are not confidential and so can be shared and analyzed publicly. ACLED data can be used for academic and policy research, as well as analysis specific to organisations operating in target countries. All users are asked to cite Raleigh, Clionadh, Andrew Linke, Håvard Hegre, and Joakim Karlsen. 2010. "Introducing ACLED-Armed Conflict Location and Event Data." Journal of Peace Research47(5): 651-660.',
      'license_link': 'http://www.acleddata.com/frequently-asked-questions/',
      'name': 'Conflict and Protest Events in Asian and African States',
      'rwId': 'soc.016',
      'sources': [{'id': 0,
        'source-description': '',
        'source-name': 'Armed Conflict Location and Event Data Project (ACLED)'}],
      'spatial_resolution': None,
      'technical_title': 'Conflict and Protest Data for African States',
      'wri_rw_id': 'soc.016'},
     'language': 'en',
     'name': 'Conflict and Protest Events in Asian and African States',
     'resource': {'id': 'ea208a8b-4559-434b-82ee-95e041596a3a',
      'type': 'dataset'},
     'source': 'ACLED',
     'status': 'published',
     'updatedAt': '2018-03-09T17:20:30.092Z'},
    'id': '5aa01b03f77aff0010bd4430',
    'type': 'metadata'}],
  'name': 'soc.016 African and Asian Conflict and Protest Events NRT',
  'overwrite': False,
  'protected': False,
  'provider': 'cartodb',
  'published': True,
  'slug': 'soc_016-African-and-Asian-Conflict-and-Protest-Events',
  'status': 'saved',
  'subscribable': {},
  'subtitle': 'soc.016NRT',
  'tableName': 'soc_016_conflict_protest_events',
  'taskId': None,
  'type': 'tabular',
  'updatedAt': '2018-03-07T17:02:13.973Z',
  'userId': '58f63c81bd32c60206ed6b12',
  'verified': False,
  'vocabulary': [{'attributes': {'application': 'rw',
     'name': 'knowledge_graph',
     'resource': {'id': 'ea208a8b-4559-434b-82ee-95e041596a3a',
      'type': 'dataset'},
     'tags': ['geospatial',
      'vector',
      'africa',
      'asia',
      'conflict',
      'protest',
      'near_real_time',
      'historical']},
    'type': 'vocabulary'}],
  'widget': [{'attributes': {'application': ['rw'],
     'authors': '',
     'createdAt': '2018-03-07T17:04:29.944Z',
     'dataset': 'ea208a8b-4559-434b-82ee-95e041596a3a',
     'default': True,
     'defaultEditableWidget': True,
     'description': '',
     'env': 'production',
     'freeze': False,
     'name': 'Conflict and Protest Event Fatalities',
     'protected': False,
     'published': True,
     'queryUrl': '',
     'slug': 'Conflict-and-Protest-Event-Fatalities',
     'source': '',
     'template': False,
     'updatedAt': '2018-03-07T17:04:29.944Z',
     'userId': '58f63c81bd32c60206ed6b12',
     'verified': False,
     'widgetConfig': {'axes': [{'encode': {'labels': {'update': {'align': {'signal': "width < 300 || extent[1] > 10 ? 'right' : 'center'"},
           'angle': {'signal': 'width < 300 || extent[1] > 10 ? -90 :0 '},
           'baseline': {'signal': "width < 300 || extent[1] > 10 ? 'middle' : 'top'"},
           'text': {'signal': "utcFormat(datum.value, '%b %Y')"}}}},
        'labelOverlap': 'parity',
        'orient': 'bottom',
        'scale': 'x',
        'ticks': False},
       {'encode': {'labels': {'update': {'align': {'value': 'right'},
           'baseline': {'value': 'bottom'}}}},
        'labelOverlap': 'parity',
        'orient': 'left',
        'scale': 'y'}],
      'data': [{'format': {'parse': {'x': 'date'},
         'property': 'data',
         'type': 'json'},
        'name': 'table',
        'url': 'https://api.resourcewatch.org/v1/query/ea208a8b-4559-434b-82ee-95e041596a3a?sql=SELECT event_date as x, fatalities as y FROM soc_016_conflict_protest_events    LIMIT 500'},
       {'name': 'stats',
        'source': 'table',
        'transform': [{'as': ['value'],
          'fields': ['x'],
          'ops': ['distinct'],
          'type': 'aggregate'},
         {'field': 'value', 'signal': 'extent', 'type': 'extent'}]}],
      'interaction_config': [{'config': {'fields': [{'column': 'y',
           'format': '.2s',
           'property': 'Fatalities',
           'type': 'number'},
          {'column': 'x',
           'format': '%b %Y',
           'property': 'Event_date',
           'type': 'date'}]},
        'name': 'tooltip'}],
      'marks': [{'encode': {'hover': {'opacity': {'value': 0.8}},
         'update': {'opacity': {'value': 1},
          'width': {'band': 1, 'scale': 'x'},
          'x': {'field': 'x', 'scale': 'x'},
          'y': {'field': 'y', 'scale': 'y'},
          'y2': {'scale': 'y', 'value': 0}}},
        'from': {'data': 'table'},
        'type': 'rect'}],
      'paramsConfig': {'aggregateFunction': None,
       'areaIntersection': None,
       'band': None,
       'caption': None,
       'category': {'datasetID': 'ea208a8b-4559-434b-82ee-95e041596a3a',
        'name': 'event_date',
        'tableName': 'soc_016_conflict_protest_events',
        'type': 'date'},
       'chartType': 'bar',
       'color': None,
       'filters': [],
       'layer': None,
       'limit': 500,
       'orderBy': None,
       'size': None,
       'value': {'datasetID': 'ea208a8b-4559-434b-82ee-95e041596a3a',
        'name': 'fatalities',
        'tableName': 'soc_016_conflict_protest_events',
        'type': 'number'},
       'visualizationType': 'chart'},
      'scales': [{'domain': {'data': 'table', 'field': 'x'},
        'name': 'x',
        'padding': 0.05,
        'range': 'width',
        'type': 'band'},
       {'domain': {'data': 'table', 'field': 'y'},
        'name': 'y',
        'nice': True,
        'range': 'height',
        'type': 'linear',
        'zero': True}]}},
    'id': 'f8570c31-4ba4-413e-8f14-7cabaf9440ea',
    'type': 'widget'},
   {'attributes': {'application': ['rw'],
     'createdAt': '2018-03-07T17:40:05.291Z',
     'dataset': 'ea208a8b-4559-434b-82ee-95e041596a3a',
     'default': False,
     'defaultEditableWidget': False,
     'env': 'production',
     'freeze': False,
     'name': 'Blub',
     'protected': False,
     'published': True,
     'slug': 'Blub',
     'template': False,
     'updatedAt': '2018-03-07T17:40:05.291Z',
     'userId': '598878794984a0051f739f63',
     'verified': False,
     'widgetConfig': {'axes': [{'encode': {'labels': {'update': {'align': {'signal': "width < 300 || extent[1] > 10 ? 'right' : 'center'"},
           'angle': {'signal': 'width < 300 || extent[1] > 10 ? -90 :0 '},
           'baseline': {'signal': "width < 300 || extent[1] > 10 ? 'middle' : 'top'"},
           'text': {'signal': "utcFormat(datum.value, '%b %Y')"}}}},
        'labelOverlap': 'parity',
        'orient': 'bottom',
        'scale': 'x',
        'ticks': False},
       {'encode': {'labels': {'update': {'align': {'value': 'right'},
           'baseline': {'value': 'bottom'}}}},
        'labelOverlap': 'parity',
        'orient': 'left',
        'scale': 'y'}],
      'data': [{'format': {'parse': {'x': 'date'},
         'property': 'data',
         'type': 'json'},
        'name': 'table',
        'url': "https://api.resourcewatch.org/v1/query/ea208a8b-4559-434b-82ee-95e041596a3a?sql=SELECT event_date as x, fatalities as y FROM soc_016_conflict_protest_events WHERE (event_date > current_date - interval '14 day') LIMIT 500"},
       {'name': 'stats',
        'source': 'table',
        'transform': [{'as': ['value'],
          'fields': ['x'],
          'ops': ['distinct'],
          'type': 'aggregate'},
         {'field': 'value', 'signal': 'extent', 'type': 'extent'}]}],
      'interaction_config': [{'config': {'fields': [{'column': 'y',
           'format': '.2s',
           'property': 'Fatalities',
           'type': 'number'},
          {'column': 'x',
           'format': '%b %Y',
           'property': 'Event_date',
           'type': 'date'}]},
        'name': 'tooltip'}],
      'marks': [{'encode': {'hover': {'opacity': {'value': 0.8}},
         'update': {'opacity': {'value': 1},
          'width': {'band': 1, 'scale': 'x'},
          'x': {'field': 'x', 'scale': 'x'},
          'y': {'field': 'y', 'scale': 'y'},
          'y2': {'scale': 'y', 'value': 0}}},
        'from': {'data': 'table'},
        'type': 'rect'}],
      'paramsConfig': {'aggregateFunction': None,
       'areaIntersection': None,
       'band': None,
       'caption': None,
       'category': {'datasetID': 'ea208a8b-4559-434b-82ee-95e041596a3a',
        'name': 'event_date',
        'tableName': 'soc_016_conflict_protest_events',
        'type': 'date'},
       'chartType': 'bar',
       'color': None,
       'filters': [],
       'layer': None,
       'limit': 500,
       'orderBy': None,
       'size': None,
       'value': {'datasetID': 'ea208a8b-4559-434b-82ee-95e041596a3a',
        'name': 'fatalities',
        'tableName': 'soc_016_conflict_protest_events',