In [2]:
import cartoframes
import pandas as pd
pd.options.display.max_columns = 200

import requests as req
import json
import boto3
import io
import datetime
from datetime import datetime
from collections import defaultdict

import sys
import logging
import os
logging.basicConfig(stream=sys.stderr, level=logging.DEBUG)

Parameters

In [253]:
datasets_in_wide_form = {} #{wri_id1:rw_id1, wri_id2, rw_id2, ...}

###
## Read from docker data volume - stored in json - can be hooked into API as microservice
###

# Long form table possibilities
datasets = {"cit.022":"6b670396-c52c-430c-b5bb-20693da03b60","cit.025":"d38d0d5c-31b1-47f4-9d2e-d8fba4c7d083","cit.028":"35ce2b98-adbb-4873-b334-d7b1cc542de7","cit.029":"10337db6-8321-445e-a60b-28fc1e114f29","cli.007":"3d2ce960-abda-4c9c-bd29-1929e9ca24c9","cli.008":"3a46f6b4-0eec-49d4-bbfc-e2e8f64e6117","com.006":"2e31a1f3-576b-46b4-84f0-3f0cc399f887","com.007":"fe311144-8c0e-4440-b068-6efd057e0f6a","com.009":"c61c364b-1d68-4dd9-ae3d-76c2a0022280","com.010":"52c55378-0484-48c3-92fc-3ee94d21c716","com.015":"c18a38cd-94ff-48cd-818f-6ffb05992abb","com.019":"5e3a3a9f-7380-47c0-ad84-2c193861e106","com.028":"62c988a7-1e4d-418e-87bf-a743e24209e8","ene.012":"d446a52e-c4c1-4e74-ae30-3204620a0365","ene.021":"2c092793-aa3a-4520-959c-ad48165dcae4","ene.022":"d639909f-bcf3-4875-b8c3-35f030b68ed3","ene.028":"c665f519-eef9-4f67-a8bf-7e3e6dc8bfcd","foo.006":"2034a766-6e8a-416d-b8ab-9b7b3e3abb15","foo.015":"4338471d-881a-475f-8bd9-60c4d48b8e12","foo.019":"8bc79a36-d77e-4ee3-b9bc-c77146cfc503","foo.040":"91ff1359-6680-49bc-8002-20256e999993","foo.041":"ccfb322a-20aa-4132-b58b-0f76acec8f5a","foo.042":"7a551dd8-b59c-4f59-9d50-c92cb61c5799","foo.043":"95b013a3-389a-4367-83b7-c9d68c28c406","for.021":"05b7c688-09ba-4f33-90ea-185a1039df43","soc.004":"bea122ce-1e4b-465d-8b7b-fa11aadd20f7","cit.017":"0303127a-70b0-4164-9251-d8162615d058","soc.005":"a7067e9f-fe40-4338-85da-13a6071c76fe","soc.006":"a89c95c7-0b82-4162-b9d8-cc0205e9f7ec","soc.008":"00abb46f-34e2-4bf7-be30-1fb0b1de022f","soc.015":"e8f53f73-d77c-485a-a2a6-1c47ea4aead9","soc.020":"f8d3e79c-c3d0-4f9a-9b68-9c5ad1f025e4","soc.023":"d3a6b89f-cf5c-40cf-b2b3-ac1c8315c648","soc.029":"7793f46c-a48a-466f-a8ce-ca1a87b7aeed","soc.035":"e7780d53-ad80-45bd-a271-79615ee97a37","soc.036":"8671f536-1979-4b6f-a147-70152fcb44ed","soc.039":"b37048be-9b23-4458-a047-888956c69aa1","soc.040":"37d04efc-0ab2-4499-a891-54dca1013c74","soc.062":"5e69cfac-1f68-4864-a19a-3c1bdb180100","wat.005":"1b97e47e-ca18-4e50-9aae-a2853acca3f0","cli.029":"fa6443ff-eb95-4d0f-84d2-f0c91682efdf"}
datasets_in_wide_form = datasets
datasets_to_geolocate_with_rw_countries = datasets

Code

In [3]:



###
## Set up S3 access ###
### 



#aws_access_key_id = os.environ.get('aws_access_key_id')
#aws_secret_access_key = os.environ.get('aws_secret_access_key')

s3_bucket = "wri-public-data"
s3_folder = "resourcewatch/wide_to_long/"

s3_client = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)



# Functions for reading and uploading data to/from S3
def read_from_S3(bucket, key, index_col=0):
    obj = s3_client.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()), index_col=[index_col], encoding="utf8")
    return(df)

def write_to_S3(df, bucket, key):
    csv_buffer = io.StringIO()
    # Need to set encoding in Python2... default of 'ascii' fails
    df.to_csv(csv_buffer, encoding='utf-8')
    s3_resource.Object(bucket, key).put(Body=csv_buffer.getvalue())

    
    
    
    
###
## Set up carto context ###
###

#CARTO_USER = os.environ.get('CARTO_USER')
#CARTO_KEY = os.environ.get('CARTO_KEY')
cc = cartoframes.CartoContext(base_url='https://{}.carto.com/'.format(CARTO_USER),
                              api_key=CARTO_KEY)




###
## Access data from API
###


# Base URL for getting dataset metadata from RW API
url = "https://api.resourcewatch.org/v1/dataset?sort=slug,-provider,userId&status=saved&includes=metadata,vocabulary,widget,layer"

# page[size] tells the API the maximum number of results to send back
# There are currently between 200 and 300 datasets on the RW API
payload = { "application":"rw", "page[size]": 1000}

# Request all datasets, and extract the data from the response
res = req.get(url, params=payload)
data = res.json()["data"]

### Convert the json object returned by the API into a pandas DataFrame
# Another option: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html
datasets_on_api = {}
for ix, dset in enumerate(data):
    atts = dset["attributes"]
    metadata = atts["metadata"]
    layers = atts["layer"]
    widgets = atts["widget"]
    tags = atts["vocabulary"]
    datasets_on_api[dset["id"]] = {
        "name":atts["name"],
        "table_name":atts["tableName"],
        "provider":atts["provider"],
        "date_updated":atts["updatedAt"],
        "num_metadata":len(metadata),
        "metadata": metadata,
        "num_layers":len(layers),
        "layers": layers,
        "num_widgets":len(widgets),
        "widgets": widgets,
        "num_tags":len(tags),
        "tags":tags
    }

# Create the DataFrame, name the index, and sort by date_updated
# More recently updated datasets at the top
current_datasets_on_api = pd.DataFrame.from_dict(datasets_on_api, orient='index')
current_datasets_on_api.index.rename("Dataset", inplace=True)
current_datasets_on_api.sort_values(by=["date_updated"], inplace=True, ascending = False)

# Select all Carto datasets on the API:
provider = "cartodb"
carto_ids = (current_datasets_on_api["provider"]==provider)
carto_data = current_datasets_on_api.loc[carto_ids]

logging.info("Number of Carto datasets: " + str(carto_data.shape[0]))

NameError: name 'aws_access_key_id' is not defined

In [304]:
# Load config options
try:
    table_info = json.load(open('./table_info.json', 'r'))
except Exception as e:
    logging.info(e)
    table_info = {}
table_info

{'%20soc_023_fragile_states_index': {'error': '* Problem fetching %20soc_023_fragile_states_index from Carto server *'},
 'cit_022_road_traffic_deaths_by_country': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'death_rate_per_100000'],
   'parse_date': True,
   'prefixes': ['estimated_number_of_road_traffic_deaths']}},
 'cit_025_urban_population': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_028_percent_urban_slums_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_029_municipal_waste': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cli_007_greenhouse_gas_emissions_projections': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_008_greenhouse_gas_emissions_country_sector': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_029_vulnerability_to_cc': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['gain', 'readiness', 'vulnerability']}},
 'com_006_national_current_accounts_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_007_fdi_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'field_1',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_009_1_material_flows_main': {'config_options': {'_incl': False,
   'country_code': 'isoalpha3',
   'country_name': False,
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_010_gdp_ppp_usd': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_015_recycling_rates': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_019_ecological_footprint_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_028_effect_of_ag_prices_on_commodity_prices': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'country_aliases': {'config_options': {}},
 'ene_012_electricity_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}},
 'ene_017_energy_facility_emissions_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': False,
   'id_cols': [''],
   'prefixes': ['already long']}},
 'ene_021_se4all_country_indicators': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_022_se4all_tracking_goals': {'config_options': {'_incl': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['series_name', 'series_code', 'country_name', 'country_code'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_028_access_clean_cooking_fuels': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'foo_006_effects_climate_change_food_production': {'config_options': {'_incl': False,
   'country_code': 'iso3v10',
   'country_name': 'country',
   'id_cols': ['bls_2_countries__sres__abbrevname',
    'fips_code',
    'iso3v10',
    'wh_2000',
    'ri_2000',
    'mz_2000',
    'country',
    'wh_gr',
    'ri_gr',
    'mz_gr'],
   'parse_date': True,
   'prefixes': ['a1fi',
    'a2a',
    'a2b',
    'a2c',
    'actchmza1f',
    'actchmza2a',
    'actchmza2b',
    'actchmza2c',
    'actchmzb1a',
    'actchmzb2a',
    'actchmzb2b',
    'actchria2a',
    'actchria2b',
    'actchria2c',
    'actchriaif',
    'actchrib1a',
    'actchrib2a',
    'actchrib2b',
    'actchwha1f',
    'actchwha2a',
    'actchwha2b',
    'actchwha2c',
    'actchwhb1a',
    'actchwhb2a',
    'actchwhb2b',
    'b1a',
    'b2a',
    'b2b',
    'mza1f',
    'mza2a',
    'mza2b',
    'mza2c',
    'mzb1a',
    'mzb2a',
    'mzb2b',
    'ria1f',
    'ria2a',
    'ria2b',
    'ria2c',
    'rib1a',
    'rib2a',
    'rib2b',
    'wha1f',
    'wha2a',
    'wha2b',
    'wha2c',
    'whb1a',
    'whb2a',
    'whb2b']}},
 'foo_015_global_hunger_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['ghi']}},
 'foo_019_child_malnutrition_edit': {'config_options': {'_incl': False,
   'country_code': 'iso_code',
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_040_fisheries_vuln_climat': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'field_8'],
   'parse_date': False,
   'prefixes': ['already long']}},
 'foo_041_agricultural_emissions': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_042_agricultural_production_value': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'area',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_43_agriculture_value_added': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'for_021_certified_forest_edit': {'config_options': {'_incl': False,
   'country_code': 'iso',
   'country_name': 'name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'geometry': {'config_options': {}},
 'soc_004_human_development_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_005_political_rights_civil_liberties_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_006_multidimensional_poverty_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'latest'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_008_gdp_per_capita_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_015_adult_literacy_rate': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr', 'male', 'female']}},
 'soc_020_gini': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_023_fragile_states_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['rank', 'score']}},
 'soc_025_gender_inequality_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_029_worldwide_governance_indicators': {'config_options': {'_incl': True,
   'country_code': 'wbcode',
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'wbcode'],
   'parse_date': True,
   'prefixes': ['control_of_corruption',
    'government_effectiveness',
    'political_stability',
    'regulatory_quality',
    'rule_of_law',
    'voice_accountability']}},
 'soc_035_land_deals': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'target_country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_036_life_expectancy_at_birth': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_039_out_of_school_rate_edit': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_040_improved_sanitation': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['rural', 'urban', 'total']}},
 'soc_062_internal_displacement_conflict_and_natural_disaster': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_or_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'wat_005_improved_water_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}}}

In [305]:
### This wrapper allows for only overwriting the 'data' table below... before had to wipe long_data to rerun this

def ddwrapper():
    return defaultdict(lambda : pd.DataFrame())

tables = defaultdict(ddwrapper)

tables['geometry'] = {
    'data':cc.read('wri_countries_a')
}
table_info['geometry'] = {
    'config_options':{}
}

tables['country_aliases'] = {
    'old_data':cc.read('rw_aliasing_countries'),
    'data':cc.read('country_aliases_extended')
}
table_info['country_aliases'] = {
    'config_options':{}
}


###
## This is currently built out to read data already on the API... 
## could be used to prepare data for upload to the API
###



for rw_id, api_id in datasets_in_wide_form.items():
    logging.info(rw_id)

    # Fetch table name
    try:
        table_name = carto_data.loc[api_id]['table_name'].replace('%20', '')
    except:
        msg = '***** ' + rw_id + ' not in carto_data *****'
        table_info[table_name] = {
            'error':msg
        }
        logging.info(msg)

    '''
    if table_name in table_info:
        if 'config_options' in table_info[table_name]:
            if 'prefixes' in table_info[table_name]['config_options']:
                if table_info[table_name]['config_options']['prefixes'] in [[u'--'], [u'already long']]:
                    logging.info('not fetching data for ' + table_name)
                    continue
    '''

    # Fetch data
    try:
        tables[table_name]['data'] = cc.read(table_name)
        if 'config_options' not in table_info[table_name]:
            logging.info('updating table_info for ' + table_name)
            table_info[table_name] = {
                'config_options':{}
            }
    except:
        msg = '***** Problem fetching ' + table_name + ' from Carto server *****'
        if table_name in table_info:
            if 'error' in table_info[table_name]:
                logging.info(table_info[table_name]['error'])
        else:
            table_info[table_name] = {
                'error':msg
            }
            logging.info(msg)


for name, info in tables.items():
    logging.info('table name: ' + name)
    try:
        logging.info('table shape: ' + str(info['data'].shape))
    except:
        logging.info(info['error'])

table_info['soc_023_fragile_states_index'] = {
    'config_options':{'prefixes':['rank', 'score'], 'country_code':False, 'country_name':'country',
                     'id_cols':['country']}
}

table_info['ene_022_se4all_tracking_goals']['config_options']['id_cols'] = ['series_name', 'series_code', 
                                                                            'country_name', 'country_code']

table_info['foo_006_effects_climate_change_food_production']['config_options']['id_cols'] = ['bls_2_countries__sres__abbrevname', 
                                                                                            'fips_code', 'iso3v10',
                                                                                            'wh_2000', 'ri_2000', 'mz_2000',
                                                                                            'country','wh_gr', 'ri_gr', 'mz_gr']
table_info['foo_006_effects_climate_change_food_production']['config_options']['country_code'] = 'iso3v10'
table_info['foo_006_effects_climate_change_food_production']['config_options']['country_name'] = 'country'

table_info['soc_023_fragile_states_index']['config_options']['_incl'] = True
table_info['soc_023_fragile_states_index']['config_options']['country_code'] = False
table_info['soc_023_fragile_states_index']['config_options']['country_name'] = 'country'
table_info['soc_023_fragile_states_index']['config_options']['id_cols'] = ['country']

DEBUG:urllib3.connectionpool:Resetting dropped connection: wri-rw.carto.com
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22wri_countries_a%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22rw_aliasing_countries%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22country_aliases_extended%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cit.022
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cit_022_road_traffic_deaths_by_country%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cit.025
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cit_025_urban_population%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cit.028
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cit_028_percent_urban_slums_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cit.029
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cit_029_municipal_waste%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cli.007
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cli_007_greenhouse_gas_emissions_projections%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cli.008
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cli_008_greenhouse_gas_emissions_country_sector%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.006
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_006_national_current_accounts_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.007
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_007_fdi_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.009
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_009_1_material_flows_main%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.010
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_010_gdp_ppp_usd%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.015
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_015_recycling_rates%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.019
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_019_ecological_footprint_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:com.028
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22com_028_effect_of_ag_prices_on_commodity_prices%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:ene.012
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22ene_012_electricity_access%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:ene.021
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22ene_021_se4all_country_indicators%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:ene.022
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22ene_022_se4all_tracking_goals%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:ene.028
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22ene_028_access_clean_cooking_fuels%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.006
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_006_effects_climate_change_food_production%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.015
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_015_global_hunger_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.019
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_019_child_malnutrition_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.040
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_040_fisheries_vuln_climat%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.041
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_041_agricultural_emissions%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.042
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_042_agricultural_production_value%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:foo.043
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22foo_43_agriculture_value_added%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:for.021
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22for_021_certified_forest_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.004
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_004_human_development_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cit.017
INFO:root:***** cit.017 not in carto_data *****
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_004_human_development_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:updating table_info for soc_004_human_development_index
INFO:root:soc.005
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_005_political_rights_civil_liberties_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.006
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_006_multidimensional_poverty_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.008
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_008_gdp_per_capita_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.015
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_015_adult_literacy_rate%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.020
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_020_gini%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.023
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_023_fragile_states_index%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.029
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_029_worldwide_governance_indicators%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.035
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_035_land_deals%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.036
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_036_life_expectancy_at_birth%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.039
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_039_out_of_school_rate_edit%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.040
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_040_improved_sanitation%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:soc.062
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22soc_062_internal_displacement_conflict_and_natural_disaster%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:wat.005
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22wat_005_improved_water_access%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:cli.029
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=SELECT+%2A+FROM+%22cli_029_vulnerability_to_cc%22&skipfields=the_geom_webmercator&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:table name: geometry
INFO:root:table shape: (193, 29)
INFO:root:table name: country_aliases
INFO:root:table shape: (305, 5)
INFO:root:table name: cit_022_road_traffic_deaths_by_country
INFO:root:table shape: (179, 5)
INFO:root:table name: cit_025_urban_population
INFO:root:table shape: (218, 63)
INFO:root:table name: cit_028_percent_urban_slums_edit
INFO:root:table shape: (218, 63)
INFO:root:table name: cit_029_municipal_waste
INFO:root:table shape: (34, 29)
INFO:root:table name: cli_007_greenhouse_gas_emissions_projections
INFO:root:table shape: (8, 12)
INFO:root:table name: cli_008_greenhouse_gas_emissions_country_sector
INFO:root:table shape: (191, 24)
INFO:root:table name: com_006_national_current_accounts_edit
INFO:root:table shape: (217, 63)
INFO:root:table name: com_007_fdi_index
INFO:root:table shape: (62, 46)
INFO:root:table name: com_009_1_material_flows_main
INFO:root:table shape: (845088, 7)
INFO:root:table name: com_010_gdp_ppp_usd
INFO:root:table shape: (218, 33)
INFO:root:table name: com_015_recycling_rates
INFO:root:table shape: (33, 30)
INFO:root:table name: com_019_ecological_footprint_edit
INFO:root:table shape: (192, 15)
INFO:root:table name: com_028_effect_of_ag_prices_on_commodity_prices
INFO:root:table shape: (56, 25)
INFO:root:table name: ene_012_electricity_access
INFO:root:table shape: (264, 79)
INFO:root:table name: ene_021_se4all_country_indicators
INFO:root:table shape: (227, 27)
INFO:root:table name: ene_022_se4all_tracking_goals
INFO:root:table shape: (228, 31)
INFO:root:table name: ene_028_access_clean_cooking_fuels
INFO:root:table shape: (217, 15)
INFO:root:table name: foo_006_effects_climate_change_food_production
INFO:root:table shape: (163, 159)
INFO:root:table name: foo_015_global_hunger_index
INFO:root:table shape: (132, 7)
INFO:root:table name: foo_019_child_malnutrition_edit
INFO:root:table shape: (150, 24)
INFO:root:table name: foo_040_fisheries_vuln_climat
INFO:root:table shape: (147, 10)
INFO:root:table name: foo_041_agricultural_emissions
INFO:root:table shape: (235, 15)
INFO:root:table name: foo_042_agricultural_production_value
INFO:root:table shape: (150, 16)
INFO:root:table name: foo_43_agriculture_value_added
INFO:root:table shape: (218, 63)
INFO:root:table name: for_021_certified_forest_edit
INFO:root:table shape: (213, 5)
INFO:root:table name: soc_004_human_development_index
INFO:root:table shape: (188, 30)
INFO:root:table name: soc_005_political_rights_civil_liberties_index
INFO:root:table shape: (195, 18)
INFO:root:table name: soc_006_multidimensional_poverty_index
INFO:root:table shape: (102, 16)
INFO:root:table name: soc_008_gdp_per_capita_edit
INFO:root:table shape: (218, 33)
INFO:root:table name: soc_015_adult_literacy_rate
INFO:root:table shape: (264, 88)
INFO:root:table name: soc_020_gini
INFO:root:table shape: (218, 64)
INFO:root:table name: soc_023_fragile_states_index
INFO:root:table shape: (178, 27)
INFO:root:table name: soc_029_worldwide_governance_indicators
INFO:root:table shape: (214, 10)
INFO:root:table name: soc_035_land_deals
INFO:root:table shape: (92, 4)
INFO:root:table name: soc_036_life_expectancy_at_birth
INFO:root:table shape: (218, 63)
INFO:root:table name: soc_039_out_of_school_rate_edit
INFO:root:table shape: (239, 20)
INFO:root:table name: soc_040_improved_sanitation
INFO:root:table shape: (218, 82)
INFO:root:table name: soc_062_internal_displacement_conflict_and_natural_disaster
INFO:root:table shape: (133, 6)
INFO:root:table name: wat_005_improved_water_access
INFO:root:table shape: (216, 82)
INFO:root:table name: cli_029_vulnerability_to_cc
INFO:root:table shape: (192, 67)

In [306]:
table_info

{'%20soc_023_fragile_states_index': {'error': '* Problem fetching %20soc_023_fragile_states_index from Carto server *'},
 'cit_022_road_traffic_deaths_by_country': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'death_rate_per_100000'],
   'parse_date': True,
   'prefixes': ['estimated_number_of_road_traffic_deaths']}},
 'cit_025_urban_population': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_028_percent_urban_slums_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_029_municipal_waste': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cli_007_greenhouse_gas_emissions_projections': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_008_greenhouse_gas_emissions_country_sector': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_029_vulnerability_to_cc': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['gain', 'readiness', 'vulnerability']}},
 'com_006_national_current_accounts_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_007_fdi_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'field_1',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_009_1_material_flows_main': {'config_options': {'_incl': False,
   'country_code': 'isoalpha3',
   'country_name': False,
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_010_gdp_ppp_usd': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_015_recycling_rates': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_019_ecological_footprint_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_028_effect_of_ag_prices_on_commodity_prices': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'country_aliases': {'config_options': {}},
 'ene_012_electricity_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}},
 'ene_017_energy_facility_emissions_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': False,
   'id_cols': [''],
   'prefixes': ['already long']}},
 'ene_021_se4all_country_indicators': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_022_se4all_tracking_goals': {'config_options': {'_incl': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['series_name', 'series_code', 'country_name', 'country_code'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_028_access_clean_cooking_fuels': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'foo_006_effects_climate_change_food_production': {'config_options': {'_incl': False,
   'country_code': 'iso3v10',
   'country_name': 'country',
   'id_cols': ['bls_2_countries__sres__abbrevname',
    'fips_code',
    'iso3v10',
    'wh_2000',
    'ri_2000',
    'mz_2000',
    'country',
    'wh_gr',
    'ri_gr',
    'mz_gr'],
   'parse_date': True,
   'prefixes': ['a1fi',
    'a2a',
    'a2b',
    'a2c',
    'actchmza1f',
    'actchmza2a',
    'actchmza2b',
    'actchmza2c',
    'actchmzb1a',
    'actchmzb2a',
    'actchmzb2b',
    'actchria2a',
    'actchria2b',
    'actchria2c',
    'actchriaif',
    'actchrib1a',
    'actchrib2a',
    'actchrib2b',
    'actchwha1f',
    'actchwha2a',
    'actchwha2b',
    'actchwha2c',
    'actchwhb1a',
    'actchwhb2a',
    'actchwhb2b',
    'b1a',
    'b2a',
    'b2b',
    'mza1f',
    'mza2a',
    'mza2b',
    'mza2c',
    'mzb1a',
    'mzb2a',
    'mzb2b',
    'ria1f',
    'ria2a',
    'ria2b',
    'ria2c',
    'rib1a',
    'rib2a',
    'rib2b',
    'wha1f',
    'wha2a',
    'wha2b',
    'wha2c',
    'whb1a',
    'whb2a',
    'whb2b']}},
 'foo_015_global_hunger_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['ghi']}},
 'foo_019_child_malnutrition_edit': {'config_options': {'_incl': False,
   'country_code': 'iso_code',
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_040_fisheries_vuln_climat': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'field_8'],
   'parse_date': False,
   'prefixes': ['already long']}},
 'foo_041_agricultural_emissions': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_042_agricultural_production_value': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'area',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_43_agriculture_value_added': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'for_021_certified_forest_edit': {'config_options': {'_incl': False,
   'country_code': 'iso',
   'country_name': 'name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'geometry': {'config_options': {}},
 'soc_004_human_development_index': {'config_options': {}},
 'soc_005_political_rights_civil_liberties_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_006_multidimensional_poverty_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'latest'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_008_gdp_per_capita_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_015_adult_literacy_rate': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr', 'male', 'female']}},
 'soc_020_gini': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_023_fragile_states_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['rank', 'score']}},
 'soc_025_gender_inequality_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_029_worldwide_governance_indicators': {'config_options': {'_incl': True,
   'country_code': 'wbcode',
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'wbcode'],
   'parse_date': True,
   'prefixes': ['control_of_corruption',
    'government_effectiveness',
    'political_stability',
    'regulatory_quality',
    'rule_of_law',
    'voice_accountability']}},
 'soc_035_land_deals': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'target_country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_036_life_expectancy_at_birth': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_039_out_of_school_rate_edit': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_040_improved_sanitation': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['rural', 'urban', 'total']}},
 'soc_062_internal_displacement_conflict_and_natural_disaster': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_or_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'wat_005_improved_water_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}}}

In [57]:
# Add config options
for name, info in tables.items():
    logging.info(name)
    logging.info(list(info['data'].columns))
    print

    ## To determine id columns to use, uncomment
    '''
    if not table_info[name]['config_options'].get('id_cols', False):   
    id_cols = input('id columns? separate by comma with a space')
    table_info[name]['config_options']['id_cols'] = [col.strip() for col in id_cols.split(',')]
    '''
    
    ## To assign prefixes for value column names, uncomment
    '''
    prefixes = input('time column prefixes?')
    table_info[name]['config_options']['prefixes'] = [pfx.strip() for pfx in prefixes.split(',')]
    '''

    ## To determine whether the value column names have a _ after the prefix, uncomment
    '''
    _included = input('Is there a _ after the prefix? type anything for True, leave blank for False')
    if _included != '':
        table_info[name]['config_options']['_incl'] = True
    else:
        table_info[name]['config_options']['_incl'] = False
    '''

    ## To determine country identifying info column, uncomment
    '''
    if table_info[name]['config_options'].get('prefixes', False) == ['already long']:
        country_code = input('country code column? leave blank if needs country code added')
        if country_code != '':
            table_info[name]['config_options']['country_code'] = country_code
        else:
            table_info[name]['config_options']['country_code'] = False

        country_name = input('country name column? leave blank if needs country name added')
        if country_name != '':
            table_info[name]['config_options']['country_name'] = country_name
        else:
            table_info[name]['config_options']['country_name'] = False
    '''
    
    ## Auto parse datetime
    '''
    parse_datetime = input('auto parse datetime? type anything for True, leave blank for False')
    if parse_datetime != '':
        table_info[name]['config_options']['parse_date'] = True
    else:
        table_info[name]['config_options']['parse_date'] = False
    '''

INFO:root:geometry
INFO:root:['_primary', 'abbrev', 'adm0_a3', 'continent', 'formal_nam', 'iso_a2', 'iso_a3', 'iso_n3', 'iso_short', 'name', 'name_sort', 'postal', 'short_name', 'sov_a3', 'sovereign', 'the_geom', 'type', 'un_ar', 'un_en', 'un_es', 'un_fr', 'un_n3', 'un_region', 'un_ru', 'un_subregi', 'un_zh', 'wb_a2', 'wb_a3', 'wb_region']
INFO:root:country_aliases
INFO:root:['alias', 'index', 'iso', 'name', 'the_geom']
INFO:root:cit_022_road_traffic_deaths_by_country
INFO:root:['cartodb_georef_status', 'country', 'death_rate_per_100000', 'estimated_number_of_road_traffic_deaths_2013', 'the_geom']
INFO:root:cit_025_urban_population
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:cit_028_percent_urban_slums_edit
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:cit_029_municipal_waste
INFO:root:['_2012_2015_avg', 'country', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:cli_007_greenhouse_gas_emissions_projections
INFO:root:['cartodb_georef_status', 'country_region', 'fossil_fuel_co2_emissions_mtco2', 'gases_covered', 'ghg_emissions_with_land_use_change_and_forestry_mtco2e', 'ghg_emissions_without_land_use_change_and_forestry_mtco2e', 'global_warming_potential_value_used', 'scenario', 'sectors_covered', 'source', 'the_geom', 'year']
INFO:root:cli_008_greenhouse_gas_emissions_country_sector
INFO:root:['agriculture_mtco2e', 'bunker_fuels_mtco2', 'cartodb_georef_status', 'country', 'electricity_heat_mtco2', 'energy_mtco2e', 'fugitive_emissions_mtco2e', 'industrial_processes_mtco2e', 'land_use_change_and_forestry_mtco2', 'manufacturing_construction_mtco2', 'other_fuel_combustion_mtco2e', 'the_geom', 'total_ch4_including_land_use_change_and_forestry_mtco2e', 'total_ch4_mtco2e', 'total_co2_excluding_land_use_change_and_forestry_mtco2', 'total_co2_including_land_use_change_and_forestry_mtco2', 'total_f_gas_mtco2e', 'total_ghg_emissions_excluding_land_use_change_and_forestry_mtc', 'total_ghg_emissions_including_land_use_change_and_forestry_mtc', 'total_n2o_including_land_use_change_and_forestry_mtco2e', 'total_n2o_mtco2e', 'transportation_mtco2', 'waste_mtco2e', 'year']
INFO:root:com_006_national_current_accounts_edit
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:com_007_fdi_index
INFO:root:['_primary', 'accounting_audit', 'agriculture', 'agriculture_forestry', 'air', 'architectural', 'banking', 'business_services', 'cartodb_georef_status', 'communications', 'construction', 'distribution', 'electric_electronics_and_other_instruments', 'electricity', 'electricity_distribution', 'electricity_generation', 'engineering', 'field_1', 'financial_services', 'fisheries', 'fixed_telecoms', 'food_and_other', 'forestry', 'hotels_restaurants', 'insurance', 'legal', 'manufacturing', 'maritime', 'media', 'metals_machinery_and_other_minerals', 'mining_quarrying_incl_oil_extr', 'mobile_telecoms', 'oil_ref_chemicals', 'other_finance', 'other_media', 'radio_tv_broadcasting', 'real_estate_investment', 'retail', 'secondary', 'surface', 'tertiary', 'the_geom', 'total_fdi_index', 'transport', 'transport_equipment', 'wholesale']
INFO:root:com_009_1_material_flows_main
INFO:root:['flow', 'isoalpha3', 'mfa13', 'mfa4', 'the_geom', 'time', 'value']
INFO:root:com_010_gdp_ppp_usd
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:com_015_recycling_rates
INFO:root:['_2012_2015_avg', 'cartodb_georef_status', 'country', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:com_019_ecological_footprint_edit
INFO:root:['built_up_land', 'carbon', 'cartodb_georef_status', 'country_name', 'cropland', 'data_quality_score', 'fishing_grounds', 'forest_products', 'grazing_land', 'isoa2', 'record', 'short_name', 'the_geom', 'total', 'year']
INFO:root:com_028_effect_of_ag_prices_on_commodity_prices
INFO:root:['cartodb_georef_status', 'category', 'country', 'countrycode', 'distortionvalue', 'groupname', 'monetaryunit', 'notes', 'nrp', 'numbercommodities', 'numbercountries', 'numberproducts', 'physicalunit', 'producerpriceatfgl', 'productcode', 'productionquantity', 'productname', 'referencepriceatfgl', 'source', 'sourceversion', 'the_geom', 'valueproduction_pp', 'valueproduction_ref', 'wbincomegroup', 'year']
INFO:root:ene_012_electricity_access
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'rural_1990', 'rural_1991', 'rural_1992', 'rural_1993', 'rural_1994', 'rural_1995', 'rural_1996', 'rural_1997', 'rural_1998', 'rural_1999', 'rural_2000', 'rural_2001', 'rural_2002', 'rural_2003', 'rural_2004', 'rural_2005', 'rural_2006', 'rural_2007', 'rural_2008', 'rural_2009', 'rural_2010', 'rural_2011', 'rural_2012', 'rural_2013', 'rural_2014', 'the_geom', 'total_1990', 'total_1991', 'total_1992', 'total_1993', 'total_1994', 'total_1995', 'total_1996', 'total_1997', 'total_1998', 'total_1999', 'total_2000', 'total_2001', 'total_2002', 'total_2003', 'total_2004', 'total_2005', 'total_2006', 'total_2007', 'total_2008', 'total_2009', 'total_2010', 'total_2011', 'total_2012', 'total_2013', 'total_2014', 'urban_1990', 'urban_1991', 'urban_1992', 'urban_1993', 'urban_1994', 'urban_1995', 'urban_1996', 'urban_1997', 'urban_1998', 'urban_1999', 'urban_2000', 'urban_2001', 'urban_2002', 'urban_2003', 'urban_2004', 'urban_2005', 'urban_2006', 'urban_2007', 'urban_2008', 'urban_2009', 'urban_2010', 'urban_2011', 'urban_2012', 'urban_2013', 'urban_2014']
INFO:root:ene_021_se4all_country_indicators
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010']
INFO:root:ene_022_se4all_tracking_goals
INFO:root:['_1990_yr1990', '_1991_yr1991', '_1992_yr1992', '_1993_yr1993', '_1994_yr1994', '_1995_yr1995', '_1996_yr1996', '_1997_yr1997', '_1998_yr1998', '_1999_yr1999', '_2000_yr2000', '_2001_yr2001', '_2002_yr2002', '_2003_yr2003', '_2004_yr2004', '_2005_yr2005', '_2006_yr2006', '_2007_yr2007', '_2008_yr2008', '_2009_yr2009', '_2010_yr2010', '_2011_yr2011', '_2012_yr2012', '_2013_yr2013', '_2014_yr2014', 'cartodb_georef_status', 'country_code', 'country_name', 'series_code', 'series_name', 'the_geom']
INFO:root:ene_028_access_clean_cooking_fuels
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'series_code', 'series_name', 'the_geom', 'yr_2000', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014']
INFO:root:foo_006_effects_climate_change_food_production
INFO:root:['a1fi2020', 'a1fi2050', 'a1fi2080', 'a2a2020', 'a2a2050', 'a2a2080', 'a2b2020', 'a2b2050', 'a2b2080', 'a2c2020', 'a2c2050', 'a2c2080', 'actchmza1f2020', 'actchmza1f2050', 'actchmza1f2080', 'actchmza2a2020', 'actchmza2a2050', 'actchmza2a2080', 'actchmza2b2020', 'actchmza2b2050', 'actchmza2b2080', 'actchmza2c2020', 'actchmza2c2050', 'actchmza2c2080', 'actchmzb1a2020', 'actchmzb1a2050', 'actchmzb1a2080', 'actchmzb2a2020', 'actchmzb2a2050', 'actchmzb2a2080', 'actchmzb2b2020', 'actchmzb2b2050', 'actchmzb2b2080', 'actchria2a2020', 'actchria2a2050', 'actchria2a2080', 'actchria2b2020', 'actchria2b2050', 'actchria2b2080', 'actchria2c2020', 'actchria2c2050', 'actchria2c2080', 'actchriaif2020', 'actchriaif2050', 'actchriaif2080', 'actchrib1a2020', 'actchrib1a2050', 'actchrib1a2080', 'actchrib2a2020', 'actchrib2a2050', 'actchrib2a2080', 'actchrib2b2020', 'actchrib2b2050', 'actchrib2b2080', 'actchwha1f2020', 'actchwha1f2050', 'actchwha1f2080', 'actchwha2a2020', 'actchwha2a2050', 'actchwha2a2080', 'actchwha2b2020', 'actchwha2b2050', 'actchwha2b2080', 'actchwha2c2020', 'actchwha2c2050', 'actchwha2c2080', 'actchwhb1a2020', 'actchwhb1a2050', 'actchwhb1a2080', 'actchwhb2a2020', 'actchwhb2a2050', 'actchwhb2a2080', 'actchwhb2b2020', 'actchwhb2b2050', 'actchwhb2b2080', 'b1a2020', 'b1a2050', 'b1a2080', 'b2a2020', 'b2a2050', 'b2a2080', 'b2b2020', 'b2b2050', 'b2b2080', 'bls_2_countries__sres__abbrevname', 'cartodb_georef_status', 'country', 'fips_code', 'iso3v10', 'mz_2000', 'mz_gr', 'mza1f2020', 'mza1f2050', 'mza1f2080', 'mza2a2020', 'mza2a2050', 'mza2a2080', 'mza2b2020', 'mza2b2050', 'mza2b2080', 'mza2c2020', 'mza2c2050', 'mza2c2080', 'mzb1a2020', 'mzb1a2050', 'mzb1a2080', 'mzb2a2020', 'mzb2a2050', 'mzb2a2080', 'mzb2b2020', 'mzb2b2050', 'mzb2b2080', 'ri_2000', 'ri_gr', 'ria1f2020', 'ria1f2050', 'ria1f2080', 'ria2a2020', 'ria2a2050', 'ria2a2080', 'ria2b2020', 'ria2b2050', 'ria2b2080', 'ria2c2020', 'ria2c2050', 'ria2c2080', 'rib1a2020', 'rib1a2050', 'rib1a2080', 'rib2a2020', 'rib2a2050', 'rib2a2080', 'rib2b2020', 'rib2b2050', 'rib2b2080', 'the_geom', 'wh_2000', 'wh_gr', 'wha1f2020', 'wha1f2050', 'wha1f2080', 'wha2a2020', 'wha2a2050', 'wha2a2080', 'wha2b2020', 'wha2b2050', 'wha2b2080', 'wha2c2020', 'wha2c2050', 'wha2c2080', 'whb1a2020', 'whb1a2050', 'whb1a2080', 'whb2a2020', 'whb2a2050', 'whb2a2080', 'whb2b2020', 'whb2b2050', 'whb2b2080']
INFO:root:foo_015_global_hunger_index
INFO:root:['cartodb_georef_status', 'country', 'ghi_1992', 'ghi_2000', 'ghi_2008', 'ghi_2017', 'the_geom']
INFO:root:foo_019_child_malnutrition_edit
INFO:root:['cartodb_georef_status', 'country', 'iso_code', 'millenium_development_goals___region', 'notes', 'overweight', 'report_author', 'severe_wasting', 'source', 'stunting', 'survey_sample_size_n', 'survey_year', 'the_geom', 'un_region', 'un_sub_region', 'under_5_population_000s', 'underweight', 'unicef_region', 'wasting', 'who_global_database_reference_number', 'world_bank___income_group', 'world_bank___region', 'world_health_organization___region', 'year']
INFO:root:foo_040_fisheries_vuln_climat
INFO:root:['cartodb_georef_status', 'country_territory', 'field_8', 'rcp26___2016_2050', 'rcp26___2066_2100', 'rcp45___2016_2050', 'rcp45___2066_2100', 'rcp85___2016_2050', 'rcp85___2066_2100', 'the_geom']
INFO:root:foo_041_agricultural_emissions
INFO:root:['cartodb_georef_status', 'country', 'country_code', 'domain', 'domain_code', 'element', 'element_code', 'flag', 'flag_description', 'item', 'item_code', 'the_geom', 'unit', 'value', 'value_gigatonnes']
INFO:root:foo_042_agricultural_production_value
INFO:root:['area', 'area_code', 'cartodb_georef_status', 'domain', 'domain_code', 'element', 'element_code', 'flag', 'flag_description', 'item', 'item_code', 'the_geom', 'unit', 'value', 'year', 'year_code']
INFO:root:foo_43_agriculture_value_added
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:for_021_certified_forest_edit
INFO:root:['cartodb_georef_status', 'iso', 'name', 'the_geom', 'total_area_certified_ha']
INFO:root:soc_004_human_development_index
INFO:root:['cartodb_georef_status', 'country', 'hdi_rank_2015', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:soc_005_political_rights_civil_liberties_index
INFO:root:['a_aggr', 'add_a', 'add_b', 'b_aggr', 'c_aggr', 'cartodb_georef_status', 'cl_aggr', 'cl_rating', 'country', 'd_aggr', 'e_aggr', 'f_aggr', 'g_aggr', 'pr_aggr', 'pr_rating', 'status', 'the_geom', 'total_aggr']
INFO:root:soc_006_multidimensional_poverty_index
INFO:root:['cartodb_georef_status', 'country', 'hdi_rank', 'latest', 'the_geom', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:soc_008_gdp_per_capita_edit
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:soc_015_adult_literacy_rate
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'female_1999', 'female_2000', 'female_2001', 'female_2002', 'female_2003', 'female_2004', 'female_2005', 'female_2006', 'female_2007', 'female_2008', 'female_2009', 'female_2010', 'female_2011', 'female_2012', 'female_2013', 'female_2014', 'female_2015', 'female_2016', 'indicator_code', 'indicator_name', 'male_1999', 'male_2000', 'male_2001', 'male_2002', 'male_2003', 'male_2004', 'male_2005', 'male_2006', 'male_2007', 'male_2008', 'male_2009', 'male_2010', 'male_2011', 'male_2012', 'male_2013', 'male_2014', 'male_2015', 'male_2016', 'the_geom', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:soc_020_gini
INFO:root:['cartodb_georef_status', 'column_1503694226021', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:soc_023_fragile_states_index
INFO:root:['cartodb_georef_status', 'country', 'rank_2006', 'rank_2007', 'rank_2008', 'rank_2009', 'rank_2010', 'rank_2011', 'rank_2012', 'rank_2013', 'rank_2014', 'rank_2015', 'rank_2016', 'rank_2017', 'score_2006', 'score_2007', 'score_2008', 'score_2009', 'score_2010', 'score_2011', 'score_2012', 'score_2013', 'score_2014', 'score_2015', 'score_2016', 'score_2017', 'the_geom']
INFO:root:soc_025_gender_inequality_index
INFO:root:['cartodb_georef_status', 'country', 'hdi_rank_2015', 'the_geom', 'yr_1995', 'yr_2000', 'yr_2005', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
INFO:root:soc_029_worldwide_governance_indicators
INFO:root:['cartodb_georef_status', 'control_of_corruption_2016', 'country_territory', 'government_effectiveness_2016', 'political_stability_2016', 'regulatory_quality_2016', 'rule_of_law_2016', 'the_geom', 'voice_accountability_2016', 'wbcode']
INFO:root:soc_035_land_deals
INFO:root:['cartodb_georef_status', 'number_of_deals', 'target_country', 'the_geom']
INFO:root:soc_036_life_expectancy_at_birth
INFO:root:['cartodb_georef_status', 'country_code', 'country_name', 'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:soc_039_out_of_school_rate_edit
INFO:root:['country', 'the_geom', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
INFO:root:soc_040_improved_sanitation

Now we know what we're working with, we can get to work!

In [58]:
## Save this info for working with later
json.dump(table_info, open('./table_info.json', 'w'))
table_info = json.load(open('./table_info.json', 'r'))
table_info

{'%20soc_023_fragile_states_index': {'error': '* Problem fetching %20soc_023_fragile_states_index from Carto server *'},
 'cit_022_road_traffic_deaths_by_country': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['estimated_number_of_road_traffic_deaths']}},
 'cit_025_urban_population': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_028_percent_urban_slums_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cit_029_municipal_waste': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'cli_007_greenhouse_gas_emissions_projections': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_008_greenhouse_gas_emissions_country_sector': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'cli_029_vulnerability_to_cc': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['gain', 'readiness', 'vulnerability']}},
 'com_006_national_current_accounts_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_007_fdi_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'field_1',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_009_1_material_flows_main': {'config_options': {'_incl': False,
   'country_code': 'isoalpha3',
   'country_name': False,
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_010_gdp_ppp_usd': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_015_recycling_rates': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'com_019_ecological_footprint_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'com_028_effect_of_ag_prices_on_commodity_prices': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'country_aliases': {'config_options': {}},
 'ene_012_electricity_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}},
 'ene_017_energy_facility_emissions_edit': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': False,
   'id_cols': [''],
   'prefixes': ['already long']}},
 'ene_021_se4all_country_indicators': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_022_se4all_tracking_goals': {'config_options': {'_incl': False,
   'id_cols': ['series_name', 'series_code', 'country_name', 'country_code'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'ene_028_access_clean_cooking_fuels': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'foo_006_effects_climate_change_food_production': {'config_options': {'_incl': False,
   'country_code': 'iso3v10',
   'country_name': 'country',
   'id_cols': ['bls_2_countries__sres__abbrevname',
    'fips_code',
    'iso3v10',
    'wh_2000',
    'ri_2000',
    'mz_2000',
    'country',
    'wh_gr',
    'ri_gr',
    'mz_gr'],
   'parse_date': True,
   'prefixes': ['a1fi',
    'a2a',
    'a2b',
    'a2c',
    'actchmza1f',
    'actchmza2a',
    'actchmza2b',
    'actchmza2c',
    'actchmzb1a',
    'actchmzb2a',
    'actchmzb2b',
    'actchria2a',
    'actchria2b',
    'actchria2c',
    'actchriaif',
    'actchrib1a',
    'actchrib2a',
    'actchrib2b',
    'actchwha1f',
    'actchwha2a',
    'actchwha2b',
    'actchwha2c',
    'actchwhb1a',
    'actchwhb2a',
    'actchwhb2b',
    'b1a',
    'b2a',
    'b2b',
    'mza1f',
    'mza2a',
    'mza2b',
    'mza2c',
    'mzb1a',
    'mzb2a',
    'mzb2b',
    'ria1f',
    'ria2a',
    'ria2b',
    'ria2c',
    'rib1a',
    'rib2a',
    'rib2b',
    'wha1f',
    'wha2a',
    'wha2b',
    'wha2c',
    'whb1a',
    'whb2a',
    'whb2b']}},
 'foo_015_global_hunger_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['ghi']}},
 'foo_019_child_malnutrition_edit': {'config_options': {'_incl': False,
   'country_code': 'iso_code',
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_040_fisheries_vuln_climat': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'field_8'],
   'parse_date': False,
   'prefixes': ['rcp26', 'rcp45', 'rcp85']}},
 'foo_041_agricultural_emissions': {'config_options': {'_incl': False,
   'country_code': 'country_code',
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_042_agricultural_production_value': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'area',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'foo_43_agriculture_value_added': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'for_021_certified_forest_edit': {'config_options': {'_incl': False,
   'country_code': 'iso',
   'country_name': 'name',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'geometry': {'config_options': {}},
 'soc_004_human_development_index': {'config_options': {}},
 'soc_005_political_rights_civil_liberties_index': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_006_multidimensional_poverty_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'latest'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_008_gdp_per_capita_edit': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_015_adult_literacy_rate': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr', 'male', 'female']}},
 'soc_020_gini': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_023_fragile_states_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['rank', 'score']}},
 'soc_025_gender_inequality_index': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_029_worldwide_governance_indicators': {'config_options': {'_incl': True,
   'country_code': 'wbcode',
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'wbcode'],
   'parse_date': True,
   'prefixes': ['control_of_corruption',
    'government_effectiveness',
    'political_stability',
    'regulatory_quality',
    'rule_of_law',
    'voice_accountability']}},
 'soc_035_land_deals': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'target_country',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'soc_036_life_expectancy_at_birth': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_039_out_of_school_rate_edit': {'config_options': {'_incl': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'parse_date': True,
   'prefixes': ['yr']}},
 'soc_040_improved_sanitation': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['rural', 'urban', 'total']}},
 'soc_062_internal_displacement_conflict_and_natural_disaster': {'config_options': {'_incl': False,
   'country_code': False,
   'country_name': 'country_or_region',
   'id_cols': [''],
   'parse_date': True,
   'prefixes': ['already long']}},
 'wat_005_improved_water_access': {'config_options': {'_incl': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'parse_date': True,
   'prefixes': ['urban', 'rural', 'total']}}}

In [250]:
# Use known prefixes to reformat tables
def pick_value_col(col, pfx, use_):
    if use_:
        if pfx+'_' in col:
            return True
        else:
            return False
    else:
        if pfx in col:
            return True
        else:
            return False

def pick_value_wrapper(col, pfx, use_, xtra):
    return pick_value_col(col,pfx,use_) & (len(col)==xtra+len(pfx))
    
def prepare_date(date, pfx, use_, parse_date):
    if use_:
        if parse_date:
            dt = parser.parse(date[date.index(pfx) + len(pfx) + 1:])
            dt = dt.replace(month=1)
            return dt.replace(day=1)
        else:
            return date[date.index(pfx) + len(pfx) + 1:]
    else:
        if parse_date:
            dt = parser.parse(date[date.index(pfx) + len(pfx):])
            dt = dt.replace(month=1)
            return dt.replace(day=1)
        else:
            return date[date.index(pfx) + len(pfx):]

In [307]:
for name, info in tables.items():
    
    if not table_info[name]['config_options'].get('prefixes', False):
        continue
    if table_info[name]['config_options']['prefixes'] == ['already long']:
        logging.info('transfering ' + name + ', already in long form')
        tables[name]['long_data'] = info['data']
        continue
    if table_info[name]['config_options']['prefixes'] == ['--']:
        logging.info('skipping ' + name + ', requires more manual approach')
        continue

    logging.info('processing ' + name)
    logging.info('options:')
    logging.info(table_info[name]['config_options'])
    
    prefixes = table_info[name]['config_options'].get('prefixes', [])
    id_cols = table_info[name]['config_options'].get('id_cols', [])
    use_ = table_info[name]['config_options'].get('_incl', False)
    parse_date = table_info[name]['config_options'].get('parse_date', False)

    logging.info('initial shape: ' + str(info['data'].shape))
    
    df = pd.DataFrame(columns = id_cols + ['variable'])
    
    for pfx in prefixes:
        logging.debug('working on pfx ' + pfx)
        
        if any([ds in name for ds in ['soc_015']]):
            value_cols = [col for col in info['data'].columns if pick_value_wrapper(col, pfx, use_, 5)]
        elif any([ds in name for ds in ['foo_006']]):
            value_cols = [col for col in info['data'].columns if pick_value_wrapper(col, pfx, use_, 4)]
        else:
            value_cols = [col for col in info['data'].columns if pick_value_col(col, pfx, use_)]
        logging.debug('columns pulled: ' + str(value_cols))

        _df = pd.melt(info['data'], id_vars=id_cols, value_vars=value_cols)
        _df['variable'] = [prepare_date(date, pfx, use_, parse_date) for date in _df['variable']]

        col_names = [pfx+'_data' if col=='value' else col for col in _df.columns]
        _df.columns = col_names

        df = df.merge(_df, on=id_cols  + ['variable'], how='outer')
        logging.debug('intermediate df shape: ' + str(df.shape))

    logging.info('final shape of ' + name + ': ' + str(df.shape))

    new_cols = ['datetime' if col=='variable' else col for col in df.columns]
    df.columns = new_cols
    logging.info('final columns: ' + str(df.columns))
    
    tables[name]['long_data'] = df

INFO:root:processing cit_022_road_traffic_deaths_by_country
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': False, 'country_name': 'country', 'id_cols': ['country', 'death_rate_per_100000'], 'prefixes': ['estimated_number_of_road_traffic_deaths'], 'parse_date': True}
INFO:root:initial shape: (179, 5)
DEBUG:root:working on pfx estimated_number_of_road_traffic_deaths
DEBUG:root:columns pulled: ['estimated_number_of_road_traffic_deaths_2013']
DEBUG:root:intermediate df shape: (179, 4)
INFO:root:final shape of cit_022_road_traffic_deaths_by_country: (179, 4)
INFO:root:final columns: Index(['country', 'death_rate_per_100000', 'datetime',
       'estimated_number_of_road_traffic_deaths_data'],
      dtype='object')
INFO:root:processing cit_025_urban_population
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (218, 63)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
DEBUG:root:intermediate df shape: (12426, 6)
INFO:root:final shape of cit_025_urban_population: (12426, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'indicator_code', 'indicator_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing cit_028_percent_urban_slums_edit
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (218, 63)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
DEBUG:root:intermediate df shape: (12426, 6)
INFO:root:final shape of cit_028_percent_urban_slums_edit: (12426, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'indicator_code', 'indicator_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing cit_029_municipal_waste
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': False, 'country_name': 'country', 'id_cols': ['_2012_2015_avg', 'country'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (34, 29)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
DEBUG:root:intermediate df shape: (884, 4)
INFO:root:final shape of cit_029_municipal_waste: (884, 4)
INFO:root:final columns: Index(['_2012_2015_avg', 'country', 'datetime', 'yr_data'], dtype='object')
INFO:root:transfering cli_007_greenhouse_gas_emissions_projections, already in long form
INFO:root:transfering cli_008_greenhouse_gas_emissions_country_sector, already in long form
INFO:root:processing com_006_national_current_accounts_edit
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (217, 63)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
DEBUG:root:intermediate df shape: (12369, 6)
INFO:root:final shape of com_006_national_current_accounts_edit: (12369, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'indicator_code', 'indicator_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:transfering com_007_fdi_index, already in long form
INFO:root:transfering com_009_1_material_flows_main, already in long form
INFO:root:processing com_010_gdp_ppp_usd
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (218, 33)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016']
DEBUG:root:intermediate df shape: (5886, 6)
INFO:root:final shape of com_010_gdp_ppp_usd: (5886, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'indicator_code', 'indicator_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing com_015_recycling_rates
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': False, 'country_name': 'country', 'id_cols': ['_2012_2015_avg', 'country'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (33, 30)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015']
DEBUG:root:intermediate df shape: (858, 4)
INFO:root:final shape of com_015_recycling_rates: (858, 4)
INFO:root:final columns: Index(['_2012_2015_avg', 'country', 'datetime', 'yr_data'], dtype='object')
INFO:root:transfering com_019_ecological_footprint_edit, already in long form
INFO:root:transfering com_028_effect_of_ag_prices_on_commodity_prices, already in long form
INFO:root:processing ene_012_electricity_access
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name'], 'prefixes': ['urban', 'rural', 'total'], 'parse_date': True}
INFO:root:initial shape: (264, 79)
DEBUG:root:working on pfx urban
DEBUG:root:columns pulled: ['urban_1990', 'urban_1991', 'urban_1992', 'urban_1993', 'urban_1994', 'urban_1995', 'urban_1996', 'urban_1997', 'urban_1998', 'urban_1999', 'urban_2000', 'urban_2001', 'urban_2002', 'urban_2003', 'urban_2004', 'urban_2005', 'urban_2006', 'urban_2007', 'urban_2008', 'urban_2009', 'urban_2010', 'urban_2011', 'urban_2012', 'urban_2013', 'urban_2014']
DEBUG:root:intermediate df shape: (6600, 4)
DEBUG:root:working on pfx rural
DEBUG:root:columns pulled: ['rural_1990', 'rural_1991', 'rural_1992', 'rural_1993', 'rural_1994', 'rural_1995', 'rural_1996', 'rural_1997', 'rural_1998', 'rural_1999', 'rural_2000', 'rural_2001', 'rural_2002', 'rural_2003', 'rural_2004', 'rural_2005', 'rural_2006', 'rural_2007', 'rural_2008', 'rural_2009', 'rural_2010', 'rural_2011', 'rural_2012', 'rural_2013', 'rural_2014']
DEBUG:root:intermediate df shape: (6600, 5)
DEBUG:root:working on pfx total
DEBUG:root:columns pulled: ['total_1990', 'total_1991', 'total_1992', 'total_1993', 'total_1994', 'total_1995', 'total_1996', 'total_1997', 'total_1998', 'total_1999', 'total_2000', 'total_2001', 'total_2002', 'total_2003', 'total_2004', 'total_2005', 'total_2006', 'total_2007', 'total_2008', 'total_2009', 'total_2010', 'total_2011', 'total_2012', 'total_2013', 'total_2014']
DEBUG:root:intermediate df shape: (6600, 6)
INFO:root:final shape of ene_012_electricity_access: (6600, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'datetime', 'urban_data', 'rural_data',
       'total_data'],
      dtype='object')
INFO:root:processing ene_021_se4all_country_indicators
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (227, 27)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010']
DEBUG:root:intermediate df shape: (4767, 6)
INFO:root:final shape of ene_021_se4all_country_indicators: (4767, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'indicator_code', 'indicator_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing ene_022_se4all_tracking_goals
INFO:root:options:
INFO:root:{'country_code': 'country_code', 'country_name': 'country_name', '_incl': False, 'prefixes': ['yr'], 'id_cols': ['series_name', 'series_code', 'country_name', 'country_code'], 'parse_date': True}
INFO:root:initial shape: (228, 31)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['_1990_yr1990', '_1991_yr1991', '_1992_yr1992', '_1993_yr1993', '_1994_yr1994', '_1995_yr1995', '_1996_yr1996', '_1997_yr1997', '_1998_yr1998', '_1999_yr1999', '_2000_yr2000', '_2001_yr2001', '_2002_yr2002', '_2003_yr2003', '_2004_yr2004', '_2005_yr2005', '_2006_yr2006', '_2007_yr2007', '_2008_yr2008', '_2009_yr2009', '_2010_yr2010', '_2011_yr2011', '_2012_yr2012', '_2013_yr2013', '_2014_yr2014']
DEBUG:root:intermediate df shape: (5700, 6)
INFO:root:final shape of ene_022_se4all_tracking_goals: (5700, 6)
INFO:root:final columns: Index(['series_name', 'series_code', 'country_name', 'country_code',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing ene_028_access_clean_cooking_fuels
INFO:root:options:
INFO:root:{'_incl': True, 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'], 'prefixes': ['yr'], 'parse_date': True}
INFO:root:initial shape: (217, 15)
DEBUG:root:working on pfx yr
DEBUG:root:columns pulled: ['yr_2000', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014']
DEBUG:root:intermediate df shape: (1953, 6)
INFO:root:final shape of ene_028_access_clean_cooking_fuels: (1953, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'series_code', 'series_name',
       'datetime', 'yr_data'],
      dtype='object')
INFO:root:processing foo_006_effects_climate_change_food_production
INFO:root:options:
INFO:root:{'_incl': False, 'prefixes': ['a1fi', 'a2a', 'a2b', 'a2c', 'actchmza1f', 'actchmza2a', 'actchmza2b', 'actchmza2c', 'actchmzb1a', 'actchmzb2a', 'actchmzb2b', 'actchria2a', 'actchria2b', 'actchria2c', 'actchriaif', 'actchrib1a', 'actchrib2a', 'actchrib2b', 'actchwha1f', 'actchwha2a', 'actchwha2b', 'actchwha2c', 'actchwhb1a', 'actchwhb2a', 'actchwhb2b', 'b1a', 'b2a', 'b2b', 'mza1f', 'mza2a', 'mza2b', 'mza2c', 'mzb1a', 'mzb2a', 'mzb2b', 'ria1f', 'ria2a', 'ria2b', 'ria2c', 'rib1a', 'rib2a', 'rib2b', 'wha1f', 'wha2a', 'wha2b', 'wha2c', 'whb1a', 'whb2a', 'whb2b'], 'id_cols': ['bls_2_countries__sres__abbrevname', 'fips_code', 'iso3v10', 'wh_2000', 'ri_2000', 'mz_2000', 'country', 'wh_gr', 'ri_gr', 'mz_gr'], 'country_code': 'iso3v10', 'country_name': 'country', 'parse_date': True}
INFO:root:initial shape: (163, 159)
DEBUG:root:working on pfx a1fi
DEBUG:root:columns pulled: ['a1fi2020', 'a1fi2050', 'a1fi2080']
DEBUG:root:intermediate df shape: (489, 12)
DEBUG:root:working on pfx a2a
DEBUG:root:columns pulled: ['a2a2020', 'a2a2050', 'a2a2080']
DEBUG:root:intermediate df shape: (489, 13)
DEBUG:root:working on pfx a2b
DEBUG:root:columns pulled: ['a2b2020', 'a2b2050', 'a2b2080']
DEBUG:root:intermediate df shape: (489, 14)
DEBUG:root:working on pfx a2c
DEBUG:root:columns pulled: ['a2c2020', 'a2c2050', 'a2c2080']
DEBUG:root:intermediate df shape: (489, 15)
DEBUG:root:working on pfx actchmza1f
DEBUG:root:columns pulled: ['actchmza1f2020', 'actchmza1f2050', 'actchmza1f2080']
DEBUG:root:intermediate df shape: (489, 16)
DEBUG:root:working on pfx actchmza2a
DEBUG:root:columns pulled: ['actchmza2a2020', 'actchmza2a2050', 'actchmza2a2080']
DEBUG:root:intermediate df shape: (489, 17)
DEBUG:root:working on pfx actchmza2b
DEBUG:root:columns pulled: ['actchmza2b2020', 'actchmza2b2050', 'actchmza2b2080']
DEBUG:root:intermediate df shape: (489, 18)
DEBUG:root:working on pfx actchmza2c
DEBUG:root:columns pulled: ['actchmza2c2020', 'actchmza2c2050', 'actchmza2c2080']
DEBUG:root:intermediate df shape: (489, 19)
DEBUG:root:working on pfx actchmzb1a
DEBUG:root:columns pulled: ['actchmzb1a2020', 'actchmzb1a2050', 'actchmzb1a2080']
DEBUG:root:intermediate df shape: (489, 20)
DEBUG:root:working on pfx actchmzb2a
DEBUG:root:columns pulled: ['actchmzb2a2020', 'actchmzb2a2050', 'actchmzb2a2080']
DEBUG:root:intermediate df shape: (489, 21)
DEBUG:root:working on pfx actchmzb2b
DEBUG:root:columns pulled: ['actchmzb2b2020', 'actchmzb2b2050', 'actchmzb2b2080']
DEBUG:root:intermediate df shape: (489, 22)
DEBUG:root:working on pfx actchria2a
DEBUG:root:columns pulled: ['actchria2a2020', 'actchria2a2050', 'actchria2a2080']
DEBUG:root:intermediate df shape: (489, 23)
DEBUG:root:working on pfx actchria2b
DEBUG:root:columns pulled: ['actchria2b2020', 'actchria2b2050', 'actchria2b2080']
DEBUG:root:intermediate df shape: (489, 24)
DEBUG:root:working on pfx actchria2c
DEBUG:root:columns pulled: ['actchria2c2020', 'actchria2c2050', 'actchria2c2080']
DEBUG:root:intermediate df shape: (489, 25)
DEBUG:root:working on pfx actchriaif
DEBUG:root:columns pulled: ['actchriaif2020', 'actchriaif2050', 'actchriaif2080']
DEBUG:root:intermediate df shape: (489, 26)
DEBUG:root:working on pfx actchrib1a
DEBUG:root:columns pulled: ['actchrib1a2020', 'actchrib1a2050', 'actchrib1a2080']
DEBUG:root:intermediate df shape: (489, 27)
DEBUG:root:working on pfx actchrib2a
DEBUG:root:columns pulled: ['actchrib2a2020', 'actchrib2a2050', 'actchrib2a2080']
DEBUG:root:intermediate df shape: (489, 28)
DEBUG:root:working on pfx actchrib2b
DEBUG:root:columns pulled: ['actchrib2b2020', 'actchrib2b2050', 'actchrib2b2080']
DEBUG:root:intermediate df shape: (489, 29)
DEBUG:root:working on pfx actchwha1f
DEBUG:root:columns pulled: ['actchwha1f2020', 'actchwha1f2050', 'actchwha1f2080']
DEBUG:root:intermediate df shape: (489, 30)
DEBUG:root:working on pfx actchwha2a
DEBUG:root:columns pulled: ['actchwha2a2020', 'actchwha2a2050', 'actchwha2a2080']
DEBUG:root:intermediate df shape: (489, 31)
DEBUG:root:working on pfx actchwha2b
DEBUG:root:columns pulled: ['actchwha2b2020', 'actchwha2b2050', 'actchwha2b2080']
DEBUG:root:intermediate df shape: (489, 32)
DEBUG:root:working on pfx actchwha2c
DEBUG:root:columns pulled: ['actchwha2c2020', 'actchwha2c2050', 'actchwha2c2080']
DEBUG:root:intermediate df shape: (489, 33)
DEBUG:root:working on pfx actchwhb1a
DEBUG:root:columns pulled: ['actchwhb1a2020', 'actchwhb1a2050', 'actchwhb1a2080']
DEBUG:root:intermediate df shape: (489, 34)
DEBUG:root:working on pfx actchwhb2a
DEBUG:root:columns pulled: ['actchwhb2a2020', 'actchwhb2a2050', 'actchwhb2a2080']
DEBUG:root:intermediate df shape: (489, 35)
DEBUG:root:working on pfx actchwhb2b
DEBUG:root:columns pulled: ['actchwhb2b2020', 'actchwhb2b2050', 'actchwhb2b2080']
DEBUG:root:intermediate df shape: (489, 36)
DEBUG:root:working on pfx b1a
DEBUG:root:columns pulled: ['b1a2020', 'b1a2050', 'b1a2080']
DEBUG:root:intermediate df shape: (489, 37)
DEBUG:root:working on pfx b2a
DEBUG:root:columns pulled: ['b2a2020', 'b2a2050', 'b2a2080']
DEBUG:root:intermediate df shape: (489, 38)
DEBUG:root:working on pfx b2b
DEBUG:root:columns pulled: ['b2b2020', 'b2b2050', 'b2b2080']
DEBUG:root:intermediate df shape: (489, 39)
DEBUG:root:working on pfx mza1f
DEBUG:root:columns pulled: ['mza1f2020', 'mza1f2050', 'mza1f2080']
DEBUG:root:intermediate df shape: (489, 40)
DEBUG:root:working on pfx mza2a
DEBUG:root:columns pulled: ['mza2a2020', 'mza2a2050', 'mza2a2080']
DEBUG:root:intermediate df shape: (489, 41)
DEBUG:root:working on pfx mza2b
DEBUG:root:columns pulled: ['mza2b2020', 'mza2b2050', 'mza2b2080']
DEBUG:root:intermediate df shape: (489, 42)
DEBUG:root:working on pfx mza2c
DEBUG:root:columns pulled: ['mza2c2020', 'mza2c2050', 'mza2c2080']
DEBUG:root:intermediate df shape: (489, 43)
DEBUG:root:working on pfx mzb1a
DEBUG:root:columns pulled: ['mzb1a2020', 'mzb1a2050', 'mzb1a2080']
DEBUG:root:intermediate df shape: (489, 44)
DEBUG:root:working on pfx mzb2a
DEBUG:root:columns pulled: ['mzb2a2020', 'mzb2a2050', 'mzb2a2080']
DEBUG:root:intermediate df shape: (489, 45)
DEBUG:root:working on pfx mzb2b
DEBUG:root:columns pulled: ['mzb2b2020', 'mzb2b2050', 'mzb2b2080']
DEBUG:root:intermediate df shape: (489, 46)
DEBUG:root:working on pfx ria1f
DEBUG:root:columns pulled: ['ria1f2020', 'ria1f2050', 'ria1f2080']
DEBUG:root:intermediate df shape: (489, 47)
DEBUG:root:working on pfx ria2a
DEBUG:root:columns pulled: ['ria2a2020', 'ria2a2050', 'ria2a2080']
DEBUG:root:intermediate df shape: (489, 48)
DEBUG:root:working on pfx ria2b
DEBUG:root:columns pulled: ['ria2b2020', 'ria2b2050', 'ria2b2080']
DEBUG:root:intermediate df shape: (489, 49)
DEBUG:root:working on pfx ria2c
DEBUG:root:columns pulled: ['ria2c2020', 'ria2c2050', 'ria2c2080']
DEBUG:root:intermediate df shape: (489, 50)
DEBUG:root:working on pfx rib1a
DEBUG:root:columns pulled: ['rib1a2020', 'rib1a2050', 'rib1a2080']
DEBUG:root:intermediate df shape: (489, 51)
DEBUG:root:working on pfx rib2a
DEBUG:root:columns pulled: ['rib2a2020', 'rib2a2050', 'rib2a2080']
DEBUG:root:intermediate df shape: (489, 52)
DEBUG:root:working on pfx rib2b
DEBUG:root:columns pulled: ['rib2b2020', 'rib2b2050', 'rib2b2080']
DEBUG:root:intermediate df shape: (489, 53)
DEBUG:root:working on pfx wha1f
DEBUG:root:columns pulled: ['wha1f2020', 'wha1f2050', 'wha1f2080']
DEBUG:root:intermediate df shape: (489, 54)
DEBUG:root:working on pfx wha2a
DEBUG:root:columns pulled: ['wha2a2020', 'wha2a2050', 'wha2a2080']
DEBUG:root:intermediate df shape: (489, 55)
DEBUG:root:working on pfx wha2b
DEBUG:root:columns pulled: ['wha2b2020', 'wha2b2050', 'wha2b2080']
DEBUG:root:intermediate df shape: (489, 56)
DEBUG:root:working on pfx wha2c
DEBUG:root:columns pulled: ['wha2c2020', 'wha2c2050', 'wha2c2080']
DEBUG:root:intermediate df shape: (489, 57)
DEBUG:root:working on pfx whb1a

SUCCESS!

Inputs

In [254]:
datasets_to_geolocate_with_rw_countries

{'cit.017': '0303127a-70b0-4164-9251-d8162615d058',
 'cit.022': '6b670396-c52c-430c-b5bb-20693da03b60',
 'cit.025': 'd38d0d5c-31b1-47f4-9d2e-d8fba4c7d083',
 'cit.028': '35ce2b98-adbb-4873-b334-d7b1cc542de7',
 'cit.029': '10337db6-8321-445e-a60b-28fc1e114f29',
 'cli.007': '3d2ce960-abda-4c9c-bd29-1929e9ca24c9',
 'cli.008': '3a46f6b4-0eec-49d4-bbfc-e2e8f64e6117',
 'cli.029': 'fa6443ff-eb95-4d0f-84d2-f0c91682efdf',
 'com.006': '2e31a1f3-576b-46b4-84f0-3f0cc399f887',
 'com.007': 'fe311144-8c0e-4440-b068-6efd057e0f6a',
 'com.009': 'c61c364b-1d68-4dd9-ae3d-76c2a0022280',
 'com.010': '52c55378-0484-48c3-92fc-3ee94d21c716',
 'com.015': 'c18a38cd-94ff-48cd-818f-6ffb05992abb',
 'com.019': '5e3a3a9f-7380-47c0-ad84-2c193861e106',
 'com.028': '62c988a7-1e4d-418e-87bf-a743e24209e8',
 'ene.012': 'd446a52e-c4c1-4e74-ae30-3204620a0365',
 'ene.021': '2c092793-aa3a-4520-959c-ad48165dcae4',
 'ene.022': 'd639909f-bcf3-4875-b8c3-35f030b68ed3',
 'ene.028': 'c665f519-eef9-4f67-a8bf-7e3e6dc8bfcd',
 'foo.006': '2034a766-6e8a-416d-b8ab-9b7b3e3abb15',
 'foo.015': '4338471d-881a-475f-8bd9-60c4d48b8e12',
 'foo.019': '8bc79a36-d77e-4ee3-b9bc-c77146cfc503',
 'foo.040': '91ff1359-6680-49bc-8002-20256e999993',
 'foo.041': 'ccfb322a-20aa-4132-b58b-0f76acec8f5a',
 'foo.042': '7a551dd8-b59c-4f59-9d50-c92cb61c5799',
 'foo.043': '95b013a3-389a-4367-83b7-c9d68c28c406',
 'for.021': '05b7c688-09ba-4f33-90ea-185a1039df43',
 'soc.004': 'bea122ce-1e4b-465d-8b7b-fa11aadd20f7',
 'soc.005': 'a7067e9f-fe40-4338-85da-13a6071c76fe',
 'soc.006': 'a89c95c7-0b82-4162-b9d8-cc0205e9f7ec',
 'soc.008': '00abb46f-34e2-4bf7-be30-1fb0b1de022f',
 'soc.015': 'e8f53f73-d77c-485a-a2a6-1c47ea4aead9',
 'soc.020': 'f8d3e79c-c3d0-4f9a-9b68-9c5ad1f025e4',
 'soc.023': 'd3a6b89f-cf5c-40cf-b2b3-ac1c8315c648',
 'soc.029': '7793f46c-a48a-466f-a8ce-ca1a87b7aeed',
 'soc.035': 'e7780d53-ad80-45bd-a271-79615ee97a37',
 'soc.036': '8671f536-1979-4b6f-a147-70152fcb44ed',
 'soc.039': 'b37048be-9b23-4458-a047-888956c69aa1',
 'soc.040': '37d04efc-0ab2-4499-a891-54dca1013c74',
 'soc.062': '5e69cfac-1f68-4864-a19a-3c1bdb180100',
 'wat.005': '1b97e47e-ca18-4e50-9aae-a2853acca3f0'}

Explore geometries and aliasing table

In [66]:
tables['geometry']['data'].head(1)
tables['geometry']['data'][tables['geometry']['data']['adm0_a3']=='MLI']

,_primary,abbrev,adm0_a3,continent,formal_nam,iso_a2,iso_a3,iso_n3,iso_short,name,name_sort,postal,short_name,sov_a3,sovereign,the_geom,type,un_ar,un_en,un_es,un_fr,un_n3,un_region,un_ru,un_subregi,un_zh,wb_a2,wb_a3,wb_region
cartodb_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
115,1,Mali,MLI,Africa,Republic of Mali,ML,MLI,466,Mali,Mali,Mali,ML,Mali,MLI,Mali,0106000020E610000001000000010300000001000000D3...,Sovereign country,يلام,Mali,Malí,Mali (le),466,Africa,Мали,Western Africa,马里,ML,MLI,Sub-Saharan Africa

In [134]:
tables['country_aliases']['data'].head(1)
tables['country_aliases']['data'][tables['country_aliases']['data']['alias']=='france']

      alias  iso    name
101  france  FRA  France

Prep work to get country alias table ready

In [308]:

###
## Configuring the alias table
###

df = tables['country_aliases']['data']
logging.info(df.columns)
try:
    df = df.drop('the_geom', axis=1)
except:
    logging.info('could not delete column `the_geom`')


try:
    df = df.drop('index', axis=1)
except:
    logging.info('could not delete column `index`')


logging.info(df.columns)

## Adding all countries from our wri-bounds shapefile to the alias table

new_aliases = tables['geometry']['data'][['iso_a3', 'name']].copy()
new_aliases['alias'] = new_aliases['name']
cols = ['iso' if col=='iso_a3' else col for col in new_aliases.columns]
cols = [col.strip() for col in cols]
new_aliases.columns = cols

logging.info(df.columns)
logging.info(df.shape)
logging.info(new_aliases.columns)
logging.info(new_aliases.shape)

df = df.append(new_aliases)

## Adding in new aliases identified by Peter

peters_new_aliases = pd.read_csv('aliases_for_longform.csv', header=1)
peters_new_aliases.columns = ['alias', 'name', 'iso']

df = df.append(peters_new_aliases)

# Make all aliases lower case, remove spacing
df['alias'] = [alias.strip().lower().replace(' ','') for alias in df['alias']]

## check / remove duplicates
sum(df.duplicated(subset=['alias']))
sum(df.duplicated(subset=['name']))
sum(df.duplicated(subset=['iso']))

df = df.drop_duplicates()
    
tables['country_aliases']['data'] = df

logging.info('Size of current aliasing table: ' + str(tables['country_aliases']['data'].shape))

INFO:root:Index(['alias', 'index', 'iso', 'name', 'the_geom'], dtype='object')
INFO:root:Index(['alias', 'iso', 'name'], dtype='object')
INFO:root:Index(['alias', 'iso', 'name'], dtype='object')
INFO:root:(305, 3)
INFO:root:Index(['iso', 'name', 'alias'], dtype='object')
INFO:root:(193, 3)
INFO:root:Size of current aliasing table: (305, 3)

In [205]:
df.loc[df['name'].str.lower().str.contains('moldova')]

                        alias  iso     name
36          republicofmoldova  MDA  Moldova
150                   moldova  MDA  Moldova
975        moldova,republicof  MDA  Moldova
977       moldova(republicof)  MDA  Moldova
38   'republicofmoldova(the)'  MDA  Moldova
38     republicofmoldova(the)  MDA  Moldova

In [312]:
# Tracking all mis-matched names
missed_names = []
missed_isos = []

alias_info = tables['country_aliases']['data']

for name, info in tables.items():

    if name in ['geometry', 'country_aliases']:
        continue
    if name != '':
        #continue
        pass
    
    logging.info('Processing table ' + name)
    logging.info('Table head:')
    
    ### WARNING: non standardized indices in the data cause problems after the merge step
    if 'long_data' in info:
        data = info['long_data'].copy()
        data.index = list(range(data.shape[0]))
    else:
        data = info['data'].copy()
        data.index = list(range(data.shape[0]))
    
    logging.info(data.head(5))

    c_code = table_info[name]['config_options'].get('country_code', False)
    c_name = table_info[name]['config_options'].get('country_name', False)
    
    logging.info('c_code: ***' + str(c_code) + '***')
    logging.info('c_name: ***' + str(c_name) + '***')
    
    
    # Check if isos match our table
    
    if c_code:
        logging.info('already has an iso3 code, in column ' + c_code)
        
        df = data.merge(alias_info,
                           left_on=c_code,
                           right_on='iso', 
                           how='left')
        
        null_isos = pd.isnull(df['iso'])
        
        no_iso_match = df[null_isos.values]
        logging.info('no match for these isos in the data being processed: ')
        logging.info(no_iso_match[c_code].unique())
        missed_isos.extend(no_iso_match[c_code].unique())
        
    
    
    
    
    # If country name is supplied, check how many match up with alias/name in country_aliases
    if c_name:       
        # Ensure that leading or trailing spaces don't break the match
        data[c_name] = ['North Korea' if name=='Korea, Dem. People\x92s Rep.' else name for name in data[c_name]]
    
        _data = data.copy()
        _data['join_col'] = data[c_name].apply(lambda item: item.strip().lower().replace(' ',''))
    
        data_with_alias = _data.merge(alias_info, 
                                         left_on = 'join_col',
                                         right_on = 'alias',
                                         how='left') 

        null_aliases = pd.isnull(data_with_alias['alias'])             
            
        logging.info('data with alias df:')
        logging.info(data_with_alias.shape)
        logging.info(data_with_alias.head(6))
        logging.info('raw data')
        logging.info(data.shape)
        logging.info(data.head(5))
    
        
        if sum(null_aliases):
            no_alias_match = data_with_alias.loc[null_aliases]
            logging.info('missed aliases, matching on column "alias" of country_aliases')
            logging.info(no_alias_match)
            try:
                logging.info(no_alias_match[c_name].unique())
                missed_names.extend(no_alias_match[c_name].unique())
            except:
                c_name = c_name+'_x'
                logging.info(no_alias_match[c_name].unique())
                missed_names.extend(no_alias_match[c_name].unique())
                
        ### data IS ALTERED HERE

        try:
            data['rw_country_code'] = data_with_alias['iso']
        except:
            data['rw_country_code'] = data_with_alias['iso_y']
            
        try:
            data['rw_country_name'] = data_with_alias['name']  
        except:
            data['rw_country_name'] = data_with_alias['name_y'] 

            
        
        
        
    ### SUCCESS
    logging.info('Final head:')
    logging.info(data.head(5))
    tables[name]['geo_data'] = data.copy()

INFO:root:Processing table cit_022_road_traffic_deaths_by_country
INFO:root:Table head:
INFO:root:      country  death_rate_per_100000   datetime  \
0        Mali                   25.6 2013-01-01
1  Madagascar                   28.4 2013-01-01
2    Malaysia                   24.0 2013-01-01
3     Liberia                   33.7 2013-01-01
4    Maldives                    3.5 2013-01-01

  estimated_number_of_road_traffic_deaths_data
0                        3 920 [3 193 - 4 648]
1                        6 506 [5 361 - 7 650]
2                        7 129 [6 050 - 8 209]
3                        1 448 [1 144 - 1 752]
4                                           12
INFO:root:c_code: ***False***
INFO:root:c_name: ***country***
INFO:root:data with alias df:
INFO:root:(179, 8)
INFO:root:      country  death_rate_per_100000   datetime  \
0        Mali                   25.6 2013-01-01
1  Madagascar                   28.4 2013-01-01
2    Malaysia                   24.0 2013-01-01
3     Liberia                   33.7 2013-01-01
4    Maldives                    3.5 2013-01-01
5      Mexico                   12.3 2013-01-01

  estimated_number_of_road_traffic_deaths_data    join_col       alias  iso  \
0                        3 920 [3 193 - 4 648]        mali        mali  MLI
1                        6 506 [5 361 - 7 650]  madagascar  madagascar  MDG
2                        7 129 [6 050 - 8 209]    malaysia    malaysia  MYS
3                        1 448 [1 144 - 1 752]     liberia     liberia  LBR
4                                           12    maldives    maldives  MDV
5                                       15 062      mexico      mexico  MEX

         name
0        Mali
1  Madagascar
2    Malaysia
3     Liberia
4    Maldives
5      Mexico
INFO:root:raw data
INFO:root:(179, 4)
INFO:root:      country  death_rate_per_100000   datetime  \
0        Mali                   25.6 2013-01-01
1  Madagascar                   28.4 2013-01-01
2    Malaysia                   24.0 2013-01-01
3     Liberia                   33.7 2013-01-01
4    Maldives                    3.5 2013-01-01

  estimated_number_of_road_traffic_deaths_data
0                        3 920 [3 193 - 4 648]
1                        6 506 [5 361 - 7 650]
2                        7 129 [6 050 - 8 209]
3                        1 448 [1 144 - 1 752]
4                                           12
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:          country  death_rate_per_100000   datetime  \
144  Cook Islands                   24.2 2013-01-01

    estimated_number_of_road_traffic_deaths_data     join_col alias  iso name
144                                            5  cookislands   NaN  NaN  NaN
INFO:root:['Cook Islands']
INFO:root:Final head:
INFO:root:      country  death_rate_per_100000   datetime  \
0        Mali                   25.6 2013-01-01
1  Madagascar                   28.4 2013-01-01
2    Malaysia                   24.0 2013-01-01
3     Liberia                   33.7 2013-01-01
4    Maldives                    3.5 2013-01-01

  estimated_number_of_road_traffic_deaths_data rw_country_code rw_country_name
0                        3 920 [3 193 - 4 648]             MLI            Mali
1                        6 506 [5 361 - 7 650]             MDG      Madagascar
2                        7 129 [6 050 - 8 209]             MYS        Malaysia
3                        1 448 [1 144 - 1 752]             LBR         Liberia
4                                           12             MDV        Maldives
INFO:root:Processing table cit_025_urban_population
INFO:root:Table head:
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name   datetime  yr_data
0  Urban population (% of total) 1960-01-01      NaN
1  Urban population (% of total) 1960-01-01      NaN
2  Urban population (% of total) 1960-01-01   42.899
3  Urban population (% of total) 1960-01-01   80.300
4  Urban population (% of total) 1960-01-01   49.920
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:already has an iso3 code, in column country_code
INFO:root:no match for these isos in the data being processed:
INFO:root:['INX' 'XKX' 'MAF' 'ABW' 'MAC' 'MNP' 'NCL' 'PRI' 'ASM' 'BMU' 'CUW' 'CHI'
 'CYM' 'FRO' 'GRL' 'GUM' 'GIB' 'HKG' 'IMN' 'PSE' 'PYF' 'SXM' 'TCA' 'VGB'
 'VIR']
INFO:root:data with alias df:
INFO:root:(12426, 10)
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS
5          NPL           Nepal  SP.URB.TOTL.IN.ZS

                  indicator_name   datetime  yr_data       join_col    alias  \
0  Urban population (% of total) 1960-01-01      NaN  notclassified      NaN
1  Urban population (% of total) 1960-01-01      NaN         kosovo      NaN
2  Urban population (% of total) 1960-01-01   42.899           iraq     iraq
3  Urban population (% of total) 1960-01-01   80.300        iceland  iceland
4  Urban population (% of total) 1960-01-01   49.920         norway   norway
5  Urban population (% of total) 1960-01-01    3.480          nepal    nepal

   iso     name
0  NaN      NaN
1  NaN      NaN
2  IRQ     Iraq
3  ISL  Iceland
4  NOR   Norway
5  NPL    Nepal
INFO:root:raw data
INFO:root:(12426, 6)
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name   datetime  yr_data
0  Urban population (% of total) 1960-01-01      NaN
1  Urban population (% of total) 1960-01-01      NaN
2  Urban population (% of total) 1960-01-01   42.899
3  Urban population (% of total) 1960-01-01   80.300
4  Urban population (% of total) 1960-01-01   49.920
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:      country_code               country_name     indicator_code  \
0              INX             Not classified  SP.URB.TOTL.IN.ZS
1              XKX                     Kosovo  SP.URB.TOTL.IN.ZS
18             MAF   St. Martin (French part)  SP.URB.TOTL.IN.ZS
20             ABW                      Aruba  SP.URB.TOTL.IN.ZS
51             MAC           Macao SAR, China  SP.URB.TOTL.IN.ZS
55             MNP   Northern Mariana Islands  SP.URB.TOTL.IN.ZS
58             NCL              New Caledonia  SP.URB.TOTL.IN.ZS
61             PRI                Puerto Rico  SP.URB.TOTL.IN.ZS
78             ASM             American Samoa  SP.URB.TOTL.IN.ZS
81             BMU                    Bermuda  SP.URB.TOTL.IN.ZS
93             CUW                    Curacao  SP.URB.TOTL.IN.ZS
98             CHI            Channel Islands  SP.URB.TOTL.IN.ZS
115            CYM             Cayman Islands  SP.URB.TOTL.IN.ZS
120            FRO              Faroe Islands  SP.URB.TOTL.IN.ZS
126            GRL                  Greenland  SP.URB.TOTL.IN.ZS
128            GUM                       Guam  SP.URB.TOTL.IN.ZS
137            GIB                  Gibraltar  SP.URB.TOTL.IN.ZS
140            HKG       Hong Kong SAR, China  SP.URB.TOTL.IN.ZS
142            IMN                Isle of Man  SP.URB.TOTL.IN.ZS
190            PSE         West Bank and Gaza  SP.URB.TOTL.IN.ZS
191            PYF           French Polynesia  SP.URB.TOTL.IN.ZS
196            SXM  Sint Maarten (Dutch part)  SP.URB.TOTL.IN.ZS
204            TCA   Turks and Caicos Islands  SP.URB.TOTL.IN.ZS
214            VGB     British Virgin Islands  SP.URB.TOTL.IN.ZS
215            VIR      Virgin Islands (U.S.)  SP.URB.TOTL.IN.ZS
218            INX             Not classified  SP.URB.TOTL.IN.ZS
219            XKX                     Kosovo  SP.URB.TOTL.IN.ZS
236            MAF   St. Martin (French part)  SP.URB.TOTL.IN.ZS
238            ABW                      Aruba  SP.URB.TOTL.IN.ZS
269            MAC           Macao SAR, China  SP.URB.TOTL.IN.ZS
...            ...                        ...                ...
12181          PYF           French Polynesia  SP.URB.TOTL.IN.ZS
12186          SXM  Sint Maarten (Dutch part)  SP.URB.TOTL.IN.ZS
12194          TCA   Turks and Caicos Islands  SP.URB.TOTL.IN.ZS
12204          VGB     British Virgin Islands  SP.URB.TOTL.IN.ZS
12205          VIR      Virgin Islands (U.S.)  SP.URB.TOTL.IN.ZS
12208          INX             Not classified  SP.URB.TOTL.IN.ZS
12209          XKX                     Kosovo  SP.URB.TOTL.IN.ZS
12226          MAF   St. Martin (French part)  SP.URB.TOTL.IN.ZS
12228          ABW                      Aruba  SP.URB.TOTL.IN.ZS
12259          MAC           Macao SAR, China  SP.URB.TOTL.IN.ZS
12263          MNP   Northern Mariana Islands  SP.URB.TOTL.IN.ZS
12266          NCL              New Caledonia  SP.URB.TOTL.IN.ZS
12269          PRI                Puerto Rico  SP.URB.TOTL.IN.ZS
12286          ASM             American Samoa  SP.URB.TOTL.IN.ZS
12289          BMU                    Bermuda  SP.URB.TOTL.IN.ZS
12301          CUW                    Curacao  SP.URB.TOTL.IN.ZS
12306          CHI            Channel Islands  SP.URB.TOTL.IN.ZS
12323          CYM             Cayman Islands  SP.URB.TOTL.IN.ZS
12328          FRO              Faroe Islands  SP.URB.TOTL.IN.ZS
12334          GRL                  Greenland  SP.URB.TOTL.IN.ZS
12336          GUM                       Guam  SP.URB.TOTL.IN.ZS
12345          GIB                  Gibraltar  SP.URB.TOTL.IN.ZS
12348          HKG       Hong Kong SAR, China  SP.URB.TOTL.IN.ZS
12350          IMN                Isle of Man  SP.URB.TOTL.IN.ZS
12398          PSE         West Bank and Gaza  SP.URB.TOTL.IN.ZS
12399          PYF           French Polynesia  SP.URB.TOTL.IN.ZS
12404          SXM  Sint Maarten (Dutch part)  SP.URB.TOTL.IN.ZS
12412          TCA   Turks and Caicos Islands  SP.URB.TOTL.IN.ZS
12422          VGB     British Virgin Islands  SP.URB.TOTL.IN.ZS
12423          VIR      Virgin Islands (U.S.)  SP.URB.TOTL.IN.ZS

                      indicator_name   datetime  yr_data  \
0      Urban population (% of total) 1960-01-01      NaN
1      Urban population (% of total) 1960-01-01      NaN
18     Urban population (% of total) 1960-01-01      NaN
20     Urban population (% of total) 1960-01-01   50.776
51     Urban population (% of total) 1960-01-01   95.289
55     Urban population (% of total) 1960-01-01   51.219
58     Urban population (% of total) 1960-01-01   37.360
61     Urban population (% of total) 1960-01-01   44.547
78     Urban population (% of total) 1960-01-01   66.211
81     Urban population (% of total) 1960-01-01  100.000
93     Urban population (% of total) 1960-01-01   74.710
98     Urban population (% of total) 1960-01-01   38.700
115    Urban population (% of total) 1960-01-01  100.000
120    Urban population (% of total) 1960-01-01   21.383
126    Urban population (% of total) 1960-01-01   58.534
128    Urban population (% of total) 1960-01-01   50.147
137    Urban population (% of total) 1960-01-01  100.000
140    Urban population (% of total) 1960-01-01   85.200
142    Urban population (% of total) 1960-01-01   55.123
190    Urban population (% of total) 1960-01-01      NaN
191    Urban population (% of total) 1960-01-01   42.281
196    Urban population (% of total) 1960-01-01  100.000
204    Urban population (% of total) 1960-01-01   47.679
214    Urban population (% of total) 1960-01-01   12.228
215    Urban population (% of total) 1960-01-01   56.477
218    Urban population (% of total) 1961-01-01      NaN
219    Urban population (% of total) 1961-01-01      NaN
236    Urban population (% of total) 1961-01-01      NaN
238    Urban population (% of total) 1961-01-01   50.761
269    Urban population (% of total) 1961-01-01   95.328
...                              ...        ...      ...
12181  Urban population (% of total) 2015-01-01   55.880
12186  Urban population (% of total) 2015-01-01  100.000
12194  Urban population (% of total) 2015-01-01   92.186
12204  Urban population (% of total) 2015-01-01   46.186
12205  Urban population (% of total) 2015-01-01   95.335
12208  Urban population (% of total) 2016-01-01      NaN
12209  Urban population (% of total) 2016-01-01      NaN
12226  Urban population (% of total) 2016-01-01      NaN
12228  Urban population (% of total) 2016-01-01   41.304
12259  Urban population (% of total) 2016-01-01  100.000
12263  Urban population (% of total) 2016-01-01   89.209
12266  Urban population (% of total) 2016-01-01   70.738
12269  Urban population (% of total) 2016-01-01   93.569
12286  Urban population (% of total) 2016-01-01   87.148
12289  Urban population (% of total) 2016-01-01  100.000
12301  Urban population (% of total) 2016-01-01   89.241
12306  Urban population (% of total) 2016-01-01   31.577
12323  Urban population (% of total) 2016-01-01  100.000
12328  Urban population (% of total) 2016-01-01   42.187
12334  Urban population (% of total) 2016-01-01   86.808
12336  Urban population (% of total) 2016-01-01   94.593
12345  Urban population (% of total) 2016-01-01  100.000
12348  Urban population (% of total) 2016-01-01  100.000
12350  Urban population (% of total) 2016-01-01   52.281
12398  Urban population (% of total) 2016-01-01   75.481
12399  Urban population (% of total) 2016-01-01   55.802
12404  Urban population (% of total) 2016-01-01  100.000
12412  Urban population (% of total) 2016-01-01   92.502
12422  Urban population (% of total) 2016-01-01   46.502
12423  Urban population (% of total) 2016-01-01   95.459

                     join_col alias  iso name
0               notclassified   NaN  NaN  NaN
1                      kosovo   NaN  NaN  NaN
18      st.martin(frenchpart)   NaN  NaN  NaN
20                      aruba   NaN  NaN  NaN
51             macaosar,china   NaN  NaN  NaN
55     northernmarianaislands   NaN  NaN  NaN
58               newcaledonia   NaN  NaN  NaN
61                 puertorico   NaN  NaN  NaN
78              americansamoa   NaN  NaN  NaN
81                    bermuda   NaN  NaN  NaN
93                    curacao   NaN  NaN  NaN
98             channelislands   NaN  NaN  NaN
115             caymanislands   NaN  NaN  NaN
120              faroeislands   NaN  NaN  NaN
126                 greenland   NaN  NaN  NaN
128                      guam   NaN  NaN  NaN
137                 gibraltar   NaN  NaN  NaN
140         hongkongsar,china   NaN  NaN  NaN
142                 isleofman   NaN  NaN  NaN
190           westbankandgaza   NaN  NaN  NaN
191           frenchpolynesia   NaN  NaN  NaN
196    sintmaarten(dutchpart)   NaN  NaN  NaN
204     turksandcaicosislands   NaN  NaN  NaN
214      britishvirginislands   NaN  NaN  NaN
215       virginislands(u.s.)   NaN  NaN  NaN
218             notclassified   NaN  NaN  NaN
219                    kosovo   NaN  NaN  NaN
236     st.martin(frenchpart)   NaN  NaN  NaN
238                     aruba   NaN  NaN  NaN
269            macaosar,china   NaN  NaN  NaN
...                       ...   ...  ...  ...
12181         frenchpolynesia   NaN  NaN  NaN
12186  sintmaarten(dutchpart)   NaN  NaN  NaN
12194   turksandcaicosislands   NaN  NaN  NaN
12204    britishvirginislands   NaN  NaN  NaN
12205     virginislands(u.s.)   NaN  NaN  NaN
12208           notclassified   NaN  NaN  NaN
12209                  kosovo   NaN  NaN  NaN
12226   st.martin(frenchpart)   NaN  NaN  NaN
12228                   aruba   NaN  NaN  NaN
12259          macaosar,china   NaN  NaN  NaN
12263  northernmarianaislands   NaN  NaN  NaN
12266            newcaledonia   NaN  NaN  NaN
12269              puertorico   NaN  NaN  NaN
12286           americansamoa   NaN  NaN  NaN
12289                 bermuda   NaN  NaN  NaN
12301                 curacao   NaN  NaN  NaN
12306          channelislands   NaN  NaN  NaN
12323           caymanislands   NaN  NaN  NaN
12328            faroeislands   NaN  NaN  NaN
12334               greenland   NaN  NaN  NaN
12336                    guam   NaN  NaN  NaN
12345               gibraltar   NaN  NaN  NaN
12348       hongkongsar,china   NaN  NaN  NaN
12350               isleofman   NaN  NaN  NaN
12398         westbankandgaza   NaN  NaN  NaN
12399         frenchpolynesia   NaN  NaN  NaN
12404  sintmaarten(dutchpart)   NaN  NaN  NaN
12412   turksandcaicosislands   NaN  NaN  NaN
12422    britishvirginislands   NaN  NaN  NaN
12423     virginislands(u.s.)   NaN  NaN  NaN

[1425 rows x 10 columns]
INFO:root:['Not classified' 'Kosovo' 'St. Martin (French part)' 'Aruba'
 'Macao SAR, China' 'Northern Mariana Islands' 'New Caledonia'
 'Puerto Rico' 'American Samoa' 'Bermuda' 'Curacao' 'Channel Islands'
 'Cayman Islands' 'Faroe Islands' 'Greenland' 'Guam' 'Gibraltar'
 'Hong Kong SAR, China' 'Isle of Man' 'West Bank and Gaza'
 'French Polynesia' 'Sint Maarten (Dutch part)' 'Turks and Caicos Islands'
 'British Virgin Islands' 'Virgin Islands (U.S.)']
INFO:root:Final head:
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name   datetime  yr_data rw_country_code  \
0  Urban population (% of total) 1960-01-01      NaN             NaN
1  Urban population (% of total) 1960-01-01      NaN             NaN
2  Urban population (% of total) 1960-01-01   42.899             IRQ
3  Urban population (% of total) 1960-01-01   80.300             ISL
4  Urban population (% of total) 1960-01-01   49.920             NOR

  rw_country_name
0             NaN
1             NaN
2            Iraq
3         Iceland
4          Norway
INFO:root:Processing table cit_028_percent_urban_slums_edit
INFO:root:Table head:
INFO:root:  country_code    country_name     indicator_code  \
0          AFG     Afghanistan  EN.POP.SLUM.UR.ZS
1          INX  Not classified  EN.POP.SLUM.UR.ZS
2          IND           India  EN.POP.SLUM.UR.ZS
3          IRL         Ireland  EN.POP.SLUM.UR.ZS
4          ITA           Italy  EN.POP.SLUM.UR.ZS

                                      indicator_name   datetime yr_data
0  Population living in slums (% of urban populat... 1960-01-01
1  Population living in slums (% of urban populat... 1960-01-01
2  Population living in slums (% of urban populat... 1960-01-01
3  Population living in slums (% of urban populat... 1960-01-01
4  Population living in slums (% of urban populat... 1960-01-01
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:already has an iso3 code, in column country_code
INFO:root:no match for these isos in the data being processed:
INFO:root:['INX' 'XKX' 'CUW' 'ABW' 'BMU' 'CHI' 'GIB' 'MAC' 'NCL' 'PYF' 'ASM' 'CYM'
 'VIR' 'FRO' 'GRL' 'HKG' 'IMN' 'GUM' 'MAF' 'MNP' 'SXM' 'PRI' 'PSE' 'TCA'
 'VGB']
INFO:root:data with alias df:
INFO:root:(12426, 10)
INFO:root:  country_code    country_name     indicator_code  \
0          AFG     Afghanistan  EN.POP.SLUM.UR.ZS
1          INX  Not classified  EN.POP.SLUM.UR.ZS
2          IND           India  EN.POP.SLUM.UR.ZS
3          IRL         Ireland  EN.POP.SLUM.UR.ZS
4          ITA           Italy  EN.POP.SLUM.UR.ZS
5          ISL         Iceland  EN.POP.SLUM.UR.ZS

                                      indicator_name   datetime yr_data  \
0  Population living in slums (% of urban populat... 1960-01-01
1  Population living in slums (% of urban populat... 1960-01-01

In [224]:
df = tables['cit_028_percent_urban_slums_edit']['data']
df[df['country_code']=='CHI']

,cartodb_georef_status,country_code,country_name,indicator_code,indicator_name,the_geom,yr_1960,yr_1961,yr_1962,yr_1963,yr_1964,yr_1965,yr_1966,yr_1967,yr_1968,yr_1969,yr_1970,yr_1971,yr_1972,yr_1973,yr_1974,yr_1975,yr_1976,yr_1977,yr_1978,yr_1979,yr_1980,yr_1981,yr_1982,yr_1983,yr_1984,yr_1985,yr_1986,yr_1987,yr_1988,yr_1989,yr_1990,yr_1991,yr_1992,yr_1993,yr_1994,yr_1995,yr_1996,yr_1997,yr_1998,yr_1999,yr_2000,yr_2001,yr_2002,yr_2003,yr_2004,yr_2005,yr_2006,yr_2007,yr_2008,yr_2009,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015,yr_2016
cartodb_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
37,False,CHI,Channel Islands,EN.POP.SLUM.UR.ZS,Population living in slums (% of urban populat...,None,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,NaN,,,,,NaN,,,,,NaN,,,,,NaN,,NaN,,NaN,,,,,NaN,,

In [314]:
missed_names = list(set(missed_names))
print(len(missed_names))
print(missed_names)


missed_isos = list(set(missed_isos))
print(len(missed_isos))
print(missed_isos)

130
['', 'Cook Islands', 'Virgin Islands', 'Saint-Martin (French part)', 'Middle East & North Africa', 'South Asia', 'Guernsey', 'Curacao', 'New Caledonia', 'Fragile and conflict affected situations', 'IDA total', 'Low income', 'Latin America & Caribbean (excluding high income)', 'Tokelau', 'Macao SAR, China', 'Sint Maarten', 'Netherlands Antilles (former)', 'Sub-Saharan Africa', 'Saint Pierre and Miquelon', 'Pitcairn', 'Lower middle income', 'Channel Islands', 'Montserrat', 'United States Minor Outlying Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'ARUBA', 'HONG KONG SAR, CHINA', 'Post-demographic dividend', 'Macao', 'US Virgin Islands', 'Falkland Islands (Malvinas)', 'French Polynesia', 'Anguilla', 'Saint-Barthélemy', 'WEST BANK AND GAZA', 'St. Martin (French part)', 'East Asia & Pacific (IDA & IBRD countries)', 'Jersey', 'Saint Helena', 'Virgin Islands (U.S.)', 'Arab World', 'World', 'Svalbard and Jan Mayen Islands', 'Northern Mariana Islands', 'Gibraltar', 'Guadeloupe', 'Other small states', 'Low & middle income', 'East Asia & Pacific', 'Pre-demographic dividend', 'Euro area', 'Netherlands Antilles', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Kosovo', 'Puerto Rico', 'State of Palestine', 'Falkland Islands', 'Saint Pierre et Miquelon', 'Hong Kong SAR, China', 'Sint Maarten (Dutch part)', 'French Guiana', 'Dutch Antilles', 'Mayotte', 'Europe & Central Asia (excluding high income)', 'Bermuda', 'Holy See', 'Late-demographic dividend', 'IDA only', 'North America', ' Palestine, State of', 'Falkland Islands ', 'Middle East & North Africa (IDA & IBRD countries)', 'Bonaire, Sint Eustatius and Saba', 'Faeroe Islands', 'Norfolk Island', 'Isle of Man', 'American Samoa', 'Greenland', 'Åland Islands', 'Aruba', 'Niue', 'Réunion', 'St. Martin', 'Alaska', 'South Asia (IDA & IBRD)', 'British Virgin Islands', 'Latin America & the Caribbean (IDA & IBRD countries)', 'French Guyana', 'East Asia & Pacific (excluding high income)', 'Saint Martin', 'United States Virgin Islands', 'Martinique', 'Curaçao', 'Pacific island small states', 'Taiwan', 'High income', 'Central Europe and the Baltics', 'Guam', 'Turks and Caicos Islands', 'Not classified', 'Early-demographic dividend', 'Sub-Saharan Africa (excluding high income)', 'Small states', 'Reunion', 'IDA & IBRD total', 'Middle East & North Africa (excluding high income)', 'Saint Barthélemy', 'Abyei Area', 'Faroe Islands', 'Macau', 'Cayman Islands', 'West Bank and Gaza', 'IBRD only', 'Wallis and Futuna Islands', 'Western Sahara', 'Hong Kong', 'Europe & Central Asia', 'Middle income', 'Latin America & Caribbean', 'OECD members', 'Caribbean small states', 'European Union', 'Europe & Central Asia (IDA & IBRD countries)', 'MACAO SAR', 'IDA blend', 'Heavily indebted poor countries (HIPC)', 'Palestine', 'Pitcairn Islands', 'Least developed countries: UN classification', 'Upper middle income']
97
['CHI', 'HPC', 'ECS', 'WBG', 'GLP', 'SAS', 'ROM', 'MEA', 'TLA', 'TEA', 'ECA', 'EAS', 'ASM', 'UMC', 'TSA', 'FRO', 'GRL', 'WLD', 'LIC', 'TWN', 'XKX', 'LMY', 'MNP', 'AIA', 'KSV', 'CSK', 'VIR', 'ABW', 'SCG', 'IBT', 'PRE', 'MTQ', 'YUG', 'FCS', 'PSS', 'LCN', 'SUN', 'IDX', 'ANT', 'OSS', 'MSR', 'SXM', 'MAF', 'CSS', 'ADO', 'LTE', 'PYF', 'GUM', 'SSF', 'COK', 'IMY', 'REU', 'CUW', 'NAC', 'IMN', 'TSS', 'NIU', 'BMU', 'GUF', 'SSA', 'CEB', 'ARB', 'CYM', 'GIB', 'TCA', 'EUU', 'LAC', 'HIC', 'LDC', 'LMC', 'TEC', 'HKG', 'INX', 'NCL', 'TMP', 'SST', 'IDA', 'OED', 'EAP', 'MYT', 'FLK', 'EAR', 'PST', 'ZAR', 'VGB', 'IBD', 'MIC', 'MNA', 'JEY', 'IDB', 'MAC', 'PRI', 'TMN', 'PSE', 'EMU', 'ESH', 'SPM']

In [311]:
for name in missed_names:
    for alias in tables['country_aliases']['data']['alias']:
        if alias.lower().replace(' ', '') in name.lower().replace(' ', ''):
            print(name)
df = tables['country_aliases']['data']  
df.loc[df['name'].str.lower().str.contains('cur')]

netherlandsantilles
macaosar,china
unitedstatesvirginislands
frenchguyana
americansamoa
netherlandsantilles(former)
hongkongsar,china
unitedstatesminoroutlyingislands

Empty DataFrame
Columns: [alias, iso, name]
Index: []

In [263]:
for iso in missed_isos:
    for iso in tables['geometry']['data']['adm0_a3']:
        if alias.lower().replace(' ', '') in name.lower().replace(' ', ''):
            print(name)
            
for iso in missed_isos:
    for iso in tables['country_aliases']['data']['iso']:
        if alias.lower().replace(' ', '') in name.lower().replace(' ', ''):
            print(name)

In [1]:
write_to_S3(tables['country_aliases']['data'],s3_bucket,s3_folder+'country_aliases')

NameError: name 'write_to_S3' is not defined

In [315]:
cc.write(tables['country_aliases']['data'], 'country_aliases_extended', overwrite=True)

DEBUG:urllib3.connectionpool:Resetting dropped connection: wri-rw.carto.com
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/20568e84-1459-4119-ab3f-b170afd59b3a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/20568e84-1459-4119-ab3f-b170afd59b3a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/20568e84-1459-4119-ab3f-b170afd59b3a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+country_aliases_extended%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+country_aliases_extended_1+RENAME+TO+country_aliases_extended%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27country_aliases_extended%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22country_aliases_extended%22+ALTER+COLUMN+%22index%22+TYPE+numeric+USING+NULLIF%28%22index%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/country_aliases_extended

In [316]:
for name, info in tables.items():
    if name in ['geometry', 'country_aliases']:
        continue
        #pass
    if name != '':
        #continue
        pass
    
    logging.info(name)
    for key, data in info.items():
        if key == 'geo_data':
            logging.info(data.head())
            write_to_S3(data,s3_bucket,s3_folder+name+'_long')
            logging.info('saved ' + name + ' long data to s3')
            cc.write(data, name + '_georefed_&_longform', overwrite=True)
            logging.info('saved ' + name + ' long data to Carto')
            #logging.info('failed to write table ' + name)

INFO:root:cit_022_road_traffic_deaths_by_country
INFO:root:      country  death_rate_per_100000   datetime  \
0        Mali                   25.6 2013-01-01
1  Madagascar                   28.4 2013-01-01
2    Malaysia                   24.0 2013-01-01
3     Liberia                   33.7 2013-01-01
4    Maldives                    3.5 2013-01-01

  estimated_number_of_road_traffic_deaths_data rw_country_code rw_country_name
0                        3 920 [3 193 - 4 648]             MLI            Mali
1                        6 506 [5 361 - 7 650]             MDG      Madagascar
2                        7 129 [6 050 - 8 209]             MYS        Malaysia
3                        1 448 [1 144 - 1 752]             LBR         Liberia
4                                           12             MDV        Maldives
INFO:root:saved cit_022_road_traffic_deaths_by_country long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_022_road_traffic_deaths_by_country_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/7c6dc09f-6837-4950-aa75-1742cd807662?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cit_022_road_traffic_deaths_by_country_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cit_022_road_traffic_deaths_by_country_georefed_longform+RENAME+TO+cit_022_road_traffic_deaths_by_country_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cit_022_road_traffic_deaths_by_country_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22cit_022_road_traffic_deaths_by_country_georefed__longform%22+ALTER+COLUMN+%22death_rate_per_100000%22+TYPE+numeric+USING+NULLIF%28%22death_rate_per_100000%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved cit_022_road_traffic_deaths_by_country long data to Carto
INFO:root:cit_025_urban_population
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name   datetime  yr_data rw_country_code  \
0  Urban population (% of total) 1960-01-01      NaN             NaN
1  Urban population (% of total) 1960-01-01      NaN             NaN
2  Urban population (% of total) 1960-01-01   42.899             IRQ
3  Urban population (% of total) 1960-01-01   80.300             ISL
4  Urban population (% of total) 1960-01-01   49.920             NOR

  rw_country_name
0             NaN
1             NaN
2            Iraq
3         Iceland
4          Norway

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_022_road_traffic_deaths_by_country_georefed__longform

INFO:root:saved cit_025_urban_population long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_025_urban_population_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/747a884f-a3d7-407a-b94c-a0cd45101d06?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cit_025_urban_population_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cit_025_urban_population_georefed_longform+RENAME+TO+cit_025_urban_population_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cit_025_urban_population_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22cit_025_urban_population_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved cit_025_urban_population long data to Carto
INFO:root:cit_028_percent_urban_slums_edit
INFO:root:  country_code    country_name     indicator_code  \
0          AFG     Afghanistan  EN.POP.SLUM.UR.ZS
1          INX  Not classified  EN.POP.SLUM.UR.ZS
2          IND           India  EN.POP.SLUM.UR.ZS
3          IRL         Ireland  EN.POP.SLUM.UR.ZS
4          ITA           Italy  EN.POP.SLUM.UR.ZS

                                      indicator_name   datetime yr_data  \
0  Population living in slums (% of urban populat... 1960-01-01
1  Population living in slums (% of urban populat... 1960-01-01
2  Population living in slums (% of urban populat... 1960-01-01
3  Population living in slums (% of urban populat... 1960-01-01
4  Population living in slums (% of urban populat... 1960-01-01

  rw_country_code rw_country_name
0             AFG     Afghanistan
1             NaN             NaN
2             IND           India
3             IRL         Ireland
4             ITA           Italy

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_025_urban_population_georefed__longform

INFO:root:saved cit_028_percent_urban_slums_edit long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_028_percent_urban_slums_edit_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/96a5abe6-d0f1-4047-a4ac-13d6b88f537a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/96a5abe6-d0f1-4047-a4ac-13d6b88f537a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/96a5abe6-d0f1-4047-a4ac-13d6b88f537a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/96a5abe6-d0f1-4047-a4ac-13d6b88f537a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/96a5abe6-d0f1-4047-a4ac-13d6b88f537a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cit_028_percent_urban_slums_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cit_028_percent_urban_slums_edit_georefed_longform+RENAME+TO+cit_028_percent_urban_slums_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cit_028_percent_urban_slums_edit_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22cit_028_percent_urban_slums_edit_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 50
INFO:root:saved cit_028_percent_urban_slums_edit long data to Carto
INFO:root:cit_029_municipal_waste
INFO:root:   _2012_2015_avg          country   datetime  yr_data rw_country_code  \
0      522.890000          Iceland 1990-01-01      NaN             ISL
1      587.203000          Ireland 1990-01-01      NaN             IRL
2      448.354667         Portugal 1990-01-01  300.504             PRT
3      314.840750  Slovak Republic 1990-01-01      NaN             SVK
4      414.217000         Slovenia 1990-01-01      NaN             SVN

  rw_country_name
0         Iceland
1         Ireland
2        Portugal
3        Slovakia
4        Slovenia

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_028_percent_urban_slums_edit_georefed__longform

INFO:root:saved cit_029_municipal_waste long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cit_029_municipal_waste_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/daf7c9f5-629a-4594-a0d5-125efa228456?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/daf7c9f5-629a-4594-a0d5-125efa228456?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/daf7c9f5-629a-4594-a0d5-125efa228456?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/daf7c9f5-629a-4594-a0d5-125efa228456?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cit_029_municipal_waste_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cit_029_municipal_waste_georefed_longform+RENAME+TO+cit_029_municipal_waste_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cit_029_municipal_waste_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22cit_029_municipal_waste_georefed__longform%22+ALTER+COLUMN+%22_2012_2015_avg%22+TYPE+numeric+USING+NULLIF%28%22_2012_2015_avg%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved cit_029_municipal_waste long data to Carto
INFO:root:cli_007_greenhouse_gas_emissions_projections
INFO:root:   cartodb_georef_status country_region  fossil_fuel_co2_emissions_mtco2  \
0                   True         Brazil                           771.18
1                   True         Canada                           654.35
2                   True          China                         14911.41
3                   True          India                          3325.61
4                   True          Japan                          1149.67

  gases_covered ghg_emissions_with_land_use_change_and_forestry_mtco2e  \
0           CO2
1           CO2
2           CO2
3           CO2
4           CO2

  ghg_emissions_without_land_use_change_and_forestry_mtco2e  \
0
1
2
3
4

  global_warming_potential_value_used        scenario sectors_covered source  \
0                      Not Applicable  Reference Case          Energy    EIA
1                      Not Applicable  Reference Case          Energy    EIA
2                      Not Applicable  Reference Case          Energy    EIA
3                      Not Applicable  Reference Case          Energy    EIA
4                      Not Applicable  Reference Case          Energy    EIA

                                            the_geom  year rw_country_code  \
0  0106000020E61000002B0000000103000000010000003F...  2040             BRA
1  0106000020E61000009A01000001030000000100000012...  2040             CAN
2  0106000020E6100000460000000103000000010000000A...  2040             CHN
3  0106000020E61000002300000001030000000100000042...  2040             IND
4  0106000020E61000006D00000001030000000100000008...  2040             JPN

  rw_country_name
0          Brazil
1          Canada
2           China
3           India
4           Japan

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_029_municipal_waste_georefed__longform

INFO:root:saved cli_007_greenhouse_gas_emissions_projections long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cli_007_greenhouse_gas_emissions_projections_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e1ab605f-83ad-4bfa-8a16-0fb977d122bf?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e1ab605f-83ad-4bfa-8a16-0fb977d122bf?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e1ab605f-83ad-4bfa-8a16-0fb977d122bf?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e1ab605f-83ad-4bfa-8a16-0fb977d122bf?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e1ab605f-83ad-4bfa-8a16-0fb977d122bf?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cli_007_greenhouse_gas_emissions_projections_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cli_007_greenhouse_gas_emissions_projections_georefed_longform+RENAME+TO+cli_007_greenhouse_gas_emissions_projections_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cli_007_greenhouse_gas_emissions_projections_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22cli_007_greenhouse_gas_emissions_projections_georefed__longform%22+ALTER+COLUMN+%22cartodb_georef_status%22+TYPE+boolean+USING+NULLIF%28%22cartodb_georef_status%22%2C+%27%27%29%3A%3Aboolean%2C+ALTER+COLUMN+%22fossil_fuel_co2_emissions_mtco2%22+TYPE+numeric+USING+NULLIF%28%22fossil_fuel_co2_emissions_mtco2%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22year%22+TYPE+numeric+USING+NULLIF%28%22year%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved cli_007_greenhouse_gas_emissions_projections long data to Carto
INFO:root:cli_008_greenhouse_gas_emissions_country_sector
INFO:root:   agriculture_mtco2e  bunker_fuels_mtco2  cartodb_georef_status      country  \
0           14.794115                 NaN                   True  Afghanistan
1            1.809676                0.13                   True        Congo
2            8.096849                 NaN                   True         Laos
3            0.425628                 NaN                   True      Vanuatu
4           36.052821                4.89                   True    Venezuela

   electricity_heat_mtco2  energy_mtco2e  fugitive_emissions_mtco2e  \
0                     NaN       9.769908                   0.020004
1                    0.46       4.361613                   1.370927
2                     NaN       1.746658                   0.108251
3                     NaN       0.177401                   0.000000
4                   55.09     215.666287                  60.013718

   industrial_processes_mtco2e  land_use_change_and_forestry_mtco2  \
0                     0.377208                            0.000000
1                     0.240961                           12.294671
2                     1.204047                           18.066333
3                     0.007085                           -0.014007
4                    11.347680                           66.399625

   manufacturing_construction_mtco2  other_fuel_combustion_mtco2e  \
0                               NaN                           NaN
1                              0.07                      0.440686
2                               NaN                      0.883623
3                               NaN                      0.023513
4                             42.81                      7.632569

                                            the_geom  \
0  0106000020E610000001000000010300000001000000FD...
1  0106000020E61000000100000001030000000100000041...
2  0106000020E610000001000000010300000001000000E9...
3  0106000020E61000001B00000001030000000100000017...
4  0106000020E61000001D0000000103000000010000001F...

   total_ch4_including_land_use_change_and_forestry_mtco2e  total_ch4_mtco2e  \
0                                          17.750420               17.750420
1                                           2.550132                1.747132
2                                           8.355524                7.053524
3                                           0.398907                0.398907
4                                          63.129866               61.981866

   total_co2_excluding_land_use_change_and_forestry_mtco2  \
0                                           9.801200
1                                           4.129085
2                                           1.949248
3                                           0.153888
4                                         188.408619

   total_co2_including_land_use_change_and_forestry_mtco2  total_f_gas_mtco2e  \
0                                           9.801200                 0.325912
1                                          15.427756                 0.010129
2                                          18.148581                 0.009583
3                                           0.139881                 0.007085
4                                         253.324244                 6.915974

   total_ghg_emissions_excluding_land_use_change_and_forestry_mtc  \
0                                          33.366148
1                                           6.998262
2                                          11.551705
3                                           0.729092
4                                         271.135416

   total_ghg_emissions_including_land_use_change_and_forestry_mtc  \
0                                          33.366148
1                                          19.292932
2                                          29.618038
3                                           0.715085
4                                         337.535041

   total_n2o_including_land_use_change_and_forestry_mtco2e  total_n2o_mtco2e  \
0                                           5.488617                5.488617
1                                           1.304915                1.111915
2                                           3.104351                2.539351
3                                           0.169212                0.169212
4                                          14.164957               13.828957

   transportation_mtco2  waste_mtco2e  year rw_country_code    rw_country_name
0                   NaN      8.424918  2014             AFG        Afghanistan
1                  2.02      0.586012  2014             COG  Republic of Congo
2                   NaN      0.504151  2014             LAO               Laos
3                   NaN      0.118978  2014             VUT            Vanuatu
4                 50.12      8.068627  2014             VEN          Venezuela

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cli_007_greenhouse_gas_emissions_projections_georefed__longform

INFO:root:saved cli_008_greenhouse_gas_emissions_country_sector long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `cli_008_greenhouse_gas_emissions_country_sector_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e96594f2-9f2f-4877-8b61-d324cbf9eb48?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+cli_008_greenhouse_gas_emissions_country_sector_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+cli_008_greenhouse_gas_emissions_country_sector_georefed_longfo+RENAME+TO+cli_008_greenhouse_gas_emissions_country_sector_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27cli_008_greenhouse_gas_emissions_country_sector_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 478
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v2/sql?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:saved cli_008_greenhouse_gas_emissions_country_sector long data to Carto
INFO:root:com_006_national_current_accounts_edit
INFO:root:  country_code  country_name  indicator_code  \
0          AND       Andorra  BN.CAB.XOKA.CD
1          PAK      Pakistan  BN.CAB.XOKA.CD
2          SMR    San Marino  BN.CAB.XOKA.CD
3          BFA  Burkina Faso  BN.CAB.XOKA.CD
4          BEN         Benin  BN.CAB.XOKA.CD

                               indicator_name   datetime  yr_data  \
0  Current account balance (BoP, current US$) 1960-01-01      NaN
1  Current account balance (BoP, current US$) 1960-01-01      NaN
2  Current account balance (BoP, current US$) 1960-01-01      NaN
3  Current account balance (BoP, current US$) 1960-01-01      NaN
4  Current account balance (BoP, current US$) 1960-01-01      NaN

  rw_country_code rw_country_name
0             AND         Andorra
1             PAK        Pakistan
2             SMR      San Marino
3             BFA    Burkina Faso
4             BEN           Benin

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cli_008_greenhouse_gas_emissions_country_sector_georefed__longform

INFO:root:saved com_006_national_current_accounts_edit long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_006_national_current_accounts_edit_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/36f2c202-56bb-4fa8-a0fc-e05f51cfb4cb?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/36f2c202-56bb-4fa8-a0fc-e05f51cfb4cb?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/36f2c202-56bb-4fa8-a0fc-e05f51cfb4cb?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/36f2c202-56bb-4fa8-a0fc-e05f51cfb4cb?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_006_national_current_accounts_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_006_national_current_accounts_edit_georefed_longform+RENAME+TO+com_006_national_current_accounts_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_006_national_current_accounts_edit_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 119
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22com_006_national_current_accounts_edit_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved com_006_national_current_accounts_edit long data to Carto
INFO:root:com_007_fdi_index
INFO:root:   _primary  accounting_audit  agriculture  agriculture_forestry    air  \
0     0.319             0.100        0.350                 0.350  0.600
1     0.606             0.295        0.212                 0.212  0.212
2     0.010             0.510        0.010                 0.010  0.510
3     0.213             0.110        0.450                 0.250  0.600
4     0.130             0.080        0.180                 0.180  0.330

   architectural  banking  business_services  cartodb_georef_status  \
0          0.100    0.200              0.100                   True
1          0.295    0.295              0.295                   True
2          0.010    0.010              0.260                   True
3          0.310    0.120              0.220                   True
4          0.080    0.080              0.080                   True

   communications  construction  distribution  \
0           0.100         0.100         0.175
1           0.295         0.212         0.227
2           0.010         0.010         0.010
3           0.200         0.425         0.625
4           0.080         0.080         0.080

   electric_electronics_and_other_instruments  electricity  \
0                                       0.100        0.100
1                                       0.212        0.212
2                                       0.010        0.010
3                                       0.050        0.025
4                                       0.080        0.060

   electricity_distribution  electricity_generation  engineering  \
0                     0.100                   0.100        0.100
1                     0.212                   0.212        0.295
2                     0.010                   0.010        0.010
3                     0.000                   0.050        0.310
4                     0.040                   0.080        0.080

        field_1  financial_services  fisheries  fixed_telecoms  \
0        Mexico               0.133      0.475           0.100
1  Saudi Arabia               0.267      1.000           0.295
2  South Africa               0.052      0.010           0.010
3       Tunisia               0.240      0.300           0.200
4       Ukraine               0.080      0.080           0.080

   food_and_other  forestry  hotels_restaurants  insurance  legal  \
0           0.100     0.350               0.100      0.100  0.100
1           0.212     0.212               0.212      0.295  0.295
2           0.010     0.010               0.110      0.060  0.510
3           0.020     0.050               0.060      0.150  0.150
4           0.080     0.180               0.080      0.080  0.080

   manufacturing  maritime  media  metals_machinery_and_other_minerals  \
0          0.103     0.550  0.525                                0.100
1          0.212     0.212  0.606                                0.212
2          0.010     0.060  0.298                                0.010
3          0.044     0.100  0.085                                0.050
4          0.080     0.580  0.268                                0.080

   mining_quarrying_incl_oil_extr  mobile_telecoms  oil_ref_chemicals  \
0                            0.10            0.100              0.100
1                            1.00            0.295              0.212
2                            0.01            0.010              0.010
3                            0.05            0.200              0.050
4                            0.08            0.080              0.080

   other_finance  other_media  radio_tv_broadcasting  real_estate_investment  \
0          0.100         0.35                  0.700                   0.167
1          0.212         1.00                  0.212                   1.000
2          0.085         0.01                  0.585                   0.060
3          0.450         0.07                  0.100                   0.200
4          0.080         0.33                  0.205                   0.413

   retail  secondary  surface  tertiary  \
0   0.250      0.102    0.433     0.206
1   0.242      0.212    0.920     0.374
2   0.010      0.010    0.010     0.101
3   0.625      0.096    0.100     0.273
4   0.080      0.077    0.105     0.151

                                            the_geom  total_fdi_index  \
0  0106000020E6100000330000000103000000010000000D...            0.193
1  0106000020E61000000B00000001030000000100000049...            0.364
2  0106000020E6100000030000000103000000010000001A...            0.055
3  0106000020E61000000400000001030000000100000029...            0.206
4  0106000020E61000000400000001030000000100000010...            0.124

   transport  transport_equipment  wholesale rw_country_code rw_country_name
0      0.528                0.113      0.100             MEX          Mexico
1      0.448                0.212      0.212             SAU    Saudi Arabia
2      0.193                0.010      0.010             ZAF    South Africa
3      0.267                0.050      0.625             TUN         Tunisia
4      0.338                0.080      0.080             UKR         Ukraine

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_006_national_current_accounts_edit_georefed__longform

INFO:root:saved com_007_fdi_index long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_007_fdi_index_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/91813dd3-81d4-4945-9dff-1e3ba9c84dff?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_007_fdi_index_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_007_fdi_index_georefed_longform+RENAME+TO+com_007_fdi_index_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_007_fdi_index_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 119
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v2/sql?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:saved com_007_fdi_index long data to Carto
INFO:root:com_009_1_material_flows_main
INFO:root:             flow isoalpha3          mfa13          mfa4 the_geom  time  \
0             DMC       AFG           Coal  Fossil Fuels     None  2006
1             DMC       AFG   Ferrous ores    Metal ores     None  1977
2  DMC per capita       AFG  Crop Residues       Biomass     None  1984
3    DMC/GDP (kg)       AFG   Ferrous ores    Metal ores     None  1997
4             DMI       AFG          Crops       Biomass     None  1970

         value
0    35.000592
1     4.952798
2     0.000570
3     0.000000
4  5484.657000

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_007_fdi_index_georefed__longform

INFO:root:saved com_009_1_material_flows_main long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_009_1_material_flows_main_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:Resetting dropped connection: wri-rw.carto.com
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/d80f2ac4-7951-44e6-ba75-aebfe18f6e25?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_009_1_material_flows_main_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_009_1_material_flows_main_georefed_longform+RENAME+TO+com_009_1_material_flows_main_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_009_1_material_flows_main_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
Uploading in batches:   0%|          | 0/2 [00:00<?, ?it/s]DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/16a2a87d-5650-4a28-9303-e2424948c95a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_009_1_material_flows_main_georefed___cartoframes_temp_0%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_009_1_material_flows_main_georefed_cartoframes_temp_0+RENAME+TO+com_009_1_material_flows_main_georefed___cartoframes_temp_0%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_009_1_material_flows_main_georefed___cartoframes_temp_0%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 229
Uploading in batches:  50%|█████     | 1/2 [01:20<01:20, 80.42s/it]DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/6aed5633-38b3-493c-b95b-6688438b3c40?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_009_1_material_flows_main_georefed___cartoframes_temp_1%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_009_1_material_flows_main_georefed_cartoframes_temp_1+RENAME+TO+com_009_1_material_flows_main_georefed___cartoframes_temp_1%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_009_1_material_flows_main_georefed___cartoframes_temp_1%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 229
Uploading in batches: 100%|██████████| 2/2 [02:18<00:00, 73.61s/it]
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v2/sql?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:saved com_009_1_material_flows_main long data to Carto
INFO:root:com_010_gdp_ppp_usd
INFO:root:  country_code     country_name     indicator_code  \
0          NCL    New Caledonia  NY.GDP.MKTP.PP.CD
1          CHI  Channel Islands  NY.GDP.MKTP.PP.CD
2          INX   Not classified  NY.GDP.MKTP.PP.CD
3          UZB       Uzbekistan  NY.GDP.MKTP.PP.CD
4          VEN    Venezuela, RB  NY.GDP.MKTP.PP.CD

                       indicator_name   datetime       yr_data  \
0  GDP, PPP (current international $) 1990-01-01           NaN
1  GDP, PPP (current international $) 1990-01-01           NaN
2  GDP, PPP (current international $) 1990-01-01           NaN
3  GDP, PPP (current international $) 1990-01-01  4.071037e+10
4  GDP, PPP (current international $) 1990-01-01  1.855098e+11

  rw_country_code rw_country_name
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             UZB      Uzbekistan
4             VEN       Venezuela

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_009_1_material_flows_main_georefed__longform

INFO:root:saved com_010_gdp_ppp_usd long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_010_gdp_ppp_usd_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ede1a94a-2e4c-4a64-908a-c3028b1830a4?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_010_gdp_ppp_usd_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_010_gdp_ppp_usd_georefed_longform+RENAME+TO+com_010_gdp_ppp_usd_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_010_gdp_ppp_usd_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22com_010_gdp_ppp_usd_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved com_010_gdp_ppp_usd long data to Carto
INFO:root:com_015_recycling_rates

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_010_gdp_ppp_usd_georefed__longform

INFO:root:   _2012_2015_avg      country   datetime  yr_data rw_country_code  \
0         2100.00       Mexico 1990-01-01      NaN             MEX
1         2149.75  Netherlands 1990-01-01      NaN             NLD
2          587.25       Norway 1990-01-01    100.0             NOR
3         1947.50       Poland 1990-01-01      NaN             POL
4         3620.00        Spain 1990-01-01      NaN             ESP

  rw_country_name
0          Mexico
1     Netherlands
2          Norway
3          Poland
4           Spain
INFO:root:saved com_015_recycling_rates long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_015_recycling_rates_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/42e28b54-dd9c-4863-a793-d30cab730d86?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/42e28b54-dd9c-4863-a793-d30cab730d86?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/42e28b54-dd9c-4863-a793-d30cab730d86?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/42e28b54-dd9c-4863-a793-d30cab730d86?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/42e28b54-dd9c-4863-a793-d30cab730d86?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_015_recycling_rates_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_015_recycling_rates_georefed_longform+RENAME+TO+com_015_recycling_rates_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_015_recycling_rates_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22com_015_recycling_rates_georefed__longform%22+ALTER+COLUMN+%22_2012_2015_avg%22+TYPE+numeric+USING+NULLIF%28%22_2012_2015_avg%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved com_015_recycling_rates long data to Carto
INFO:root:com_019_ecological_footprint_edit
INFO:root:   built_up_land    carbon  cartodb_georef_status country_name  cropland  \
0       0.229705  3.112965                   True      Denmark  1.130388
1       0.250640  4.309245                   True      Belgium  1.026349
2       0.086937  0.924284                   True       Brazil  0.616232
3       0.143495  1.986275                   True     Bulgaria  0.513726
4       0.026674  1.383477                   True       Panama  0.346100

  data_quality_score  fishing_grounds  forest_products  grazing_land isoa2  \
0                  5         0.241448         0.893218      0.500652    DK
1                  6         0.116956         0.714378      0.472209    BE
2                  6         0.044011         0.544725      0.798968    BR
3                  5         0.028210         0.339327      0.116223    BG
4                  5         0.483697         0.158531      0.412931    PA

         record short_name                                           the_geom  \
0  EFConsPerCap    Denmark  0106000020E61000000F00000001030000000100000045...
1  EFConsPerCap    Belgium  0106000020E6100000010000000103000000010000008D...
2  EFConsPerCap     Brazil  0106000020E61000002B0000000103000000010000003F...
3  EFConsPerCap   Bulgaria  0106000020E61000000100000001030000000100000070...
4  EFConsPerCap     Panama  0106000020E61000000F00000001030000000100000014...

      total  year rw_country_code rw_country_name
0  6.108375  2013             DNK         Denmark
1  6.889776  2013             BEL         Belgium
2  3.015156  2013             BRA          Brazil
3  3.127256  2013             BGR        Bulgaria
4  2.811410  2013             PAN          Panama

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_015_recycling_rates_georefed__longform

INFO:root:saved com_019_ecological_footprint_edit long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_019_ecological_footprint_edit_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/df83b420-1c0c-465d-9d3f-38ce589d9d38?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_019_ecological_footprint_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_019_ecological_footprint_edit_georefed_longform+RENAME+TO+com_019_ecological_footprint_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_019_ecological_footprint_edit_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22com_019_ecological_footprint_edit_georefed__longform%22+ALTER+COLUMN+%22built_up_land%22+TYPE+numeric+USING+NULLIF%28%22built_up_land%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22carbon%22+TYPE+numeric+USING+NULLIF%28%22carbon%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22cartodb_georef_status%22+TYPE+boolean+USING+NULLIF%28%22cartodb_georef_status%22%2C+%27%27%29%3A%3Aboolean%2C+ALTER+COLUMN+%22cropland%22+TYPE+numeric+USING+NULLIF%28%22cropland%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22fishing_grounds%22+TYPE+numeric+USING+NULLIF%28%22fishing_grounds%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22forest_products%22+TYPE+numeric+USING+NULLIF%28%22forest_products%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22grazing_land%22+TYPE+numeric+USING+NULLIF%28%22grazing_land%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22total%22+TYPE+numeric+USING+NULLIF%28%22total%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22year%22+TYPE+numeric+USING+NULLIF%28%22year%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 50
INFO:root:saved com_019_ecological_footprint_edit long data to Carto
INFO:root:com_028_effect_of_ag_prices_on_commodity_prices
INFO:root:   cartodb_georef_status       category                          country  \
0                   True  COUNTRY_TOTAL                     Burkina Faso
1                   True  COUNTRY_TOTAL  Bolivia, Plurinational State of
2                   True  COUNTRY_TOTAL                           Brazil
3                   True  COUNTRY_TOTAL                            Chile
4                   True  COUNTRY_TOTAL                          Ecuador

  countrycode distortionvalue groupname monetaryunit notes    nrp  \
0         BFA     107023788.5     TOTAL          USD   [9]   4.04
1         BOL     291212016.8     TOTAL          USD   [9]  18.14
2         BRA     251201267.1     TOTAL          USD   [9]   0.21
3         CHL      7754216.82     TOTAL          USD   [9]   0.11
4         ECU       264007951     TOTAL          USD   [9]   5.57

  numbercommodities  numbercountries  numberproducts physicalunit  \
0                                  1               8           AG
1                                  1               8           AG
2                                  1              11           AG
3                                  1              10           AG
4                                  1               6           AG

   producerpriceatfgl productcode productionquantity productname  \
0                   1       TOTAL         2758862567       TOTAL
1                   1       TOTAL         1896325544       TOTAL
2                   1       TOTAL        1.18005E+11       TOTAL
3                   1       TOTAL         7255010709       TOTAL
4                   1       TOTAL         5003427546       TOTAL

   referencepriceatfgl                    source  \
0                 0.96  Ag-Incentives Consortium
1                 0.85  Ag-Incentives Consortium
2                 1.00  Ag-Incentives Consortium
3                 1.00  Ag-Incentives Consortium
4                 0.95  Ag-Incentives Consortium

                            sourceversion  \
0  Ag-Incentives Consortium (August 2017)
1  Ag-Incentives Consortium (August 2017)
2  Ag-Incentives Consortium (August 2017)
3  Ag-Incentives Consortium (August 2017)
4  Ag-Incentives Consortium (August 2017)

                                            the_geom  valueproduction_pp  \
0  0106000020E61000000100000001030000000100000057...        2.758863e+09
1  0106000020E610000001000000010300000001000000D6...        1.896326e+09
2  0106000020E61000002B0000000103000000010000003F...        1.180050e+11
3  0106000020E6100000A300000001030000000100000018...        7.255011e+09
4  0106000020E6100000100000000103000000010000002B...        5.003428e+09

   valueproduction_ref            wbincomegroup  year rw_country_code  \
0         2.651839e+09     Low Income Countries  2014             BFA
1         1.605114e+09  Middle Income Countries  2009             BOL
2         1.177540e+11  Middle Income Countries  2015             BRA
3         7.247256e+09    High Income Countries  2015             CHL
4         4.739420e+09  Middle Income Countries  2012             ECU

  rw_country_name
0    Burkina Faso
1         Bolivia
2          Brazil
3           Chile
4         Ecuador

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_019_ecological_footprint_edit_georefed__longform

INFO:root:saved com_028_effect_of_ag_prices_on_commodity_prices long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:Resetting dropped connection: wri-rw.carto.com
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/ad3c7ec7-09ca-4df1-9f2d-8a7c61290198?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+com_028_effect_of_ag_prices_on_commodity_prices_georefed_longfo+RENAME+TO+com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 478
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform%22+ALTER+COLUMN+%22cartodb_georef_status%22+TYPE+boolean+USING+NULLIF%28%22cartodb_georef_status%22%2C+%27%27%29%3A%3Aboolean%2C+ALTER+COLUMN+%22nrp%22+TYPE+numeric+USING+NULLIF%28%22nrp%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22numbercountries%22+TYPE+numeric+USING+NULLIF%28%22numbercountries%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22numberproducts%22+TYPE+numeric+USING+NULLIF%28%22numberproducts%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22producerpriceatfgl%22+TYPE+numeric+USING+NULLIF%28%22producerpriceatfgl%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22referencepriceatfgl%22+TYPE+numeric+USING+NULLIF%28%22referencepriceatfgl%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22valueproduction_pp%22+TYPE+numeric+USING+NULLIF%28%22valueproduction_pp%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22valueproduction_ref%22+TYPE+numeric+USING+NULLIF%28%22valueproduction_ref%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22year%22+TYPE+numeric+USING+NULLIF%28%22year%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 236
INFO:root:saved com_028_effect_of_ag_prices_on_commodity_prices long data to Carto
INFO:root:ene_012_electricity_access
INFO:root:  country_code                country_name   datetime  urban_data  rural_data  \
0          INX              Not classified 1990-01-01         NaN         NaN
1          EAR  Early-demographic dividend 1990-01-01         NaN   41.197684
2          LCA                   St. Lucia 1990-01-01         NaN   78.359886
3          SOM                     Somalia 1990-01-01         NaN         NaN
4          OMN                        Oman 1990-01-01         NaN         NaN

   total_data rw_country_code rw_country_name
0         NaN             NaN             NaN
1   55.955087             NaN             NaN
2   82.475647             LCA     Saint Lucia
3         NaN             SOM         Somalia
4         NaN             OMN            Oman

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_028_effect_of_ag_prices_on_commodity_prices_georefed__longform

INFO:root:saved ene_012_electricity_access long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `ene_012_electricity_access_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/9340eb9e-5041-491d-b263-e9a102c7b459?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/9340eb9e-5041-491d-b263-e9a102c7b459?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/9340eb9e-5041-491d-b263-e9a102c7b459?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/9340eb9e-5041-491d-b263-e9a102c7b459?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/9340eb9e-5041-491d-b263-e9a102c7b459?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+ene_012_electricity_access_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+ene_012_electricity_access_georefed_longform+RENAME+TO+ene_012_electricity_access_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27ene_012_electricity_access_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22ene_012_electricity_access_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22urban_data%22+TYPE+numeric+USING+NULLIF%28%22urban_data%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rural_data%22+TYPE+numeric+USING+NULLIF%28%22rural_data%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22total_data%22+TYPE+numeric+USING+NULLIF%28%22total_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved ene_012_electricity_access long data to Carto
INFO:root:ene_021_se4all_country_indicators
INFO:root:  country_code country_name      indicator_code  \
0          OMN         Oman  3.1_RE.CONSUMPTION
1          SSD  South Sudan  3.1_RE.CONSUMPTION
2          DNK      Denmark  3.1_RE.CONSUMPTION
3          SMR   San Marino  3.1_RE.CONSUMPTION
4          ALB      Albania  3.1_RE.CONSUMPTION

                      indicator_name   datetime      yr_data rw_country_code  \
0  Renewable energy consumption (TJ) 1990-01-01          NaN             OMN
1  Renewable energy consumption (TJ) 1990-01-01          NaN             SSD
2  Renewable energy consumption (TJ) 1990-01-01  39120.98875             DNK
3  Renewable energy consumption (TJ) 1990-01-01          NaN             SMR
4  Renewable energy consumption (TJ) 1990-01-01  20589.21076             ALB

  rw_country_name
0            Oman
1     South Sudan
2         Denmark
3      San Marino
4         Albania

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_012_electricity_access_georefed__longform

INFO:root:saved ene_021_se4all_country_indicators long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `ene_021_se4all_country_indicators_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e5940194-7534-4d92-8bb3-b87e6984b282?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e5940194-7534-4d92-8bb3-b87e6984b282?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/e5940194-7534-4d92-8bb3-b87e6984b282?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+ene_021_se4all_country_indicators_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+ene_021_se4all_country_indicators_georefed_longform+RENAME+TO+ene_021_se4all_country_indicators_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27ene_021_se4all_country_indicators_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22ene_021_se4all_country_indicators_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved ene_021_se4all_country_indicators long data to Carto
INFO:root:ene_022_se4all_tracking_goals
INFO:root:                                     series_name                 series_code  \
0  Access to electricity (% of total population)  1.1_ACCESS.ELECTRICITY.TOT
1  Access to electricity (% of total population)  1.1_ACCESS.ELECTRICITY.TOT
2  Access to electricity (% of total population)  1.1_ACCESS.ELECTRICITY.TOT
3  Access to electricity (% of total population)  1.1_ACCESS.ELECTRICITY.TOT
4  Access to electricity (% of total population)  1.1_ACCESS.ELECTRICITY.TOT

       country_name country_code   datetime       yr_data rw_country_code  \
0           Curacao          CUW 1990-01-01  9.206598e+07             NaN
1           Hungary          HUN 1990-01-01  1.000000e+02             HUN
2           Albania          ALB 1990-01-01  1.000000e+02             ALB
3            Greece          GRC 1990-01-01  1.000000e+02             GRC
4  Papua New Guinea          PNG 1990-01-01  6.165827e+09             PNG

    rw_country_name
0               NaN
1           Hungary
2           Albania
3            Greece
4  Papua New Guinea

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_021_se4all_country_indicators_georefed__longform

INFO:root:saved ene_022_se4all_tracking_goals long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `ene_022_se4all_tracking_goals_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/974e99d2-5fb8-4eae-9b4c-7423fd454171?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/974e99d2-5fb8-4eae-9b4c-7423fd454171?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/974e99d2-5fb8-4eae-9b4c-7423fd454171?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+ene_022_se4all_tracking_goals_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+ene_022_se4all_tracking_goals_georefed_longform+RENAME+TO+ene_022_se4all_tracking_goals_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27ene_022_se4all_tracking_goals_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22ene_022_se4all_tracking_goals_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved ene_022_se4all_tracking_goals long data to Carto
INFO:root:ene_028_access_clean_cooking_fuels
INFO:root:  country_code country_name     series_code  \
0          NRU        Nauru  EG.CFT.ACCS.ZS
1          AFG  Afghanistan  EG.CFT.ACCS.ZS
2          ALB      Albania  EG.CFT.ACCS.ZS
3          DZA      Algeria  EG.CFT.ACCS.ZS
4          BGD   Bangladesh  EG.CFT.ACCS.ZS

                                         series_name   datetime    yr_data  \
0  Access to clean fuels and technologies for coo... 2000-01-01        NaN
1  Access to clean fuels and technologies for coo... 2000-01-01  22.666341
2  Access to clean fuels and technologies for coo... 2000-01-01  48.022336
3  Access to clean fuels and technologies for coo... 2000-01-01  93.082431
4  Access to clean fuels and technologies for coo... 2000-01-01  10.548800

  rw_country_code rw_country_name
0             NRU           Nauru
1             AFG     Afghanistan
2             ALB         Albania
3             DZA         Algeria
4             BGD      Bangladesh

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_022_se4all_tracking_goals_georefed__longform

INFO:root:saved ene_028_access_clean_cooking_fuels long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `ene_028_access_clean_cooking_fuels_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/06e1f85b-0293-465b-9002-25b30be10c2a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/06e1f85b-0293-465b-9002-25b30be10c2a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/06e1f85b-0293-465b-9002-25b30be10c2a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/06e1f85b-0293-465b-9002-25b30be10c2a?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+ene_028_access_clean_cooking_fuels_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+ene_028_access_clean_cooking_fuels_georefed_longform+RENAME+TO+ene_028_access_clean_cooking_fuels_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27ene_028_access_clean_cooking_fuels_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22ene_028_access_clean_cooking_fuels_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22yr_data%22+TYPE+numeric+USING+NULLIF%28%22yr_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved ene_028_access_clean_cooking_fuels long data to Carto
INFO:root:foo_006_effects_climate_change_food_production
INFO:root:  bls_2_countries__sres__abbrevname fips_code iso3v10     wh_2000     ri_2000  \
0                       Afghanistan        AF     AFG  2750142.86   337285.71
1                       South Korea        KS     KOR     6733.71  6685892.71
2                        Madagascar        MA     MDG     9857.14  2922128.57
3                           Algeria        AG     DZA  2157083.86      300.00
4            Bosnia and Herzegovina        BK     BIH   260590.57         NaN

     mz_2000                 country  wh_gr  ri_gr  mz_gr   datetime  \
0  265285.71             Afghanistan  78.87  10.42  10.71 2020-01-01
1   68625.57             South Korea   0.15  98.85   1.00 2020-01-01
2  296400.86              Madagascar   0.15  93.14   6.71 2020-01-01
3    1249.14                 Algeria  99.93   0.05   0.01 2020-01-01
4  811312.57  Bosnia and Herzegovina  21.96   0.00  78.04 2020-01-01

   a1fi_data  a2a_data  a2b_data  a2c_data  actchmza1f_data  actchmza2a_data  \
0      -0.63     -0.48     -0.42     -0.56              NaN              NaN
1       0.30      0.62      0.54      0.60          3931.79          2548.75
2      -0.67     -0.66     -0.58     -0.44        -12395.08        -13323.92
3       0.45      0.30      0.52      0.62              NaN              NaN
4      -2.42     -2.69     -2.25     -1.77        -64135.60        -70787.95

   actchmza2b_data  actchmza2c_data  actchmzb1a_data  actchmzb2a_data  \
0              NaN              NaN              NaN              NaN
1          2647.58          1462.81          2133.49          1248.31
2        -11993.58        -10473.48        -13642.62        -18350.13
3              NaN              NaN              NaN              NaN
4        -60059.62        -48502.42        -88307.61        -96206.39

   actchmzb2b_data  actchria2a_data  actchria2b_data  actchria2c_data  \
0              NaN              NaN              NaN              NaN
1          2346.20        122716.09        106899.23        119507.68
2        -15565.61        -52568.38        -46170.88        -33976.35
3              NaN              NaN              NaN              NaN
4        -72911.33             0.00             0.00             0.00

   actchriaif_data  actchrib1a_data  actchrib2a_data  actchrib2b_data  \
0              NaN              NaN              NaN              NaN
1         56078.80         48676.23         10180.08          7473.59
2        -54315.14        -70134.50        -97187.89        -80536.13
3              NaN              NaN              NaN              NaN
4             0.00             0.00             0.00             0.00

   actchwha1f_data  actchwha2a_data  actchwha2b_data  actchwha2c_data  \
0              NaN              NaN              NaN              NaN
1           131.57           117.82           116.38            80.40
2            13.92            19.82            41.40            82.53
3              NaN              NaN              NaN              NaN
4        -12782.40        -14919.11        -11473.21         -7761.08

   actchwhb1a_data  actchwhb2a_data  actchwhb2b_data  b1a_data  b2a_data  \
0              NaN              NaN              NaN     -0.51     -0.99
1            97.29             4.05            66.40      0.25      0.06
2           -39.44          -130.70           -74.53     -0.85     -1.17
3              NaN              NaN              NaN      0.11     -0.29
4        -20546.36        -23083.42        -15601.13     -3.41     -3.73

   b2b_data  mza1f_data  mza2a_data  mza2b_data  mza2c_data  mzb1a_data  \
0     -0.74       -5.54       -5.44       -5.03       -5.36       -5.08
1      0.05        5.73        3.71        3.86        2.13        3.11
2     -0.97       -4.18       -4.50       -4.05       -3.53       -4.60
3      0.08       -4.30       -5.49       -4.37       -3.87       -5.06
4     -2.78       -7.91       -8.73       -7.40       -5.98      -10.88

   mzb2a_data  mzb2b_data  ria1f_data  ria2a_data  ria2b_data  ria2c_data  \
0       -7.11       -6.03       -3.22       -2.74       -2.56       -2.99
1        1.82        3.42        0.84        1.84        1.60        1.79
2       -6.19       -5.25       -1.86       -1.80       -1.58       -1.16
3       -7.59       -5.74       -0.65       -1.09       -0.44       -0.13
4      -11.86       -8.99       -6.91       -7.73       -6.40       -4.98

   rib1a_data  rib2a_data  rib2b_data  wha1f_data  wha2a_data  wha2b_data  \
0       -2.87       -4.24       -3.54       -1.22       -0.74       -0.56
1        0.73        0.15        0.11        1.95        1.75        1.73
2       -2.40       -3.33       -2.76        0.14        0.20        0.42
3       -1.65       -2.86       -1.75        1.35        0.91        1.56
4       -9.88      -10.86       -7.99       -4.91       -5.73       -4.40

   wha2c_data  whb1a_data  whb2a_data  whb2b_data rw_country_code  \
0       -0.99       -0.87       -2.24       -1.54             AFG
1        1.19        1.44        0.06        0.99             KOR
2        0.84       -0.40       -1.33       -0.76             MDG
3        1.87        0.35       -0.86        0.25             DZA
4       -2.98       -7.88       -8.86       -5.99             BIH

          rw_country_name
0             Afghanistan
1             South Korea
2              Madagascar
3                 Algeria
4  Bosnia and Herzegovina

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_028_access_clean_cooking_fuels_georefed__longform

INFO:root:saved foo_006_effects_climate_change_food_production long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `foo_006_effects_climate_change_food_production_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))

The following columns were changed in the CARTO copy of this dataframe:
bls_2_countries__sres__abbrevname -> bls_2_countries_sres_abbrevname

DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/04cfa974-9b83-43f0-a59e-87fce480bbec?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/04cfa974-9b83-43f0-a59e-87fce480bbec?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/04cfa974-9b83-43f0-a59e-87fce480bbec?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/04cfa974-9b83-43f0-a59e-87fce480bbec?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+foo_006_effects_climate_change_food_production_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+foo_006_effects_climate_change_food_production_georefed_longfor+RENAME+TO+foo_006_effects_climate_change_food_production_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27foo_006_effects_climate_change_food_production_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 475
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v2/sql?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
INFO:root:saved foo_006_effects_climate_change_food_production long data to Carto
INFO:root:foo_015_global_hunger_index
INFO:root:        country   datetime  ghi_data rw_country_code rw_country_name
0         Ghana 1992-01-01      41.9             GHA           Ghana
1        Guinea 1992-01-01      46.5             GIN          Guinea
2  GuineaBissau 1992-01-01      44.5             GNB   Guinea Bissau
3          Iraq 1992-01-01      21.8             IRQ            Iraq
4        Guyana 1992-01-01      22.3             GUY          Guyana
INFO:root:saved foo_015_global_hunger_index long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `foo_015_global_hunger_index_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_006_effects_climate_change_food_production_georefed__longform

DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/c5477ec4-a529-47f8-9c58-54f96fd849aa?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/c5477ec4-a529-47f8-9c58-54f96fd849aa?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/c5477ec4-a529-47f8-9c58-54f96fd849aa?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/c5477ec4-a529-47f8-9c58-54f96fd849aa?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+foo_015_global_hunger_index_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+foo_015_global_hunger_index_georefed_longform+RENAME+TO+foo_015_global_hunger_index_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27foo_015_global_hunger_index_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22foo_015_global_hunger_index_georefed__longform%22+ALTER+COLUMN+%22datetime%22+TYPE+timestamp+USING+NULLIF%28%22datetime%22%2C+%27%27%29%3A%3Atimestamp%2C+ALTER+COLUMN+%22ghi_data%22+TYPE+numeric+USING+NULLIF%28%22ghi_data%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved foo_015_global_hunger_index long data to Carto
INFO:root:foo_019_child_malnutrition_edit
INFO:root:   cartodb_georef_status                         country iso_code  \
0                   True                         GEORGIA      GEO
1                   True  UNITED STATES OF AMERICA (THE)      USA
2                   True                         VANUATU      VUT
3                   True                          ZAMBIA      ZMB
4                   True                        ZIMBABWE      ZWE

  millenium_development_goals___region                 notes  overweight  \
0            Caucasus and Central Asia                              19.9
1                    Developed regions                               6.0
2                              Oceania  (pending reanalysis)         4.6
3                   Sub-Saharan Africa                               6.2
4                   Sub-Saharan Africa                               3.6

                                       report_author  severe_wasting  \
0  Georgia National Center for Disease Control an...             0.6
1  Centers for Disease Control and Prevention (CD...             0.0
2  Vanuatu  National  Statistics  Office (VNSO) a...             1.1
3  Central Statistical Office (CSO) [Zambia], Min...             2.5
4     Zimbabwe National Statistics Agency (ZIMSTAT).             0.7

                                              source  stunting  \
0  Report of the Georgia national nutrition surve...      11.3
1  National Health and Nutrition Examination Surv...       2.1
2  Vanuatu demographic and health survey 2013. Po...      28.5
3  Zambia demographic and health Survey 2013-14. ...      40.0
4  Multiple indicator cluster survey 2014. Key fi...      27.6

   survey_sample_size_n survey_year  \
0                3020.0        2009
1                 600.0     2011-12
2                1241.0        2013
3               12757.0     2013-14
4                   NaN        2014

                                            the_geom un_region un_sub_region  \
0  0106000020E61000000100000001030000000100000018...      ASIA      WESTASIA
1  0106000020E61000005A01000001030000000100000079...   AMERICA      NORTHAME
2  0106000020E61000001B00000001030000000100000017...   OCEANIA      MELANESI
3  0106000020E610000001000000010300000001000000E4...    AFRICA      EASTAFRI
4  0106000020E610000001000000010300000001000000FE...    AFRICA      EASTAFRI

   under_5_population_000s  underweight   unicef_region  wasting  \
0                  260.445          1.1          CEECIS      1.6
1                20020.162          0.5  Industrialized      0.5
2                   35.253         10.7           EAPRO      4.4
3                 2732.145         14.8           ESARO      6.3
4                 2460.013         11.2           ESARO      3.3

   who_global_database_reference_number world_bank___income_group  \
0                                3082.0       Upper middle income
1                                3188.0               High income
2                                3253.0       Lower middle income
3                                3263.0       Lower middle income
4                                3228.0                Low income

     world_bank___region world_health_organization___region  year  \
0  Europe & Central Asia                               EURO  2009
1          North America                               AMRO  2012
2    East Asia & Pacific                               WPRO  2013
3     Sub-Saharan Africa                               AFRO  2013
4     Sub-Saharan Africa                               AFRO  2014

  rw_country_code           rw_country_name
0             GEO                   Georgia
1             USA  United States of America
2             VUT                   Vanuatu
3             ZMB                    Zambia
4             ZWE                  Zimbabwe

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_015_global_hunger_index_georefed__longform

INFO:root:saved foo_019_child_malnutrition_edit long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `foo_019_child_malnutrition_edit_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))

The following columns were changed in the CARTO copy of this dataframe:
millenium_development_goals___region -> millenium_development_goals__region
world_bank___income_group -> world_bank__income_group
world_bank___region -> world_bank__region
world_health_organization___region -> world_health_organization__region

DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/8c9e3fbd-cfa4-49ff-8bd4-3c1c154db74f?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+foo_019_child_malnutrition_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+foo_019_child_malnutrition_edit_georefed_longform+RENAME+TO+foo_019_child_malnutrition_edit_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27foo_019_child_malnutrition_edit_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22foo_019_child_malnutrition_edit_georefed__longform%22+ALTER+COLUMN+%22cartodb_georef_status%22+TYPE+boolean+USING+NULLIF%28%22cartodb_georef_status%22%2C+%27%27%29%3A%3Aboolean%2C+ALTER+COLUMN+%22overweight%22+TYPE+numeric+USING+NULLIF%28%22overweight%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22severe_wasting%22+TYPE+numeric+USING+NULLIF%28%22severe_wasting%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22stunting%22+TYPE+numeric+USING+NULLIF%28%22stunting%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22survey_sample_size_n%22+TYPE+numeric+USING+NULLIF%28%22survey_sample_size_n%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22under_5_population_000s%22+TYPE+numeric+USING+NULLIF%28%22under_5_population_000s%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22underweight%22+TYPE+numeric+USING+NULLIF%28%22underweight%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22wasting%22+TYPE+numeric+USING+NULLIF%28%22wasting%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22who_global_database_reference_number%22+TYPE+numeric+USING+NULLIF%28%22who_global_database_reference_number%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22year%22+TYPE+numeric+USING+NULLIF%28%22year%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 51
INFO:root:saved foo_019_child_malnutrition_edit long data to Carto
INFO:root:foo_040_fisheries_vuln_climat
INFO:root:   cartodb_georef_status country_territory field_8  rcp26___2016_2050  \
0                   True         ARGENTINA                   0.084542
1                   True            GUINEA                   0.608461
2                   True            GREECE                   0.417849
3                   True         INDONESIA                   0.677371
4                   True             ITALY                   0.253508

   rcp26___2066_2100  rcp45___2016_2050  rcp45___2066_2100  rcp85___2016_2050  \
0           0.140873           0.154796           0.206472           0.167004
1           0.630403           0.592828           0.472417           0.521583
2           0.451428           0.380012           0.382750           0.413244
3           0.636761           0.666611           0.503550           0.594091
4           0.282689           0.229789           0.212533           0.255898

   rcp85___2066_2100                                           the_geom  \
0           0.013712  0106000020E6100000080000000103000000010000000D...
1           0.431501  0106000020E6100000010000000103000000010000005E...
2           0.295589  0106000020E61000004A00000001030000000100000012...
3           0.533419  0106000020E6100000080100000103000000010000000E...
4           0.274187  0106000020E61000001D00000001030000000100000012...

  rw_country_code rw_country_name
0             ARG       Argentina
1             GIN          Guinea
2             GRC          Greece
3             IDN       Indonesia
4             ITA           Italy

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_019_child_malnutrition_edit_georefed__longform

INFO:root:saved foo_040_fisheries_vuln_climat long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:241: UserWarning: Table will be named `foo_040_fisheries_vuln_climat_georefed__longform`
  warn('Table will be named `{}`'.format(table_name))

The following columns were changed in the CARTO copy of this dataframe:
rcp26___2016_2050 -> rcp26__2016_2050
rcp26___2066_2100 -> rcp26__2066_2100
rcp45___2016_2050 -> rcp45__2016_2050
rcp45___2066_2100 -> rcp45__2066_2100
rcp85___2016_2050 -> rcp85__2016_2050
rcp85___2066_2100 -> rcp85__2066_2100

DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "POST /api/v1/imports?type_guessing=false&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v1/imports/39a5d61e-c7cd-48b9-8ce1-d5ebb65fecae?api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=%0A++++++++++++++++++++++++++++DROP+TABLE+IF+EXISTS+foo_040_fisheries_vuln_climat_georefed__longform%3B%0A++++++++++++++++++++++++++++ALTER+TABLE+foo_040_fisheries_vuln_climat_georefed_longform+RENAME+TO+foo_040_fisheries_vuln_climat_georefed__longform%3B%0A++++++++++++++++++++++++++++SELECT+CDB_TableMetadataTouch%28%0A+++++++++++++++++++++++++++++++++++++++%27foo_040_fisheries_vuln_climat_georefed__longform%27%3A%3Aregclass%29%3B%0A++++++++++++++++++++++++++++&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 120
DEBUG:urllib3.connectionpool:https://wri-rw.carto.com:443 "GET /api/v2/sql?q=ALTER+TABLE+%22foo_040_fisheries_vuln_climat_georefed__longform%22+ALTER+COLUMN+%22cartodb_georef_status%22+TYPE+boolean+USING+NULLIF%28%22cartodb_georef_status%22%2C+%27%27%29%3A%3Aboolean%2C+ALTER+COLUMN+%22rcp26__2016_2050%22+TYPE+numeric+USING+NULLIF%28%22rcp26__2016_2050%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rcp26__2066_2100%22+TYPE+numeric+USING+NULLIF%28%22rcp26__2066_2100%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rcp45__2016_2050%22+TYPE+numeric+USING+NULLIF%28%22rcp45__2016_2050%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rcp45__2066_2100%22+TYPE+numeric+USING+NULLIF%28%22rcp45__2066_2100%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rcp85__2016_2050%22+TYPE+numeric+USING+NULLIF%28%22rcp85__2016_2050%22%2C+%27%27%29%3A%3Anumeric%2C+ALTER+COLUMN+%22rcp85__2066_2100%22+TYPE+numeric+USING+NULLIF%28%22rcp85__2066_2100%22%2C+%27%27%29%3A%3Anumeric%3B&client=cartoframes_0.3.0b5&api_key=65efbcc00e9591f334fcad66b3d9515228a7deef HTTP/1.1" 200 50
INFO:root:saved foo_040_fisheries_vuln_climat long data to Carto
INFO:root:foo_041_agricultural_emissions
INFO:root:   cartodb_georef_status                           country  country_code  \
0                   True                            Angola             7
1                   True                            Latvia           119
2                   True  Lao People's Democratic Republic           120
3                   True                           Algeria             4
4                   True                          Cameroon            32

              domain domain_code            element  element_code flag  \
0  Agriculture Total          GT  Emissions (CO2eq)          7231    A
1  Agriculture Total          GT  Emissions (CO2eq)          7231    A
2  Agriculture Total          GT  Emissions (CO2eq)          7231    A
3  Agriculture Total          GT  Emissions (CO2eq)          7231    A
4  Agriculture Total          GT  Emissions (CO2eq)          7231    A

                                    flag_description               item  \
0  Aggregate, may include official, semi-official...  Agriculture total
1  Aggregate, may include official, semi-official...  Agriculture total
2  Aggregate, may include official, semi-official...  Agriculture total
3  Aggregate, may include official, semi-official...  Agriculture total
4  Aggregate, may include official, semi-official...  Agriculture total

   item_code                                           the_geom       unit  \
0       1711  0106000020E6100000030000000103000000010000000E...  gigagrams
1       1711  0106000020E61000000100000001030000000100000020...  gigagrams
2       1711  0106000020E610000001000000010300000001000000E9...  gigagrams
3       1711  0106000020E610000001000000010300000001000000E1...  gigagrams
4       1711  0106000020E610000001000000010300000001000000B2...  gigagrams

      value  value_gigatonnes rw_country_code rw_country_name
0  29584.12          0.029584             AGO          Angola
1   3150.13          0.003150             LVA          Latvia
2   8096.85          0.008097             LAO            Laos
3  12794.06          0.012794             DZA         Algeria
4  11594.56          0.011595             CMR        Cameroon

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_040_fisheries_vuln_climat_georefed__longform

KeyboardInterrupt: