In [158]:
import cartoframes
import pandas as pd
pd.options.display.max_columns = 200

import requests as req
import json
import boto3
import io
import datetime
from dateutil import parser

import sys
import logging
import os

ACCESS_ID = os.environ.get('S3_ACCESS_ID')
SECRET_KEY = os.environ.get('S3_ACCESS_KEY')

s3_client = boto3.client(
    's3',
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key=SECRET_KEY
)
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key=SECRET_KEY
)

s3_bucket = "wri-public-data"
s3_folder = "resourcewatch/wide_to_long/"

# Functions for reading and uploading data to/from S3
def read_from_S3(bucket, key, index_col=0):
    obj = s3_client.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()), index_col=[index_col], encoding="utf8")
    return(df)

def write_to_S3(df, bucket, key):
    csv_buffer = io.StringIO()
    # Need to set encoding in Python2... default of 'ascii' fails
    df.to_csv(csv_buffer, encoding='utf-8')
    s3_resource.Object(bucket, key).put(Body=csv_buffer.getvalue())


# Set up carto context
user = 'wri-rw' # 'rw-nrt'
key = {
    'wri-rw':'',
    'rw-nrt':''
}
cc = cartoframes.CartoContext(base_url='https://{}.carto.com/'.format(user),
                              api_key=key[user])

# Access data from API
# Base URL for getting dataset metadata from RW API
# Metadata = Data that describes Data
url = "https://api.resourcewatch.org/v1/dataset?sort=slug,-provider,userId&status=saved&includes=metadata,vocabulary,widget,layer"

# page[size] tells the API the maximum number of results to send back
# There are currently between 200 and 300 datasets on the RW API
payload = { "application":"rw", "page[size]": 1000}

# Request all datasets, and extract the data from the response
res = req.get(url, params=payload)
data = res.json()["data"]

#############################################################

### Convert the json object returned by the API into a pandas DataFrame
# Another option: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html
datasets_on_api = {}
for ix, dset in enumerate(data):
    atts = dset["attributes"]
    metadata = atts["metadata"]
    layers = atts["layer"]
    widgets = atts["widget"]
    tags = atts["vocabulary"]
    datasets_on_api[dset["id"]] = {
        "name":atts["name"],
        "table_name":atts["tableName"],
        "provider":atts["provider"],
        "date_updated":atts["updatedAt"],
        "num_metadata":len(metadata),
        "metadata": metadata,
        "num_layers":len(layers),
        "layers": layers,
        "num_widgets":len(widgets),
        "widgets": widgets,
        "num_tags":len(tags),
        "tags":tags
    }

# Create the DataFrame, name the index, and sort by date_updated
# More recently updated datasets at the top
current_datasets_on_api = pd.DataFrame.from_dict(datasets_on_api, orient='index')
current_datasets_on_api.index.rename("Dataset", inplace=True)
current_datasets_on_api.sort_values(by=["date_updated"], inplace=True, ascending = False)

# Carto datasets
provider = "cartodb"
carto_ids = (current_datasets_on_api["provider"]==provider)
carto_data = current_datasets_on_api.loc[carto_ids]

logging.info("Number of Carto datasets: " + str(carto_data.shape[0]))


# Long form table possibilities
long_forms = {"cit.022":"6b670396-c52c-430c-b5bb-20693da03b60","cit.025":"d38d0d5c-31b1-47f4-9d2e-d8fba4c7d083","cit.028":"35ce2b98-adbb-4873-b334-d7b1cc542de7","cit.029":"10337db6-8321-445e-a60b-28fc1e114f29","cli.007":"3d2ce960-abda-4c9c-bd29-1929e9ca24c9","cli.008":"3a46f6b4-0eec-49d4-bbfc-e2e8f64e6117","com.006":"2e31a1f3-576b-46b4-84f0-3f0cc399f887","com.007":"fe311144-8c0e-4440-b068-6efd057e0f6a","com.009":"c61c364b-1d68-4dd9-ae3d-76c2a0022280","com.010":"52c55378-0484-48c3-92fc-3ee94d21c716","com.015":"c18a38cd-94ff-48cd-818f-6ffb05992abb","com.019":"5e3a3a9f-7380-47c0-ad84-2c193861e106","com.028":"62c988a7-1e4d-418e-87bf-a743e24209e8","ene.012":"d446a52e-c4c1-4e74-ae30-3204620a0365","ene.021":"2c092793-aa3a-4520-959c-ad48165dcae4","ene.022":"d639909f-bcf3-4875-b8c3-35f030b68ed3","ene.028":"c665f519-eef9-4f67-a8bf-7e3e6dc8bfcd","foo.006":"2034a766-6e8a-416d-b8ab-9b7b3e3abb15","foo.015":"4338471d-881a-475f-8bd9-60c4d48b8e12","foo.019":"8bc79a36-d77e-4ee3-b9bc-c77146cfc503","foo.040":"91ff1359-6680-49bc-8002-20256e999993","foo.041":"ccfb322a-20aa-4132-b58b-0f76acec8f5a","foo.042":"7a551dd8-b59c-4f59-9d50-c92cb61c5799","foo.043":"95b013a3-389a-4367-83b7-c9d68c28c406","for.021":"05b7c688-09ba-4f33-90ea-185a1039df43","soc.004":"bea122ce-1e4b-465d-8b7b-fa11aadd20f7","cit.017":"0303127a-70b0-4164-9251-d8162615d058","soc.005":"a7067e9f-fe40-4338-85da-13a6071c76fe","soc.006":"a89c95c7-0b82-4162-b9d8-cc0205e9f7ec","soc.008":"00abb46f-34e2-4bf7-be30-1fb0b1de022f","soc.015":"e8f53f73-d77c-485a-a2a6-1c47ea4aead9","soc.020":"f8d3e79c-c3d0-4f9a-9b68-9c5ad1f025e4","soc.023":"d3a6b89f-cf5c-40cf-b2b3-ac1c8315c648","soc.025":"11278cb6-b298-49a1-bf71-f1e269f40758","soc.029":"7793f46c-a48a-466f-a8ce-ca1a87b7aeed","soc.035":"e7780d53-ad80-45bd-a271-79615ee97a37","soc.036":"8671f536-1979-4b6f-a147-70152fcb44ed","soc.039":"b37048be-9b23-4458-a047-888956c69aa1","soc.040":"37d04efc-0ab2-4499-a891-54dca1013c74","soc.062":"5e69cfac-1f68-4864-a19a-3c1bdb180100","wat.005":"1b97e47e-ca18-4e50-9aae-a2853acca3f0","cli.029":"fa6443ff-eb95-4d0f-84d2-f0c91682efdf","ene.017":"75061411-3afd-442f-b7d6-7607f97f639b"}
logging.info(long_forms)

INFO:root:Number of Carto datasets: 216
INFO:root:{'cit.022': '6b670396-c52c-430c-b5bb-20693da03b60', 'cit.025': 'd38d0d5c-31b1-47f4-9d2e-d8fba4c7d083', 'cit.028': '35ce2b98-adbb-4873-b334-d7b1cc542de7', 'cit.029': '10337db6-8321-445e-a60b-28fc1e114f29', 'cli.007': '3d2ce960-abda-4c9c-bd29-1929e9ca24c9', 'cli.008': '3a46f6b4-0eec-49d4-bbfc-e2e8f64e6117', 'com.006': '2e31a1f3-576b-46b4-84f0-3f0cc399f887', 'com.007': 'fe311144-8c0e-4440-b068-6efd057e0f6a', 'com.009': 'c61c364b-1d68-4dd9-ae3d-76c2a0022280', 'com.010': '52c55378-0484-48c3-92fc-3ee94d21c716', 'com.015': 'c18a38cd-94ff-48cd-818f-6ffb05992abb', 'com.019': '5e3a3a9f-7380-47c0-ad84-2c193861e106', 'com.028': '62c988a7-1e4d-418e-87bf-a743e24209e8', 'ene.012': 'd446a52e-c4c1-4e74-ae30-3204620a0365', 'ene.021': '2c092793-aa3a-4520-959c-ad48165dcae4', 'ene.022': 'd639909f-bcf3-4875-b8c3-35f030b68ed3', 'ene.028': 'c665f519-eef9-4f67-a8bf-7e3e6dc8bfcd', 'foo.006': '2034a766-6e8a-416d-b8ab-9b7b3e3abb15', 'foo.015': '4338471d-881a-475f-8bd9-60c4d48b8e12', 'foo.019': '8bc79a36-d77e-4ee3-b9bc-c77146cfc503', 'foo.040': '91ff1359-6680-49bc-8002-20256e999993', 'foo.041': 'ccfb322a-20aa-4132-b58b-0f76acec8f5a', 'foo.042': '7a551dd8-b59c-4f59-9d50-c92cb61c5799', 'foo.043': '95b013a3-389a-4367-83b7-c9d68c28c406', 'for.021': '05b7c688-09ba-4f33-90ea-185a1039df43', 'soc.004': 'bea122ce-1e4b-465d-8b7b-fa11aadd20f7', 'cit.017': '0303127a-70b0-4164-9251-d8162615d058', 'soc.005': 'a7067e9f-fe40-4338-85da-13a6071c76fe', 'soc.006': 'a89c95c7-0b82-4162-b9d8-cc0205e9f7ec', 'soc.008': '00abb46f-34e2-4bf7-be30-1fb0b1de022f', 'soc.015': 'e8f53f73-d77c-485a-a2a6-1c47ea4aead9', 'soc.020': 'f8d3e79c-c3d0-4f9a-9b68-9c5ad1f025e4', 'soc.023': 'd3a6b89f-cf5c-40cf-b2b3-ac1c8315c648', 'soc.025': '11278cb6-b298-49a1-bf71-f1e269f40758', 'soc.029': '7793f46c-a48a-466f-a8ce-ca1a87b7aeed', 'soc.035': 'e7780d53-ad80-45bd-a271-79615ee97a37', 'soc.036': '8671f536-1979-4b6f-a147-70152fcb44ed', 'soc.039': 'b37048be-9b23-4458-a047-888956c69aa1', 'soc.040': '37d04efc-0ab2-4499-a891-54dca1013c74', 'soc.062': '5e69cfac-1f68-4864-a19a-3c1bdb180100', 'wat.005': '1b97e47e-ca18-4e50-9aae-a2853acca3f0', 'cli.029': 'fa6443ff-eb95-4d0f-84d2-f0c91682efdf', 'ene.017': '75061411-3afd-442f-b7d6-7607f97f639b'}

In [161]:
cc.read('cit_029_municipal_waste')

,_2012_2015_avg,country,the_geom,yr_1990,yr_1991,yr_1992,yr_1993,yr_1994,yr_1995,yr_1996,yr_1997,yr_1998,yr_1999,yr_2000,yr_2001,yr_2002,yr_2003,yr_2004,yr_2005,yr_2006,yr_2007,yr_2008,yr_2009,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015
cartodb_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
13,522.890000,Iceland,0106000020E6100000050000000103000000010000000F...,NaN,NaN,NaN,NaN,NaN,426.369,435.077,442.955,449.251,454.580,462.387,466.586,476.442,483.985,502.428,517.140,561.905,558.790,650.705,412.862,481.144,495.295,513.820,517.897,536.953,NaN
14,587.203000,Ireland,0106000020E6100000070000000103000000010000000E...,NaN,NaN,NaN,NaN,NaN,513.204,523.456,545.852,555.445,579.431,601.288,702.885,694.476,733.122,741.768,735.570,799.594,776.457,718.871,651.383,624.863,617.076,587.203,NaN,NaN,NaN
26,448.354667,Portugal,0106000020E61000001100000001030000000100000005...,300.504,NaN,328.561,357.563,380.323,387.386,397.757,403.602,420.760,427.058,440.355,434.316,441.009,448.691,444.988,451.779,465.496,471.146,518.256,520.074,516.134,490.433,453.257,439.688,452.119,NaN
27,314.840750,Slovak Republic,0106000020E6100000010000000103000000010000003D...,NaN,NaN,301.602,300.452,299.271,302.126,313.764,329.867,322.785,320.811,316.721,NaN,269.507,281.247,260.603,273.185,283.636,293.800,313.341,307.134,318.842,311.004,306.343,303.666,319.978,329.376
28,414.217000,Slovenia,0106000020E61000000100000001030000000100000007...,NaN,NaN,NaN,NaN,NaN,596.693,590.106,588.872,584.479,548.964,512.493,478.245,406.901,417.684,485.332,494.090,516.038,524.951,541.256,523.592,489.884,415.163,361.826,414.445,432.528,448.069
29,451.394500,Spain,0106000020E61000001700000001030000000100000028...,NaN,NaN,NaN,NaN,NaN,471.608,494.198,516.587,520.256,565.562,609.805,609.178,637.416,646.266,600.712,588.215,590.822,578.168,550.570,541.499,510.592,485.114,468.207,454.663,448.441,434.267
30,446.197000,Sweden,0106000020E61000002900000001030000000100000015...,373.883,NaN,NaN,NaN,399.397,385.751,391.133,415.778,437.127,428.320,427.520,439.211,464.876,463.887,459.714,476.850,489.696,485.617,483.164,469.507,438.797,449.375,450.144,450.163,437.851,446.630
31,724.606500,Switzerland,0106000020E610000001000000010300000001000000EE...,610.970,607.531,595.852,596.720,595.027,602.214,605.216,605.792,614.543,637.627,658.524,663.378,677.580,669.846,663.092,664.236,712.192,723.734,739.179,705.206,710.912,692.331,700.924,711.903,743.784,741.815
32,406.146000,Turkey,0106000020E61000000600000001030000000100000011...,NaN,398.091,NaN,NaN,398.525,455.756,483.723,518.719,527.870,480.873,476.390,476.180,469.668,465.328,439.893,458.124,434.111,432.817,400.469,419.161,406.510,415.797,409.520,406.550,406.097,402.417
33,487.646000,United Kingdom,0106000020E61000003900000001030000000100000008...,473.462,NaN,NaN,NaN,NaN,498.070,511.476,532.316,542.051,569.004,576.586,591.136,606.663,599.586,610.677,589.367,591.291,575.049,548.093,529.233,516.106,497.573,483.836,488.477,489.096,489.175
34,731.217667,United States,0106000020E61000005A01000001030000000100000079...,756.898,744.914,760.153,760.807,762.913,740.252,727.346,742.326,746.917,763.618,782.719,766.575,773.785,770.568,787.329,778.907,781.678,772.473,753.714,724.278,736.225,731.024,727.336,730.969,735.348,NaN
1,557.161000,Australia,0106000020E61000005E00000001030000000100000022...,NaN,NaN,686.538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,693.715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,647.072,NaN,628.335,NaN,NaN,NaN,557.161
2,573.369500,Austria,0106000020E61000000100000001030000000100000049...,417.305,403.101,405.066,422.610,428.421,437.328,483.100,499.119,499.324,521.876,539.346,535.793,567.796,567.487,573.687,575.263,596.581,596.864,600.478,589.943,562.225,573.032,579.530,579.224,568.332,566.392
3,430.451000,Belgium,0106000020E6100000010000000103000000010000008D...,344.725,NaN,NaN,NaN,NaN,455.074,449.657,456.722,451.142,459.790,471.162,466.822,482.058,464.913,485.456,482.125,484.928,493.426,479.366,466.541,455.392,455.749,446.522,436.851,424.330,414.101
4,418.725000,Chile,0106000020E6100000A300000001030000000100000018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.568,289.930,295.137,301.662,308.456,314.355,323.192,330.936,334.537,341.399,347.233,356.113,NaN,NaN,418.725,NaN
5,310.364000,Czech Republic,0106000020E6100000010000000103000000010000009B...,NaN,NaN,NaN,NaN,240.882,302.011,310.217,318.334,293.057,327.246,334.291,273.665,278.901,280.053,278.341,288.643,296.007,293.044,304.515,315.494,317.003,319.911,307.633,307.137,309.800,316.886
15,611.817750,Israel,0106000020E610000001000000010300000001000000A6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630.866,557.597,586.822,575.037,584.244,589.602,599.277,599.435,606.683,607.957,606.438,611.115,611.524,608.649,610.721,616.377
16,484.390750,Italy,0106000020E61000001D00000001030000000100000012...,352.614,408.749,NaN,459.250,NaN,453.520,456.558,467.654,471.754,498.346,508.569,516.154,522.487,521.399,535.451,540.345,551.666,547.972,542.534,533.404,536.346,517.695,492.381,483.390,482.793,478.999
17,352.115333,Japan,0106000020E61000006D00000001030000000100000008...,406.564,412.212,409.017,410.916,414.291,415.892,420.355,420.862,423.795,423.875,432.004,429.578,425.300,425.245,418.025,412.626,407.176,397.715,376.735,362.735,354.207,355.480,354.735,352.517,349.094,NaN
18,357.689333,Korea,0106000020E6100000350000000103000000010000003D...,714.873,777.671,626.543,519.817,475.187,386.712,400.280,380.421,351.567,357.149,360.574,373.798,382.473,386.945,379.938,366.965,368.561,378.125,388.284,377.801,363.142,358.803,357.588,354.164,361.316,NaN
19,353.795000,Latvia,0106000020E61000000100000001030000000100000020...,NaN,NaN,NaN,NaN,NaN,264.380,264.526,255.256,247.716,256.434,271.166,305.070,343.264,303.765,318.312,319.814,342.596,391.269,345.342,351.576,324.235,349.875,323.259,343.362,355.689,392.870
20,637.173750,Luxembourg,0106000020E610000001000000010300000001000000C5...,585.570,560.207,498.553,505.642,486.691,587.433,584.948,603.624,625.359,645.543,653.816,646.002,652.824,680.956,683.275,678.144,687.806,700.063,704.196,685.187,685.640,674.736,659.345,623.315,633.345,632.690
21,359.687000,Mexico,0106000020E6100000330000000103000000010000000D...,NaN,237.641,243.725,306.652,316.719,322.886,333.339,301.142,310.203,310.432,304.601,308.342,311.103,314.321,326.602,330.421,333.322,335.785,337.784,339.602,350.606,354.957,359.687,NaN,NaN,NaN
22,530.634250,Netherlands,0106000020E61000000B0000000103000000010000000A...,496.940,495.693,NaN,547.861,552.629,539.297,551.495,575.633,577.378,582.149,598.348,595.157,599.668,585.752,598.583,598.595,597.146,605.676,600.039,589.097,570.796,567.840,549.270,526.052,525.756,521.459
23,631.454000,New Zealand,0106000020E61000001900000001030000000100000024...,982.276,NaN,NaN,NaN,NaN,865.688,NaN,NaN,NaN,NaN,NaN,NaN,765.364,763.554,779.444,NaN,754.205,NaN,NaN,NaN,581.982,572.994,570.323,604.223,649.924,701.346
24,460.452500,Norway,0106000020E61000006000000001030000000100000028...,554.747,NaN,534.609,530.050,562.462,637.220,643.081,630.222,651.494,599.915,619.651,364.543,396.192,406.267,418.611,429.971,463.799,495.919,492.318,474.643,469.397,485.258,476.684,495.661,423.485,445.980
25,291.929750,Poland,0106000020E61000000100000001030000000100000038...,291.815,279.169,278.226,278.519,287.974,287.002,303.515,318.160,308.920,321.836,319.584,290.425,274.872,259.850,255.603,318.883,320.857,321.755,319.919,315.909,312.384,314.829,313.595,296.799,271.577,285.748
6,793.811250,Denmark,0106000020E61000000F00000001030000000100000045...,NaN,NaN,NaN,NaN,538.322,520.697,618.080,587.324,592.170,625.540,664.093,656.679,663.699,671.172,695.159,736.239,739.525,789.719,830.054,761.530,771.043,780.710,790.654,790.214,795.114,799.263
7,322.219250,Estonia,0106000020E6100000080000000103000000010000000C...,NaN,NaN,NaN,NaN,NaN,371.007,399.127,423.714,401.832,412.135,458.916,370.243,404.562,416.287,447.001,434.561,398.208,448.476,390.969,337.693,303.691,298.889,279.095,292.605,356.866,360.311
8,494.619250,Finland,0106000020E61000002A0000000103000000010000000F...,NaN,NaN,NaN,NaN,412.736,412.884,409.676,447.732,465.477,484.027,502.415,465.009,458.538,465.918,469.371,477.477,493.659,505.652,520.986,479.955,469.787,504.827,505.819,492.932,481.222,498.504
9,513.426250,France,0106000020E61000000800000001030000000100000021...,NaN,NaN,461.239,472.165,NaN,477.097,487.123,497.628,508.773,508.935,515.751,527.898,532.021,507.541,520.586,531.350,537.515,544.262,542.514,536.392,534.170,538.923,523.780,518.373,509.295,502.257
10,623.387750,Germany,0106000020E61000001600000001030000000100000016...,627.661,NaN,NaN,NaN,NaN,623.104,641.447,657.843,646.677,637.915,642.367,632.362,639.750,601.230,586.963,564.512,563.583,582.097,589.051,591.754,602.089,619.906,618.694,614.665,631.562,628.630
11,503.607000,Greece,0106000020E61000004A00000001030000000100000012...,295.366,NaN,308.587,NaN,NaN,300.911,336.161,361.899,376.746,391.819,407.328,416.347,422.480,427.587,432.441,437.483,442.647,448.052,453.871,460.796,530.530,502.157,503.607,NaN,NaN,NaN
12,386.105500,Hungary,0106000020E61000000100000001030000000100000052...,530.173,NaN,NaN,NaN,NaN,460.066,468.809,487.441,484.680,482.831,445.795,451.825,457.347,463.989,454.293,460.590,467.762,456.802,453.568,430.226,403.299,382.475,402.002,378.081,385.553,378.786

In [56]:
logging.basicConfig(stream=sys.stderr, level=logging.DEBUG)

In [128]:
# Load config options
try:
    table_info = json.load(open('./table_info.json', 'r'))
except:
    table_info = {}
table_info

{'%20soc_023_fragile_states_index': {'error': '* Problem fetching %20soc_023_fragile_states_index from Carto server *'},
 'cit_022_road_traffic_deaths_by_country': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['estimated_number_of_road_traffic_deaths']}},
 'cit_025_urban_population': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'cit_028_percent_urban_slums_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'cit_029_municipal_waste': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'prefixes': ['yr']}},
 'cli_007_greenhouse_gas_emissions_projections': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'cli_008_greenhouse_gas_emissions_country_sector': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'cli_029_vulnerability_to_cc': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['gain', 'readiness', 'vulnerability']}},
 'com_006_national_current_accounts_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'com_007_fdi_index': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_009_1_material_flows_main': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_010_gdp_ppp_usd': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'com_015_recycling_rates': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'prefixes': ['yr']}},
 'com_019_ecological_footprint_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_028_effect_of_ag_prices_on_commodity_prices': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'country_aliases': {'config_options': {'country_code': 'iso',
   'country_name': 'alias',
   'id_cols': ['']}},
 'ene_012_electricity_access': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['urban', 'rural', 'total']}},
 'ene_017_energy_facility_emissions_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'ene_021_se4all_country_indicators': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'ene_022_se4all_tracking_goals': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['--']}},
 'ene_028_access_clean_cooking_fuels': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'],
   'prefixes': ['yr']}},
 'foo_006_effects_climate_change_food_production': {'config_options': {'_incl': False,
   'add_ind': True,
   'prefixes': ['--']}},
 'foo_015_global_hunger_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['ghi']}},
 'foo_019_child_malnutrition_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_040_fisheries_vuln_climat': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'field_8'],
   'prefixes': ['rcp26', 'rcp45', 'rcp85']}},
 'foo_041_agricultural_emissions': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_042_agricultural_production_value': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_43_agriculture_value_added': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'for_021_certified_forest_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'geometry': {'config_options': {'country_code': 'iso_a3',
   'country_name': 'name',
   'id_cols': ['']}},
 'soc_004_human_development_index': {'config_options': {'country_code': False,
   'country_name': 'country',
   'id_cols': ['country']}},
 'soc_005_political_rights_civil_liberties_index': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'soc_006_multidimensional_poverty_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'latest'],
   'prefixes': ['yr']}},
 'soc_008_gdp_per_capita_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'soc_015_adult_literacy_rate': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr', 'male', 'female']}},
 'soc_020_gini': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr']}},
 'soc_025_gender_inequality_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['yr']}},
 'soc_029_worldwide_governance_indicators': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'wbcode',
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'wbcode'],
   'prefixes': ['control_of_corruption',
    'government_effectiveness',
    'political_stability',
    'regulatory_quality',
    'rule_of_law',
    'voice_accountability']}},
 'soc_035_land_deals': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'soc_036_life_expectancy_at_birth': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr']}},
 'soc_039_out_of_school_rate_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['yr']}},
 'soc_040_improved_sanitation': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['rural', 'urban', 'total']}},
 'soc_062_internal_displacement_conflict_and_natural_disaster': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'wat_005_improved_water_access': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['urban', 'rural', 'total']}}}

In [23]:
tables = {}
tables['geometry'] = {
    'data':cc.read('wri_countries_a')
}
table_info['geometry'] = {
    'config_options':{}
}
tables['country_aliases'] = {
    'data':cc.read('rw_aliasing_countries')
}
table_info['country_aliases'] = {
    'config_options':{}
}

for rw_id, api_id in long_forms.items():
    logging.info(rw_id)

    # Fetch table name
    try:
        table_name = carto_data.loc[api_id]['table_name']
    except:
        msg = '***** ' + rw_id + ' not in carto_data *****'
        table_info[table_name] = {
            'error':msg
        }
        logging.info(msg)


    if table_name in table_info:
        if 'config_options' in table_info[table_name]:
            if 'prefixes' in table_info[table_name]['config_options']:
                if table_info[table_name]['config_options']['prefixes'] in [[u'--'], [u'already long']]:
                    logging.info('not fetching data for ' + table_name)
                    continue

    # Fetch data
    try:
        tables[table_name] = {
            'data':cc.read(table_name)
        }
        if 'config_options' not in table_info[table_name]:
            logging.info('updating table_info for ' + table_name)
            table_info[table_name] = {
                'config_options':{}
            }
    except:
        msg = '***** Problem fetching ' + table_name + ' from Carto server *****'
        if table_name in table_info:
            if 'error' in table_info[table_name]:
                logging.info(table_info[table_name]['error'])
        else:
            table_info[table_name] = {
                'error':msg
            }
            logging.info(msg)


for name, info in tables.items():
    logging.info('table name: ' + name)
    try:
        logging.info('table shape: ' + str(info['data'].shape))
    except:
        logging.info(info['error'])

INFO:root:cit.022
INFO:root:cit.025
INFO:root:cit.028
INFO:root:cit.029
INFO:root:cli.007
INFO:root:not fetching data for cli_007_greenhouse_gas_emissions_projections
INFO:root:cli.008
INFO:root:not fetching data for cli_008_greenhouse_gas_emissions_country_sector
INFO:root:com.006
INFO:root:com.007
INFO:root:not fetching data for com_007_fdi_index
INFO:root:com.009
INFO:root:not fetching data for com_009_1_material_flows_main
INFO:root:com.010
INFO:root:com.015
INFO:root:com.019
INFO:root:not fetching data for com_019_ecological_footprint_edit
INFO:root:com.028
INFO:root:not fetching data for com_028_effect_of_ag_prices_on_commodity_prices
INFO:root:ene.012
INFO:root:ene.021
INFO:root:ene.022
INFO:root:not fetching data for ene_022_se4all_tracking_goals
INFO:root:ene.028
INFO:root:foo.006
INFO:root:not fetching data for foo_006_effects_climate_change_food_production
INFO:root:foo.015
INFO:root:foo.019
INFO:root:not fetching data for foo_019_child_malnutrition_edit
INFO:root:foo.040
INFO:root:foo.041
INFO:root:not fetching data for foo_041_agricultural_emissions
INFO:root:foo.042
INFO:root:not fetching data for foo_042_agricultural_production_value
INFO:root:foo.043
INFO:root:for.021
INFO:root:not fetching data for for_021_certified_forest_edit
INFO:root:soc.004
INFO:root:cit.017
INFO:root:***** cit.017 not in carto_data *****
INFO:root:updating table_info for soc_004_human_development_index
INFO:root:soc.005
INFO:root:not fetching data for soc_005_political_rights_civil_liberties_index
INFO:root:soc.006
INFO:root:soc.008
INFO:root:soc.015
INFO:root:soc.020
INFO:root:soc.023
INFO:root:* Problem fetching %20soc_023_fragile_states_index from Carto server *
INFO:root:soc.025
INFO:root:soc.029
INFO:root:soc.035
INFO:root:not fetching data for soc_035_land_deals
INFO:root:soc.036
INFO:root:soc.039
INFO:root:soc.040
INFO:root:soc.062
INFO:root:not fetching data for soc_062_internal_displacement_conflict_and_natural_disaster
INFO:root:wat.005
INFO:root:cli.029
INFO:root:ene.017
INFO:root:not fetching data for ene_017_energy_facility_emissions_edit
INFO:root:table name: geometry
INFO:root:table shape: (193, 29)
INFO:root:table name: country_aliases
INFO:root:table shape: (86, 4)
INFO:root:table name: cit_022_road_traffic_deaths_by_country
INFO:root:table shape: (179, 5)
INFO:root:table name: cit_025_urban_population
INFO:root:table shape: (218, 63)
INFO:root:table name: cit_028_percent_urban_slums_edit
INFO:root:table shape: (218, 63)
INFO:root:table name: cit_029_municipal_waste
INFO:root:table shape: (34, 29)
INFO:root:table name: com_006_national_current_accounts_edit
INFO:root:table shape: (217, 63)
INFO:root:table name: com_010_gdp_ppp_usd
INFO:root:table shape: (218, 33)
INFO:root:table name: com_015_recycling_rates
INFO:root:table shape: (33, 30)
INFO:root:table name: ene_012_electricity_access
INFO:root:table shape: (264, 79)
INFO:root:table name: ene_021_se4all_country_indicators
INFO:root:table shape: (227, 27)
INFO:root:table name: ene_028_access_clean_cooking_fuels
INFO:root:table shape: (217, 15)
INFO:root:table name: foo_015_global_hunger_index
INFO:root:table shape: (132, 7)
INFO:root:table name: foo_040_fisheries_vuln_climat
INFO:root:table shape: (147, 10)
INFO:root:table name: foo_43_agriculture_value_added
INFO:root:table shape: (218, 63)
INFO:root:table name: soc_004_human_development_index
INFO:root:table shape: (188, 30)
INFO:root:table name: soc_006_multidimensional_poverty_index
INFO:root:table shape: (102, 16)
INFO:root:table name: soc_008_gdp_per_capita_edit
INFO:root:table shape: (218, 33)
INFO:root:table name: soc_015_adult_literacy_rate
INFO:root:table shape: (264, 88)
INFO:root:table name: soc_020_gini
INFO:root:table shape: (218, 64)
INFO:root:table name: soc_025_gender_inequality_index
INFO:root:table shape: (160, 13)
INFO:root:table name: soc_029_worldwide_governance_indicators
INFO:root:table shape: (214, 10)
INFO:root:table name: soc_036_life_expectancy_at_birth
INFO:root:table shape: (218, 63)
INFO:root:table name: soc_039_out_of_school_rate_edit
INFO:root:table shape: (239, 20)
INFO:root:table name: soc_040_improved_sanitation
INFO:root:table shape: (218, 82)
INFO:root:table name: wat_005_improved_water_access
INFO:root:table shape: (216, 82)
INFO:root:table name: cli_029_vulnerability_to_cc
INFO:root:table shape: (192, 67)

In [32]:
# Add config options
for name, info in tables.items():
    logging.info(name)
    logging.info(info['data'].columns)
    print

    ## To assign prefixes, uncomment
    '''
    prefixes = input('time column prefixes?')
    table_info[name]['config_options']['prefixes'] = [pfx.strip() for pfx in prefixes.split(',')]
    '''

    ## To determine whether column prefixes should be added as a new column, uncomment
    '''
    add_indicator_column = input('Add prefix as indicator? type anything for True, leave blank for False')
    if add_indicator_column != '':
        table_info[name]['config_options']['add_ind'] = True
    else:
        table_info[name]['config_options']['add_ind'] = False
    '''

    ## To determine whether the column should have a _ after the prefix, uncomment
    '''
    _included = input('Is there a _ after the prefix? type anything for True, leave blank for False')
    if _included != '':
        table_info[name]['config_options']['_incl'] = True
    else:
        table_info[name]['config_options']['_incl'] = False
    '''

    ## To determine identifying info column (likely country code), uncomment
    '''
    country_code = input('country code column? leave blank if needs country code added')
    if country_code != '':
        table_info[name]['config_options']['country_code'] = country_code
    else:
        table_info[name]['config_options']['country_code'] = False

    country_name = input('country name column? leave blank if needs country name added')
    if country_name != '':
        table_info[name]['config_options']['country_name'] = country_name
    else:
        table_info[name]['config_options']['country_name'] = False
    '''
    
    ## To determine id columns to use, uncomment
    '''
    id_cols = input('id columns? separate by comma with a space')
    table_info[name]['config_options']['id_cols'] = [col.strip() for col in id_cols.split(',')]
    '''

INFO:root:geometry
INFO:root:Index(['_primary', 'abbrev', 'adm0_a3', 'continent', 'formal_nam', 'iso_a2',
       'iso_a3', 'iso_n3', 'iso_short', 'name', 'name_sort', 'postal',
       'short_name', 'sov_a3', 'sovereign', 'the_geom', 'type', 'un_ar',
       'un_en', 'un_es', 'un_fr', 'un_n3', 'un_region', 'un_ru', 'un_subregi',
       'un_zh', 'wb_a2', 'wb_a3', 'wb_region'],
      dtype='object')

id columns? separate by comma with a space

INFO:root:country_aliases
INFO:root:Index(['alias', 'iso', 'name', 'the_geom'], dtype='object')

id columns? separate by comma with a space

INFO:root:cit_022_road_traffic_deaths_by_country
INFO:root:Index(['cartodb_georef_status', 'country', 'death_rate_per_100000',
       'estimated_number_of_road_traffic_deaths_2013', 'the_geom'],
      dtype='object')

id columns? separate by comma with a spacecountry

INFO:root:cit_025_urban_population
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:cit_028_percent_urban_slums_edit
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:cit_029_municipal_waste
INFO:root:Index(['_2012_2015_avg', 'country', 'the_geom', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015'],
      dtype='object')

id columns? separate by comma with a space_2012_2015_avg, country

INFO:root:com_006_national_current_accounts_edit
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:com_010_gdp_ppp_usd
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:com_015_recycling_rates
INFO:root:Index(['_2012_2015_avg', 'cartodb_georef_status', 'country', 'the_geom',
       'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995',
       'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001',
       'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007',
       'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013',
       'yr_2014', 'yr_2015'],
      dtype='object')

id columns? separate by comma with a space_2012_2015_avg, country

INFO:root:ene_012_electricity_access
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name', 'rural_1990',
       'rural_1991', 'rural_1992', 'rural_1993', 'rural_1994', 'rural_1995',
       'rural_1996', 'rural_1997', 'rural_1998', 'rural_1999', 'rural_2000',
       'rural_2001', 'rural_2002', 'rural_2003', 'rural_2004', 'rural_2005',
       'rural_2006', 'rural_2007', 'rural_2008', 'rural_2009', 'rural_2010',
       'rural_2011', 'rural_2012', 'rural_2013', 'rural_2014', 'the_geom',
       'total_1990', 'total_1991', 'total_1992', 'total_1993', 'total_1994',
       'total_1995', 'total_1996', 'total_1997', 'total_1998', 'total_1999',
       'total_2000', 'total_2001', 'total_2002', 'total_2003', 'total_2004',
       'total_2005', 'total_2006', 'total_2007', 'total_2008', 'total_2009',
       'total_2010', 'total_2011', 'total_2012', 'total_2013', 'total_2014',
       'urban_1990', 'urban_1991', 'urban_1992', 'urban_1993', 'urban_1994',
       'urban_1995', 'urban_1996', 'urban_1997', 'urban_1998', 'urban_1999',
       'urban_2000', 'urban_2001', 'urban_2002', 'urban_2003', 'urban_2004',
       'urban_2005', 'urban_2006', 'urban_2007', 'urban_2008', 'urban_2009',
       'urban_2010', 'urban_2011', 'urban_2012', 'urban_2013', 'urban_2014'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name

INFO:root:ene_021_se4all_country_indicators
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:ene_028_access_clean_cooking_fuels
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name', 'series_code',
       'series_name', 'the_geom', 'yr_2000', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, series_code, series_name

INFO:root:foo_015_global_hunger_index
INFO:root:Index(['cartodb_georef_status', 'country', 'ghi_1992', 'ghi_2000', 'ghi_2008',
       'ghi_2017', 'the_geom'],
      dtype='object')

id columns? separate by comma with a spacecountry

INFO:root:foo_040_fisheries_vuln_climat
INFO:root:Index(['cartodb_georef_status', 'country_territory', 'field_8',
       'rcp26___2016_2050', 'rcp26___2066_2100', 'rcp45___2016_2050',
       'rcp45___2066_2100', 'rcp85___2016_2050', 'rcp85___2066_2100',
       'the_geom'],
      dtype='object')

id columns? separate by comma with a spacecountry_territory, field_8

INFO:root:foo_43_agriculture_value_added
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:soc_004_human_development_index
INFO:root:Index(['cartodb_georef_status', 'country', 'hdi_rank_2015', 'the_geom',
       'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995',
       'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001',
       'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007',
       'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013',
       'yr_2014', 'yr_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry

INFO:root:soc_006_multidimensional_poverty_index
INFO:root:Index(['cartodb_georef_status', 'country', 'hdi_rank', 'latest', 'the_geom',
       'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010',
       'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry, latest

INFO:root:soc_008_gdp_per_capita_edit
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name, indicator_code, indicator_name

INFO:root:soc_015_adult_literacy_rate
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name', 'female_1999',
       'female_2000', 'female_2001', 'female_2002', 'female_2003',
       'female_2004', 'female_2005', 'female_2006', 'female_2007',
       'female_2008', 'female_2009', 'female_2010', 'female_2011',
       'female_2012', 'female_2013', 'female_2014', 'female_2015',
       'female_2016', 'indicator_code', 'indicator_name', 'male_1999',
       'male_2000', 'male_2001', 'male_2002', 'male_2003', 'male_2004',
       'male_2005', 'male_2006', 'male_2007', 'male_2008', 'male_2009',
       'male_2010', 'male_2011', 'male_2012', 'male_2013', 'male_2014',
       'male_2015', 'male_2016', 'the_geom', 'yr_1970', 'yr_1971', 'yr_1972',
       'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978',
       'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984',
       'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990',
       'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996',
       'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002',
       'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008',
       'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014',
       'yr_2015'],
      dtype='object')

id columns? separate by comma with a spaceindicator_code, indicator_name, country_code, country_name

INFO:root:soc_020_gini
INFO:root:Index(['cartodb_georef_status', 'column_1503694226021', 'country_code',
       'country_name', 'indicator_code', 'indicator_name', 'the_geom',
       'yr_1960', 'yr_1961', 'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965',
       'yr_1966', 'yr_1967', 'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971',
       'yr_1972', 'yr_1973', 'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977',
       'yr_1978', 'yr_1979', 'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983',
       'yr_1984', 'yr_1985', 'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989',
       'yr_1990', 'yr_1991', 'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995',
       'yr_1996', 'yr_1997', 'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001',
       'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007',
       'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013',
       'yr_2014', 'yr_2015', 'yr_2016'],
      dtype='object')

id columns? separate by comma with a spaceindicator_code, indicator_name, country_code, country_name

INFO:root:soc_025_gender_inequality_index
INFO:root:Index(['cartodb_georef_status', 'country', 'hdi_rank_2015', 'the_geom',
       'yr_1995', 'yr_2000', 'yr_2005', 'yr_2010', 'yr_2011', 'yr_2012',
       'yr_2013', 'yr_2014', 'yr_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry

INFO:root:soc_029_worldwide_governance_indicators
INFO:root:Index(['cartodb_georef_status', 'control_of_corruption_2016',
       'country_territory', 'government_effectiveness_2016',
       'political_stability_2016', 'regulatory_quality_2016',
       'rule_of_law_2016', 'the_geom', 'voice_accountability_2016', 'wbcode'],
      dtype='object')

id columns? separate by comma with a spacecountry_territory, wbcode

INFO:root:soc_036_life_expectancy_at_birth
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name',
       'indicator_code', 'indicator_name', 'the_geom', 'yr_1960', 'yr_1961',
       'yr_1962', 'yr_1963', 'yr_1964', 'yr_1965', 'yr_1966', 'yr_1967',
       'yr_1968', 'yr_1969', 'yr_1970', 'yr_1971', 'yr_1972', 'yr_1973',
       'yr_1974', 'yr_1975', 'yr_1976', 'yr_1977', 'yr_1978', 'yr_1979',
       'yr_1980', 'yr_1981', 'yr_1982', 'yr_1983', 'yr_1984', 'yr_1985',
       'yr_1986', 'yr_1987', 'yr_1988', 'yr_1989', 'yr_1990', 'yr_1991',
       'yr_1992', 'yr_1993', 'yr_1994', 'yr_1995', 'yr_1996', 'yr_1997',
       'yr_1998', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002', 'yr_2003',
       'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009',
       'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015',
       'yr_2016'],
      dtype='object')

id columns? separate by comma with a spaceindicator_code, indicator_name, country_code, country_name

INFO:root:soc_039_out_of_school_rate_edit
INFO:root:Index(['country', 'the_geom', 'yr_1999', 'yr_2000', 'yr_2001', 'yr_2002',
       'yr_2003', 'yr_2004', 'yr_2005', 'yr_2006', 'yr_2007', 'yr_2008',
       'yr_2009', 'yr_2010', 'yr_2011', 'yr_2012', 'yr_2013', 'yr_2014',
       'yr_2015', 'yr_2016'],
      dtype='object')

id columns? separate by comma with a spacecountry

INFO:root:soc_040_improved_sanitation
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name', 'rural_1990',
       'rural_1991', 'rural_1992', 'rural_1993', 'rural_1994', 'rural_1995',
       'rural_1996', 'rural_1997', 'rural_1998', 'rural_1999', 'rural_2000',
       'rural_2001', 'rural_2002', 'rural_2003', 'rural_2004', 'rural_2005',
       'rural_2006', 'rural_2007', 'rural_2008', 'rural_2009', 'rural_2010',
       'rural_2011', 'rural_2012', 'rural_2013', 'rural_2014', 'rural_2015',
       'the_geom', 'total_1990', 'total_1991', 'total_1992', 'total_1993',
       'total_1994', 'total_1995', 'total_1996', 'total_1997', 'total_1998',
       'total_1999', 'total_2000', 'total_2001', 'total_2002', 'total_2003',
       'total_2004', 'total_2005', 'total_2006', 'total_2007', 'total_2008',
       'total_2009', 'total_2010', 'total_2011', 'total_2012', 'total_2013',
       'total_2014', 'total_2015', 'urban_1990', 'urban_1991', 'urban_1992',
       'urban_1993', 'urban_1994', 'urban_1995', 'urban_1996', 'urban_1997',
       'urban_1998', 'urban_1999', 'urban_2000', 'urban_2001', 'urban_2002',
       'urban_2003', 'urban_2004', 'urban_2005', 'urban_2006', 'urban_2007',
       'urban_2008', 'urban_2009', 'urban_2010', 'urban_2011', 'urban_2012',
       'urban_2013', 'urban_2014', 'urban_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name

INFO:root:wat_005_improved_water_access
INFO:root:Index(['cartodb_georef_status', 'country_code', 'country_name', 'rural_1990',
       'rural_1991', 'rural_1992', 'rural_1993', 'rural_1994', 'rural_1995',
       'rural_1996', 'rural_1997', 'rural_1998', 'rural_1999', 'rural_2000',
       'rural_2001', 'rural_2002', 'rural_2003', 'rural_2004', 'rural_2005',
       'rural_2006', 'rural_2007', 'rural_2008', 'rural_2009', 'rural_2010',
       'rural_2011', 'rural_2012', 'rural_2013', 'rural_2014', 'rural_2015',
       'the_geom', 'total_1990', 'total_1991', 'total_1992', 'total_1993',
       'total_1994', 'total_1995', 'total_1996', 'total_1997', 'total_1998',
       'total_1999', 'total_2000', 'total_2001', 'total_2002', 'total_2003',
       'total_2004', 'total_2005', 'total_2006', 'total_2007', 'total_2008',
       'total_2009', 'total_2010', 'total_2011', 'total_2012', 'total_2013',
       'total_2014', 'total_2015', 'urban_1990', 'urban_1991', 'urban_1992',
       'urban_1993', 'urban_1994', 'urban_1995', 'urban_1996', 'urban_1997',
       'urban_1998', 'urban_1999', 'urban_2000', 'urban_2001', 'urban_2002',
       'urban_2003', 'urban_2004', 'urban_2005', 'urban_2006', 'urban_2007',
       'urban_2008', 'urban_2009', 'urban_2010', 'urban_2011', 'urban_2012',
       'urban_2013', 'urban_2014', 'urban_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry_code, country_name

INFO:root:cli_029_vulnerability_to_cc
INFO:root:Index(['cartodb_georef_status', 'country', 'gain_1995', 'gain_1996',
       'gain_1997', 'gain_1998', 'gain_1999', 'gain_2000', 'gain_2001',
       'gain_2002', 'gain_2003', 'gain_2004', 'gain_2005', 'gain_2006',
       'gain_2007', 'gain_2008', 'gain_2009', 'gain_2010', 'gain_2011',
       'gain_2012', 'gain_2013', 'gain_2014', 'gain_2015', 'iso4',
       'readiness_1995', 'readiness_1996', 'readiness_1997', 'readiness_1998',
       'readiness_1999', 'readiness_2000', 'readiness_2001', 'readiness_2002',
       'readiness_2003', 'readiness_2004', 'readiness_2005', 'readiness_2006',
       'readiness_2007', 'readiness_2008', 'readiness_2009', 'readiness_2010',
       'readiness_2011', 'readiness_2012', 'readiness_2013', 'readiness_2014',
       'readiness_2015', 'the_geom', 'vulnerability_1995',
       'vulnerability_1996', 'vulnerability_1997', 'vulnerability_1998',
       'vulnerability_1999', 'vulnerability_2000', 'vulnerability_2001',
       'vulnerability_2002', 'vulnerability_2003', 'vulnerability_2004',
       'vulnerability_2005', 'vulnerability_2006', 'vulnerability_2007',
       'vulnerability_2008', 'vulnerability_2009', 'vulnerability_2010',
       'vulnerability_2011', 'vulnerability_2012', 'vulnerability_2013',
       'vulnerability_2014', 'vulnerability_2015'],
      dtype='object')

id columns? separate by comma with a spacecountry

In [159]:
json.dump(table_info, open('./table_info.json', 'w'))
table_info = json.load(open('./table_info.json', 'r'))
table_info

{'%20soc_023_fragile_states_index': {'error': '* Problem fetching %20soc_023_fragile_states_index from Carto server *'},
 'cit_022_road_traffic_deaths_by_country': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['estimated_number_of_road_traffic_deaths']}},
 'cit_025_urban_population': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'cit_028_percent_urban_slums_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'cit_029_municipal_waste': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'prefixes': ['yr']}},
 'cli_007_greenhouse_gas_emissions_projections': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'cli_008_greenhouse_gas_emissions_country_sector': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'cli_029_vulnerability_to_cc': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['gain', 'readiness', 'vulnerability']}},
 'com_006_national_current_accounts_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'com_007_fdi_index': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_009_1_material_flows_main': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_010_gdp_ppp_usd': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'com_015_recycling_rates': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['_2012_2015_avg', 'country'],
   'prefixes': ['yr']}},
 'com_019_ecological_footprint_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'com_028_effect_of_ag_prices_on_commodity_prices': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'country_aliases': {'config_options': {'country_code': 'iso',
   'country_name': 'alias',
   'id_cols': ['']}},
 'ene_012_electricity_access': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['urban', 'rural', 'total']}},
 'ene_017_energy_facility_emissions_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'ene_021_se4all_country_indicators': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'ene_022_se4all_tracking_goals': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['--']}},
 'ene_028_access_clean_cooking_fuels': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name', 'series_code', 'series_name'],
   'prefixes': ['yr']}},
 'foo_006_effects_climate_change_food_production': {'config_options': {'_incl': False,
   'add_ind': True,
   'prefixes': ['--']}},
 'foo_015_global_hunger_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['ghi']}},
 'foo_019_child_malnutrition_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_040_fisheries_vuln_climat': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': False,
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'field_8'],
   'prefixes': ['rcp26', 'rcp45', 'rcp85']}},
 'foo_041_agricultural_emissions': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_042_agricultural_production_value': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'foo_43_agriculture_value_added': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'for_021_certified_forest_edit': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'geometry': {'config_options': {'country_code': 'iso_a3',
   'country_name': 'name',
   'id_cols': ['']}},
 'soc_004_human_development_index': {'config_options': {'country_code': False,
   'country_name': 'country',
   'id_cols': ['country']}},
 'soc_005_political_rights_civil_liberties_index': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'soc_006_multidimensional_poverty_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country', 'latest'],
   'prefixes': ['yr']}},
 'soc_008_gdp_per_capita_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code',
    'country_name',
    'indicator_code',
    'indicator_name'],
   'prefixes': ['yr']}},
 'soc_015_adult_literacy_rate': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr', 'male', 'female']}},
 'soc_020_gini': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr']}},
 'soc_025_gender_inequality_index': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['yr']}},
 'soc_029_worldwide_governance_indicators': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'wbcode',
   'country_name': 'country_territory',
   'id_cols': ['country_territory', 'wbcode'],
   'prefixes': ['control_of_corruption',
    'government_effectiveness',
    'political_stability',
    'regulatory_quality',
    'rule_of_law',
    'voice_accountability']}},
 'soc_035_land_deals': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'soc_036_life_expectancy_at_birth': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['indicator_code',
    'indicator_name',
    'country_code',
    'country_name'],
   'prefixes': ['yr']}},
 'soc_039_out_of_school_rate_edit': {'config_options': {'_incl': True,
   'add_ind': False,
   'country_code': False,
   'country_name': 'country',
   'id_cols': ['country'],
   'prefixes': ['yr']}},
 'soc_040_improved_sanitation': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['rural', 'urban', 'total']}},
 'soc_062_internal_displacement_conflict_and_natural_disaster': {'config_options': {'_incl': False,
   'add_ind': False,
   'prefixes': ['already long']}},
 'wat_005_improved_water_access': {'config_options': {'_incl': True,
   'add_ind': True,
   'country_code': 'country_code',
   'country_name': 'country_name',
   'id_cols': ['country_code', 'country_name'],
   'prefixes': ['urban', 'rural', 'total']}}}

In [68]:
# Use known prefixes to reformat tables
'''
ignore_columns = ['the_geom', 'cartodb_georef_status', ]
def pick_id_cols(col, prefixes):
    if col in ignore_columns:
        return False
    for pfx in prefixes:
        if pfx+'_' in col:
            return False
    return True
'''

def pick_value_cols(col, prefixes, use_, only=None):
    if use_:
        seen = [True if pfx+'_' in col else False for pfx in prefixes]
    else:
        seen = [True if pfx in col else False for pfx in prefixes]

    if only:
        if sum(seen) == 1:
            # Only one match, keep if it matches 'only'
            if seen[prefixes.index(only)]:
                return True
        elif sum(seen) > 1:
            # More than one match, keep longest if it matches 'only'
            seen_pfxs = [_[0] for _ in list(zip(prefixes,seen)) if _[1]]
            seen_lengths = [len(_) for _ in seen_pfxs]
            max_index = seen_lengths.index(max(seen_lengths))
            if prefixes.index(seen_pfxs[max_index]) == prefixes.index(only):
                return True
    else:
        if sum(seen):
            return True
    return False

def prepare_date(date, pfx, use_):
    if use_:
        return date[date.index(pfx) + len(pfx) + 1:]
    else:
        return date[date.index(pfx) + len(pfx):]

In [155]:
for name, info in tables.items():
    if not table_info[name]['config_options'].get('prefixes', False):
        continue
    if table_info[name]['config_options']['prefixes'][0] in ['--', 'already long']:
        logging.info('skipping ' + name)
        continue

    logging.info('processing ' + name)
    prefixes = table_info[name]['config_options'].get('prefixes', [])
    id_cols = table_info[name]['config_options'].get('id_cols', [])
    use_ = table_info[name]['config_options'].get('_incl', False)
    add_ind = table_info[name]['config_options'].get('add_ind', False)

    logging.info('options:')
    logging.info(table_info[name]['config_options'])
    logging.info('initial shape: ' + str(info['data'].shape))
    logging.info('')
    
    # If adding info from pfx to indicator, melt one set at a time and join on 'variable' column
    if add_ind:
        df = pd.DataFrame(columns = id_cols + ['variable'])
        for pfx in prefixes:
            value_cols = [col for col in info['data'].columns if pick_value_cols(col, prefixes, use_, only=pfx)]
            _df = pd.melt(info['data'], id_vars=id_cols, value_vars=value_cols)
            _df['variable'] = [prepare_date(date, pfx, use_) for date in _df['variable']]
            col_names = list(_df.columns)
            col_names[col_names.index('value')] = pfx + '_data'
            _df.columns = col_names
            df = df.merge(_df, on=id_cols  + ['variable'], how='outer')
        logging.info('final shape of ' + name + ': ' + str(df.shape))
        logging.info('final columns: ' + str(df.columns))

    # If not preserving info from pfx, melt all at once
    else:
        pfx = prefixes[0]
        value_cols = [col for col in info['data'].columns if pick_value_cols(col, prefixes,use_)]
        df = pd.melt(info['data'], id_vars=id_cols, value_vars=value_cols)
        col_names = list(df.columns)
        col_names[col_names.index('value')] = pfx + '_data'
        df.columns = col_names
        df['variable'] = [prepare_date(date, pfx, use_) for date in df['variable']]
        logging.info('final shape of ' + name + ': ' + str(df.shape))

    new_cols = ['datetime' if col=='variable' else col for col in df.columns]
    df.columns = new_cols
    tables[name]['long_data'] = df

INFO:root:processing cit_022_road_traffic_deaths_by_country
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['estimated_number_of_road_traffic_deaths'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country']}
INFO:root:initial shape: (179, 5)
INFO:root:
INFO:root:final shape of cit_022_road_traffic_deaths_by_country: (179, 3)
INFO:root:final columns: Index(['country', 'variable', 'estimated_number_of_road_traffic_deaths_data'], dtype='object')
INFO:root:processing cit_025_urban_population
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (218, 63)
INFO:root:
INFO:root:final shape of cit_025_urban_population: (12426, 6)
INFO:root:processing cit_028_percent_urban_slums_edit
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (218, 63)
INFO:root:
INFO:root:final shape of cit_028_percent_urban_slums_edit: (12426, 6)
INFO:root:processing cit_029_municipal_waste
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': False, 'country_name': 'country', 'id_cols': ['_2012_2015_avg', 'country']}
INFO:root:initial shape: (34, 29)
INFO:root:
INFO:root:final shape of cit_029_municipal_waste: (884, 4)
INFO:root:processing com_006_national_current_accounts_edit
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (217, 63)
INFO:root:
INFO:root:final shape of com_006_national_current_accounts_edit: (12369, 6)
INFO:root:processing com_010_gdp_ppp_usd
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (218, 33)
INFO:root:
INFO:root:final shape of com_010_gdp_ppp_usd: (5886, 6)
INFO:root:processing com_015_recycling_rates
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': False, 'country_name': 'country', 'id_cols': ['_2012_2015_avg', 'country']}
INFO:root:initial shape: (33, 30)
INFO:root:
INFO:root:final shape of com_015_recycling_rates: (858, 4)
INFO:root:processing ene_012_electricity_access
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['urban', 'rural', 'total'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name']}
INFO:root:initial shape: (264, 79)
INFO:root:
INFO:root:final shape of ene_012_electricity_access: (6600, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'variable', 'urban_data', 'rural_data',
       'total_data'],
      dtype='object')
INFO:root:processing ene_021_se4all_country_indicators
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (227, 27)
INFO:root:
INFO:root:final shape of ene_021_se4all_country_indicators: (4767, 6)
INFO:root:processing ene_028_access_clean_cooking_fuels
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'series_code', 'series_name']}
INFO:root:initial shape: (217, 15)
INFO:root:
INFO:root:final shape of ene_028_access_clean_cooking_fuels: (1953, 6)
INFO:root:processing foo_015_global_hunger_index
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['ghi'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country']}
INFO:root:initial shape: (132, 7)
INFO:root:
INFO:root:final shape of foo_015_global_hunger_index: (528, 3)
INFO:root:processing foo_040_fisheries_vuln_climat
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['rcp26', 'rcp45', 'rcp85'], 'country_code': False, 'country_name': 'country_territory', 'id_cols': ['country_territory', 'field_8']}
INFO:root:initial shape: (147, 10)
INFO:root:
INFO:root:final shape of foo_040_fisheries_vuln_climat: (294, 6)
INFO:root:final columns: Index(['country_territory', 'field_8', 'variable', 'rcp26_data', 'rcp45_data',
       'rcp85_data'],
      dtype='object')
INFO:root:processing foo_43_agriculture_value_added
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (218, 63)
INFO:root:
INFO:root:final shape of foo_43_agriculture_value_added: (12426, 6)
INFO:root:processing soc_006_multidimensional_poverty_index
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country', 'latest']}
INFO:root:initial shape: (102, 16)
INFO:root:
INFO:root:final shape of soc_006_multidimensional_poverty_index: (1122, 4)
INFO:root:processing soc_008_gdp_per_capita_edit
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name', 'indicator_code', 'indicator_name']}
INFO:root:initial shape: (218, 33)
INFO:root:
INFO:root:final shape of soc_008_gdp_per_capita_edit: (5886, 6)
INFO:root:processing soc_015_adult_literacy_rate
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['yr', 'male', 'female'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['indicator_code', 'indicator_name', 'country_code', 'country_name']}
INFO:root:initial shape: (264, 88)
INFO:root:
INFO:root:final shape of soc_015_adult_literacy_rate: (12408, 8)
INFO:root:final columns: Index(['indicator_code', 'indicator_name', 'country_code', 'country_name',
       'variable', 'yr_data', 'male_data', 'female_data'],
      dtype='object')
INFO:root:processing soc_020_gini
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['indicator_code', 'indicator_name', 'country_code', 'country_name']}
INFO:root:initial shape: (218, 64)
INFO:root:
INFO:root:final shape of soc_020_gini: (12426, 6)
INFO:root:processing soc_025_gender_inequality_index
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country']}
INFO:root:initial shape: (160, 13)
INFO:root:
INFO:root:final shape of soc_025_gender_inequality_index: (1440, 3)
INFO:root:processing soc_029_worldwide_governance_indicators
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['control_of_corruption', 'government_effectiveness', 'political_stability', 'regulatory_quality', 'rule_of_law', 'voice_accountability'], 'country_code': 'wbcode', 'country_name': 'country_territory', 'id_cols': ['country_territory', 'wbcode']}
INFO:root:initial shape: (214, 10)
INFO:root:
INFO:root:final shape of soc_029_worldwide_governance_indicators: (214, 9)
INFO:root:final columns: Index(['country_territory', 'wbcode', 'variable', 'control_of_corruption_data',
       'government_effectiveness_data', 'political_stability_data',
       'regulatory_quality_data', 'rule_of_law_data',
       'voice_accountability_data'],
      dtype='object')
INFO:root:processing soc_036_life_expectancy_at_birth
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['indicator_code', 'indicator_name', 'country_code', 'country_name']}
INFO:root:initial shape: (218, 63)
INFO:root:
INFO:root:final shape of soc_036_life_expectancy_at_birth: (12426, 6)
INFO:root:processing soc_039_out_of_school_rate_edit
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': False, 'prefixes': ['yr'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country']}
INFO:root:initial shape: (239, 20)
INFO:root:
INFO:root:final shape of soc_039_out_of_school_rate_edit: (4302, 3)
INFO:root:processing soc_040_improved_sanitation
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['rural', 'urban', 'total'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name']}
INFO:root:initial shape: (218, 82)
INFO:root:
INFO:root:final shape of soc_040_improved_sanitation: (5668, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'variable', 'rural_data', 'urban_data',
       'total_data'],
      dtype='object')
INFO:root:processing wat_005_improved_water_access
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['urban', 'rural', 'total'], 'country_code': 'country_code', 'country_name': 'country_name', 'id_cols': ['country_code', 'country_name']}
INFO:root:initial shape: (216, 82)
INFO:root:
INFO:root:final shape of wat_005_improved_water_access: (5616, 6)
INFO:root:final columns: Index(['country_code', 'country_name', 'variable', 'urban_data', 'rural_data',
       'total_data'],
      dtype='object')
INFO:root:processing cli_029_vulnerability_to_cc
INFO:root:options:
INFO:root:{'_incl': True, 'add_ind': True, 'prefixes': ['gain', 'readiness', 'vulnerability'], 'country_code': False, 'country_name': 'country', 'id_cols': ['country']}
INFO:root:initial shape: (192, 67)
INFO:root:
INFO:root:final shape of cli_029_vulnerability_to_cc: (4032, 5)
INFO:root:final columns: Index(['country', 'variable', 'gain_data', 'readiness_data',
       'vulnerability_data'],
      dtype='object')

Explore geometries and aliasing table

In [208]:
tables['geometry']['data'].head(1)

,_primary,abbrev,adm0_a3,continent,formal_nam,iso_a2,iso_a3,iso_n3,iso_short,name,name_sort,postal,short_name,sov_a3,sovereign,the_geom,type,un_ar,un_en,un_es,un_fr,un_n3,un_region,un_ru,un_subregi,un_zh,wb_a2,wb_a3,wb_region
cartodb_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
52,1,Egypt,EGY,Africa,Arab Republic of Egypt,EG,EGY,818,Egypt,Egypt,"Egypt, Arab Rep.",EG,Egypt,EGY,Egypt,0106000020E6100000080000000103000000010000000A...,Sovereign country,رصم,Egypt,Egipto,Égypte (l') [fém.],818,Africa,Египет,Northern Africa,埃及,EG,EGY,Middle East & North Africa

In [210]:
tables['country_aliases']['data'].head(1)

                  alias  iso         name the_geom
cartodb_id
1           Korea North  PRK  North Korea     None

In [279]:
tables['country_aliases']['data'][tables['country_aliases']['data']['alias']=='Madagascar']
#tables['geometry']['data'][tables['geometry']['data']['adm0_a3']=='MLI']

          alias  iso        name the_geom
110  Madagascar  MDG  Madagascar      NaN

In [278]:
new_aliases = tables['geometry']['data'][['adm0_a3', 'name']].copy()
new_aliases['alias'] = new_aliases['name']
cols = str(list(new_aliases.columns)).replace('adm0_a3', 'iso')[1:-1].replace('\'','').split(',')
cols = [col.strip() for col in cols]
new_aliases.columns = cols
with_country_geometry_info = tables['country_aliases']['data'].append(new_aliases)
with_country_geometry_info[with_country_geometry_info['iso']=='PLW']
sum(with_country_geometry_info.duplicated(subset=['alias']))

tables['country_aliases']['data'] = with_country_geometry_info

In [289]:
# Adding geometries to long data
def join_data_with_aliases(data, aliases, left_on='country', right_on='name'):
    data = data.copy()
    data[left_on] = data[left_on].apply(lambda item: item.strip())
    data_with_aliases = data.merge(aliases, 
                                     left_on = left_on,
                                     right_on = right_on,
                                     how='left')
    
    logging.info('merged data:')
    logging.info(data_with_aliases.head(5))
    null_aliases = pd.isnull(data_with_aliases[right_on])
    
    logging.info('number null aliases')
    logging.info(sum(null_aliases))
    logging.info('--')
    
    return data_with_aliases, null_aliases

'''
def transfer_columns_between_tables(src_df, dst_df, columns_to_xfer=None):
    """
    Inputs:
    * src_df and dst_df with same index
    * list of columns from src_df to transfer to dst_df
    
    Outputs:
    * dst_df with new columns from the src_df
    """
    
    dst_df = dst_df.copy()
    try:
        info = src_df.loc[dst_df.index, columns_to_xfer]
        dst_df[columns_to_xfer] = info
        return(dst_df)
    except:
        print("ERROR")
        print("Possible source: There is an element in the metadata sheet that is not in the tracking sheet")
        print("Possible source: One of more of the given columns to transfer is not in the source df")
        return(None)
'''

def match_iso_to_name(names, aliases, match_col='alias'):
    logging.info('matching parameters')
    logging.info(names.head(5))
    logging.info(aliases.head(5))
    logging.info(match_col)
    logging.info('--')
    logging.info('--')

    alias_indices = []
    poss_aliases = list(aliases[match_col])
    for name in names:
        try:
            alias_indices.append(poss_aliases.index(name))
        except:
            alias_indices.append('***')
 
    isos = list(aliases['iso'])
    
    matching_aliases = []
    for index in alias_indices:
        try:
            matching_aliases.append(isos[index])
        except:
            matching_aliases.append('***')
            
    return matching_aliases

In [290]:
name = 'cit_022_road_traffic_deaths_by_country'
c_name = 'country'
aliases = tables['country_aliases']['data']

df = pd.DataFrame(tables[name]['long_data'][c_name])

a, b = join_data_with_aliases(df, aliases, left_on = c_name, right_on = 'alias' )
print(a[b])

INFO:root:merged data:
INFO:root:      country       alias  iso        name the_geom
0        Mali        Mali  MLI        Mali     None
1        Mali        Mali  MLI        Mali      NaN
2  Madagascar  Madagascar  MDG  Madagascar      NaN
3    Malaysia    Malaysia  MYS    Malaysia      NaN
4     Liberia     Liberia  LBR     Liberia      NaN
INFO:root:number null aliases
INFO:root:1
INFO:root:--

          country alias  iso name the_geom
186  Cook Islands   NaN  NaN  NaN      NaN

In [291]:
# Tracking all mis-matched names
missed_names = []

for name, info in tables.items():
    if not table_info[name]['config_options'].get('prefixes', False):
        logging.info('skipping ' + name + ', no prefixes available. Probably already in long form.')
        continue
    if table_info[name]['config_options']['prefixes'][0] in ['--', 'already long']:
        logging.info('skipping ' + name + ', needs a second look, or is already long')
        continue
    
    logging.info('Processing table ' + name)
    logging.info('Table head:')
    logging.info(info['long_data'].head(5))
    c_code = table_info[name]['config_options']['country_code']
    c_name = table_info[name]['config_options']['country_name']
    logging.info('c_code: ***' + str(c_code) + '***')
    logging.info('c_name: ***' + c_name + '***')
    logging.info('--')
    logging.info('--')
    
    # If country code is supplied, check if all country codes in long_data 
    # have a matching iso in country_aliases
    
    aliases = tables['country_aliases']['data']
    data = info['long_data']
    
    # If country name is supplied, check how many match up with alias/name in country_aliases
    if c_name:     
        data_c_name = pd.DataFrame(data[c_name],columns=[c_name])
        data_with_aliases, null_aliases = join_data_with_aliases(data_c_name,aliases, left_on=c_name, right_on='alias')
        if sum(null_aliases):
            no_alias_match = data_with_aliases.loc[null_aliases]
            logging.info('missed aliases, matching on column "alias" of country_aliases')
            logging.info(no_alias_match[c_name].unique())
            missed_names.extend(no_alias_match[c_name].unique())
            
        '''
        data_with_aliases, null_aliases = join_data_with_aliases(data_c_name,aliases, left_on=c_name, right_on='name')
        if sum(null_aliases):
            no_alias_match = data_with_aliases.loc[null_aliases]
            logging.info('missed aliases, matching on column "name" of country_aliases')            
            logging.info(no_alias_match[c_name].unique())
        '''

    if c_code:
        logging.info('already has an iso3 code, in column ' + c_code)
        isos_from_data = pd.DataFrame(data[c_code])
        logging.info(isos_from_data.head(5))
        
        isos_from_data = isos_from_data.set_index(c_code)
        
        aliases_by_isos = isos_from_data.merge(aliases,
                   left_index=True,
                   right_on='iso', 
                   how='left')
        
        null_isos = pd.isnull(aliases_by_isos['iso'])
        no_alias_iso_match = aliases_by_isos[null_isos.values]
        logging.info('no match for these isos in the data being processed: ' + str(no_alias_iso_match))
    else:
        ### Use the names now checked for to assign a c_code column
        ### THIS IS THE ONLY PLACE DATA IS ALTERED
        # If there was no c_code, there must be a c_name
        data['new_country_code'] = match_iso_to_name(data[c_name], aliases, match_col='alias')
        
    ### BEFORE HERE, ensure data has the updated geometry column attached
    tables[name]['long_data'] = data

INFO:root:skipping geometry, no prefixes available. Probably already in long form.
INFO:root:skipping country_aliases, no prefixes available. Probably already in long form.
INFO:root:Processing table cit_022_road_traffic_deaths_by_country
INFO:root:Table head:
INFO:root:      country datetime estimated_number_of_road_traffic_deaths_data  \
0        Mali     2013                        3 920 [3 193 - 4 648]
1  Madagascar     2013                        6 506 [5 361 - 7 650]
2    Malaysia     2013                        7 129 [6 050 - 8 209]
3     Liberia     2013                        1 448 [1 144 - 1 752]
4    Maldives     2013                                           12

  new_country_code
0              MLI
1              MDG
2              MYS
3              LBR
4              MDV
INFO:root:c_code: ***False***
INFO:root:c_name: ***country***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:      country       alias  iso        name the_geom
0        Mali        Mali  MLI        Mali     None
1        Mali        Mali  MLI        Mali      NaN
2  Madagascar  Madagascar  MDG  Madagascar      NaN
3    Malaysia    Malaysia  MYS    Malaysia      NaN
4     Liberia     Liberia  LBR     Liberia      NaN
INFO:root:number null aliases
INFO:root:1
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Cook Islands']
INFO:root:matching parameters
INFO:root:0          Mali
1    Madagascar
2      Malaysia
3       Liberia
4      Maldives
Name: country, dtype: object
INFO:root:               alias  iso                    name the_geom
1        Korea North  PRK             North Korea     None
2        Korea South  KOR             South Korea     None
4  Congo Brazzaville  COG       Republic of Congo     None
5                UAE  ARE    United Arab Emirates     None
6             Bosnia  BIH  Bosnia and Herzegovina     None
INFO:root:alias
INFO:root:--
INFO:root:--
INFO:root:Processing table cit_025_urban_population
INFO:root:Table head:
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name datetime  yr_data
0  Urban population (% of total)     1960      NaN
1  Urban population (% of total)     1960      NaN
2  Urban population (% of total)     1960   42.899
3  Urban population (% of total)     1960   80.300
4  Urban population (% of total)     1960   49.920
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:     country_name    alias  iso     name the_geom
0  Not classified      NaN  NaN      NaN      NaN
1          Kosovo      NaN  NaN      NaN      NaN
2            Iraq     Iraq  IRQ     Iraq     None
3            Iraq     Iraq  IRQ     Iraq      NaN
4         Iceland  Iceland  ISL  Iceland      NaN
INFO:root:number null aliases
INFO:root:1710
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Not classified' 'Kosovo' 'St. Martin (French part)' 'Aruba'
 'Macao SAR, China' 'Northern Mariana Islands' 'New Caledonia'
 'Puerto Rico' 'American Samoa' 'Bermuda' 'Curacao' 'Channel Islands'
 'Cayman Islands' 'Micronesia, Fed. Sts.' 'Faroe Islands' 'Greenland'
 'Guam' 'Gibraltar' 'Hong Kong SAR, China' 'Isle of Man' 'Lao PDR'
 'Korea, Dem. People’s Rep.' 'Macedonia, FYR' 'West Bank and Gaza'
 'French Polynesia' 'Sint Maarten (Dutch part)' 'Turks and Caicos Islands'
 'St. Vincent and the Grenadines' 'British Virgin Islands'
 'Virgin Islands (U.S.)']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          INX
1          XKX
2          IRQ
3          ISL
4          NOR
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table cit_028_percent_urban_slums_edit
INFO:root:Table head:
INFO:root:  country_code    country_name     indicator_code  \
0          AFG     Afghanistan  EN.POP.SLUM.UR.ZS
1          INX  Not classified  EN.POP.SLUM.UR.ZS
2          IND           India  EN.POP.SLUM.UR.ZS
3          IRL         Ireland  EN.POP.SLUM.UR.ZS
4          ITA           Italy  EN.POP.SLUM.UR.ZS

                                      indicator_name datetime yr_data
0  Population living in slums (% of urban populat...     1960
1  Population living in slums (% of urban populat...     1960
2  Population living in slums (% of urban populat...     1960
3  Population living in slums (% of urban populat...     1960
4  Population living in slums (% of urban populat...     1960
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:     country_name        alias  iso         name the_geom
0     Afghanistan  Afghanistan  AFG  Afghanistan     None
1     Afghanistan  Afghanistan  AFG  Afghanistan      NaN
2  Not classified          NaN  NaN          NaN      NaN
3           India        India  IND        India      NaN
4         Ireland      Ireland  IRL      Ireland      NaN
INFO:root:number null aliases
INFO:root:1710
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Not classified' 'St. Vincent and the Grenadines' 'Kosovo' 'Curacao'
 'Aruba' 'Bermuda' 'Channel Islands' 'Gibraltar' 'Macao SAR, China'
 'New Caledonia' 'Korea, Dem. People\x92s Rep.' 'French Polynesia'
 'American Samoa' 'Cayman Islands' 'Virgin Islands (U.S.)' 'Faroe Islands'
 'Micronesia, Fed. Sts.' 'Greenland' 'Hong Kong SAR, China' 'Isle of Man'
 'Guam' 'St. Martin (French part)' 'Lao PDR' 'Macedonia, FYR'
 'Northern Mariana Islands' 'Sint Maarten (Dutch part)' 'Puerto Rico'
 'West Bank and Gaza' 'Turks and Caicos Islands' 'British Virgin Islands']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          AFG
1          INX
2          IND
3          IRL
4          ITA
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table cit_029_municipal_waste
INFO:root:Table head:
INFO:root:   _2012_2015_avg          country datetime  yr_data new_country_code
0      522.890000          Iceland     1990      NaN              ISL
1      587.203000          Ireland     1990      NaN              IRL
2      448.354667         Portugal     1990  300.504              PRT
3      314.840750  Slovak Republic     1990      NaN              SVK
4      414.217000         Slovenia     1990      NaN              SVN
INFO:root:c_code: ***False***
INFO:root:c_name: ***country***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:           country            alias  iso      name the_geom
0          Iceland          Iceland  ISL   Iceland      NaN
1          Ireland          Ireland  IRL   Ireland      NaN
2         Portugal         Portugal  PRT  Portugal      NaN
3  Slovak Republic  Slovak Republic  SVK  Slovakia     None
4         Slovenia         Slovenia  SVN  Slovenia      NaN
INFO:root:number null aliases
INFO:root:0
INFO:root:--
INFO:root:matching parameters
INFO:root:0            Iceland
1            Ireland
2           Portugal
3    Slovak Republic
4           Slovenia
Name: country, dtype: object
INFO:root:               alias  iso                    name the_geom
1        Korea North  PRK             North Korea     None
2        Korea South  KOR             South Korea     None
4  Congo Brazzaville  COG       Republic of Congo     None
5                UAE  ARE    United Arab Emirates     None
6             Bosnia  BIH  Bosnia and Herzegovina     None
INFO:root:alias
INFO:root:--
INFO:root:--
INFO:root:Processing table com_006_national_current_accounts_edit
INFO:root:Table head:
INFO:root:  country_code  country_name  indicator_code  \
0          AND       Andorra  BN.CAB.XOKA.CD
1          PAK      Pakistan  BN.CAB.XOKA.CD
2          SMR    San Marino  BN.CAB.XOKA.CD
3          BFA  Burkina Faso  BN.CAB.XOKA.CD
4          BEN         Benin  BN.CAB.XOKA.CD

                               indicator_name datetime  yr_data
0  Current account balance (BoP, current US$)     1960      NaN
1  Current account balance (BoP, current US$)     1960      NaN
2  Current account balance (BoP, current US$)     1960      NaN
3  Current account balance (BoP, current US$)     1960      NaN
4  Current account balance (BoP, current US$)     1960      NaN
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:  country_name       alias  iso        name the_geom
0      Andorra     Andorra  AND     Andorra     None
1      Andorra     Andorra  AND     Andorra      NaN
2     Pakistan    Pakistan  PAK    Pakistan      NaN
3   San Marino  San Marino  SMR  San Marino     None
4   San Marino  San Marino  SMR  San Marino      NaN
INFO:root:number null aliases
INFO:root:1653
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Greenland' 'Not classified' 'Isle of Man' 'Sint Maarten (Dutch part)'
 'Faroe Islands' 'Gibraltar' 'Aruba' 'Guam' 'St. Martin (French part)'
 'New Caledonia' 'Korea, Dem. People’s Rep.' 'French Polynesia'
 'St. Vincent and the Grenadines' 'Kosovo' 'American Samoa' 'Bermuda'
 'Micronesia, Fed. Sts.' 'Curacao' 'Cayman Islands' 'Hong Kong SAR, China'
 'Macao SAR, China' 'Lao PDR' 'Macedonia, FYR' 'Northern Mariana Islands'
 'Puerto Rico' 'West Bank and Gaza' 'Turks and Caicos Islands'
 'Virgin Islands (U.S.)' 'British Virgin Islands']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          AND
1          PAK
2          SMR
3          BFA
4          BEN
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table com_010_gdp_ppp_usd
INFO:root:Table head:
INFO:root:  country_code     country_name     indicator_code  \
0          NCL    New Caledonia  NY.GDP.MKTP.PP.CD
1          CHI  Channel Islands  NY.GDP.MKTP.PP.CD
2          INX   Not classified  NY.GDP.MKTP.PP.CD
3          UZB       Uzbekistan  NY.GDP.MKTP.PP.CD
4          VEN    Venezuela, RB  NY.GDP.MKTP.PP.CD

                       indicator_name datetime       yr_data
0  GDP, PPP (current international $)     1990           NaN
1  GDP, PPP (current international $)     1990           NaN
2  GDP, PPP (current international $)     1990           NaN
3  GDP, PPP (current international $)     1990  4.071037e+10
4  GDP, PPP (current international $)     1990  1.855098e+11
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:      country_name       alias  iso        name the_geom
0    New Caledonia         NaN  NaN         NaN      NaN
1  Channel Islands         NaN  NaN         NaN      NaN
2   Not classified         NaN  NaN         NaN      NaN
3       Uzbekistan  Uzbekistan  UZB  Uzbekistan     None
4       Uzbekistan  Uzbekistan  UZB  Uzbekistan      NaN
INFO:root:number null aliases
INFO:root:810
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['New Caledonia' 'Channel Islands' 'Not classified' 'Virgin Islands (U.S.)'
 'Greenland' 'Lao PDR' 'Aruba' 'American Samoa'
 'Korea, Dem. People\x92s Rep.' 'Bermuda' 'Curacao' 'Gibraltar'
 'Northern Mariana Islands' 'French Polynesia' 'Kosovo'
 'British Virgin Islands' 'Cayman Islands' 'Faroe Islands'
 'Micronesia, Fed. Sts.' 'Macao SAR, China' 'Guam' 'Hong Kong SAR, China'
 'Isle of Man' 'St. Martin (French part)' 'Macedonia, FYR'
 'Sint Maarten (Dutch part)' 'West Bank and Gaza' 'Puerto Rico'
 'Turks and Caicos Islands' 'St. Vincent and the Grenadines']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          NCL
1          CHI
2          INX
3          UZB
4          VEN
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table com_015_recycling_rates
INFO:root:Table head:
INFO:root:   _2012_2015_avg      country datetime  yr_data new_country_code
0         2100.00       Mexico     1990      NaN              MEX
1         2149.75  Netherlands     1990      NaN              NLD
2          587.25       Norway     1990    100.0              NOR
3         1947.50       Poland     1990      NaN              POL
4         3620.00        Spain     1990      NaN              ESP
INFO:root:c_code: ***False***
INFO:root:c_name: ***country***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:       country        alias  iso         name the_geom
0       Mexico       Mexico  MEX       Mexico      NaN
1  Netherlands  Netherlands  NLD  Netherlands      NaN
2       Norway       Norway  NOR       Norway      NaN
3       Poland       Poland  POL       Poland      NaN
4        Spain        Spain  ESP        Spain      NaN
INFO:root:number null aliases
INFO:root:0
INFO:root:--
INFO:root:matching parameters
INFO:root:0         Mexico
1    Netherlands
2         Norway
3         Poland
4          Spain
Name: country, dtype: object
INFO:root:               alias  iso                    name the_geom
1        Korea North  PRK             North Korea     None
2        Korea South  KOR             South Korea     None
4  Congo Brazzaville  COG       Republic of Congo     None
5                UAE  ARE    United Arab Emirates     None
6             Bosnia  BIH  Bosnia and Herzegovina     None
INFO:root:alias
INFO:root:--
INFO:root:--
INFO:root:Processing table ene_012_electricity_access
INFO:root:Table head:
INFO:root:  country_code                country_name datetime  urban_data  rural_data  \
0          INX              Not classified     1990         NaN         NaN
1          EAR  Early-demographic dividend     1990         NaN   41.197684
2          LCA                   St. Lucia     1990         NaN   78.359886
3          SOM                     Somalia     1990         NaN         NaN
4          OMN                        Oman     1990         NaN         NaN

   total_data
0         NaN
1   55.955087
2   82.475647
3         NaN
4         NaN
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:                 country_name      alias  iso         name the_geom
0              Not classified        NaN  NaN          NaN      NaN
1  Early-demographic dividend        NaN  NaN          NaN      NaN
2                   St. Lucia  St. Lucia  LCA  Saint Lucia     None
3                   St. Lucia  St. Lucia  LCA  Saint Lucia     None
4                     Somalia    Somalia  SOM      Somalia      NaN
INFO:root:number null aliases
INFO:root:1900
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Not classified' 'Early-demographic dividend' 'Arab World'
 'East Asia & Pacific (excluding high income)' 'Gibraltar' 'Small states'
 'Upper middle income' 'American Samoa'
 'Europe & Central Asia (excluding high income)' 'Puerto Rico' 'Aruba'
 'British Virgin Islands' 'Bermuda' 'Channel Islands' 'Cayman Islands'
 'IDA only' 'East Asia & Pacific' 'Europe & Central Asia' 'Guam'
 'IDA & IBRD total' 'IDA total' 'IDA blend' 'IBRD only'
 'Sub-Saharan Africa (excluding high income)' 'Middle East & North Africa'
 'St. Vincent and the Grenadines' 'Middle income' 'North America'
 'Other small states' 'Middle East & North Africa (IDA & IBRD countries)'
 'Post-demographic dividend' 'Korea, Dem. People\x92s Rep.'
 'Pacific island small states' 'South Asia'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Kosovo'
 'Central Europe and the Baltics' 'Caribbean small states' 'Curacao'
 'Heavily indebted poor countries (HIPC)' 'Pre-demographic dividend'
 'Euro area' 'Micronesia, Fed. Sts.' 'European Union' 'Faroe Islands'
 'Fragile and conflict affected situations' 'Greenland'
 'Hong Kong SAR, China' 'Lao PDR' 'Latin America & Caribbean' 'High income'
 'Isle of Man' 'Latin America & Caribbean (excluding high income)'
 'Least developed countries: UN classification' 'Low income'
 'Low & middle income' 'Lower middle income' 'Macao SAR, China'
 'St. Martin (French part)' 'Late-demographic dividend'
 'Middle East & North Africa (excluding high income)' 'New Caledonia'
 'Macedonia, FYR' 'Northern Mariana Islands' 'OECD members'
 'French Polynesia' 'West Bank and Gaza' 'Sub-Saharan Africa'
 'East Asia & Pacific (IDA & IBRD countries)' 'Sint Maarten (Dutch part)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Turks and Caicos Islands'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'World' 'Virgin Islands (U.S.)']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          INX
1          EAR
2          LCA
3          SOM
4          OMN
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table ene_021_se4all_country_indicators
INFO:root:Table head:
INFO:root:  country_code country_name      indicator_code  \
0          OMN         Oman  3.1_RE.CONSUMPTION
1          SSD  South Sudan  3.1_RE.CONSUMPTION
2          DNK      Denmark  3.1_RE.CONSUMPTION
3          SMR   San Marino  3.1_RE.CONSUMPTION
4          ALB      Albania  3.1_RE.CONSUMPTION

                      indicator_name datetime      yr_data
0  Renewable energy consumption (TJ)     1990          NaN
1  Renewable energy consumption (TJ)     1990          NaN
2  Renewable energy consumption (TJ)     1990  39120.98875
3  Renewable energy consumption (TJ)     1990          NaN
4  Renewable energy consumption (TJ)     1990  20589.21076
INFO:root:c_code: ***country_code***
INFO:root:c_name: ***country_name***
INFO:root:--
INFO:root:--
INFO:root:merged data:
INFO:root:  country_name        alias  iso         name the_geom
0         Oman         Oman  OMN         Oman      NaN
1  South Sudan  South Sudan  SDS  South Sudan     None
2  South Sudan  South Sudan  SDS  South Sudan      NaN
3      Denmark      Denmark  DNK      Denmark      NaN
4   San Marino   San Marino  SMR   San Marino     None
INFO:root:number null aliases
INFO:root:777
INFO:root:--
INFO:root:missed aliases, matching on column "alias" of country_aliases
INFO:root:['Curacao' 'French Polynesia' 'Channel Islands' 'Cayman Islands'
 'Isle of Man' 'American Samoa' 'Aruba' 'Virgin Islands (U.S.)'
 'Cook Islands' 'Falkland Islands' 'Greenland' 'Macao' 'Dutch Antilles'
 'St. Vincent and the Grenadines' 'St. Martin' 'Sint Maarten (Dutch part)'
 'Bermuda' 'Taiwan' 'British Virgin Islands' 'Reunion' 'Guam' 'Gibraltar'
 'Mayotte' 'Guadeloupe' 'Faeroe Islands' 'Hong Kong SAR, China'
 'New Caledonia' 'Saint Pierre et Miquelon' 'Lao PDR' 'Martinique' 'Kosovo'
 'Northern Mariana Islands' 'Montserrat' 'Puerto Rico'
 'Turks and Caicos Islands' 'Western Sahara' 'West Bank and Gaza']
INFO:root:already has an iso3 code, in column country_code
INFO:root:  country_code
0          OMN
1          SSD
2          DNK
3          SMR
4          ALB
INFO:root:no match for these isos in the data being processed: Empty DataFrame
Columns: [alias, iso, name, the_geom]
Index: []
INFO:root:Processing table ene_028_access_clean_cooking_fuels
INFO:root:Table head:
INFO:root:  country_code country_name     series_code  \
0          NRU        Nauru  EG.CFT.ACCS.ZS
1          AFG  Afghanistan  EG.CFT.ACCS.ZS
2          ALB      Albania  EG.CFT.ACCS.ZS
3          DZA      Algeria  EG.CFT.ACCS.ZS
4          BGD   Bangladesh  EG.CFT.ACCS.ZS

                                         series_name datetime    yr_data

In [292]:
missed_names = list(set(missed_names))
print(len(missed_names))
print(missed_names)

139
['Middle East & North Africa (IDA & IBRD countries)', 'Other small states', 'European Union', "Democratic People's Republic of Korea", 'Upper middle income', 'IDA only', 'Pitcairn', 'Jersey', 'Saint Pierre et Miquelon', 'Aruba', 'Bolivia (Plurinational State of)', 'Venezuela, Bolivarian Republic of', 'Kosovo', 'Puerto Rico', 'Virgin Islands', 'United States Virgin Islands', 'Channel Islands', 'Åland Islands', 'St. Martin (French part)', 'West Bank and Gaza', 'Latin America & Caribbean (excluding high income)', 'Europe & Central Asia (IDA & IBRD countries)', 'East Asia & Pacific (IDA & IBRD countries)', 'Libyan Arab Jamahiriya', 'Congo (Democratic Republic of the)', 'Latin America & Caribbean', 'Heavily indebted poor countries (HIPC)', 'IDA & IBRD total', 'Isle of Man', 'Hong Kong', 'French Guiana', 'Hong Kong SAR, China', 'Low & middle income', 'IBRD only', 'Cook Islands', 'Lao PDR', 'Korea, Dem. People\x92s Rep.', 'Sint Maarten (Dutch part)', 'Saint-Martin (French part)', 'Montserrat', 'Greenland', 'Tanzania (United Republic of)', 'Virgin Islands (U.S.)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Anguilla', 'Curaçao', 'French Polynesia', 'Palestine, State of', 'Korea, Republic of', 'Early-demographic dividend', 'Bolivia, Plurinational State of', 'Low income', 'Arab World', 'British Virgin Islands', 'Korea, Dem. People’s Rep.', 'Sint Maarten', 'Macedonia, FYR', 'HONG KONG SAR, CHINA', 'Cayman Islands', 'Congo, the Democratic Republic of', 'Saint-Barthélemy', 'Reunion', 'Lower middle income', 'IDA blend', 'Small states', 'Falkland Islands', 'GuineaBissau', 'Niue', 'Palestine', 'Mayotte', 'The former Yugoslav Republic of Macedonia', 'St. Vincent and the Grenadines', 'Not classified', 'Sub-Saharan Africa (excluding high income)', 'Guam', 'Pre-demographic dividend', 'Saint Pierre and Miquelon', 'South Asia (IDA & IBRD)', 'Holy See', 'Gibraltar', 'High income', 'Iran, Islamic Republic of', 'Taiwan', 'Fragile and conflict affected situations', "Korea, Democratic People's Republ", 'Macao SAR, China', 'East Asia & Pacific', 'TimorLeste', 'Europe & Central Asia', 'Faeroe Islands', 'Least developed countries: UN classification', 'Pacific island small states', 'Euro area', 'Middle income', 'Middle East & North Africa', 'Caribbean small states', 'Guadeloupe', 'World', 'IDA total', 'ARUBA', 'South Asia', 'Sub-Saharan Africa', 'Martinique', 'Northern Mariana Islands', 'Wallis and Futuna Islands', 'Moldova, Republic of', 'Svalbard and Jan Mayen Islands', 'MACAO SAR', 'US Virgin Islands', 'American Samoa', 'New Caledonia', 'Turks and Caicos Islands', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Late-demographic dividend', 'Post-demographic dividend', 'Macao', 'Guernsey', 'Micronesia, Fed. Sts.', 'Curacao', 'Dutch Antilles', 'Moldova (Republic of)', 'Bermuda', 'Bosnia & Herzegovina', 'Western Sahara', 'Trinidad & Tobago', 'Central Europe and the Baltics', 'East Asia & Pacific (excluding high income)', 'Saint Helena', 'Faroe Islands', 'Réunion', 'Middle East & North Africa (excluding high income)', 'Tokelau', 'Europe & Central Asia (excluding high income)', 'Tanzania, United Republic of', 'Norfolk Island', 'OECD members', 'Micronesia, Federated States of', 'St. Martin', 'North America']

In [295]:
# Code to add entries for capitalized country names which are otherwise in the alias table
_aliases = [alias.lower() for alias in aliases['alias']]
additional_aliases = []
for name in missed_names:
    _name = name.lower()
    if _name in _aliases:
        new_alias = aliases.iloc[_aliases.index(_name)]
        new_alias['alias'] = name
        additional_aliases.append(new_alias)

add_aliases = pd.DataFrame(additional_aliases)
tables['country_aliases']['data'] = tables['country_aliases']['data'].append(add_aliases)

In [296]:
tables['country_aliases']['data'].shape

(636, 4)

In [299]:
for name, info in tables.items():
    logging.info(name)
    for key, data in info.items():
        if key == 'long_data':
            logging.info(data.head())
            write_to_S3(data,s3_bucket,s3_folder+name+'_long')
            logging.info('saved ' + name + ' long data to s3')
            cc.write(data, name + '_longform', overwrite=True)
            logging.info('saved ' + name + ' long data to Carto')
            #logging.info('failed to write table ' + name)

INFO:root:geometry
INFO:root:country_aliases
INFO:root:cit_022_road_traffic_deaths_by_country
INFO:root:      country datetime estimated_number_of_road_traffic_deaths_data  \
0        Mali     2013                        3 920 [3 193 - 4 648]
1  Madagascar     2013                        6 506 [5 361 - 7 650]
2    Malaysia     2013                        7 129 [6 050 - 8 209]
3     Liberia     2013                        1 448 [1 144 - 1 752]
4    Maldives     2013                                           12

  new_country_code
0              MLI
1              MDG
2              MYS
3              LBR
4              MDV
INFO:root:saved cit_022_road_traffic_deaths_by_country long data to s3
/Users/nathansuberi/.pyenv/versions/3.6.0/lib/python3.6/site-packages/cartoframes/context.py:511: UserWarning: DataFrame written to CARTO but the table schema failed to update to match DataFrame. All columns in CARTO table have data type `text`. CARTO error: `['syntax error at end of input']`.
  query=alter_query))
INFO:root:saved cit_022_road_traffic_deaths_by_country long data to Carto
INFO:root:cit_025_urban_population
INFO:root:  country_code    country_name     indicator_code  \
0          INX  Not classified  SP.URB.TOTL.IN.ZS
1          XKX          Kosovo  SP.URB.TOTL.IN.ZS
2          IRQ            Iraq  SP.URB.TOTL.IN.ZS
3          ISL         Iceland  SP.URB.TOTL.IN.ZS
4          NOR          Norway  SP.URB.TOTL.IN.ZS

                  indicator_name datetime  yr_data
0  Urban population (% of total)     1960      NaN
1  Urban population (% of total)     1960      NaN
2  Urban population (% of total)     1960   42.899
3  Urban population (% of total)     1960   80.300
4  Urban population (% of total)     1960   49.920

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_022_road_traffic_deaths_by_country_longform

INFO:root:saved cit_025_urban_population long data to s3
INFO:root:saved cit_025_urban_population long data to Carto
INFO:root:cit_028_percent_urban_slums_edit
INFO:root:  country_code    country_name     indicator_code  \
0          AFG     Afghanistan  EN.POP.SLUM.UR.ZS
1          INX  Not classified  EN.POP.SLUM.UR.ZS
2          IND           India  EN.POP.SLUM.UR.ZS
3          IRL         Ireland  EN.POP.SLUM.UR.ZS
4          ITA           Italy  EN.POP.SLUM.UR.ZS

                                      indicator_name datetime yr_data
0  Population living in slums (% of urban populat...     1960
1  Population living in slums (% of urban populat...     1960
2  Population living in slums (% of urban populat...     1960
3  Population living in slums (% of urban populat...     1960
4  Population living in slums (% of urban populat...     1960

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_025_urban_population_longform

INFO:root:saved cit_028_percent_urban_slums_edit long data to s3
INFO:root:saved cit_028_percent_urban_slums_edit long data to Carto
INFO:root:cit_029_municipal_waste
INFO:root:   _2012_2015_avg          country datetime  yr_data new_country_code
0      522.890000          Iceland     1990      NaN              ISL
1      587.203000          Ireland     1990      NaN              IRL
2      448.354667         Portugal     1990  300.504              PRT
3      314.840750  Slovak Republic     1990      NaN              SVK
4      414.217000         Slovenia     1990      NaN              SVN
INFO:root:saved cit_029_municipal_waste long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_028_percent_urban_slums_edit_longform

INFO:root:saved cit_029_municipal_waste long data to Carto
INFO:root:com_006_national_current_accounts_edit
INFO:root:  country_code  country_name  indicator_code  \
0          AND       Andorra  BN.CAB.XOKA.CD
1          PAK      Pakistan  BN.CAB.XOKA.CD
2          SMR    San Marino  BN.CAB.XOKA.CD
3          BFA  Burkina Faso  BN.CAB.XOKA.CD
4          BEN         Benin  BN.CAB.XOKA.CD

                               indicator_name datetime  yr_data
0  Current account balance (BoP, current US$)     1960      NaN
1  Current account balance (BoP, current US$)     1960      NaN
2  Current account balance (BoP, current US$)     1960      NaN
3  Current account balance (BoP, current US$)     1960      NaN
4  Current account balance (BoP, current US$)     1960      NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cit_029_municipal_waste_longform

INFO:root:saved com_006_national_current_accounts_edit long data to s3
INFO:root:saved com_006_national_current_accounts_edit long data to Carto
INFO:root:com_010_gdp_ppp_usd
INFO:root:  country_code     country_name     indicator_code  \
0          NCL    New Caledonia  NY.GDP.MKTP.PP.CD
1          CHI  Channel Islands  NY.GDP.MKTP.PP.CD
2          INX   Not classified  NY.GDP.MKTP.PP.CD
3          UZB       Uzbekistan  NY.GDP.MKTP.PP.CD
4          VEN    Venezuela, RB  NY.GDP.MKTP.PP.CD

                       indicator_name datetime       yr_data
0  GDP, PPP (current international $)     1990           NaN
1  GDP, PPP (current international $)     1990           NaN
2  GDP, PPP (current international $)     1990           NaN
3  GDP, PPP (current international $)     1990  4.071037e+10
4  GDP, PPP (current international $)     1990  1.855098e+11

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_006_national_current_accounts_edit_longform

INFO:root:saved com_010_gdp_ppp_usd long data to s3
INFO:root:saved com_010_gdp_ppp_usd long data to Carto
INFO:root:com_015_recycling_rates
INFO:root:   _2012_2015_avg      country datetime  yr_data new_country_code
0         2100.00       Mexico     1990      NaN              MEX
1         2149.75  Netherlands     1990      NaN              NLD
2          587.25       Norway     1990    100.0              NOR
3         1947.50       Poland     1990      NaN              POL
4         3620.00        Spain     1990      NaN              ESP
INFO:root:saved com_015_recycling_rates long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_010_gdp_ppp_usd_longform

INFO:root:saved com_015_recycling_rates long data to Carto
INFO:root:ene_012_electricity_access
INFO:root:  country_code                country_name datetime  urban_data  rural_data  \
0          INX              Not classified     1990         NaN         NaN
1          EAR  Early-demographic dividend     1990         NaN   41.197684
2          LCA                   St. Lucia     1990         NaN   78.359886
3          SOM                     Somalia     1990         NaN         NaN
4          OMN                        Oman     1990         NaN         NaN

   total_data
0         NaN
1   55.955087
2   82.475647
3         NaN
4         NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/com_015_recycling_rates_longform

INFO:root:saved ene_012_electricity_access long data to s3
INFO:root:saved ene_012_electricity_access long data to Carto
INFO:root:ene_021_se4all_country_indicators
INFO:root:  country_code country_name      indicator_code  \
0          OMN         Oman  3.1_RE.CONSUMPTION
1          SSD  South Sudan  3.1_RE.CONSUMPTION
2          DNK      Denmark  3.1_RE.CONSUMPTION
3          SMR   San Marino  3.1_RE.CONSUMPTION
4          ALB      Albania  3.1_RE.CONSUMPTION

                      indicator_name datetime      yr_data
0  Renewable energy consumption (TJ)     1990          NaN
1  Renewable energy consumption (TJ)     1990          NaN
2  Renewable energy consumption (TJ)     1990  39120.98875
3  Renewable energy consumption (TJ)     1990          NaN
4  Renewable energy consumption (TJ)     1990  20589.21076

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_012_electricity_access_longform

INFO:root:saved ene_021_se4all_country_indicators long data to s3
INFO:root:saved ene_021_se4all_country_indicators long data to Carto
INFO:root:ene_028_access_clean_cooking_fuels
INFO:root:  country_code country_name     series_code  \
0          NRU        Nauru  EG.CFT.ACCS.ZS
1          AFG  Afghanistan  EG.CFT.ACCS.ZS
2          ALB      Albania  EG.CFT.ACCS.ZS
3          DZA      Algeria  EG.CFT.ACCS.ZS
4          BGD   Bangladesh  EG.CFT.ACCS.ZS

                                         series_name datetime    yr_data
0  Access to clean fuels and technologies for coo...     2000        NaN
1  Access to clean fuels and technologies for coo...     2000  22.666341
2  Access to clean fuels and technologies for coo...     2000  48.022336
3  Access to clean fuels and technologies for coo...     2000  93.082431
4  Access to clean fuels and technologies for coo...     2000  10.548800

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_021_se4all_country_indicators_longform

INFO:root:saved ene_028_access_clean_cooking_fuels long data to s3
INFO:root:saved ene_028_access_clean_cooking_fuels long data to Carto
INFO:root:foo_015_global_hunger_index
INFO:root:        country datetime  ghi_data new_country_code
0         Ghana     1992      41.9              GHA
1        Guinea     1992      46.5              GIN
2  GuineaBissau     1992      44.5              ***
3          Iraq     1992      21.8              IRQ
4        Guyana     1992      22.3              GUY
INFO:root:saved foo_015_global_hunger_index long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/ene_028_access_clean_cooking_fuels_longform

INFO:root:saved foo_015_global_hunger_index long data to Carto
INFO:root:foo_040_fisheries_vuln_climat
INFO:root:  country_territory field_8     datetime  rcp26_data  rcp45_data  rcp85_data  \
0         ARGENTINA          __2016_2050    0.084542    0.154796    0.167004
1            GUINEA          __2016_2050    0.608461    0.592828    0.521583
2            GREECE          __2016_2050    0.417849    0.380012    0.413244
3         INDONESIA          __2016_2050    0.677371    0.666611    0.594091
4             ITALY          __2016_2050    0.253508    0.229789    0.255898

  new_country_code
0              ARG
1              GIN
2              GRC
3              IDN
4              ITA
INFO:root:saved foo_040_fisheries_vuln_climat long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_015_global_hunger_index_longform

INFO:root:saved foo_040_fisheries_vuln_climat long data to Carto
INFO:root:foo_43_agriculture_value_added
INFO:root:  country_code    country_name  indicator_code  \
0          NER           Niger  NV.AGR.TOTL.ZS
1          INX  Not classified  NV.AGR.TOTL.ZS
2          LBY           Libya  NV.AGR.TOTL.ZS
3          MCO          Monaco  NV.AGR.TOTL.ZS
4          SOM         Somalia  NV.AGR.TOTL.ZS

                        indicator_name datetime    yr_data
0  Agriculture, value added (% of GDP)     1960        NaN
1  Agriculture, value added (% of GDP)     1960        NaN
2  Agriculture, value added (% of GDP)     1960        NaN
3  Agriculture, value added (% of GDP)     1960        NaN
4  Agriculture, value added (% of GDP)     1960  71.121603

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_040_fisheries_vuln_climat_longform

INFO:root:saved foo_43_agriculture_value_added long data to s3
INFO:root:saved foo_43_agriculture_value_added long data to Carto
INFO:root:soc_004_human_development_index
INFO:root:soc_006_multidimensional_poverty_index
INFO:root:                             country  latest datetime  yr_data  \
0                            Belarus   0.001     2005    0.001
1                         Bangladesh   0.188     2005      NaN
2   Bolivia (Plurinational State of)   0.097     2005      NaN
3                               Chad   0.545     2005      NaN
4             Bosnia and Herzegovina   0.006     2005      NaN

  new_country_code
0              ***
1              ***
2              ***
3              ***
4              ***
INFO:root:saved soc_006_multidimensional_poverty_index long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/foo_43_agriculture_value_added_longform

INFO:root:saved soc_006_multidimensional_poverty_index long data to Carto
INFO:root:soc_008_gdp_per_capita_edit
INFO:root:  country_code               country_name     indicator_code  \
0          CUB                       Cuba  NY.GDP.PCAP.PP.CD
1          HRV                    Croatia  NY.GDP.PCAP.PP.CD
2          NCL              New Caledonia  NY.GDP.PCAP.PP.CD
3          PRK  Korea, Dem. Peoples Rep.  NY.GDP.PCAP.PP.CD
4          SRB                     Serbia  NY.GDP.PCAP.PP.CD

                                  indicator_name datetime  yr_data
0  GDP per capita, PPP (current international $)     1990      NaN
1  GDP per capita, PPP (current international $)     1990      NaN
2  GDP per capita, PPP (current international $)     1990      NaN
3  GDP per capita, PPP (current international $)     1990      NaN
4  GDP per capita, PPP (current international $)     1990      NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_006_multidimensional_poverty_index_longform

INFO:root:saved soc_008_gdp_per_capita_edit long data to s3
INFO:root:saved soc_008_gdp_per_capita_edit long data to Carto
INFO:root:soc_015_adult_literacy_rate
INFO:root:   indicator_code                                     indicator_name  \
0  SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...
1  SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...
2  SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...
3  SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...
4  SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...

  country_code          country_name datetime yr_data  male_data  female_data
0          CUW               Curacao     1970     NaN        NaN          NaN
1          WSM                 Samoa     1970     NaN        NaN          NaN
2          AFG           Afghanistan     1970     NaN        NaN          NaN
3          ARG             Argentina     1970     NaN        NaN          NaN
4          ARE  United Arab Emirates     1970     NaN        NaN          NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_008_gdp_per_capita_edit_longform

INFO:root:saved soc_015_adult_literacy_rate long data to s3
INFO:root:saved soc_015_adult_literacy_rate long data to Carto
INFO:root:soc_020_gini
INFO:root:  indicator_code                    indicator_name country_code country_name  \
0    SI.POV.GINI  GINI index (World Bank estimate)          MWI       Malawi
1    SI.POV.GINI  GINI index (World Bank estimate)          MNG     Mongolia
2    SI.POV.GINI  GINI index (World Bank estimate)          MRT   Mauritania
3    SI.POV.GINI  GINI index (World Bank estimate)          MOZ   Mozambique
4    SI.POV.GINI  GINI index (World Bank estimate)          NAM      Namibia

  datetime yr_data
0     1960    None
1     1960    None
2     1960    None
3     1960    None
4     1960    None

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_015_adult_literacy_rate_longform

INFO:root:saved soc_020_gini long data to s3
INFO:root:saved soc_020_gini long data to Carto
INFO:root:soc_025_gender_inequality_index
INFO:root:      country datetime  yr_data new_country_code
0    Honduras     1995      NaN              ***
1     Georgia     1995    0.426              ***
2       Libya     1995      NaN              ***
3   Singapore     1995    0.252              ***
4    Suriname     1995      NaN              ***

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_020_gini_longform

INFO:root:saved soc_025_gender_inequality_index long data to s3
INFO:root:saved soc_025_gender_inequality_index long data to Carto
INFO:root:soc_029_worldwide_governance_indicators
INFO:root:  country_territory wbcode datetime  control_of_corruption_data  \
0    Dutch Antilles    ANT     2016                         NaN
1            Malawi    MWI     2016                       -0.75
2             Niger    NER     2016                       -0.64
3           Namibia    NAM     2016                        0.37
4          Malaysia    MYS     2016                        0.11

   government_effectiveness_data  political_stability_data  \
0                            NaN                       NaN
1                          -0.73                     -0.06
2                          -0.59                     -1.08
3                           0.17                      0.74
4                           0.88                      0.10

   regulatory_quality_data  rule_of_law_data  voice_accountability_data
0                      NaN               NaN                        NaN
1                    -0.84             -0.37                       0.04
2                    -0.67             -0.64                      -0.34
3                    -0.14              0.39                       0.61
4                     0.71              0.54                      -0.47
INFO:root:saved soc_029_worldwide_governance_indicators long data to s3

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_025_gender_inequality_index_longform

INFO:root:saved soc_029_worldwide_governance_indicators long data to Carto
INFO:root:soc_036_life_expectancy_at_birth
INFO:root:   indicator_code                           indicator_name country_code  \
0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)          CUW
1  SP.DYN.LE00.IN  Life expectancy at birth, total (years)          GIB
2  SP.DYN.LE00.IN  Life expectancy at birth, total (years)          NRU
3  SP.DYN.LE00.IN  Life expectancy at birth, total (years)          AGO
4  SP.DYN.LE00.IN  Life expectancy at birth, total (years)          NER

  country_name datetime  yr_data
0      Curacao     1960      NaN
1    Gibraltar     1960      NaN
2        Nauru     1960      NaN
3       Angola     1960  32.9848
4        Niger     1960   35.515

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_029_worldwide_governance_indicators_longform

INFO:root:saved soc_036_life_expectancy_at_birth long data to s3
INFO:root:saved soc_036_life_expectancy_at_birth long data to Carto
INFO:root:soc_039_out_of_school_rate_edit
INFO:root:       country datetime  yr_data new_country_code
0    Macedonia     1999  4.95965              MKD
1        Libya     1999      NaN              LBY
2      Somalia     1999      NaN              SOM
3      Andorra     1999      NaN              AND
4  Afghanistan     1999      NaN              AFG

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_036_life_expectancy_at_birth_longform

INFO:root:saved soc_039_out_of_school_rate_edit long data to s3
INFO:root:saved soc_039_out_of_school_rate_edit long data to Carto
INFO:root:soc_040_improved_sanitation
INFO:root:  country_code     country_name datetime  rural_data  urban_data  total_data
0          BMU          Bermuda     1990         NaN         NaN         NaN
1          CHI  Channel Islands     1990         NaN         NaN         NaN
2          CUW          Curacao     1990         NaN         NaN         NaN
3          GIB        Gibraltar     1990         NaN         NaN         NaN
4          NZL      New Zealand     1990        88.0         NaN         NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_039_out_of_school_rate_edit_longform

INFO:root:saved soc_040_improved_sanitation long data to s3
INFO:root:saved soc_040_improved_sanitation long data to Carto
INFO:root:wat_005_improved_water_access
INFO:root:  country_code     country_name datetime  urban_data  rural_data  total_data
0          BMU          Bermuda     1990         NaN         NaN         NaN
1          CHI  Channel Islands     1990         NaN         NaN         NaN
2          CUW          Curacao     1990         NaN         NaN         NaN
3          INX   Not classified     1990         NaN         NaN         NaN
4          SSD      South Sudan     1990         NaN         NaN         NaN

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/soc_040_improved_sanitation_longform

INFO:root:saved wat_005_improved_water_access long data to s3
INFO:root:saved wat_005_improved_water_access long data to Carto
INFO:root:cli_029_vulnerability_to_cc
INFO:root:         country datetime  gain_data  readiness_data  vulnerability_data  \
0        Andorra     1995        NaN             NaN                 NaN
1  Liechtenstein     1995        NaN             NaN                 NaN
2         Monaco     1995        NaN             NaN                 NaN
3          Nauru     1995        NaN             NaN                 NaN
4     San Marino     1995        NaN             NaN                 NaN

  new_country_code
0              AND
1              LIE
2              MCO
3              NRU
4              SMR

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/wat_005_improved_water_access_longform

INFO:root:saved cli_029_vulnerability_to_cc long data to s3
INFO:root:saved cli_029_vulnerability_to_cc long data to Carto

Table successfully written to CARTO: https://wri-rw.carto.com/dataset/cli_029_vulnerability_to_cc_longform