# Quality Control Considerations

* Datetime format == UTC compliant: True
* Long form: True
* Duplicate records: Under development
* Locations and History tables in sync: JUST USE RECENT DATA ENDPOINT Under development

# Priority
* Insert into Carto
* Design a widget to show updating data

Carto: Authentication and URL setup

In [23]:
# Base URL for all SQL calls
carto_url = "https://wri-rw.carto.com/api/v2/sql"

# Authentication credentials:
config = ConfigParser()
config.read("/Users/nathansuberi/Desktop/Code Portfolio/ResourceWatchCode/.env")
# FROM: https://resourcewatch.carto.com/u/wri-rw/your_apps
carto_api_token = config.get("auth", "carto_api_token")

Import required libraries

In [2]:
# Access internet resources
import requests as req
# Parse json
import json
# Data handling
import pandas as pd
import numpy as np
# Using datetime objects to ensure UTC time in incoming data
from datetime import datetime, timedelta
# Retrieve credentials from a local .env file
from configparser import ConfigParser

# S3 connection libraries
# Need to have environmental variables set with "aws configure", 
# or update code to explicitly supplied AWS Access Id and AWS Secret Key
import boto3
import sys
import threading

s3_client = boto3.client("s3")
s3_resource = boto3.resource("s3")

class ProgressPercentage(object):
        def __init__(self, filename):
            self._filename = filename
            self._size = float(os.path.getsize(filename))
            self._seen_so_far = 0
            self._lock = threading.Lock()

        def __call__(self, bytes_amount):
            # To simplify we'll assume this is hooked up
            # to a single filename.
            with self._lock:
                self._seen_so_far += bytes_amount
                percentage = (self._seen_so_far / self._size) * 100
                sys.stdout.write("\r%s  %s / %s  (%.2f%%)"%(
                        self._filename, self._seen_so_far, self._size,
                        percentage))
                sys.stdout.flush()

Use Pandas to read a CSV from a public s3 account

In [22]:
# https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url/41880513#41880513
# http://www.ritchieng.com/pandas-removing-duplicate-rows/
url = "https://openaq-data.s3.amazonaws.com/2017-12-09.csv"
dec9 = pd.read_csv(url)
url = "https://openaq-data.s3.amazonaws.com/2017-12-08.csv"
dec8 = pd.read_csv(url)
twodays = dec9.append(dec8)
dupes = twodays.duplicated()
print("Number of duplicate records between two days:", dupes.sum())
print("Dec 8 times:", dec8.utc.unique())
print("Dec 9 times:", dec9.utc.unique())

Number of duplicate records between two days: 0
Dec 8 times: ['2017-12-08T00:00:00.000Z' '2017-12-08T01:00:00.000Z'
 '2017-12-08T02:00:00.000Z' ..., '2017-12-08T22:24:09.000Z'
 '2017-12-08T22:22:26.000Z' '2017-12-08T22:24:26.000Z']
Dec 9 times: ['2017-12-09T00:00:00.000Z' '2017-12-09T01:00:00.000Z'
 '2017-12-09T02:00:00.000Z' ..., '2017-12-09T23:42:00.000Z'
 '2017-12-09T22:44:19.000Z' '2017-12-09T22:44:17.000Z']

Add locations from these two sample days, make sure that further adds are successfully de-duped

In [334]:
kwargs = {
    "data_df":dec8,
    "target_table_name":"open_aq_locations",
    "cols_and_types":cols_and_types_locations,
    "cols_with_apostrophes":["location", "city","country"]
}

update_table_without_duplicates(**kwargs)
update_table_without_duplicates(**kwargs)

kwargs = {
    "data_df":dec9,
    "target_table_name":"open_aq_locations",
    "cols_and_types":cols_and_types_locations,
    "cols_with_apostrophes":["location", "city","country"]
}

update_table_without_duplicates(**kwargs)

Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []

Loop over all CSVs in the OpenAQ record and capture the unique locations.

Locations are included as long as they have the same "location", "city", "country" fields, and their "latitude" and "longitude" fields are equal to 6 significant figures.

In [3]:
bucket = "openaq-data"
openaq_data = s3_resource.Bucket(bucket)
keys = []
for file in openaq_data.objects.filter():
    keys.append(file.key)
keys

['2015-06-29.csv',
 '2015-06-30.csv',
 '2015-07-01.csv',
 '2015-07-02.csv',
 '2015-07-03.csv',
 '2015-07-04.csv',
 '2015-07-06.csv',
 '2015-07-07.csv',
 '2015-07-08.csv',
 '2015-07-09.csv',
 '2015-07-10.csv',
 '2015-07-11.csv',
 '2015-07-12.csv',
 '2015-07-13.csv',
 '2015-07-14.csv',
 '2015-07-15.csv',
 '2015-07-16.csv',
 '2015-07-17.csv',
 '2015-07-18.csv',
 '2015-07-20.csv',
 '2015-07-21.csv',
 '2015-07-22.csv',
 '2015-07-23.csv',
 '2015-07-24.csv',
 '2015-08-02.csv',
 '2015-08-03.csv',
 '2015-08-04.csv',
 '2015-08-05.csv',
 '2015-08-06.csv',
 '2015-08-07.csv',
 '2015-08-08.csv',
 '2015-08-09.csv',
 '2015-08-10.csv',
 '2015-08-11.csv',
 '2015-08-12.csv',
 '2015-08-13.csv',
 '2015-08-14.csv',
 '2015-08-15.csv',
 '2015-08-16.csv',
 '2015-08-17.csv',
 '2015-08-18.csv',
 '2015-08-19.csv',
 '2015-08-20.csv',
 '2015-08-21.csv',
 '2015-08-22.csv',
 '2015-08-23.csv',
 '2015-08-24.csv',
 '2015-08-25.csv',
 '2015-08-26.csv',
 '2015-08-27.csv',
 '2015-08-28.csv',
 '2015-08-29.csv',
 '2015-08-30.csv',
 '2015-08-31.csv',
 '2015-09-01.csv',
 '2015-09-02.csv',
 '2015-09-03.csv',
 '2015-09-04.csv',
 '2015-09-05.csv',
 '2015-09-06.csv',
 '2015-09-07.csv',
 '2015-09-08.csv',
 '2015-09-09.csv',
 '2015-09-10.csv',
 '2015-09-11.csv',
 '2015-09-12.csv',
 '2015-09-13.csv',
 '2015-09-14.csv',
 '2015-09-15.csv',
 '2015-09-16.csv',
 '2015-09-17.csv',
 '2015-09-18.csv',
 '2015-09-19.csv',
 '2015-09-20.csv',
 '2015-09-21.csv',
 '2015-09-22.csv',
 '2015-09-23.csv',
 '2015-09-24.csv',
 '2015-09-25.csv',
 '2015-09-26.csv',
 '2015-09-27.csv',
 '2015-09-28.csv',
 '2015-09-29.csv',
 '2015-09-30.csv',
 '2015-10-01.csv',
 '2015-10-02.csv',
 '2015-10-03.csv',
 '2015-10-04.csv',
 '2015-10-05.csv',
 '2015-10-06.csv',
 '2015-10-07.csv',
 '2015-10-08.csv',
 '2015-10-09.csv',
 '2015-10-10.csv',
 '2015-10-11.csv',
 '2015-10-12.csv',
 '2015-10-13.csv',
 '2015-10-14.csv',
 '2015-10-15.csv',
 '2015-10-16.csv',
 '2015-10-17.csv',
 '2015-10-18.csv',
 '2015-10-19.csv',
 '2015-10-20.csv',
 '2015-10-21.csv',
 '2015-10-22.csv',
 '2015-10-23.csv',
 '2015-10-24.csv',
 '2015-10-25.csv',
 '2015-10-26.csv',
 '2015-10-27.csv',
 '2015-10-28.csv',
 '2015-10-29.csv',
 '2015-10-30.csv',
 '2015-10-31.csv',
 '2015-11-01.csv',
 '2015-11-02.csv',
 '2015-11-03.csv',
 '2015-11-04.csv',
 '2015-11-05.csv',
 '2015-11-06.csv',
 '2015-11-07.csv',
 '2015-11-08.csv',
 '2015-11-09.csv',
 '2015-11-10.csv',
 '2015-11-11.csv',
 '2015-11-12.csv',
 '2015-11-13.csv',
 '2015-11-14.csv',
 '2015-11-15.csv',
 '2015-11-16.csv',
 '2015-11-17.csv',
 '2015-11-18.csv',
 '2015-11-19.csv',
 '2015-11-20.csv',
 '2015-11-21.csv',
 '2015-11-22.csv',
 '2015-11-23.csv',
 '2015-11-24.csv',
 '2015-11-25.csv',
 '2015-11-26.csv',
 '2015-11-27.csv',
 '2015-11-28.csv',
 '2015-11-29.csv',
 '2015-11-30.csv',
 '2015-12-01.csv',
 '2015-12-02.csv',
 '2015-12-03.csv',
 '2015-12-04.csv',
 '2015-12-05.csv',
 '2015-12-06.csv',
 '2015-12-07.csv',
 '2015-12-08.csv',
 '2015-12-09.csv',
 '2015-12-10.csv',
 '2015-12-11.csv',
 '2015-12-12.csv',
 '2015-12-13.csv',
 '2015-12-14.csv',
 '2015-12-15.csv',
 '2015-12-16.csv',
 '2015-12-17.csv',
 '2015-12-18.csv',
 '2015-12-19.csv',
 '2015-12-20.csv',
 '2015-12-21.csv',
 '2015-12-22.csv',
 '2015-12-23.csv',
 '2015-12-24.csv',
 '2015-12-25.csv',
 '2015-12-26.csv',
 '2015-12-27.csv',
 '2015-12-28.csv',
 '2015-12-29.csv',
 '2015-12-30.csv',
 '2016-01-03.csv',
 '2016-01-04.csv',
 '2016-01-05.csv',
 '2016-01-06.csv',
 '2016-01-07.csv',
 '2016-01-08.csv',
 '2016-01-09.csv',
 '2016-01-10.csv',
 '2016-01-11.csv',
 '2016-01-12.csv',
 '2016-01-13.csv',
 '2016-01-14.csv',
 '2016-01-15.csv',
 '2016-01-16.csv',
 '2016-01-17.csv',
 '2016-01-18.csv',
 '2016-01-19.csv',
 '2016-01-20.csv',
 '2016-01-21.csv',
 '2016-01-22.csv',
 '2016-01-23.csv',
 '2016-01-24.csv',
 '2016-01-25.csv',
 '2016-01-26.csv',
 '2016-01-27.csv',
 '2016-01-28.csv',
 '2016-01-29.csv',
 '2016-01-30.csv',
 '2016-01-31.csv',
 '2016-02-01.csv',
 '2016-02-02.csv',
 '2016-02-03.csv',
 '2016-02-04.csv',
 '2016-02-05.csv',
 '2016-02-06.csv',
 '2016-02-07.csv',
 '2016-02-08.csv',
 '2016-02-09.csv',
 '2016-02-10.csv',
 '2016-02-11.csv',
 '2016-02-12.csv',
 '2016-02-13.csv',
 '2016-02-14.csv',
 '2016-02-15.csv',
 '2016-02-16.csv',
 '2016-02-17.csv',
 '2016-02-18.csv',
 '2016-02-19.csv',
 '2016-02-20.csv',
 '2016-02-21.csv',
 '2016-02-22.csv',
 '2016-02-23.csv',
 '2016-02-24.csv',
 '2016-02-25.csv',
 '2016-02-26.csv',
 '2016-02-27.csv',
 '2016-02-28.csv',
 '2016-02-29.csv',
 '2016-03-01.csv',
 '2016-03-02.csv',
 '2016-03-03.csv',
 '2016-03-04.csv',
 '2016-03-05.csv',
 '2016-03-06.csv',
 '2016-03-07.csv',
 '2016-03-08.csv',
 '2016-03-09.csv',
 '2016-03-10.csv',
 '2016-03-11.csv',
 '2016-03-12.csv',
 '2016-03-13.csv',
 '2016-03-14.csv',
 '2016-03-15.csv',
 '2016-03-16.csv',
 '2016-03-17.csv',
 '2016-03-18.csv',
 '2016-03-19.csv',
 '2016-03-20.csv',
 '2016-03-21.csv',
 '2016-03-22.csv',
 '2016-03-23.csv',
 '2016-03-24.csv',
 '2016-03-25.csv',
 '2016-03-26.csv',
 '2016-03-27.csv',
 '2016-03-28.csv',
 '2016-03-29.csv',
 '2016-03-30.csv',
 '2016-03-31.csv',
 '2016-04-01.csv',
 '2016-04-02.csv',
 '2016-04-03.csv',
 '2016-04-04.csv',
 '2016-04-05.csv',
 '2016-04-06.csv',
 '2016-04-07.csv',
 '2016-04-08.csv',
 '2016-04-09.csv',
 '2016-04-10.csv',
 '2016-04-11.csv',
 '2016-04-12.csv',
 '2016-04-13.csv',
 '2016-04-14.csv',
 '2016-04-15.csv',
 '2016-04-16.csv',
 '2016-04-17.csv',
 '2016-04-18.csv',
 '2016-04-19.csv',
 '2016-04-20.csv',
 '2016-04-21.csv',
 '2016-04-22.csv',
 '2016-04-23.csv',
 '2016-04-24.csv',
 '2016-04-25.csv',
 '2016-04-26.csv',
 '2016-04-27.csv',
 '2016-04-28.csv',
 '2016-04-29.csv',
 '2016-04-30.csv',
 '2016-05-01.csv',
 '2016-05-02.csv',
 '2016-05-03.csv',
 '2016-05-04.csv',
 '2016-05-05.csv',
 '2016-05-06.csv',
 '2016-05-07.csv',
 '2016-05-08.csv',
 '2016-05-09.csv',
 '2016-05-10.csv',
 '2016-05-11.csv',
 '2016-05-12.csv',
 '2016-05-13.csv',
 '2016-05-14.csv',
 '2016-05-15.csv',
 '2016-05-16.csv',
 '2016-05-17.csv',
 '2016-05-18.csv',
 '2016-05-19.csv',
 '2016-05-20.csv',
 '2016-05-21.csv',
 '2016-05-22.csv',
 '2016-05-23.csv',
 '2016-05-24.csv',
 '2016-05-25.csv',
 '2016-05-26.csv',
 '2016-05-27.csv',
 '2016-05-28.csv',
 '2016-05-29.csv',
 '2016-05-30.csv',
 '2016-05-31.csv',
 '2016-06-01.csv',
 '2016-06-02.csv',
 '2016-06-03.csv',
 '2016-06-04.csv',
 '2016-06-05.csv',
 '2016-06-06.csv',
 '2016-06-07.csv',
 '2016-06-08.csv',
 '2016-06-09.csv',
 '2016-06-10.csv',
 '2016-06-11.csv',
 '2016-06-12.csv',
 '2016-06-13.csv',
 '2016-06-14.csv',
 '2016-06-15.csv',
 '2016-06-16.csv',
 '2016-06-17.csv',
 '2016-06-18.csv',
 '2016-06-19.csv',
 '2016-06-20.csv',
 '2016-06-21.csv',
 '2016-06-22.csv',
 '2016-06-23.csv',
 '2016-06-24.csv',
 '2016-06-25.csv',
 '2016-06-26.csv',
 '2016-06-27.csv',
 '2016-06-28.csv',
 '2016-06-29.csv',
 '2016-06-30.csv',
 '2016-07-01.csv',
 '2016-07-02.csv',
 '2016-07-03.csv',
 '2016-07-04.csv',
 '2016-07-05.csv',
 '2016-07-06.csv',
 '2016-07-07.csv',
 '2016-07-08.csv',
 '2016-07-09.csv',
 '2016-07-10.csv',
 '2016-07-11.csv',
 '2016-07-12.csv',
 '2016-07-13.csv',
 '2016-07-14.csv',
 '2016-07-15.csv',
 '2016-07-16.csv',
 '2016-07-17.csv',
 '2016-07-18.csv',
 '2016-07-19.csv',
 '2016-07-20.csv',
 '2016-07-21.csv',
 '2016-07-22.csv',
 '2016-07-23.csv',
 '2016-07-24.csv',
 '2016-07-25.csv',
 '2016-07-26.csv',
 '2016-07-27.csv',
 '2016-07-28.csv',
 '2016-07-29.csv',
 '2016-07-30.csv',
 '2016-07-31.csv',
 '2016-08-01.csv',
 '2016-08-02.csv',
 '2016-08-03.csv',
 '2016-08-04.csv',
 '2016-08-05.csv',
 '2016-08-06.csv',
 '2016-08-07.csv',
 '2016-08-08.csv',
 '2016-08-09.csv',
 '2016-08-10.csv',
 '2016-08-11.csv',
 '2016-08-12.csv',
 '2016-08-13.csv',
 '2016-08-14.csv',
 '2016-08-15.csv',
 '2016-08-16.csv',
 '2016-08-17.csv',
 '2016-08-18.csv',
 '2016-08-19.csv',
 '2016-08-20.csv',
 '2016-08-21.csv',
 '2016-08-22.csv',
 '2016-08-23.csv',
 '2016-08-24.csv',
 '2016-08-25.csv',
 '2016-08-26.csv',
 '2016-08-27.csv',
 '2016-08-28.csv',
 '2016-08-29.csv',
 '2016-08-30.csv',
 '2016-08-31.csv',
 '2016-09-01.csv',
 '2016-09-02.csv',
 '2016-09-03.csv',
 '2016-09-04.csv',
 '2016-09-05.csv',
 '2016-09-06.csv',
 '2016-09-07.csv',
 '2016-09-08.csv',
 '2016-09-09.csv',
 '2016-09-10.csv',
 '2016-09-11.csv',
 '2016-09-12.csv',
 '2016-09-13.csv',
 '2016-09-14.csv',
 '2016-09-15.csv',
 '2016-09-16.csv',
 '2016-09-17.csv',
 '2016-09-18.csv',
 '2016-09-19.csv',
 '2016-09-20.csv',
 '2016-09-21.csv',
 '2016-09-22.csv',
 '2016-09-23.csv',
 '2016-09-24.csv',
 '2016-09-25.csv',
 '2016-09-26.csv',
 '2016-09-27.csv',
 '2016-09-28.csv',
 '2016-09-29.csv',
 '2016-09-30.csv',
 '2016-10-01.csv',
 '2016-10-02.csv',
 '2016-10-03.csv',
 '2016-10-04.csv',
 '2016-10-05.csv',
 '2016-10-06.csv',
 '2016-10-07.csv',
 '2016-10-08.csv',
 '2016-10-09.csv',
 '2016-10-10.csv',
 '2016-10-11.csv',
 '2016-10-12.csv',
 '2016-10-13.csv',
 '2016-10-14.csv',
 '2016-10-15.csv',
 '2016-10-16.csv',
 '2016-10-17.csv',
 '2016-10-18.csv',
 '2016-10-19.csv',
 '2016-10-20.csv',
 '2016-10-21.csv',
 '2016-10-22.csv',
 '2016-10-23.csv',
 '2016-10-24.csv',
 '2016-10-25.csv',
 '2016-10-26.csv',
 '2016-10-27.csv',
 '2016-10-28.csv',
 '2016-10-29.csv',
 '2016-10-30.csv',
 '2016-10-31.csv',
 '2016-11-01.csv',
 '2016-11-02.csv',
 '2016-11-03.csv',
 '2016-11-04.csv',
 '2016-11-05.csv',
 '2016-11-06.csv',
 '2016-11-07.csv',
 '2016-11-08.csv',
 '2016-11-09.csv',
 '2016-11-10.csv',
 '2016-11-11.csv',
 '2016-11-12.csv',
 '2016-11-13.csv',
 '2016-11-14.csv',
 '2016-11-15.csv',
 '2016-11-16.csv',
 '2016-11-17.csv',
 '2016-11-18.csv',
 '2016-11-19.csv',
 '2016-11-20.csv',
 '2016-11-21.csv',
 '2016-11-22.csv',
 '2016-11-23.csv',
 '2016-11-24.csv',
 '2016-11-25.csv',
 '2016-11-26.csv',
 '2016-11-27.csv',
 '2016-11-28.csv',
 '2016-11-29.csv',
 '2016-11-30.csv',
 '2016-12-01.csv',
 '2016-12-02.csv',
 '2016-12-03.csv',
 '2016-12-04.csv',
 '2016-12-05.csv',
 '2016-12-06.csv',
 '2016-12-07.csv',
 '2016-12-08.csv',
 '2016-12-09.csv',
 '2016-12-10.csv',
 '2016-12-11.csv',
 '2016-12-12.csv',
 '2016-12-13.csv',
 '2016-12-14.csv',
 '2016-12-15.csv',
 '2016-12-16.csv',
 '2016-12-17.csv',
 '2016-12-18.csv',
 '2016-12-19.csv',
 '2016-12-20.csv',
 '2016-12-21.csv',
 '2016-12-22.csv',
 '2016-12-23.csv',
 '2016-12-24.csv',
 '2016-12-25.csv',
 '2016-12-26.csv',
 '2016-12-27.csv',
 '2016-12-28.csv',
 '2016-12-29.csv',
 '2016-12-30.csv',
 '2016-12-31.csv',
 '2017-01-01.csv',
 '2017-01-02.csv',
 '2017-01-03.csv',
 '2017-01-04.csv',
 '2017-01-05.csv',
 '2017-01-06.csv',
 '2017-01-07.csv',
 '2017-01-08.csv',
 '2017-01-09.csv',
 '2017-01-10.csv',
 '2017-01-11.csv',
 '2017-01-12.csv',
 '2017-01-13.csv',
 '2017-01-14.csv',
 '2017-01-15.csv',
 '2017-01-16.csv',
 '2017-01-17.csv',
 '2017-01-18.csv',
 '2017-01-19.csv',
 '2017-01-20.csv',
 '2017-01-21.csv',
 '2017-01-22.csv',
 '2017-01-23.csv',
 '2017-01-24.csv',
 '2017-01-25.csv',
 '2017-01-26.csv',
 '2017-01-27.csv',
 '2017-01-28.csv',
 '2017-01-29.csv',
 '2017-01-30.csv',
 '2017-01-31.csv',
 '2017-02-01.csv',
 '2017-02-02.csv',
 '2017-02-03.csv',
 '2017-02-04.csv',
 '2017-02-05.csv',
 '2017-02-06.csv',
 '2017-02-07.csv',
 '2017-02-08.csv',
 '2017-02-09.csv',
 '2017-02-10.csv',
 '2017-02-11.csv',
 '2017-02-12.csv',
 '2017-02-13.csv',
 '2017-02-14.csv',
 '2017-02-15.csv',
 '2017-02-16.csv',
 '2017-02-17.csv',
 '2017-02-18.csv',
 '2017-02-19.csv',
 '2017-02-20.csv',
 '2017-02-21.csv',
 '2017-02-22.csv',
 '2017-02-23.csv',
 '2017-02-24.csv',
 '2017-02-25.csv',
 '2017-02-26.csv',
 '2017-02-27.csv',
 '2017-02-28.csv',
 '2017-03-01.csv',
 '2017-03-02.csv',
 '2017-03-03.csv',
 '2017-03-04.csv',
 '2017-03-05.csv',
 '2017-03-06.csv',
 '2017-03-07.csv',
 '2017-03-08.csv',
 '2017-03-09.csv',
 '2017-03-10.csv',
 '2017-03-11.csv',
 '2017-03-12.csv',
 '2017-03-13.csv',
 '2017-03-14.csv',
 '2017-03-15.csv',
 '2017-03-16.csv',
 '2017-03-17.csv',
 '2017-03-18.csv',
 '2017-03-19.csv',
 '2017-03-20.csv',
 '2017-03-21.csv',
 '2017-03-22.csv',
 '2017-03-23.csv',
 '2017-03-24.csv',
 '2017-03-25.csv',
 '2017-03-26.csv',
 '2017-03-27.csv',
 '2017-03-28.csv',
 '2017-03-29.csv',
 '2017-03-30.csv',
 '2017-03-31.csv',
 '2017-04-01.csv',
 '2017-04-02.csv',
 '2017-04-03.csv',
 '2017-04-04.csv',
 '2017-04-05.csv',
 '2017-04-06.csv',
 '2017-04-07.csv',
 '2017-04-08.csv',
 '2017-04-09.csv',
 '2017-04-10.csv',
 '2017-04-11.csv',
 '2017-04-12.csv',
 '2017-04-13.csv',
 '2017-04-14.csv',
 '2017-04-15.csv',
 '2017-04-16.csv',
 '2017-04-17.csv',
 '2017-04-18.csv',
 '2017-04-19.csv',
 '2017-04-20.csv',
 '2017-04-21.csv',
 '2017-04-22.csv',
 '2017-04-23.csv',
 '2017-04-24.csv',
 '2017-04-25.csv',
 '2017-04-26.csv',
 '2017-04-27.csv',
 '2017-04-28.csv',
 '2017-04-29.csv',
 '2017-04-30.csv',
 '2017-05-01.csv',
 '2017-05-02.csv',
 '2017-05-03.csv',
 '2017-05-04.csv',
 '2017-05-05.csv',
 '2017-05-06.csv',
 '2017-05-07.csv',
 '2017-05-08.csv',
 '2017-05-09.csv',
 '2017-05-10.csv',
 '2017-05-11.csv',
 '2017-05-12.csv',
 '2017-05-13.csv',
 '2017-05-14.csv',
 '2017-05-15.csv',
 '2017-05-16.csv',
 '2017-05-17.csv',
 '2017-05-18.csv',
 '2017-05-19.csv',
 '2017-05-20.csv',
 '2017-05-21.csv',
 '2017-05-22.csv',
 '2017-05-23.csv',
 '2017-05-24.csv',
 '2017-05-25.csv',
 '2017-05-26.csv',
 '2017-05-27.csv',
 '2017-05-28.csv',
 '2017-05-29.csv',
 '2017-05-30.csv',
 '2017-05-31.csv',
 '2017-06-01.csv',
 '2017-06-02.csv',
 '2017-06-03.csv',
 '2017-06-04.csv',
 '2017-06-05.csv',
 '2017-06-06.csv',
 '2017-06-07.csv',
 '2017-06-08.csv',
 '2017-06-09.csv',
 '2017-06-10.csv',
 '2017-06-11.csv',
 '2017-06-12.csv',
 '2017-06-13.csv',
 '2017-06-14.csv',
 '2017-06-15.csv',
 '2017-06-16.csv',
 '2017-06-17.csv',
 '2017-06-18.csv',
 '2017-06-19.csv',
 '2017-06-20.csv',
 '2017-06-21.csv',
 '2017-06-22.csv',
 '2017-06-23.csv',
 '2017-06-24.csv',
 '2017-06-25.csv',
 '2017-06-26.csv',
 '2017-06-27.csv',
 '2017-06-28.csv',
 '2017-06-29.csv',
 '2017-06-30.csv',
 '2017-07-01.csv',
 '2017-07-02.csv',
 '2017-07-03.csv',
 '2017-07-04.csv',
 '2017-07-05.csv',
 '2017-07-06.csv',
 '2017-07-07.csv',
 '2017-07-08.csv',
 '2017-07-09.csv',
 '2017-07-10.csv',
 '2017-07-11.csv',
 '2017-07-12.csv',
 '2017-07-13.csv',
 '2017-07-14.csv',
 '2017-07-15.csv',
 '2017-07-16.csv',
 '2017-07-17.csv',
 '2017-07-18.csv',
 '2017-07-19.csv',
 '2017-07-20.csv',
 '2017-07-21.csv',
 '2017-07-22.csv',
 '2017-07-23.csv',
 '2017-07-24.csv',
 '2017-07-25.csv',
 '2017-07-26.csv',
 '2017-07-27.csv',
 '2017-07-28.csv',
 '2017-07-29.csv',
 '2017-07-30.csv',
 '2017-07-31.csv',
 '2017-08-01.csv',
 '2017-08-02.csv',
 '2017-08-03.csv',
 '2017-08-04.csv',
 '2017-08-05.csv',
 '2017-08-06.csv',
 '2017-08-07.csv',
 '2017-08-08.csv',
 '2017-08-09.csv',
 '2017-08-10.csv',
 '2017-08-11.csv',
 '2017-08-12.csv',
 '2017-08-13.csv',
 '2017-08-14.csv',
 '2017-08-15.csv',
 '2017-08-16.csv',
 '2017-08-17.csv',
 '2017-08-18.csv',
 '2017-08-19.csv',
 '2017-08-20.csv',
 '2017-08-21.csv',
 '2017-08-22.csv',
 '2017-08-23.csv',
 '2017-08-24.csv',
 '2017-08-25.csv',
 '2017-08-26.csv',
 '2017-08-27.csv',
 '2017-08-28.csv',
 '2017-08-29.csv',
 '2017-08-30.csv',
 '2017-08-31.csv',
 '2017-09-01.csv',
 '2017-09-02.csv',
 '2017-09-03.csv',
 '2017-09-04.csv',
 '2017-09-05.csv',
 '2017-09-06.csv',
 '2017-09-07.csv',
 '2017-09-08.csv',
 '2017-09-09.csv',
 '2017-09-10.csv',
 '2017-09-11.csv',
 '2017-09-12.csv',
 '2017-09-13.csv',
 '2017-09-14.csv',
 '2017-09-15.csv',
 '2017-09-16.csv',
 '2017-09-17.csv',
 '2017-09-18.csv',
 '2017-09-19.csv',
 '2017-09-20.csv',
 '2017-09-21.csv',
 '2017-09-22.csv',
 '2017-09-23.csv',
 '2017-09-24.csv',
 '2017-09-25.csv',
 '2017-09-26.csv',
 '2017-09-27.csv',
 '2017-09-28.csv',
 '2017-09-29.csv',
 '2017-09-30.csv',
 '2017-10-01.csv',
 '2017-10-02.csv',
 '2017-10-03.csv',
 '2017-10-04.csv',
 '2017-10-05.csv',
 '2017-10-06.csv',
 '2017-10-07.csv',
 '2017-10-08.csv',
 '2017-10-09.csv',
 '2017-10-10.csv',
 '2017-10-11.csv',
 '2017-10-12.csv',
 '2017-10-13.csv',
 '2017-10-14.csv',
 '2017-10-15.csv',
 '2017-10-16.csv',
 '2017-10-17.csv',
 '2017-10-18.csv',
 '2017-10-19.csv',
 '2017-10-20.csv',
 '2017-10-21.csv',
 '2017-10-22.csv',
 '2017-10-23.csv',
 '2017-10-24.csv',
 '2017-10-25.csv',
 '2017-10-26.csv',
 '2017-10-27.csv',
 '2017-10-28.csv',
 '2017-10-29.csv',
 '2017-10-30.csv',
 '2017-10-31.csv',
 '2017-11-01.csv',
 '2017-11-02.csv',
 '2017-11-03.csv',
 '2017-11-04.csv',
 '2017-11-05.csv',
 '2017-11-06.csv',
 '2017-11-07.csv',
 '2017-11-08.csv',
 '2017-11-09.csv',
 '2017-11-10.csv',
 '2017-11-11.csv',
 '2017-11-12.csv',
 '2017-11-13.csv',
 '2017-11-14.csv',
 '2017-11-15.csv',
 '2017-11-16.csv',
 '2017-11-17.csv',
 '2017-11-18.csv',
 '2017-11-19.csv',
 '2017-11-20.csv',
 '2017-11-21.csv',
 '2017-11-22.csv',
 '2017-11-23.csv',
 '2017-11-24.csv',
 '2017-11-25.csv',
 '2017-11-26.csv',
 '2017-11-27.csv',
 '2017-11-28.csv',
 '2017-11-29.csv',
 '2017-11-30.csv',
 '2017-12-01.csv',
 '2017-12-02.csv',
 '2017-12-03.csv',
 '2017-12-04.csv',
 '2017-12-05.csv',
 '2017-12-06.csv',
 '2017-12-07.csv',
 '2017-12-08.csv',
 '2017-12-09.csv',
 '2017-12-10.csv',
 'index.html']

In [350]:
# 135:310 comes from the code snippet below, to restart code and add in date to output of each loop
for csv in keys[135:310]:
    if csv[-3:] == "csv":
        print("Now handling date:", csv)
        url = "https://openaq-data.s3.amazonaws.com/"+csv
        data = pd.read_csv(url)
        
        kwargs = {
            "data_df":data,
            "target_table_name":"open_aq_locations",
            "cols_and_types":cols_and_types_locations,
            "cols_with_apostrophes":["location", "city","country"],
            "float_cols":["latitude", "longitude"],
            "precision":6
        }

        update_table_without_duplicates(**kwargs)

Now handling date: 2015-11-21.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-22.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-23.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-24.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-25.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-26.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-27.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-28.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-29.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-11-30.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-01.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-02.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-03.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-04.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-05.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-06.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-07.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-08.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-09.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-10.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-11.csv
Number of new observations added to open_aq_locations: 7
Completed up until index: 20
Now handling date: 2015-12-12.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-13.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-14.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-15.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-16.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-17.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-18.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-19.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-20.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-21.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-22.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2015-12-23.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2015-12-24.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-25.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-26.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-27.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-28.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-29.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2015-12-30.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-03.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-04.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-05.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-06.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-07.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-08.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-09.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-10.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-11.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-12.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-13.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-14.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-15.csv
Number of new observations added to open_aq_locations: 3
Completed up until index: 20
Now handling date: 2016-01-16.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-17.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-18.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-19.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-20.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-21.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-22.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-23.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-24.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-25.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-26.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-27.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-28.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-29.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-30.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-01-31.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-01.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-02.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-03.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-04.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-05.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-06.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-07.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-08.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-09.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-10.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-11.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-12.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-13.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-14.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-15.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-16.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-17.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-18.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-19.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-20.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-21.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-22.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2016-02-23.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2016-02-24.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-25.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-26.csv
Number of new observations added to open_aq_locations: 0
{"error":["syntax error at end of input"]}
Empty DataFrame
Columns: [location, city, country, latitude, longitude]
Index: []
Now handling date: 2016-02-27.csv

KeyboardInterrupt:

In [ ]:
# 310 comes from the code snippet below, to restart code and add in date to output of each loop
for csv in keys[309:]:
    if csv[-3:] == "csv":
        print("Now handling date:", csv)
        url = "https://openaq-data.s3.amazonaws.com/"+csv
        data = pd.read_csv(url)
        
        kwargs = {
            "data_df":data,
            "target_table_name":"open_aq_locations",
            "cols_and_types":cols_and_types_locations,
            "cols_with_apostrophes":["location", "city","country"],
            "float_cols":["latitude", "longitude"],
            "precision":6
        }

        update_table_without_duplicates(**kwargs)

Now handling date: 2016-05-16.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2016-05-17.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2016-05-18.csv
Number of new observations added to open_aq_locations: 1
Completed up until index: 20
Now handling date: 2016-05-19.csv

In [351]:
# I wanted to add in a date display to the loop above
# Used the code below to figure where I had stopped previously
np.where(np.array(keys)==csv)

(array([310]),)

Read open_aq_locations table from Carto

In [358]:
all_open_aq_locations = "open_aq_locations"

select_all_sql = """
SELECT * FROM {table_name}
""".format(table_name=all_open_aq_locations)

res = sql_api(carto_url, select_all_sql, carto_api_token)

all_open_aq_locations = pd.DataFrame(res.json()["rows"])

column_order = ["location", "city", "country", "latitude", "longitude"]

print("\nA list of all locations ever reporting to the OpenAQ network:")
all_open_aq_locations[column_order]

A list of all locations ever reporting to the OpenAQ network:

,location,city,country,latitude,longitude
0,Escuela E-10,Tocopilla,CL,-22.085519,-70.188683
1,Chiu Chiu,Calama,CL,-22.342264,-68.650897
2,Santa Margarita,Catemu,CL,-32.776573,-70.938144
3,Nueva Libertad,Talcahuano,CL,-36.735998,-73.118693
4,Lo Campo,Panquehue,CL,-32.797715,-70.898037
5,Coronel Sur,Coronel,CL,-37.031702,-73.138689
6,Catemu,Catemu,CL,-32.779208,-70.959114
7,Calabozo,Coronel,CL,-36.996431,-73.115805
8,Romeral,Hijuelas,CL,-32.823956,-71.006441
9,Lilla Essingen (E4/E20),Stockholm,SE,59.325519,18.003961
10,E4/E20 Lilla Essingen,Stockholm,SE,59.325519,18.003961
11,E4 Sollentuna Häggvik,Stockholm,SE,59.443539,17.922361
12,Hågelbyleden Botkyrka,Stockholm,SE,59.237058,17.838332
13,Sveavägen,Stockholm,SE,59.345161,18.054282
14,Estación Centro,Calama,CL,-22.462145,-68.928062
15,Gävle Södra Kungsgatan,Gävle,SE,60.671552,17.146915
16,Hornsgatan,Stockholm,SE,59.317132,18.048787
17,Folkungagatan,Stockholm,SE,59.314624,18.075856
18,Norrlandsgatan,Stockholm,SE,59.336356,18.070626
19,Södertälje Turingegatan,Stockholm,SE,59.198124,17.621087
20,Uppsala Kungsgatan,Uppsala,SE,59.859530,17.642484
21,Complejo Deportivo 23 de Marzo,Calama,CL,-22.460271,-68.937707
22,Colegio Pedro Vergara Keller,Calama,CL,-22.442839,-68.932546
23,Armutlu-MTHM,Yalova,TR,40.529350,28.784590
24,Kültür Park-MTHM,Bursa,TR,40.195720,29.045880
25,Sultanbeyli-MTHM,İstanbul,TR,40.984470,29.268810
26,Çerkezköy-MTHM,Tekirdağ,TR,41.318350,27.980180
27,Erdek-MTHM,Balıkesir,TR,40.489720,27.978610
28,Beyazıt Cad.-MTHM,Bursa,TR,40.185650,29.080490
29,Uludağ Üniv.-MTHM,Bursa,TR,40.223370,28.871540
...,...,...,...,...,...
8216,Calabozo,Calabozo,CL,-36.996431,-73.115805
8217,V_VIEW,Miami-Fort Lauderdale-Miami Beach,US,26.073200,-80.338600
8218,White Pine,Boise City-Nampa,US,43.577603,-116.178156
8219,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8220,Portland - Spangler,Portland-Vancouver-Beaverton,US,45.259280,-122.588151
8221,Talent - Rapp Lane,Medford,US,42.229891,-122.787700
8222,Cata�o 40,CATANO,US,18.428388,-66.141657
8223,Hermiston - Municipa,Pendleton-Hermiston,US,45.828968,-119.262991
8224,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8225,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8226,Saginaw - Delight Va,Eugene-Springfield,US,43.834470,-123.035375
8227,Inpesca,Inpesca,CL,-36.737202,-73.104427
8228,Flin Flon,MANITOBA,CA,54.765000,-101.875300
8229,Brandon,MANITOBA,CA,49.842200,-99.918900
8230,Winnipeg_Ellens,MANITOBA,CA,49.948900,-97.396400
8231,Winnipeg_Scotia,MANITOBA,CA,49.931900,-96.863100
8232,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8233,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8234,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8235,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8236,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8237,POMPANO_BEACH,Miami-Fort Lauderdale-Miami Beach,US,26.290600,-80.096900
8238,DANIA_BEACH,Miami-Fort Lauderdale-Miami Beach,US,26.086400,-80.111400
8239,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8240,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8241,San Juan de Arag�n,DISTRITO FEDERAL,MX,19.452500,-99.086000
8242,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8243,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8244,nan,Miami-Fort Lauderdale-Miami Beach,US,26.593808,-80.058917
8245,La Serena,La Serena,CL,-29.933007,-71.261966

Helper functions

In [327]:
def sql_api(url, sql, key):
    """ Execute sql request over API """
    
    params = {
        'api_key' : key,
        'q'       : sql
    }
    r = req.get(url, params=params)
    return(r)

# CONSIDER: Is it good to consider all cols of type "varchar" as cols_with_apostrophes?
def dump_row_contents(row, cols_and_types, cols_with_apostrophes=None):
#def dump_row_contents(row, cols_and_types):
    """ Format data from a dataframe for insert statements into a Carto table """
    dump = "("
    for ix in row.index:
#         if ix in cols_with_apostrophes:
#             # Replace with UTF8 code for an apostrophe
#             # https://stackoverflow.com/questions/419718/html-code-for-an-apostrophe
#             dump += "'" + str(row[ix]).replace("'","&#8217") + "',"
        if cols_and_types[ix] in ["date", "varchar"]:
            dump += "'" + str(row[ix]) + "',"
        else:
            dump += str(row[ix]) + ","
    dump = dump[:-1]+")"
    return(dump)

def update_in_batches(data_df, batch_size, target_table_name, cols_and_types, cols_with_apostrophes=None):
#def update_in_batches(data_df, batch_size, target_table_name, cols_and_types):
    """ 
    Send new rows for Carto in smaller batch sizes.
    A batch_size of 20 seems to work for the location data. 
    """
    
    columns = str(tuple(data_df.columns)).replace("'","")
    
    num_batches = int(data_df.shape[0] / batch_size)

    for batch in range(num_batches+1):
        # Select sub-dataframe
        sub_df = data_df.iloc[batch*batch_size:batch*batch_size+batch_size]
        
        # Remove apostrophes
        #print(sub_df)
        sub_df = toggle_apostrophes(sub_df, cols_with_apostrophes)
        
        # Create Insert SQL statement
        values = ", ".join(list(sub_df.apply(lambda row: dump_row_contents(row, cols_and_types, cols_with_apostrophes), axis=1)))
        #values = ", ".join(list(sub_df.apply(lambda row: dump_row_contents(row, cols_and_types), axis=1)))
        insert_value_sql = """
        INSERT INTO {table_name} {columns} VALUES {values}
        """.format(table_name=table_name, columns=columns, values=values)

        res = sql_api(carto_url, insert_value_sql, carto_api_token)

        if "error" in res.text:
            print(res.text)
            print(sub_df)
            break

        print("Completed up until index:", batch*batch_size+batch_size)
        
def keep_geolocated(df):
    keep_geotagged = pd.notnull(df["latitude"]) & pd.notnull(df["longitude"]) 
    df = df.loc[keep_geotagged]
    return(df)

def fix_precision_of_floats(df, float_columns, precision):
    df = df.copy()
    for col in float_columns:
        df[col] = np.around(df[col],precision)
    return(df)

def toggle_apostrophes(df, cols_with_apostrophes, remove=True):
    """
    Will switch between &#8217 and ' representation of an apostrophe
    """
    if not cols_with_apostrophes:
        cols_with_apostrophes = []
    
    df = df.copy()
    for col in cols_with_apostrophes:
        if remove:
            df[col] = df[col].apply(lambda row: str(row).replace("'", "&#8217"))
        else:
            df[col] = df[col].apply(lambda row: str(row).replace("&#8217", "'"))
    return(df)

def update_table_without_duplicates(data_df, target_table_name, cols_and_types, float_cols=["latitude", "longitude"], precision=8, cols_with_apostrophes=None):
    """ 
    Determines whether there are new locations to add to the table.
    Sends an SQL statement and returns the result of that operation to stdout.
    """
    # column names to include
    column_names = list(cols_and_types.keys())
    
    # Read in existing table
    select_all_sql = """
    SELECT * FROM {table_name}
    """.format(table_name=target_table_name)
    res = sql_api(carto_url, select_all_sql, carto_api_token)
    target_table = pd.DataFrame(res.json()["rows"], columns=column_names)
    
    # Fix precision on float columns
    target_table = fix_precision_of_floats(target_table, float_cols, 8)
    
    # Fix apostrophe change
    target_table = toggle_apostrophes(target_table, cols_with_apostrophes, remove=False)
    
    # Determine unique observations in data_df (de-dupe in the new observations)
    # http://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.DataFrame.drop_duplicates.html
    obs = data_df[column_names] #.set_index(index_cols)
    obs = obs.drop_duplicates(keep="first")
    obs = keep_geolocated(obs)
    obs = fix_precision_of_floats(obs, float_cols, 8)
    
    # De-dupe between existing table and new observations
    # https://stackoverflow.com/questions/29464234/compare-python-pandas-dataframes-for-matching-rows
    
    shared = pd.merge(target_table, obs, on=column_names, how="inner")
    #shared = pd.merge(target_table, obs, left_index=True, right_index=True, how="inner")
    
    shared["key"] = "x"
    temp_df = pd.merge(obs, shared, on=column_names, how="left")
    #temp_df = pd.merge(obs, shared, left_index=True, right_index=True, how="left")
    
    new_obs = temp_df[temp_df["key"].isnull()].drop("key", axis=1)
    #new_obs = new_obs.reset_index()[column_names]
    
    print("Number of new observations added to", target_table_name + ":", new_obs.shape[0])
    
    # Add genuinely new observations to the existing table
    update_in_batches(new_obs, 20, target_table_name, cols_and_types, cols_with_apostrophes)

Experimentation

In [310]:
column_names = list(cols_and_types_locations.keys())
target_table_name = "open_aq_locations"
select_all_sql = """
SELECT * FROM {table_name}
""".format(table_name=target_table_name)
res = sql_api(carto_url, select_all_sql, carto_api_token)
target_table = pd.DataFrame(res.json()["rows"], columns=column_names)
target_table = fix_precision_of_floats(target_table, ["latitude", "longitude"], 6)
target_table.shape

(7271, 5)

In [311]:
data_df = dec8
obs = data_df[column_names]
obs = obs.drop_duplicates(keep="first")
obs = keep_geolocated(obs)
obs = fix_precision_of_floats(obs, ["latitude", "longitude"], 6)
obs.shape

(7271, 5)

In [305]:
obs.head(10)

                   location        city country   latitude  longitude
0              Escuela E-10   Tocopilla      CL -22.085519 -70.188683
7                 Chiu Chiu      Calama      CL -22.342264 -68.650897
8           Santa Margarita      Catemu      CL -32.776573 -70.938144
9            Nueva Libertad  Talcahuano      CL -36.735998 -73.118693
10                 Lo Campo   Panquehue      CL -32.797715 -70.898037
11              Coronel Sur     Coronel      CL -37.031702 -73.138689
12                   Catemu      Catemu      CL -32.779208 -70.959114
13                 Calabozo     Coronel      CL -36.996431 -73.115805
14                  Romeral    Hijuelas      CL -32.823956 -71.006441
15  Lilla Essingen (E4/E20)   Stockholm      SE  59.325519  18.003961

In [267]:
target_table.loc[0]

location     Escuela E-10
city            Tocopilla
country                CL
latitude         -22.0855
longitude        -70.1887
Name: 0, dtype: object

In [268]:
obs.loc[0]

location     Escuela E-10
city            Tocopilla
country                CL
latitude         -22.0855
longitude        -70.1887
Name: 0, dtype: object

In [273]:
target_table.loc[0].equals(obs.loc[0])

False

In [312]:
shared = target_table.merge(obs, on=column_names, how="inner")
shared["key"] = "x"
print(shared.shape)
shared.head(10)

(7250, 6)

                  location        city country   latitude  longitude key
0             Escuela E-10   Tocopilla      CL -22.085519 -70.188683   x
1                Chiu Chiu      Calama      CL -22.342264 -68.650897   x
2          Santa Margarita      Catemu      CL -32.776573 -70.938144   x
3           Nueva Libertad  Talcahuano      CL -36.735998 -73.118693   x
4                 Lo Campo   Panquehue      CL -32.797715 -70.898037   x
5              Coronel Sur     Coronel      CL -37.031702 -73.138689   x
6                   Catemu      Catemu      CL -32.779208 -70.959114   x
7                 Calabozo     Coronel      CL -36.996431 -73.115805   x
8                  Romeral    Hijuelas      CL -32.823956 -71.006441   x
9  Lilla Essingen (E4/E20)   Stockholm      SE  59.325519  18.003961   x

In [314]:
temp_df = pd.merge(obs, shared, on=column_names, how="left")
new_obs = temp_df[temp_df["key"].isnull()].drop("key", axis=1)
#new_obs = new_obs.reset_index()[column_names]
new_obs

,location,city,country,latitude,longitude
76,MT00004,Zejtun (Citta' Beland),MT,35.852291,14.538986
549,Parque O'Higgins,Santiago,CL,-33.464142,-70.660797
638,Bristol St Paul's,Bristol,GB,51.462839,-2.584482
689,Belfast Stockman's Lane,Belfast,GB,54.572586,-5.974944
700,Derby St Alkmund's Way,Derby,GB,52.922983,-1.469507
1067,Fisherman's Landing,Gladstone,AU,-23.793700,151.160100
1238,St. John's,NEWFOUNDLAND,CA,47.652800,-52.816700
1381,Lancaster,Coeur d'Alene,US,47.788900,-116.804400
1561,Children's Park Site,Tucson,US,32.295300,-110.982200
2788,FR04158,Val-d'Oise,FR,49.063086,1.866381
2798,FR26002,Côte-d'Or,FR,47.304164,5.020000
2826,FR04023,Val-d'Oise,FR,49.046389,2.043056
2904,FR04051,Val-d'Oise,FR,48.951389,2.223611
3155,FR04024,Val-d'Oise,FR,48.990831,2.444722
3164,FR26035,Côte-d'Or,FR,47.137225,4.950578
3257,FR26014,Côte-d'Or,FR,47.340278,5.058333
3301,FR26010,Côte-d'Or,FR,47.345553,5.002222
3551,FR04048,Val-d'Oise,FR,49.100278,2.343889
3555,FR26043,Côte-d'Or,FR,47.315472,5.037429
3560,FR26005,Côte-d'Or,FR,47.308056,5.066111
3599,FR19061,Côtes-d'Armor,FR,48.516669,-2.750000

In [232]:
print("Number of new observations added to", target_table_name + ":", new_obs.shape[0])
cols_and_types =cols_and_types_locations
cols_with_apostrophes = ["location", "city","country"]
update_in_batches(new_obs, 20, target_table_name, cols_and_types, cols_with_apostrophes)

Number of new observations added to open_aq_locations: 7271
Completed up until index: 20
Completed up until index: 40
Completed up until index: 60
Completed up until index: 80
Completed up until index: 100
Completed up until index: 120
Completed up until index: 140
Completed up until index: 160
Completed up until index: 180
Completed up until index: 200
Completed up until index: 220
Completed up until index: 240
Completed up until index: 260
Completed up until index: 280
Completed up until index: 300
Completed up until index: 320
Completed up until index: 340
Completed up until index: 360
Completed up until index: 380
Completed up until index: 400
Completed up until index: 420
Completed up until index: 440
Completed up until index: 460
Completed up until index: 480
Completed up until index: 500
Completed up until index: 520
Completed up until index: 540
Completed up until index: 560
Completed up until index: 580
Completed up until index: 600
Completed up until index: 620
Completed up until index: 640
Completed up until index: 660
Completed up until index: 680
Completed up until index: 700
Completed up until index: 720
Completed up until index: 740
Completed up until index: 760
Completed up until index: 780
Completed up until index: 800
Completed up until index: 820
Completed up until index: 840
Completed up until index: 860
Completed up until index: 880
Completed up until index: 900
Completed up until index: 920
Completed up until index: 940
Completed up until index: 960
Completed up until index: 980
Completed up until index: 1000
Completed up until index: 1020
Completed up until index: 1040
Completed up until index: 1060
Completed up until index: 1080
Completed up until index: 1100
Completed up until index: 1120
Completed up until index: 1140
Completed up until index: 1160
Completed up until index: 1180
Completed up until index: 1200
Completed up until index: 1220
Completed up until index: 1240
Completed up until index: 1260
Completed up until index: 1280
Completed up until index: 1300
Completed up until index: 1320
Completed up until index: 1340
Completed up until index: 1360
Completed up until index: 1380
Completed up until index: 1400
Completed up until index: 1420
Completed up until index: 1440
Completed up until index: 1460
Completed up until index: 1480
Completed up until index: 1500
Completed up until index: 1520
Completed up until index: 1540
Completed up until index: 1560
Completed up until index: 1580
Completed up until index: 1600
Completed up until index: 1620
Completed up until index: 1640
Completed up until index: 1660
Completed up until index: 1680
Completed up until index: 1700
Completed up until index: 1720
Completed up until index: 1740
Completed up until index: 1760
Completed up until index: 1780
Completed up until index: 1800
Completed up until index: 1820
Completed up until index: 1840
Completed up until index: 1860
Completed up until index: 1880
Completed up until index: 1900
Completed up until index: 1920
Completed up until index: 1940
Completed up until index: 1960
Completed up until index: 1980
Completed up until index: 2000
Completed up until index: 2020
Completed up until index: 2040
Completed up until index: 2060
Completed up until index: 2080
Completed up until index: 2100
Completed up until index: 2120
Completed up until index: 2140
Completed up until index: 2160
Completed up until index: 2180
Completed up until index: 2200
Completed up until index: 2220
Completed up until index: 2240
Completed up until index: 2260
Completed up until index: 2280
Completed up until index: 2300
Completed up until index: 2320
Completed up until index: 2340
Completed up until index: 2360
Completed up until index: 2380
Completed up until index: 2400
Completed up until index: 2420
Completed up until index: 2440
Completed up until index: 2460
Completed up until index: 2480
Completed up until index: 2500
Completed up until index: 2520
Completed up until index: 2540
Completed up until index: 2560
Completed up until index: 2580
Completed up until index: 2600
Completed up until index: 2620
Completed up until index: 2640
Completed up until index: 2660
Completed up until index: 2680
Completed up until index: 2700
Completed up until index: 2720
Completed up until index: 2740
Completed up until index: 2760
Completed up until index: 2780
Completed up until index: 2800
Completed up until index: 2820
Completed up until index: 2840
Completed up until index: 2860
Completed up until index: 2880
Completed up until index: 2900
Completed up until index: 2920
Completed up until index: 2940
Completed up until index: 2960
Completed up until index: 2980
Completed up until index: 3000
Completed up until index: 3020
Completed up until index: 3040
Completed up until index: 3060
Completed up until index: 3080
Completed up until index: 3100
Completed up until index: 3120
Completed up until index: 3140
Completed up until index: 3160
Completed up until index: 3180
Completed up until index: 3200
Completed up until index: 3220
Completed up until index: 3240
Completed up until index: 3260
Completed up until index: 3280
Completed up until index: 3300
Completed up until index: 3320
Completed up until index: 3340
Completed up until index: 3360
Completed up until index: 3380
Completed up until index: 3400
Completed up until index: 3420
Completed up until index: 3440
Completed up until index: 3460
Completed up until index: 3480
Completed up until index: 3500
Completed up until index: 3520
Completed up until index: 3540
Completed up until index: 3560
Completed up until index: 3580
Completed up until index: 3600
Completed up until index: 3620
Completed up until index: 3640
Completed up until index: 3660
Completed up until index: 3680
Completed up until index: 3700
Completed up until index: 3720
Completed up until index: 3740
Completed up until index: 3760
Completed up until index: 3780
Completed up until index: 3800
Completed up until index: 3820
Completed up until index: 3840
Completed up until index: 3860
Completed up until index: 3880
Completed up until index: 3900
Completed up until index: 3920
Completed up until index: 3940
Completed up until index: 3960
Completed up until index: 3980
Completed up until index: 4000
Completed up until index: 4020
Completed up until index: 4040
Completed up until index: 4060
Completed up until index: 4080
Completed up until index: 4100
Completed up until index: 4120
Completed up until index: 4140
Completed up until index: 4160
Completed up until index: 4180
Completed up until index: 4200
Completed up until index: 4220
Completed up until index: 4240
Completed up until index: 4260
Completed up until index: 4280
Completed up until index: 4300
Completed up until index: 4320
Completed up until index: 4340
Completed up until index: 4360
Completed up until index: 4380
Completed up until index: 4400
Completed up until index: 4420
Completed up until index: 4440
Completed up until index: 4460
Completed up until index: 4480
Completed up until index: 4500
Completed up until index: 4520
Completed up until index: 4540
Completed up until index: 4560
Completed up until index: 4580
Completed up until index: 4600
Completed up until index: 4620
Completed up until index: 4640
Completed up until index: 4660
Completed up until index: 4680
Completed up until index: 4700
Completed up until index: 4720
Completed up until index: 4740
Completed up until index: 4760
Completed up until index: 4780
Completed up until index: 4800
Completed up until index: 4820
Completed up until index: 4840
Completed up until index: 4860
Completed up until index: 4880
Completed up until index: 4900
Completed up until index: 4920
Completed up until index: 4940
Completed up until index: 4960
Completed up until index: 4980
Completed up until index: 5000
Completed up until index: 5020
Completed up until index: 5040
Completed up until index: 5060
Completed up until index: 5080
Completed up until index: 5100
Completed up until index: 5120
Completed up until index: 5140
Completed up until index: 5160
Completed up until index: 5180
Completed up until index: 5200
Completed up until index: 5220
Completed up until index: 5240
Completed up until index: 5260
Completed up until index: 5280
Completed up until index: 5300
Completed up until index: 5320
Completed up until index: 5340
Completed up until index: 5360
Completed up until index: 5380
Completed up until index: 5400
Completed up until index: 5420
Completed up until index: 5440
Completed up until index: 5460
Completed up until index: 5480
Completed up until index: 5500
Completed up until index: 5520
Completed up until index: 5540
Completed up until index: 5560
Completed up until index: 5580
Completed up until index: 5600
Completed up until index: 5620
Completed up until index: 5640
Completed up until index: 5660
Completed up until index: 5680
Completed up until index: 5700
Completed up until index: 5720
Completed up until index: 5740
Completed up until index: 5760
Completed up until index: 5780
Completed up until index: 5800
Completed up until index: 5820
Completed up until index: 5840
Completed up until index: 5860
Completed up until index: 5880
Completed up until index: 5900
Completed up until index: 5920
Completed up until index: 5940
Completed up until index: 5960
Completed up until index: 5980
Completed up until index: 6000
Completed up until index: 6020
Completed up until index: 6040
Completed up until index: 6060
Completed up until index: 6080
Completed up until index: 6100
Completed up until index: 6120
Completed up until index: 6140
Completed up until index: 6160
Completed up until index: 6180
Completed up until index: 6200
Completed up until index: 6220
Completed up until index: 6240
Completed up until index: 6260
Completed up until index: 6280
Completed up until index: 6300
Completed up until index: 6320
Completed up until index: 6340
Completed up until index: 6360
Completed up until index: 6380
Completed up until index: 6400
Completed up until index: 6420
Completed up until index: 6440
Completed up until index: 6460
Completed up until index: 6480
Completed up until index: 6500
Completed up until index: 6520
Completed up until index: 6540
Completed up until index: 6560
Completed up until index: 6580
Completed up until index: 6600
Completed up until index: 6620
Completed up until index: 6640
Completed up until index: 6660
Completed up until index: 6680
Completed up until index: 6700
Completed up until index: 6720
Completed up until index: 6740
Completed up until index: 6760
Completed up until index: 6780
Completed up until index: 6800
Completed up until index: 6820
Completed up until index: 6840
Completed up until index: 6860
Completed up until index: 6880
Completed up until index: 6900
Completed up until index: 6920
Completed up until index: 6940
Completed up until index: 6960
Completed up until index: 6980
Completed up until index: 7000
Completed up until index: 7020
Completed up until index: 7040
Completed up until index: 7060
Completed up until index: 7080
Completed up until index: 7100
Completed up until index: 7120
Completed up until index: 7140
Completed up until index: 7160
Completed up until index: 7180
Completed up until index: 7200
Completed up until index: 7220
Completed up until index: 7240
Completed up until index: 7260
Completed up until index: 7280

Miscellaneous helper tables

In [122]:
# Table for converting from two letter ISO to three letter ISO
isos = pd.read_csv("/Users/nathansuberi/Desktop/Code Portfolio/ResourceWatchCode/Conversion_Standards/iso_conversions.csv", sep="\t", header=None)
isos.columns = ["country", "iso2", "iso3", "num"]
iso2s = isos.set_index("iso2")

Interacting with Carto Tables
* Table creation (locations, history)
* Table destruction (locations, history... in case need to start over due to dev mistakes)
* Adding new rows to history (after querying an API to get new data)
* Adding new locations (if newly observed data fall in previously unlisted sensor locations)

Delete table with history of OpenAQ data

In [123]:
# ### CAREFUL ###
# # Leave commented out majority of time, unless sure you want to delete history

# # Delete table sql
# # Select all from a table
# table_name = "open_aq_history"

# delete_table_sql = """
# DROP TABLE {table_name}
# """.format(table_name=table_name)

# res = sql_api(carto_url, delete_table_sql, carto_api_token)
# print(res.text)

{"rows":[],"time":0.01,"fields":{},"total_rows":0}

Create table to store history of OpenAQ data

In [118]:
# Define the column names and types
cols_and_types_history = {
    #col name: Carto col type
    "lastUpdated":"date",
    "value":"float",
    "parameter":"varchar",
    "sourceName":"varchar",
    "location":"varchar",
    "city":"varchar",
    "unit":"varchar",
    "latitude":"float",
    "longitude":"float"
}

# Create table sql
table_name = "open_aq_history"

columns_and_data_types_history = ", ".join([col + " " + cols_and_types_history[col] for col in cols_and_types_history])

create_table_sql = """
CREATE TABLE {table_name}
 (
 {columns_and_data_types}
 );
""".format(table_name=table_name, columns_and_data_types=columns_and_data_types_history)

res = sql_api(carto_url, create_table_sql, carto_api_token)
print(res.text)

{"error":["relation \"open_aq_history\" already exists"]}

Delete table with previously observed locations of OpenAQ data

In [328]:
### CAREFUL ###
# Leave commented out majority of time, unless sure you want to delete table of observed locations

table_name = "open_aq_locations"

delete_table_sql = """
DROP TABLE {table_name}
""".format(table_name=table_name)

res = sql_api(carto_url, delete_table_sql, carto_api_token)
print(res.text)

{"rows":[],"time":0.011,"fields":{},"total_rows":0}

Create table for observed locations in OpenAQ data

In [329]:
# Define the column names and types
cols_and_types_locations = {
    #col name: Carto col type
    "location":"varchar",
    "city":"varchar",
    "country":"varchar",
    "latitude":"float",
    "longitude":"float"
}

# Create table sql
table_name = "open_aq_locations"

columns_and_data_types_locations = ", ".join([col + " " + cols_and_types_locations[col] for col in cols_and_types_locations])

create_table_sql = """
CREATE TABLE {table_name}
 (
 {columns_and_data_types}
 );
""".format(table_name=table_name, columns_and_data_types=columns_and_data_types_locations)

res = sql_api(carto_url, create_table_sql, carto_api_token)
print(res.text)

{"rows":[],"time":0.008,"fields":{},"total_rows":0}

Check OpenAQ API 'locations' endpoint for acknowledged sensor locations

In [377]:
# url = "https://api.openaq.org/v1/locations"

# # There are a total of 8055 locations in the database so far, according to this query
# # so this shouldn't miss any... but it may at some point

# ### FRANCIS ###
# # The 10000 limit on requests is a hard limit in their API... what to do if there are more than 
# # 10000 observations in the desired endpoint?
# params = {
#     "limit":10000
# }

# res = req.get(url, params=params)
# data = res.json()["results"]
# locations = pd.io.json.json_normalize(data, errors='ignore')
# locations.columns = ["city", "latitude", "longitude", "count", "country", "firstUpdated", "lastUpdated",
#              "location", "parameters", "sourceName", "sourceNames"]
# locations["iso3"] = iso2s.loc[locations["country"], "iso3"].values
# # Note - not storing parameters because these could change over time and it would be a pain to update
# locations = locations[["city", "latitude", "longitude", "iso3", "firstUpdated", "location", "sourceName"]]

# pre_clean = locations.shape[0]

# # View columns that have null values
# # https://stackoverflow.com/questions/14016247/python-find-integer-index-of-rows-with-nan-in-pandas
# print(pd.isnull(locations).any())
# print("number with no latitude",sum(pd.isnull(locations["latitude"])))
# print("number with no longitude",sum(pd.isnull(locations["longitude"])))
# print("number with no iso3",sum(pd.isnull(locations["iso3"])))

# keep_geotagged = pd.notnull(locations["latitude"]) & pd.notnull(locations["longitude"]) 

# # Remove all points that don't have a lat-lon
# locations = locations.loc[keep_geotagged]

# # Convert any remaining nan into empty string
# # http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.fillna.html
# locations = locations.fillna(value="")

# post_clean = locations.shape[0]
# print("Number of rows in OpenAQ locations database removed due to not having geo-coordinates:", pre_clean - post_clean)

# ## Having issues with non-standard characters... how to deal with this?

city            False
latitude         True
longitude        True
iso3             True
firstUpdated    False
location        False
sourceName      False
dtype: bool
number with no latitude 180
number with no longitude 180
number with no iso3 1
Number of rows in OpenAQ locations database removed due to not having geo-coordinates: 180

In [378]:
# # Use coordinates instead of location
# # OR use location, city, country
# # Check documentation for unique id

# locations.head()

,city,latitude,longitude,iso3,firstUpdated,location,sourceName
0,Ulaanbaatar,47.932907,106.921390,MNG,2015-09-01T00:00:00.000Z,100 ail,Agaar.mn
1,Omaha-Council Bluffs,41.322470,-95.937990,USA,2016-03-06T19:00:00.000Z,16th and Whitmore,AirNow
2,Farmington,36.809700,-107.651700,USA,2016-03-06T19:00:00.000Z,1NL Navajo Lake,AirNow
3,21 de mayo,-37.471184,-72.361465,CHL,2015-09-23T14:00:00.000Z,21 de mayo,Chile - SINCA
4,Tucson,32.205000,-110.877200,USA,2016-03-06T19:00:00.000Z,22nd Street & Craycr,AirNow

Insert these observed sensor locations into open_aq_locations Carto table

In [381]:
table_name = "open_aq_locations"

## URI too large to insert more than about 20 rows at once, have to do in small sets
kwargs = {
    "data_df":locations,
    "batch_size":20,
    "target_table_name":table_name,
    "cols_and_types":cols_and_types_locations,
    "cols_with_apostrophes":["city", "location", "sourceName"]
}

update_in_batches(**kwargs)

Completed up until index: 40
Completed up until index: 60
Completed up until index: 80
Completed up until index: 100
Completed up until index: 120
Completed up until index: 140
Completed up until index: 160
Completed up until index: 180
Completed up until index: 200
Completed up until index: 220
Completed up until index: 240
Completed up until index: 260
Completed up until index: 280
Completed up until index: 300
Completed up until index: 320
Completed up until index: 340
Completed up until index: 360
Completed up until index: 380
Completed up until index: 400
Completed up until index: 420
Completed up until index: 440
Completed up until index: 460
Completed up until index: 480
Completed up until index: 500
Completed up until index: 520
Completed up until index: 540
Completed up until index: 560
Completed up until index: 580
Completed up until index: 600
Completed up until index: 620
Completed up until index: 640
Completed up until index: 660
Completed up until index: 680
Completed up until index: 700
Completed up until index: 720
Completed up until index: 740
Completed up until index: 760
Completed up until index: 780
Completed up until index: 800
Completed up until index: 820
Completed up until index: 840
Completed up until index: 860
Completed up until index: 880
Completed up until index: 900
Completed up until index: 920
Completed up until index: 940
Completed up until index: 960
Completed up until index: 980
Completed up until index: 1000
Completed up until index: 1020
Completed up until index: 1040
Completed up until index: 1060
Completed up until index: 1080
Completed up until index: 1100
Completed up until index: 1120
Completed up until index: 1140
Completed up until index: 1160
Completed up until index: 1180
Completed up until index: 1200
Completed up until index: 1220
Completed up until index: 1240
Completed up until index: 1260
Completed up until index: 1280
Completed up until index: 1300
Completed up until index: 1320
Completed up until index: 1340
Completed up until index: 1360
Completed up until index: 1380
Completed up until index: 1400
Completed up until index: 1420
Completed up until index: 1440
Completed up until index: 1460
Completed up until index: 1480
Completed up until index: 1500
Completed up until index: 1520
Completed up until index: 1540
Completed up until index: 1560
Completed up until index: 1580
Completed up until index: 1600
Completed up until index: 1620
Completed up until index: 1640
Completed up until index: 1660
Completed up until index: 1680
Completed up until index: 1700
Completed up until index: 1720
Completed up until index: 1740
Completed up until index: 1760
Completed up until index: 1780
Completed up until index: 1800
Completed up until index: 1820
Completed up until index: 1840
Completed up until index: 1860
Completed up until index: 1880
Completed up until index: 1900
Completed up until index: 1920
Completed up until index: 1940
Completed up until index: 1960
Completed up until index: 1980
Completed up until index: 2000
Completed up until index: 2020
Completed up until index: 2040
Completed up until index: 2060
Completed up until index: 2080
Completed up until index: 2100
Completed up until index: 2120
Completed up until index: 2140
Completed up until index: 2160
Completed up until index: 2180
Completed up until index: 2200
Completed up until index: 2220
Completed up until index: 2240
Completed up until index: 2260
Completed up until index: 2280
Completed up until index: 2300
Completed up until index: 2320
Completed up until index: 2340
Completed up until index: 2360
Completed up until index: 2380
Completed up until index: 2400
Completed up until index: 2420
Completed up until index: 2440
Completed up until index: 2460
Completed up until index: 2480
Completed up until index: 2500
Completed up until index: 2520
Completed up until index: 2540
Completed up until index: 2560
Completed up until index: 2580
Completed up until index: 2600
Completed up until index: 2620
Completed up until index: 2640
Completed up until index: 2660
Completed up until index: 2680
Completed up until index: 2700
Completed up until index: 2720
Completed up until index: 2740
Completed up until index: 2760
Completed up until index: 2780
Completed up until index: 2800
Completed up until index: 2820
Completed up until index: 2840
Completed up until index: 2860
Completed up until index: 2880
Completed up until index: 2900
Completed up until index: 2920
Completed up until index: 2940
Completed up until index: 2960
Completed up until index: 2980
Completed up until index: 3000
Completed up until index: 3020
Completed up until index: 3040
Completed up until index: 3060
Completed up until index: 3080
Completed up until index: 3100
Completed up until index: 3120
Completed up until index: 3140
Completed up until index: 3160
Completed up until index: 3180
Completed up until index: 3200
Completed up until index: 3220
Completed up until index: 3240
Completed up until index: 3260
Completed up until index: 3280
Completed up until index: 3300
Completed up until index: 3320
Completed up until index: 3340
Completed up until index: 3360
Completed up until index: 3380
Completed up until index: 3400
Completed up until index: 3420
Completed up until index: 3440
Completed up until index: 3460
Completed up until index: 3480
Completed up until index: 3500
Completed up until index: 3520
Completed up until index: 3540
Completed up until index: 3560
Completed up until index: 3580
Completed up until index: 3600
Completed up until index: 3620
Completed up until index: 3640
Completed up until index: 3660
Completed up until index: 3680
Completed up until index: 3700
Completed up until index: 3720
Completed up until index: 3740
Completed up until index: 3760
Completed up until index: 3780
Completed up until index: 3800
Completed up until index: 3820
Completed up until index: 3840
Completed up until index: 3860
Completed up until index: 3880
Completed up until index: 3900
Completed up until index: 3920
Completed up until index: 3940
Completed up until index: 3960
Completed up until index: 3980
Completed up until index: 4000
Completed up until index: 4020
Completed up until index: 4040
Completed up until index: 4060
Completed up until index: 4080
Completed up until index: 4100
Completed up until index: 4120
Completed up until index: 4140
Completed up until index: 4160
Completed up until index: 4180
Completed up until index: 4200
Completed up until index: 4220
Completed up until index: 4240
Completed up until index: 4260
Completed up until index: 4280
Completed up until index: 4300
Completed up until index: 4320
Completed up until index: 4340
Completed up until index: 4360
Completed up until index: 4380
Completed up until index: 4400
Completed up until index: 4420
Completed up until index: 4440
Completed up until index: 4460
Completed up until index: 4480
Completed up until index: 4500
Completed up until index: 4520
Completed up until index: 4540
Completed up until index: 4560
Completed up until index: 4580
Completed up until index: 4600
Completed up until index: 4620
Completed up until index: 4640
Completed up until index: 4660
Completed up until index: 4680
Completed up until index: 4700
Completed up until index: 4720
Completed up until index: 4740
Completed up until index: 4760
Completed up until index: 4780
Completed up until index: 4800
Completed up until index: 4820
Completed up until index: 4840
Completed up until index: 4860
Completed up until index: 4880
Completed up until index: 4900
Completed up until index: 4920
Completed up until index: 4940
Completed up until index: 4960
Completed up until index: 4980
Completed up until index: 5000
Completed up until index: 5020
Completed up until index: 5040
Completed up until index: 5060
Completed up until index: 5080
Completed up until index: 5100
Completed up until index: 5120
Completed up until index: 5140
Completed up until index: 5160
Completed up until index: 5180
Completed up until index: 5200
Completed up until index: 5220
Completed up until index: 5240
Completed up until index: 5260
Completed up until index: 5280
Completed up until index: 5300
Completed up until index: 5320
Completed up until index: 5340
Completed up until index: 5360
Completed up until index: 5380
Completed up until index: 5400
Completed up until index: 5420
Completed up until index: 5440
Completed up until index: 5460
Completed up until index: 5480
Completed up until index: 5500
Completed up until index: 5520
Completed up until index: 5540
Completed up until index: 5560
Completed up until index: 5580
Completed up until index: 5600
Completed up until index: 5620
Completed up until index: 5640
Completed up until index: 5660
Completed up until index: 5680
Completed up until index: 5700
Completed up until index: 5720
Completed up until index: 5740
Completed up until index: 5760
Completed up until index: 5780
Completed up until index: 5800
Completed up until index: 5820
Completed up until index: 5840
Completed up until index: 5860
Completed up until index: 5880
Completed up until index: 5900
Completed up until index: 5920
Completed up until index: 5940
Completed up until index: 5960
Completed up until index: 5980
Completed up until index: 6000
Completed up until index: 6020
Completed up until index: 6040
Completed up until index: 6060
Completed up until index: 6080
Completed up until index: 6100
Completed up until index: 6120
Completed up until index: 6140
Completed up until index: 6160
Completed up until index: 6180
Completed up until index: 6200
Completed up until index: 6220
Completed up until index: 6240
Completed up until index: 6260
Completed up until index: 6280
Completed up until index: 6300
Completed up until index: 6320
Completed up until index: 6340
Completed up until index: 6360
Completed up until index: 6380
Completed up until index: 6400
Completed up until index: 6420
Completed up until index: 6440
Completed up until index: 6460
Completed up until index: 6480
Completed up until index: 6500
Completed up until index: 6520
Completed up until index: 6540
Completed up until index: 6560
Completed up until index: 6580
Completed up until index: 6600
Completed up until index: 6620
Completed up until index: 6640
Completed up until index: 6660
Completed up until index: 6680
Completed up until index: 6700
Completed up until index: 6720
Completed up until index: 6740
Completed up until index: 6760
Completed up until index: 6780
Completed up until index: 6800
Completed up until index: 6820
Completed up until index: 6840
Completed up until index: 6860
Completed up until index: 6880
Completed up until index: 6900
Completed up until index: 6920
Completed up until index: 6940
Completed up until index: 6960
Completed up until index: 6980
Completed up until index: 7000
Completed up until index: 7020
Completed up until index: 7040
Completed up until index: 7060
Completed up until index: 7080
Completed up until index: 7100
Completed up until index: 7120
Completed up until index: 7140
Completed up until index: 7160
Completed up until index: 7180
Completed up until index: 7200
Completed up until index: 7220
Completed up until index: 7240
Completed up until index: 7260
Completed up until index: 7280
Completed up until index: 7300
Completed up until index: 7320
Completed up until index: 7340
Completed up until index: 7360
Completed up until index: 7380
Completed up until index: 7400
Completed up until index: 7420
Completed up until index: 7440
Completed up until index: 7460
Completed up until index: 7480
Completed up until index: 7500
Completed up until index: 7520
Completed up until index: 7540
Completed up until index: 7560
Completed up until index: 7580
Completed up until index: 7600
Completed up until index: 7620
Completed up until index: 7640
Completed up until index: 7660
Completed up until index: 7680
Completed up until index: 7700
Completed up until index: 7720
Completed up until index: 7740
Completed up until index: 7760
Completed up until index: 7780
Completed up until index: 7800
Completed up until index: 7820
Completed up until index: 7840
Completed up until index: 7860
Completed up until index: 7880

List OpenAQ locations that we've previously acknowledged

In [353]:
table_name = "open_aq_locations"
select_all_sql = """
SELECT * FROM {table_name}
""".format(table_name=table_name)

res = sql_api(carto_url, select_all_sql, carto_api_token)
locations = pd.DataFrame(res.json()["rows"])
locations = locations.set_index("location")
locations.head()

,city,firstupdated,iso3,latitude,longitude,sourcename
location,,,,,,
40RL01 - ROESELARE,Flanders,2016-11-17T00:00:00Z,BEL,50.953180,3.121155,EEA Belgium
40SZ01 - STEENOKKERZ,Flanders,2016-11-17T00:00:00Z,BEL,50.914577,4.504183,EEA Belgium
40SZ02 - STEENOKKERZ,Flanders,2016-11-17T00:00:00Z,BEL,50.913020,4.512184,EEA Belgium
40TS21 - TESSENDERLO,Flanders,2016-11-17T00:00:00Z,BEL,51.065710,5.107536,EEA Belgium
40WZ02 - MOL,Flanders,2016-11-17T00:00:00Z,BEL,51.192800,5.221534,EEA Belgium

Retrieve latest data

In [382]:
url = "https://api.openaq.org/v1/latest"

params = {
    "limit":10000
}

res = req.get(url, params=params)
data = res.json()["results"]

latest_data = pd.io.json.json_normalize(data, ['measurements'],[['coordinates', 'latitude'], ['coordinates', 'longitude'],'location', 'city', 'country'],  
                                          errors='ignore')

##
## Potential error - if no observed points have an averagingPeriod during an update, this can fail
##

latest_data.columns = ["averagingPeriod", "lastUpdated", "parameter", "sourceName", "unit", "value", "latitude", "longitude", "location","city", "country"]
latest_data["iso3"] = iso2s.loc[latest_data["country"], "iso3"].values
latest_data = latest_data.set_index("location")

## May need to develop function for adding iso3 that is more flexible for a range of spellings...
# Have a check whether anything was not successfully coded. Determine whether to add this new spelling
# to running list.

In [385]:
latest_data.head()

,averagingPeriod,lastUpdated,parameter,sourceName,unit,value,latitude,longitude,city,country,iso3
location,,,,,,,,,,,
100 ail,NaN,2017-12-08T18:45:00.000Z,o3,Agaar.mn,µg/m³,0.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T18:45:00.000Z,co,Agaar.mn,µg/m³,3656.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T18:45:00.000Z,pm10,Agaar.mn,µg/m³,269.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T18:45:00.000Z,so2,Agaar.mn,µg/m³,47.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T18:45:00.000Z,no2,Agaar.mn,µg/m³,78.0,47.932907,106.92139,Ulaanbaatar,MN,MNG

Check to see that new data all has a corresponding location

In [367]:
unique_places_in_latest_data = latest_data.index.unique()
new_places_ix = [place not in locations.index for place in unique_places_in_latest_data]
new_places = unique_places_in_latest_data[new_places_ix]
print(new_places)

### Replaced apostrophes, this could be a problem
# Also dropped non-georeferenced
# Follow up on both of these and see if there are still any unaccounted for

print("\nTotal number of unique places in latest data:", len(unique_places_in_latest_data))
print("Previously unseen places in latest data:", len(new_places))

Index(['100 ail', '16th and Whitmore', '1NL Navajo Lake', '21 de mayo',
       '22nd Street & Craycr', '24th & O', '2912 Coffey', '2LL Los Lunas',
       '40AB01 - ANTWERPEN', '40AB02 - BERENDRECHT',
       ...
       'תחנה:איינשטין', 'תחנה:אריאל', 'תחנה:גבעת המורה', 'תחנה:גליל מערבי',
       'תחנה:גן שמואל', 'תחנה:חיפה', 'תחנה:כביש 1 מוצא', 'תחנה:ניידת1',
       'תחנה:קיסריה', 'ฺBan-Tai, Kanchanaburi'],
      dtype='object', name='location', length=240)

Total number of unique places in latest data: 8055
Previously unseen places in latest data: 240

Add any "new places" to the open_aq_locations table
* Note: firstUpdated will be set to the earliest "lastUpdated" field for that sensor in the new data
* This will likely not be correct... will need to verify this with OpenAQ partners

In [374]:
location_table_columns =["location","firstUpdated","sourceName","city","iso3","latitude","longitude"]
new_places_df = pd.DataFrame(columns=location_table_columns).set_index("location")
new_places_df

Empty DataFrame
Columns: [firstUpdated, sourceName, city, iso3, latitude, longitude]
Index: []

In [369]:
latest_data.loc[new_places[0], ]

locations.reset_index().set_index("city").loc["Ulaanbaatar"]
latest_data.reset_index().set_index("city").loc["Ulaanbaatar"]

,averagingPeriod,lastUpdated,parameter,sourceName,unit,value,latitude,longitude,city,country,iso3
location,,,,,,,,,,,
100 ail,NaN,2017-12-08T10:45:00.000Z,o3,Agaar.mn,µg/m³,0.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T10:45:00.000Z,pm10,Agaar.mn,µg/m³,203.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T10:45:00.000Z,so2,Agaar.mn,µg/m³,41.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T10:45:00.000Z,co,Agaar.mn,µg/m³,3771.0,47.932907,106.92139,Ulaanbaatar,MN,MNG
100 ail,NaN,2017-12-08T10:45:00.000Z,no2,Agaar.mn,µg/m³,86.0,47.932907,106.92139,Ulaanbaatar,MN,MNG

In [157]:
# Load files to experiment with de-duping

folder = "/Users/nathansuberi/Desktop/RW_Data/open_aq/"
sample1_file = "open_aq_latest_2017-12-07_09-19-10.csv"
sample2_file = "open_aq_latest_2017-12-08_09-41-36.csv"

df1 = pd.read_csv(folder+sample1_file, index_col=[0])
df2 = pd.read_csv(folder+sample2_file, index_col=[0])

df1.set_index(["latitude", "longitude"], inplace=True)
df2.set_index(["latitude", "longitude"], inplace=True)

In [167]:
# Determine if there are any overlaps
df1.index.levels[0]
df1.index.levels[1]

Float64Index([-158.088592529,  -157.96913147,  -157.87109375, -157.858093262,
              -156.492416382, -156.446105957, -156.370346069, -155.913299561,
              -155.778137207, -155.468902588,
              ...
               153.028106689,  153.029998779,  153.032104492,  153.035003662,
               153.087203979,  153.103805542,  153.135894775,  153.149505615,
               153.152694702,  153.158096313],
             dtype='float64', name='longitude', length=6183)

In [ ]:
# Insert original data into Carto table
# Insert value sql

df = pd.read_csv("open_aq_latest_2017-12-08 09/21/31.219395.csv")

table_name = "open_aq_history"

columns = str(tuple(df.columns)).replace("'","")
values = ", ".join(list(df.apply(lambda row: dump_row_contents(row, cols_and_types_history), axis=1)))

insert_value_sql = """
INSERT INTO {table_name} {columns} VALUES {values}
""".format(table_name=table_name, columns=columns, values=values)

print(insert_value_sql)

res = sql_api(carto_url, insert_value_sql, carto_api_token)
print(res.text)


# Extract data from Carto table to run the de-duping method

# Select all from a table in a certain time range

## TO DO: Format this for the UTC format the Carto table will use
look_back = "1 day"
select_all_in_time_range_sql = """
SELECT * FROM {table_name} WHERE lastUpdated 
""".format(table_name=table_name)

res = sql_api(carto_url, select_all_in_time_range_sql, carto_api_token)
print(res.text)

# Add in the de-duped data as an extension to the original Carto table

Save latest data 
* Put on S3
* Add into open_aq_history table

In [139]:
# Current datetime, in desired format for naming convention
cur_datetime = str(datetime.now())
cur_datetime = cur_datetime.split(".")[0]
cur_datetime = cur_datetime.replace(":", "-")
cur_datetime = cur_datetime.replace(" ", "_")

folder = "/Users/nathansuberi/Desktop/RW_Data/open_aq/"
file_name = "open_aq_latest_{datetime}.csv".format(datetime=cur_datetime)
current_file_name = folder + file_name\
print(current_file_name)

#df.to_csv(current_file_name)

/Users/nathansuberi/Desktop/RW_Data/open_aq/open_aq_latest_2017-12-08_09-48-38.csv

Experimentation

In [62]:
## All of this made unnecessary by magic of json_normalize, but list flattening is a nice trick

# # Extract measurements

# # All possible measurements:
# # Flattening nested lists: https://stackoverflow.com/questions/952914/making-a-flat-list-out-of-list-of-lists-in-python
# parameters = [obs["parameter"] for msr in df['measurements'] for obs in msr]
# parameters = np.unique(parameters, return_counts=True)
# #(array(['bc', 'co', 'no2', 'o3', 'pm10', 'pm25', 'so2'],
# #       dtype='<U4'), array([   17,  3453, 24056,  6837,  4493,  2953,  4665]))

# # Sometimes has an averaging period, other times not
# fields = ["averagingPeriod", "lastUpdated", "parameter", "sourceName", "unit", "value"]

# parameters

(array(['bc', 'co', 'no2', 'o3', 'pm10', 'pm25', 'so2'],
       dtype='<U4'), array([   17,  3453, 24056,  6837,  4493,  2953,  4665]))

In [103]:
# Exploring Python's datetime library
# Docs: https://docs.python.org/3/library/datetime.html

# This is UTC time, from Greenwich mean time
print(datetime.utcnow())
# This takes my current timezone
print(datetime.now())
# This makes a 1 day timedelta
print(timedelta(days=1))
print(datetime.now() - timedelta(days=1))

2017-12-08 14:19:57.581782
2017-12-08 09:19:57.582269
1 day, 0:00:00
2017-12-07 09:19:57.582608

In [249]:
# Experiment with breaking apart data structure
x = np.random.rand(107)
x = pd.DataFrame(x)
#print(x)

pieces = int(len(x) / piece_len)
rg = range(pieces+1)
y = pd.DataFrame([])

for r in rg:
    #print(r*piece_len)
    #print(r*piece_len+piece_len)
    y = y.append(x.iloc[r*piece_len:r*piece_len+piece_len], ignore_index=True)
#y = np.append(y,x[pieces*piece_len:])

print("These two dfs are equal:",x.equals(y))

These two dfs are equal: True

OpenAQ API Documentation: https://docs.openaq.org

In [ ]:
# Cities
url = "https://api.openaq.org/v1/cities"
# Countries
url = "https://api.openaq.org/v1/countries"
# Fetches
url = "https://api.openaq.org/v1/fetches"
# Latest
url = "https://api.openaq.org/v1/latest"
# Locations
url = "https://api.openaq.org/v1/locations"
# Measurements
url = "https://api.openaq.org/v1/measurements"
# Parameters
url = "https://api.openaq.org/v1/parameters"
# Sources
url = "https://api.openaq.org/v1/sources"